workflows/Agente de IA BASE.json
{"createdAt":"2025-05-15T21:05:24.022Z","updatedAt":"2025-06-20T00:07:22.408Z","id":"R4xm6p2wVyantPHN","name":"Agente de IA BASE","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"id":"df507322-85d4-49f8-9a82-1b2712b1c149","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[3680,1760],"credentials":{"openAiApi":{"id":"y6EOm7GTWxcYjDT6","name":"OpenAi Allan"}}},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"a99d094e-34a6-4963-a310-f1a321341661","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[3120,1820],"credentials":{"openAiApi":{"id":"y6EOm7GTWxcYjDT6","name":"OpenAi Allan"}}},{"parameters":{"content":"# Agente IA","height":80,"width":196,"color":5},"id":"70465f23-61a4-41df-8fb6-8b60c88039b7","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4240,1380]},{"parameters":{"tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"5f55ab3e-04ff-4df6-9980-0fd4819ddaa8","name":"Supabase Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[3300,1780],"credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}}},{"parameters":{"content":"","height":620,"width":820,"color":4},"type":"n8n-nodes-base.stickyNote","position":[3940,1360],"typeVersion":1,"id":"99e7fd5f-1ba8-4e56-ae07-794e2d5eef65","name":"Sticky Note4"},{"parameters":{"model":"gpt-4.1-mini","options":{}},"id":"16c58beb-0da6-4d94-8c5d-73eadc33ba5e","name":"OpenAI3","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[4920,1840],"credentials":{"openAiApi":{"id":"y6EOm7GTWxcYjDT6","name":"OpenAi Allan"}}},{"parameters":{"options":{}},"id":"7e162b32-8d92-454e-80eb-b42eee9863df","name":"Loop Over Items3","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[5520,1660]},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"messages\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\"messages\"]\n}"},"id":"419c5b69-0178-484e-930f-b09468532068","name":"OutputParser1","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[5140,1840]},{"parameters":{"promptType":"define","text":"=Whatsapp message to be splitted and formated: {{ $json.output }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"={\n  \"messages\": [\n    \"Por favor, gere a saída no seguinte formato JSON: {\\\"messages\\\": [\\\"splitedMessage\\\", \\\"splitedMessage\\\", \\\"splitedMessage\\\"]}\",\n    \"As mensagens devem ser divididas de forma natural, afinal estamos conversando com um humano. Certifique-se de que a resposta siga exatamente essa estrutura, incluindo os colchetes e as aspas.\",\n    \"Jamais separe uma mensagem vazia. Cada mensagem deve ter entre 300 e 500 caracteres, sem cortar informações, pois é uma conversa de chat.\",\n    \"Certifique-se de que a resposta siga exatamente essa estrutura: *negrito* (substitua '**' por '*') não made nada em negrito remova todos '*'; ~tachado~ (caso seja algo excluído/alterado); _itálico_ (extremamente raro).\",\n    \"Tudo o que for link, pode colocar entre \\\"`\\\", ou seja, na seguinte formatação: `www.link.com.br`. Use sempre essa formatação para todos os links.\",\n\"troque essas palavra: Prazer por: feliz em conhecer\"\n  ]\n}"}]}},"id":"11818400-bed3-4cd9-bb94-085532a7e974","name":"Parser  Chain","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[4940,1640]},{"parameters":{"content":"","height":620,"width":1380,"color":4},"type":"n8n-nodes-base.stickyNote","position":[4800,1360],"typeVersion":1,"id":"49fac6af-9659-4646-ad53-ef24143695a1","name":"Sticky Note18"},{"parameters":{"content":"# Divisão de Mensagens Inteligente - Texto","height":80,"width":736,"color":5},"id":"d4b13577-fa55-4662-9786-45e1297e5b0a","name":"Sticky Note19","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4820,1380]},{"parameters":{"model":"gpt-4.1-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[4000,1740],"id":"0a62c795-7a22-4ad4-abd3-c340bcf8344a","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"y6EOm7GTWxcYjDT6","name":"OpenAi Allan"}}},{"parameters":{"promptType":"define","text":"={{ $('Mensagem Completa').item.json.mensagem_completa }}","options":{"systemMessage":"={\n  \"name\": \"Amanda\",\n  \"context\": {\n    \"identity\": \"Consultora Comercial de Vendas\",\n    \"business\": \"Fluxo Atendimento por IA para Terapeutas\",\n    \"Language\": \"português brasileiro\",\n    \"date\": \"{{ $now.weekdayLong }}, {{ $now.format('dd/MM/yyyy') }}, {{ $now.hour.toString().padStart(2, '0') }}:{{ $now.minute.toString().padStart(2, '0') }}\"\n  },\n  \"Informação atualizada para usar em resposta\": \"{{ $json.output }}\",\n  \"personality\": [\n    \"Fala simples, objetiva e amigável\",\n    \"Tono de voz educado e consultivo\",\n    \"Não usa emojis\",\n    \"Fala de forma personalizada, chamando pelo nome se souber\",\n    \"Faz uma pergunta por vez para manter o foco\",\n    \"Cria leve senso de urgência para agendamento\",\n    \"Reforça benefícios de forma prática\"\n  ],\n  \"objectives\": [\n    \"Apresentar a solução de atendimento por IA no WhatsApp para terapeutas\",\n    \"Agendar uma reunião comercial com o terapeuta no horário comercial\"\n  ],\n  \"general_rules\": [\n    \"Atender apenas terapeutas e profissionais da área emocional\",\n    \"Reforçar que as reuniões são online, rápidas e 100% focadas na necessidade do terapeuta\",\n    \"Agendar reuniões somente de segunda a sexta-feira em horário comercial\",\n    \"Caso peçam algo fora do fluxo, gentilmente redirecionar para o agendamento de reunião\",\n    \"Nunca prometer preço ou condições comerciais sem a reunião\",\n    \"Se a pessoa pedir para falar direto com um humano, informar que a reunião é o caminho para atendimento personalizado\",\n    \"Evitar termos técnicos como 'chatbot' ou 'automação' e usar sempre 'atendimento inteligente por IA', reforçando que o atendimento é como de uma secretária e não automatizado para agendamentos\",\n    \"Palavras proibidas: robô, automático, chatbot, grátis\"\n  ],\n  \"flow\": {\n    \"steps\": [\n      {\n        \"step\": \"Perguntar o nome\",\n        \"instructions\": \"Se apresentar e perguntar o nome da pessoa antes de prosseguir\",\n        \"example_message\": \"Olá! Meu nome é Amanda, faço parte da equipe da Fluxo Atendimento por IA para Terapeutas. Como posso te chamar?\"\n      },\n      {\n        \"step\": \"Confirmar se é terapeuta\",\n        \"instructions\": \"Após receber o nome, confirmar se a pessoa é terapeuta\",\n        \"example_message\": \"Prazer, Você é terapeuta ou atua em outra área da saúde?\"\n      },\n      {\n        \"step\": \"Explicação breve da solução\",\n        \"instructions\": \"Se confirmar que é terapeuta, explicar brevemente o benefício da solução\",\n        \"example_message\": \"Nós ajudamos terapeutas a terem um atendimento inteligente no WhatsApp, como uma secretária virtual que acolhe seus pacientes e organiza a comunicação, poupando seu tempo.\"\n      },\n      {\n        \"step\": \"Identificar o maior desafio\",\n        \"instructions\": \"Antes de oferecer reunião, perguntar qual é o maior desafio atual no atendimento\",\n        \"example_message\": \"Hoje, qual é o maior desafio que você enfrenta no seu atendimento? Seria dificuldade para contratar pessoas, agilidade nas respostas, atendimento fora do horário comercial, ou outra situação?\"\n      },\n      {\n        \"step\": \"Conectar solução à dor\",\n        \"instructions\": \"Após identificar a dor, reforçar que a solução pode ajudar especificamente nesse ponto\",\n        \"example_message\": \"Entendo. Nossa solução foi criada exatamente para ajudar terapeutas com essa dificuldade!\"\n      },\n      {\n        \"step\": \"Explicação adicional da solução\",\n        \"instructions\": \"Antes de oferecer a reunião, explicar detalhes extras da solução\",\n        \"example_message\": \"Nossa IA entende áudios enviados pelos seus clientes, interpreta múltiplas mensagens de texto e, após coletar informações sobre o motivo da busca por terapia, ela também te notifica em um grupo exclusivo com o nome do potencial cliente e um resumo do seu caso.\"\n      },\n      {\n        \"step\": \"Oferecer agendamento de reunião\",\n        \"instructions\": \"Depois de explicar a funcionalidade, convidar para agendar uma reunião\",\n        \"example_message\": \"Gostaria que eu te mostrasse tudo isso em detalhes numa reunião rápida de 30 minutos?\"\n      },\n      {\n        \"step\": \"Agendar reunião\",\n        \"instructions\": \"Se a pessoa demonstrar interesse, pedir para sugerir um dia e um período (manhã ou tarde)\",\n        \"example_message\": \"Que dia e período (manhã ou tarde) seria melhor para você? Assim organizamos tudo certinho.\"\n      },\n      {\n        \"step\": \"Confirmação de agendamento\",\n        \"instructions\": \"Após receber a sugestão, informar que um especialista entrará em contato para confirmar o horário certinho e enviar o número de protocolo\",\n        \"example_message\": \"Perfeito! Vou pedir para um dos nossos especialistas entrar em contato para confirmar direitinho o horário com você. Seu número de protocolo é 338201. Até breve!\"\n      }\n    ]\n  }\n}\n"}},"id":"720e7291-a512-4d87-b52a-2a9c560b7617","name":"Atendente","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[4080,1540]},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Dados').item.json.Telefone }}","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[4140,1720],"id":"233d4611-189d-488c-ae19-a2bfa691e7b5","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"7BihdPSijog1ko5Q","name":"Postgres Allan - SUPA"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.output }}","rightValue":"338201","operator":{"type":"string","operation":"notContains"},"id":"2aa763f7-cf04-44e7-9bbb-8f8de823aef8"}],"combinator":"and"},"renameOutput":true,"outputKey":"Continuar na IA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"820760d6-3546-4007-8917-55d366a74261","leftValue":"={{ $json.output }}","rightValue":"338201","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Avisar Lead grupo"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[4520,1620],"id":"53f6171a-e2f6-4736-aa55-ac6d23e54e79","name":"Switch2"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[5600,2300],"id":"17257076-75ac-4fb5-88d3-e0a47062f230","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"y6EOm7GTWxcYjDT6","name":"OpenAi Allan"}}},{"parameters":{"content":"","height":400,"width":1620,"color":4},"type":"n8n-nodes-base.stickyNote","position":[4800,2020],"typeVersion":1,"id":"7888d7cb-92e1-4ed2-a978-6e5306f356d5","name":"Sticky Note44"},{"parameters":{"content":"# AVISAR NOVO LEAD NO GRUPO","height":80,"width":656,"color":5},"id":"94c800b1-64e2-43dc-876c-8d29f8f742ed","name":"Sticky Note45","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4820,2040]},{"parameters":{"resource":"messages-api","instanceName":"allan1688","remoteJid":"={{ $('Dados').item.json.Telefone }}","messageText":"={{ $json.output }}","options_message":{"delay":4200,"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[5800,1680],"id":"72c26c6b-c60a-45ea-8f65-cc637a647a85","name":"Evolution API","credentials":{"evolutionApi":{"id":"AfcW5UBaTBawYJHp","name":"Evolution UNIVER"}}},{"parameters":{"resource":"messages-api","instanceName":"allan1688","remoteJid":"={{ $('Dados').item.json.Telefone }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[4840,2140],"id":"3ffebec3-1957-42dc-a42d-bfa363f6be63","name":"Evolution API1","credentials":{"evolutionApi":{"id":"AfcW5UBaTBawYJHp","name":"Evolution UNIVER"}}},{"parameters":{"resource":"messages-api","instanceName":"allan1688","remoteJid":"120363418914433116@g.us","messageText":"={{ (() => { \n  const telefone = $('Dados').item.json.Telefone;\n  return '🚨 Novo Lead: wa.me/' + telefone.split('@')[0] + ' 🚨';\n})() }}\n\n*Cliente:* {{ $('Dados').item.json.NomeWpp }}\n\n*CASO:*\n{{ $json.text }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[5960,2140],"id":"ae072cd6-c197-4507-9fe8-99ed59ab9987","name":"Evolution API2","credentials":{"evolutionApi":{"id":"AfcW5UBaTBawYJHp","name":"Evolution UNIVER"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[5520,1100],"id":"4de1d213-5248-4067-b011-ea22bcea63f8","name":"Merge1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"defac08a-6745-422b-bb05-90da9f47d91b","leftValue":"={{ $('Busca Telefone').last().json.values() }}","rightValue":"","operator":{"type":"array","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[5020,1100],"id":"fdb17395-3e15-4dc5-a62b-0ab6d4d75aed","name":"If4"},{"parameters":{"content":"","height":380,"width":1380,"color":4},"type":"n8n-nodes-base.stickyNote","position":[4800,960],"typeVersion":1,"id":"78c01fd9-c5e8-45e7-8463-ecc0e00e24b3","name":"Sticky Note54"},{"parameters":{"content":"# Cadastra Chat Supabase","height":80,"width":450,"color":5},"id":"97143be0-eb46-4b72-87df-8b45123a7179","name":"Sticky Note55","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4820,980]},{"parameters":{"operation":"get","tableId":"chats","filters":{"conditions":[{"keyName":"phone","keyValue":"={{ $('Webhook EVO').item.json.body.data.key.remoteJid }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4860,1100],"id":"cd0ef8e8-10d1-44b5-9312-285c1cf3a04b","name":"Busca Telefone","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}},"onError":"continueRegularOutput"},{"parameters":{"tableId":"chats","fieldsUi":{"fieldValues":[{"fieldId":"phone","fieldValue":"={{ $('Dados').item.json.Telefone }}"},{"fieldId":"updated_at","fieldValue":"={{ $now}}"},{"fieldId":"created_at","fieldValue":"={{ $now}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[5300,1000],"id":"8de9c903-6275-40da-af0c-e24171fdf5e1","name":"Adiciona CHAT supabase","credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}}},{"parameters":{"operation":"update","tableId":"chats","filters":{"conditions":[{"keyName":"phone","condition":"eq","keyValue":"={{ $('Dados').item.json.Telefone }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"updated_at","fieldValue":"={{ $now }}"},{"fieldId":"created_at","fieldValue":"={{ $now }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[5320,1180],"id":"fb88dcb3-b7a8-458d-93b3-11aec5d4b76d","name":"Atualiza CHAT Supabase","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}}},{"parameters":{"tableId":"chat_messages","fieldsUi":{"fieldValues":[{"fieldId":"phone","fieldValue":"={{ $('Dados').item.json.Telefone }}"},{"fieldId":"bot_message","fieldValue":"={{ $('Atendente').item.json.output }}"},{"fieldId":"user_message","fieldValue":"={{ $('Dados').item.json.message.content }}"},{"fieldId":"message_type","fieldValue":"={{ $('Dados').item.json.body.event }}"},{"fieldId":"created_at","fieldValue":"={{ $now }}"},{"fieldId":"nomewpp","fieldValue":"={{ $('Dados').item.json.NomeWpp }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[5720,1100],"id":"b5e43ab1-b275-466f-930b-4ad1cf800cc7","name":"Cria Histórico Supabase","credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}}},{"parameters":{"fieldToSplitOut":"output.messages","options":{"destinationFieldName":"output"}},"id":"35a5d366-d9e1-4117-b7b1-0d405dfe780c","name":"Split de Mensagem","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[5300,1660]},{"parameters":{"amount":1},"id":"a1dc928c-1a82-42d5-a3ee-4570be341a8c","name":"1 segundo","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[6020,1680],"webhookId":"a2c69e1c-13fe-44a2-962c-1249288537eb"},{"parameters":{"operation":"delete","key":"={{ $('Dados').item.json.Telefone }}"},"id":"d094b6a6-8b4e-4a99-8af1-2d6eed762961","name":"Delete Memory","type":"n8n-nodes-base.redis","typeVersion":1,"position":[5920,1100],"credentials":{"redis":{"id":"KVRosz1bwqDgMe66","name":"Redis Allan - 0"}}},{"parameters":{"name":"buscar_documentos","description":"Analise o documento se encontrar uma informação que seja relevante traga o texto dele como resposta sem alterações, caso não encontre devolva o resultado em branco sem nem um texto","topK":2},"id":"230c3f29-0aeb-4c67-befb-3a3c48630678","name":"buscar_documentos","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[3440,1620]},{"parameters":{"operation":"getAll","tableId":"chat_messages","matchType":"allFilters","filters":{"conditions":[{"keyName":"phone","condition":"eq","keyValue":"={{ $('Dados').item.json.Telefone }}"},{"keyName":"active","condition":"eq","keyValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[5040,2140],"id":"f6cf92a9-f2a7-46f9-b028-5a73e69d39ee","name":"ListMessages-Supabase2","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"conversas","include":"specifiedFields","fieldsToInclude":"id,message_type,created_at,user_message, bot_message,phone","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[5240,2140],"id":"4839cb4d-dda3-4da1-973e-ba752b29b504","name":"Aggregate2"},{"parameters":{"jsCode":"return $('Aggregate2').all().map(item => {\n  // Tenta acessar a propriedade 'conversas' e verifica se ela é um array\n  const conversas = item.json.conversas || []; // Garante que é pelo menos um array vazio\n\n  if (!Array.isArray(conversas)) {\n    throw new Error(\"A propriedade 'conversas' não é um array.\");\n  }\n\n  // Processa cada conversa e verifica as mensagens\n  const textoUnico = conversas.map(conversa => {\n    const cliente = conversa.user_message || \"sem mensagem do chatbot\";\n    const agente = conversa.bot_message || \"sem resposta\";\n    \n    // Verifica se a data existe e formata\n    const dataOriginal = conversa.created_at || \"Data da Mensagem indisponível\";\n    const dataFormatada = dataOriginal !== \"Data da Mensagem indisponível\"\n      ? formatarData(dataOriginal)\n      : dataOriginal;\n\n    return `em: ${dataFormatada}\\n\\n - agente(chatbot): ${agente} \\n - cliente: ${cliente}\\n`;\n  }).join('\\n\\n');\n\n  // Retorna o texto final como resultado\n  return {\n    json: {\n      texto: textoUnico\n    }\n  };\n});\n\n// Função para formatar a data\nfunction formatarData(dataString) {\n  const data = new Date(dataString); // Converte a string em objeto Date\n  if (isNaN(data)) {\n    return \"Data inválida\"; // Retorna se a data não for válida\n  }\n  \n  // Formata no padrão DD/MM/YYYY HH:mm\n  const dia = String(data.getDate()).padStart(2, '0');\n  const mes = String(data.getMonth() + 1).padStart(2, '0'); // Mês começa em 0\n  const ano = data.getFullYear();\n  const horas = String(data.getHours()).padStart(2, '0');\n  const minutos = String(data.getMinutes()).padStart(2, '0');\n  \n  return `${dia}/${mes}/${ano} ${horas}:${minutos}`;\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5420,2140],"id":"ceff7092-70e2-4d08-9e2b-9dd578db5f66","name":"Code6"},{"parameters":{"promptType":"define","text":"={\n  \"role\": \"Agente Resumidor de atendimento\",\n  \"proposito\": \"Analisar conversas cliente-agente e criar resumos detalhados do atendimento\",\n  \"instrucoes\": {\n    \"tarefa_principal\": \"Extrair e resumir apenas sobre o atendimento do cliente a partir das conversas\",\n    \"formato\": \"Incluir data da sessão quando disponível\",\n    \"foco\": \"demandas do cliente, excluir respostas do agente\",\n    \"estilo\": \"Resumos detalhados mas concisos\",\n    \"evitar\": \"Dicas de uso, informações extras ou explicações\",\n    \"Me de o resultado somente com o resumo sem caracteres especiais\"\n  },\n  \"formato_entrada\": {\n    \"conversa\": \"{{ $json.texto }}\"\n  },\n  \"formato_saida\": {\n    \"resumo\": \"Descrição concisa do caso do cliente e data que ele gostaria de agendar uma rerunião\"\n  }\n}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[5620,2140],"id":"6f490ccd-2172-4169-92da-4b1e4e1fd46c","name":"Basic LLM Chain1"},{"parameters":{"operation":"get","tableId":"dados_cliente","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Dados').item.json.Telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-860,1720],"id":"448b1872-2176-4019-aadc-735b60fc715b","name":"Supabase","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4a6d9aac-8565-4c58-abe3-8741393a5535","leftValue":"={{ $json.telefone }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-660,1660],"id":"2d01cd33-27ef-4c97-ba14-0b1281f5bfa9","name":"If1"},{"parameters":{"tableId":"dados_cliente","fieldsUi":{"fieldValues":[{"fieldId":"nomewpp","fieldValue":"={{ $('Dados').item.json.NomeWpp }}"},{"fieldId":"telefone","fieldValue":"={{ $('Webhook EVO').item.json.body.data.key.remoteJid }}"},{"fieldId":"created_at","fieldValue":"={{ $now}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-480,1800],"id":"f6b4ccfb-f853-477c-95ff-4c269a6cea5d","name":"Supabase1","credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}}},{"parameters":{"content":"","height":620,"width":980,"color":4},"type":"n8n-nodes-base.stickyNote","position":[2080,1360],"typeVersion":1,"id":"53ef2e8b-5f8b-4aaa-a73f-3732ae3ef899","name":"Sticky Note17"},{"parameters":{"content":"","height":660,"width":960,"color":4},"type":"n8n-nodes-base.stickyNote","position":[1060,1320],"typeVersion":1,"id":"1c2a3d6a-ac58-40e5-8a4a-9a79cee56f3c","name":"Sticky Note20"},{"parameters":{"content":"","height":440,"width":740,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-900,1540],"typeVersion":1,"id":"5ac68932-48a0-4edb-823d-0521023471eb","name":"Sticky Note22"},{"parameters":{"content":"# Cadastrar Lead Supa Base","height":80,"width":596,"color":5},"id":"1180b2ae-8947-40d1-ae20-256665822532","name":"Sticky Note23","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-820,1560]},{"parameters":{"content":"","height":500,"width":1120,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-140,1480],"typeVersion":1,"id":"795bacac-51a7-4f68-b70d-5a030475b0bb","name":"Sticky Note26"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-1440,1200],"typeVersion":1,"id":"60bcb12d-2c14-4ba1-bc84-8faa03e4cf83","name":"Sticky Note31"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-640,800],"typeVersion":1,"id":"41e3627b-0042-403c-b520-f8bf5378ec75","name":"Sticky Note33"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-400,1200],"typeVersion":1,"id":"ef63aee5-42f7-4ccc-b99f-82d7e6dc15a2","name":"Sticky Note37"},{"parameters":{"httpMethod":"POST","path":"prospecsdr","options":{}},"id":"c0df7685-b816-4c2c-b80d-ac9c91a32d54","name":"Webhook EVO","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1500,1740],"webhookId":"7ecd43ed-123c-4fef-b86d-f9ce39e55d64"},{"parameters":{"content":"# Pausar IA","height":80,"width":216,"color":5},"id":"52a0d4f4-dc77-4fe9-ad62-cc49ba7504d1","name":"Sticky Note41","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-120,1500]},{"parameters":{"operation":"executeQuery","query":"create table dados_cliente (\n  id bigserial primary key,\n  created_at TIMESTAMPTZ, \n  telefone text, \n  nomewpp text,\n  atendimento_ia text\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1100,820],"id":"d0660b45-1fa4-45ff-a078-01c2dad11200","name":"Cria Tabela Dados Cliente","credentials":{"postgres":{"id":"7BihdPSijog1ko5Q","name":"Postgres Allan - SUPA"}}},{"parameters":{"operation":"executeQuery","query":"-- Create a table to store your documents\ncreate table documents (\n  id bigserial primary key,\n  content text, -- corresponds to Document.pageContent\n  metadata jsonb, -- corresponds to Document.metadata\n  embedding vector(1536) -- 1536 works for OpenAI embeddings, change if needed\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-40,840],"id":"9b7d7907-c05c-4574-bd51-7a9bcf8f2c00","name":"Cria Tabela Documentos","credentials":{"postgres":{"id":"7BihdPSijog1ko5Q","name":"Postgres Allan - SUPA"}}},{"parameters":{"operation":"executeQuery","query":"delete from documents","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-340,1220],"id":"6146709b-f47a-4911-80e5-1d299768dfa8","name":"Deleta Conteúdo Documentos","credentials":{"postgres":{"id":"7BihdPSijog1ko5Q","name":"Postgres Allan - SUPA"}}},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-380,800],"typeVersion":1,"id":"bf613dfd-d480-4a6a-ae16-645198ef528f","name":"Sticky Note40"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-120,800],"typeVersion":1,"id":"29b35bc9-536a-479a-a45d-5ee47f655e40","name":"Sticky Note48"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-1420,800],"typeVersion":1,"id":"a676ecc2-1cb1-48f0-85b9-f3cc596b142a","name":"Sticky Note49"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-900,800],"typeVersion":1,"id":"da7947b3-682b-44ff-9b88-e1f8089f3e7e","name":"Sticky Note50"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-920,1200],"typeVersion":1,"id":"3bd315d5-e46e-4cab-ac48-8f7c2192466a","name":"Sticky Note56"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-1160,800],"typeVersion":1,"id":"41ebbc4a-5fcc-482f-a80d-9ebe8528082d","name":"Sticky Note57"},{"parameters":{"operation":"executeQuery","query":"delete from n8n_chat_histories","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1380,1240],"id":"5bbfd1b7-1437-4188-8e6b-fb77de7f72e8","name":"Deleta Histórico","credentials":{"postgres":{"id":"7BihdPSijog1ko5Q","name":"Postgres Allan - SUPA"}}},{"parameters":{"operation":"executeQuery","query":"create function match_documents (\n  query_embedding vector(1536),\n  match_count int default null,\n  filter jsonb DEFAULT '{}'\n) returns table (\n  id bigint,\n  content text,\n  metadata jsonb,\n  similarity float\n)\nlanguage plpgsql\nas $$\n#variable_conflict use_column\nbegin\n  return query\n  select\n    id,\n    content,\n    metadata,\n    1 - (documents.embedding <=> query_embedding) as similarity\n  from documents\n  where metadata @> filter\n  order by documents.embedding <=> query_embedding\n  limit match_count;\nend;\n$$;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-320,820],"id":"395ff25e-933c-459c-9f49-fcc5952b9ec0","name":"Cria função Busca em Vetor","credentials":{"postgres":{"id":"7BihdPSijog1ko5Q","name":"Postgres Allan - SUPA"}}},{"parameters":{"operation":"executeQuery","query":"create extension vector;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-580,820],"id":"df65acaa-9054-4216-b54c-cc96c6f81fc1","name":"Cria Extensão Vetor","credentials":{"postgres":{"id":"7BihdPSijog1ko5Q","name":"Postgres Allan - SUPA"}}},{"parameters":{"operation":"executeQuery","query":"create table chats (\n  id bigserial primary key,\n  created_at TIMESTAMPTZ, \n  phone text,\n  updated_at text\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-840,820],"id":"162b094a-97ef-489e-870d-b1ebf0ce6f57","name":"Cria Tabela Chats","credentials":{"postgres":{"id":"7BihdPSijog1ko5Q","name":"Postgres Allan - SUPA"}}},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-660,1200],"typeVersion":1,"id":"230c670a-d725-41f4-afa3-549b8b5f236b","name":"Sticky Note65"},{"parameters":{"operation":"executeQuery","query":"delete from chats","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-600,1220],"id":"0daa42b4-bfe3-46f4-8d86-4482e1380ce1","name":"Deleta Conteúdo Chats","credentials":{"postgres":{"id":"7BihdPSijog1ko5Q","name":"Postgres Allan - SUPA"}}},{"parameters":{"operation":"executeQuery","query":"delete from dados_cliente","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-860,1220],"id":"41b57fac-96b9-4c26-9a61-40f9dd68d30c","name":"Deleta Conteúdo Dados Cliente","credentials":{"postgres":{"id":"7BihdPSijog1ko5Q","name":"Postgres Allan - SUPA"}}},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-1180,1200],"typeVersion":1,"id":"475fbc6f-a35d-4f80-a52f-c2ea851d7fbd","name":"Sticky Note66"},{"parameters":{"operation":"executeQuery","query":"delete from chat_messages","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1120,1220],"id":"e2925061-05fa-4f47-8243-88a141754812","name":"Deleta Conteúdo Chat_Messages","credentials":{"postgres":{"id":"7BihdPSijog1ko5Q","name":"Postgres Allan - SUPA"}}},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE chat_messages (\n  id BIGSERIAL PRIMARY KEY,\n  created_at TIMESTAMPTZ, \n  phone TEXT,\n  nomewpp TEXT, \n  bot_message TEXT,\n  user_message TEXT, \n  message_type TEXT,\n  active BOOLEAN DEFAULT TRUE\n);\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1360,820],"id":"ed2be024-8f65-4134-a822-fa4684055225","name":"Cria Tabela Chat_Messages","credentials":{"postgres":{"id":"7BihdPSijog1ko5Q","name":"Postgres Allan - SUPA"}}},{"parameters":{"content":"","height":440,"width":600,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1540,1540],"typeVersion":1,"id":"38c46bab-1451-4094-8fd4-e0ca73422ce9","name":"Sticky Note32"},{"parameters":{"content":"## WEBHOOK & ROTAS","height":80,"width":276,"color":5},"id":"7b206c98-5beb-4859-b1f0-cd1cd31319d4","name":"Sticky Note67","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1400,1560]},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{"fileName":"file.png","mimeType":"image/png"}},"id":"e7a517e7-7037-40f9-b5ac-7df76036c971","name":"Convert to File1","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1320,1820]},{"parameters":{"assignments":{"assignments":[{"id":"3c5ccbc9-69d1-4b13-a7c3-e6945bc8c655","name":"data","value":"={{ $('Webhook EVO').item.json.body.data.message.base64 }}","type":"string"}]},"options":{}},"id":"96f4f29f-293d-4085-b3fa-b535e88c9554","name":"Edit Fields3","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1180,1820]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"ade56c50-1520-4760-8df5-e99617d6d3ad","leftValue":"={{ $('Webhook EVO').item.json.body.data.message.imageMessage.caption }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"d576b30d-451c-4e07-9117-8c084cf4aa76","name":"If3","type":"n8n-nodes-base.if","typeVersion":2,"position":[1660,1820]},{"parameters":{"operation":"push","list":"={{ $('Dados').item.json.Telefone }}","messageData":"={{ $('Dados').item.json.message.content }}, {{ $json.content.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '').trim()  }}","tail":true},"id":"ff5101cd-c909-4250-8926-baa041d06871","name":"Redis4","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1820,1840],"credentials":{"redis":{"id":"KVRosz1bwqDgMe66","name":"Redis Allan - 0"}}},{"parameters":{"operation":"push","list":"={{ $('Dados').item.json.Telefone }}","messageData":"={{ $json.content.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '').trim()  }}","tail":true},"id":"d03e2ef1-23d7-4473-89f1-a7323db119b2","name":"Redis5","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1820,1660],"credentials":{"redis":{"id":"KVRosz1bwqDgMe66","name":"Redis Allan - 0"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"52aaf749-fe4f-44e4-880e-15b2bfc027f1","leftValue":"={{ $('Webhook EVO').item.json.body.data.messageType }}","rightValue":"extendedTextMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"e514e613-fd6a-48bd-b0ae-bae2448c810e","leftValue":"={{ $('Webhook EVO').item.json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Webhook EVO').item.json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c0e434dd-1268-421d-b81b-3a5e90ed9550","leftValue":"={{ $('Webhook EVO').item.json.body.data.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"}]},"options":{}},"id":"887af78c-19e2-4898-a2ed-b4961f1b56a5","name":"Switch1","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1080,1580]},{"parameters":{"content":"# Mensagem Picotada","height":80,"width":396,"color":5},"id":"f7912de0-9a4e-4dd6-ac93-022a00ec70f0","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2400,1380]},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"Analise a imagem e me traga um resumo simples e o mais curto possível do que ela é","inputType":"base64","options":{}},"id":"9f873be2-35a0-46ba-9ebe-e38d649712c6","name":"OpenAI1","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[1480,1820],"credentials":{"openAiApi":{"id":"y6EOm7GTWxcYjDT6","name":"OpenAi Allan"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d5a342e9-585b-42ea-be44-644adae10199","leftValue":"={{ $json.Redis2 }}","rightValue":"={{ $json.Redis1 }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"3c54aa84-bf1a-467c-a6fe-373475bf80ad","name":"Compara Get Memory1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2720,1620]},{"parameters":{"operation":"push","list":"={{ $('Dados').item.json.Telefone }}","messageData":"={{ $('Dados').item.json.message.content }}","tail":true},"id":"c009ac59-f3cf-4991-bdd8-79f54de664e9","name":"Text Memory1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1820,1340],"credentials":{"redis":{"id":"KVRosz1bwqDgMe66","name":"Redis Allan - 0"}}},{"parameters":{"operation":"push","list":"={{ $('Dados').item.json.Telefone }}","messageData":"={{ $json.text }}","tail":true},"id":"4d21e752-ed54-4112-a8f5-fab6331db649","name":"Audio Memory1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1820,1500],"credentials":{"redis":{"id":"KVRosz1bwqDgMe66","name":"Redis Allan - 0"}}},{"parameters":{"assignments":{"assignments":[{"id":"f336a1ff-e577-489d-a739-1eb8bd509245","name":"Redis2","value":"={{ $json.propertyName }}","type":"string"},{"id":"946d1420-e379-46e3-8fcd-3816340fbabb","name":"Redis1","value":"={{ $('Get Memory 1').item.json.propertyName }}","type":"string"}]},"options":{}},"id":"fec4b457-1de7-4d55-bd53-e0e49fee847b","name":"Edit Fields8","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2560,1620]},{"parameters":{"amount":40},"id":"3be77f3a-767a-4d33-a900-4585adc3020a","name":"Wait3","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2260,1620],"webhookId":"9f0edf0b-ca36-42a6-bab6-bf62ca08ac51"},{"parameters":{"operation":"get","key":"={{ $('Dados').item.json.Telefone }}","options":{}},"id":"d668e191-93f8-4638-8a2c-a071728b5a61","name":"Get Memory 1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[2120,1620],"credentials":{"redis":{"id":"KVRosz1bwqDgMe66","name":"Redis Allan - 0"}}},{"parameters":{"operation":"get","key":"={{ $('Dados').item.json.Telefone }}","options":{}},"id":"2892a372-e032-42d4-84fa-039bf523d15d","name":"Get Memory 2","type":"n8n-nodes-base.redis","typeVersion":1,"position":[2420,1620],"credentials":{"redis":{"id":"KVRosz1bwqDgMe66","name":"Redis Allan - 0"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Dados').item.json.message.event }}","rightValue":"outcoming","operator":{"type":"string","operation":"equals"},"id":"7c878f9b-2c93-4061-954a-a832153e7647"}],"combinator":"and"},"renameOutput":true,"outputKey":"outcoming"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"d7b42536-638f-4128-b51b-6aa913e9d9bc","leftValue":"={{ $('Dados').item.json.message.event }}","rightValue":"incoming","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"incoming"}]},"options":{}},"id":"02513d67-eba3-45dd-93dd-a60bd51a08cb","name":"Switch6","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-120,1760]},{"parameters":{"content":"# Filtro de mensagem","height":80,"width":356,"color":5},"id":"e86f0909-b7b4-4bf3-8f6c-3080d867a645","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1140,1340]},{"parameters":{"jsCode":"const redis1 = JSON.parse($json.Redis1);\nconst redis2 = JSON.parse($json.Redis2);\n\nconst combinadoSemDuplicatas = Array.from(new Set([...redis1, ...redis2]));\n\nconst mensagem = combinadoSemDuplicatas.join(\" \");\n\nreturn [{ json: { mensagem_completa: mensagem } }];"},"id":"ffdfc4ea-7bb4-46b8-bcaa-86655161c753","name":"Mensagem Completa","type":"n8n-nodes-base.code","typeVersion":2,"position":[2940,1600]},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{"fileName":"file.ogg","mimeType":"application/ogg"}},"id":"8824af99-cd2c-4e11-b52b-dda4ab65b19f","name":"Convert to File","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1460,1620]},{"parameters":{"assignments":{"assignments":[{"id":"3c5ccbc9-69d1-4b13-a7c3-e6945bc8c655","name":"data","value":"={{ $('Webhook EVO').item.json.body.data.message.base64 }}","type":"string"}]},"options":{}},"id":"66fb177a-eef2-4b62-b8ad-3c473739d9a1","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1300,1620]},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"5a72d12e-a50e-4e69-8973-d65a44650027","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[1640,1620],"credentials":{"openAiApi":{"id":"y6EOm7GTWxcYjDT6","name":"OpenAi Allan"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"id":"8d0a37d9-7280-445d-be83-e93c5ab09020","name":"OpenAI Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[-860,2500],"typeVersion":1.2,"credentials":{"openAiApi":{"id":"y6EOm7GTWxcYjDT6","name":"OpenAi Allan"}}},{"parameters":{"content":"## Agente treinamento RAG, ativação automática como o texto: TreinoIA1212:","height":840,"width":2220,"color":4},"id":"efa1603f-133d-48b7-9357-f9d457253bb4","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","position":[-900,2020],"typeVersion":1},{"parameters":{"descriptionType":"manual","toolDescription":"Use para buscar informações na planilha caso tenha um treinamento paricido devovlea o numeroo da rtoow para ela ser atualziada","documentId":{"__rl":true,"value":"1Q-s8_cB8PO-ZZ8ZZCzzaTezL-3VHXW4_vVu0iRNxWfI","mode":"list","cachedResultName":"Aula nova","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Q-s8_cB8PO-ZZ8ZZCzzaTezL-3VHXW4_vVu0iRNxWfI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Q-s8_cB8PO-ZZ8ZZCzzaTezL-3VHXW4_vVu0iRNxWfI/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[-720,2540],"id":"2c61bc3c-6cf7-4bf9-b14c-d731d7e99698","name":"Treinamento_feito"},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"60402d2b-e4d2-48f7-88eb-83b651a63aa8","name":"Insert into Supabase Vectorstore1","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[980,2320],"credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}}},{"parameters":{"separator":"/n","chunkSize":1200,"chunkOverlap":200},"id":"b7a10137-6f5b-4473-845c-79a697732679","name":"Character Text Splitter1","type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[1120,2720]},{"parameters":{"aggregate":"aggregateAllItemData","include":"allFieldsExcept","fieldsToExclude":"rew_number","options":{}},"id":"5d974cdd-8ed5-4ae4-b77e-8d9079d44383","name":"Aggregate1","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[580,2320]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"a7b515ba-9d76-4a0d-8ac0-e197b39b6c18","name":"Embeddings OpenAI2","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[840,2560],"credentials":{"openAiApi":{"id":"y6EOm7GTWxcYjDT6","name":"OpenAi Allan"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data || $json.text || $json.concatenated_data }}","options":{"metadata":{"metadataValues":[{"name":"Arquivo","value":"={{ $('Download File1').item.json.name }}"}]}}},"id":"9eac00b2-880b-48a6-8d0a-3644e4303812","name":"Default Data Loader1","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1000,2560]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"1d863883-9ed4-43f5-b695-be1fd82c20c1","name":"Download File1","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-80,2280],"executeOnce":false,"credentials":{"googleDriveOAuth2Api":{"id":"cQnW1e2PklBVDK61","name":"Google Drive allan"}}},{"parameters":{"operation":"xlsx","options":{}},"id":"30864080-dedc-495c-ad5b-6dc02920b5b4","name":"Extract from Excel2","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[420,2220]},{"parameters":{"promptType":"define","text":"={{ $('Webhook EVO').item.json.body.data.message.conversation || '' }}","options":{"systemMessage":"={\n  \"name\": \"AgenteTreinamentoPlanilha\",\n  \"objectives\": [\n    \"Receber um texto e corrigi-lo\",\n    \"Verificar se já existe pergunta similar na planilha\",\n    \"Atualizar a planilha com a pergunta e a resposta corrigida\",\n    \"Caso peça para atualizar, não execute nem uma tool\"\n  ],\n  \"tools\": [\n    {\n      \"name\": \"Treinamento_feito\",\n      \"description\": \"Verifica se existe conteúdo similar antes de atualizar, caso exista deve ser removido ou substituído\"\n    },\n    {\n      \"name\": \"Atualizar_treinamento\",\n      \"description\": \"Cria ou atualiza linha na planilha com as colunas: Pergunta e Resposta\"\n    }\n  ],\n  \"general_rules\": [\n    \"Não mencionar a planilha ou as ferramentas na resposta ao usuário\",\n    \"Corrigir sempre o texto recebido antes de registrar no sistema\",\n    \"Seja preciso e consistente ao preencher as colunas pergunta e resposta\",\n    \"Gere sua resposta sem acentos nas palavras ou caracteres especiais\"\n  ]\n}\n"}},"id":"056d4c55-43a6-4319-b440-bfcbfc9832ef","name":"Agente Treinamento RAG","type":"@n8n/n8n-nodes-langchain.agent","position":[-860,2260],"typeVersion":1.8},{"parameters":{"content":"# Ferramentas para criar\n\n","height":80,"width":456,"color":5},"id":"e237ab92-3f68-4e81-addd-a8ab257606bd","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1420,700]},{"parameters":{"content":"# Ferramentaspara apagar\n\n","height":80,"width":496,"color":5},"id":"2f443764-e06a-4bfb-b7d0-400ec29aace4","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1460,1100]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5922557b-71e7-4390-af21-10b683e7a875","leftValue":"={{ $json.Telefone }}","rightValue":"553173374875@s.whatsapp.net","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Numero pessoal"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"9865cb5b-33da-490c-afc3-186457d5b564","operator":{"type":"string","operation":"notStartsWith"},"leftValue":"={{ $json.message.content }}","rightValue":"TreinoIA1212:"}],"combinator":"and"},"renameOutput":true,"outputKey":"Rota normal"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"5a9a1fee-b408-469f-a08c-e8d690fc9792","operator":{"type":"string","operation":"startsWith"},"leftValue":"={{ $json.message.content }}","rightValue":"TreinoIA1212:"}],"combinator":"and"},"renameOutput":true,"outputKey":"Treinamento IA"}]},"options":{}},"id":"9f000183-9c4b-4d5d-8935-53ad8074b70d","name":"Rotas","type":"n8n-nodes-base.switch","position":[-1120,1740],"typeVersion":3.2},{"parameters":{"operation":"update","tableId":"dados_cliente","filters":{"conditions":[{"keyName":"telefone","condition":"eq","keyValue":"={{ $('Dados').item.json.Telefone }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"atendimento_ia","fieldValue":"pause"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[220,1520],"id":"58e36c34-9b1e-4723-8958-f43adb5ced20","name":"Pausar IA","credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}}},{"parameters":{"operation":"get","tableId":"dados_cliente","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Dados').item.json.Telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[220,1840],"id":"b85828c5-2dba-43c3-a958-b5d310047400","name":"Verificar Pause","credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.atendimento_ia }}","rightValue":"pause","operator":{"type":"string","operation":"notStartsWith"},"id":"ff00573b-e517-43c6-8644-14a4fe8565d1"}],"combinator":"and"},"renameOutput":true,"outputKey":"Ia Ativa"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"3ef0e01c-cc14-4663-bb4d-2905b350c3ab","leftValue":"={{ $json.atendimento_ia }}","rightValue":"pause","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ia pausada"}]},"options":{}},"id":"63ccacd9-898a-46f7-8193-126967f608f9","name":"Rota Atendimento","type":"n8n-nodes-base.switch","typeVersion":3,"position":[440,1840]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"9865cb5b-33da-490c-afc3-186457d5b564","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $('Rotas').item.json.message.content }}","rightValue":"Atendimento finalizado"}],"combinator":"and"},"renameOutput":true,"outputKey":"IA Pausada"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"5a9a1fee-b408-469f-a08c-e8d690fc9792","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('Rotas').item.json.message.content }}","rightValue":"Atendimento finalizado"}],"combinator":"and"},"renameOutput":true,"outputKey":"Reativar IA"}]},"options":{}},"id":"4db9d785-6149-4d37-92e9-f7feb3f5b103","name":"Rotas1","type":"n8n-nodes-base.switch","position":[20,1660],"typeVersion":3.2},{"parameters":{"operation":"update","tableId":"dados_cliente","filters":{"conditions":[{"keyName":"telefone","condition":"eq","keyValue":"={{ $('Dados').item.json.Telefone }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"atendimento_ia","fieldValue":"reativada"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[400,1680],"id":"62ffff83-3fc9-4b13-9bf3-234161070107","name":"Reativar IA","credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}}},{"parameters":{"assignments":{"assignments":[{"id":"11800d83-ecca-4f9c-a878-a2419db0c8e9","name":"message.chat_id","value":"={{ $('Webhook EVO').item.json.body.data.key.remoteJid || '' }}","type":"string"},{"id":"c33f9527-e661-49e5-8e5e-64f3b430928a","name":"message.content_type","value":"={{ $('Webhook EVO').item.json.body.data.message.extendedTextMessage ? 'text' : '' }}{{ $('Webhook EVO').item.json.body.data.message.conversation ? 'text' : '' }}{{ $('Webhook EVO').item.json.body.data.message.audioMessage ? 'audio' : '' }}{{ $('Webhook EVO').item.json.body.data.message.imageMessage ? 'image' : '' }}","type":"string"},{"id":"06eba1c9-cff0-4f68-b6da-6bb0092466b7","name":"message.content","value":"={{ $('Webhook EVO').item.json.body.data.message.extendedTextMessage?.text || '' }}{{ $('Webhook EVO').item.json.body.data.message.imageMessage?.caption || '' }}{{ $('Webhook EVO').item.json.body.data.message.conversation || '' }}","type":"string"},{"id":"b97f1af3-5361-46fc-9303-d644921231d8","name":"message.timestamp","value":"={{ $('Webhook EVO').item.json.body.data.messageTimestamp.toDateTime('s').toISO() }}","type":"string"},{"id":"dc3dc59c-90a3-4a45-bea2-de092c91083b","name":"message.content_url","value":"={{ $('Webhook EVO').item.json.body.data.message.audioMessage?.url || '' }}{{ $('Webhook EVO').item.json.body.data.message.imageMessage?.url || '' }}","type":"string"},{"id":"8b01a818-a456-476e-bace-adefe2f04eb4","name":"message.event","value":"={{ $('Webhook EVO').item.json.body.data.key.fromMe ? 'outcoming' : 'incoming' }}","type":"string"},{"id":"886e3751-e39b-4fc6-98d1-3113eaeebbb4","name":"=body.event","value":"={{ $('Webhook EVO').item.json.body.event }}","type":"string"},{"id":"d04a0c6e-7842-41d2-bdb0-c0ce51d6dad7","name":"Telefone","value":"={{ $('Webhook EVO').item.json.body.data.key.remoteJid }}","type":"string"},{"id":"a57db642-3e13-452e-bb5b-19f7e9f3bd5d","name":"NomeWpp","value":"={{ $json.body.data.pushName }}","type":"string"}]},"options":{}},"id":"610a6781-bc73-4116-9067-c6066f4af51f","name":"Dados","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1300,1740]},{"parameters":{"amount":1,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[220,1680],"id":"f696bfe1-b160-4931-9cf8-f1e9ecad6dc9","name":"Wait","webhookId":"b9c0dc3b-a05b-4e71-bcbe-fee8c71142a2"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"={{ $('Dados').item.json.Telefone }}","message":"={\"type\": \"ai\", \"content\": \"{{ $('Rotas').item.json.message.content.replace(/\\n/g, ' ') }}\", \"additional_kwargs\": {}, \"response_metadata\": {}}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message","displayName":"message","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[780,1800],"id":"57cb7598-8e05-4284-b3a5-e5540b554d60","name":"Salvar Historicoo Humano1","credentials":{"postgres":{"id":"7BihdPSijog1ko5Q","name":"Postgres Allan - SUPA"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[3140,1640],"id":"b78656b9-fccc-41c9-ad19-efd5352dbde8","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"y6EOm7GTWxcYjDT6","name":"OpenAi Allan"}}},{"parameters":{"promptType":"define","text":"={{ $json.mensagem_completa }}","options":{"systemMessage":"={\n  \"name\": \"AgenteRag\",\n  \"objectives\": [\n    \"Responder somente com dados obtidos da ferramenta buscar_documentos, sem dicas extras\"\n  ],\n  \"tools\": [\n    {\n      \"name\": \"buscar_documentos\",\n      \"description\": \"Use esta ferramenta para obter a resposta. Se não houver dados, retorne: não invente resposta somente do que vier da tool buscar_documentos'.\",\n      \"required\": true\n    }\n  ],\n  \"general_rules\": [\n    \"Não inventar respostas\",\n    \"Sempre usar a ferramenta buscar_documentos\",\n    \"caso não tenha uma resposta envie a resposta assim: sem dica de resposta\"\n  ]\n}\n"}},"id":"e7cfc362-2162-4480-88a3-e5d9e2f51b82","name":"Agente Rag","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[3140,1460]},{"parameters":{"content":"# Agente RAG","height":80,"width":336,"color":5},"id":"4647c3bc-210f-423c-bf7c-4b1a0b65c0f0","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3420,1380]},{"parameters":{"content":"","height":380,"width":1680,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1480,660],"typeVersion":1,"id":"da7fa7d4-97d3-4b4f-932e-fa216d7d348f","name":"Sticky Note12"},{"parameters":{"content":"","height":380,"width":1680,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-1480,1060],"typeVersion":1,"id":"0563cc78-bdf8-424d-a5ac-53a9e282e181","name":"Sticky Note13"},{"parameters":{"content":"","height":620,"width":820,"color":4},"type":"n8n-nodes-base.stickyNote","position":[3080,1360],"typeVersion":1,"id":"f21210e6-fb6a-43b8-923c-7458dab32251","name":"Sticky Note6"},{"parameters":{"descriptionType":"manual","toolDescription":"Analise se já existeuma coluca pareceida se sim atualize ela se não crie uma nova linha","operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1Q-s8_cB8PO-ZZ8ZZCzzaTezL-3VHXW4_vVu0iRNxWfI","mode":"list","cachedResultName":"Aula nova","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Q-s8_cB8PO-ZZ8ZZCzzaTezL-3VHXW4_vVu0iRNxWfI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Q-s8_cB8PO-ZZ8ZZCzzaTezL-3VHXW4_vVu0iRNxWfI/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Pergunta":"={{ $fromAI(\"Pergunta\",\"isso é a pergunta\") }}","Resposta":"={{ $fromAI(\"Resposta\",\"isso é a resposta\") }}"},"matchingColumns":["Pergunta"],"schema":[{"id":"Pergunta","displayName":"Pergunta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Resposta","displayName":"Resposta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"7707a018-f081-4119-8542-a45763529d39","name":"Atualizar_treinamento","type":"n8n-nodes-base.googleSheetsTool","position":[-520,2540],"typeVersion":4.5},{"parameters":{"operation":"text","options":{}},"id":"d508fb07-fa9a-46fb-8b42-30ff2b418c29","name":"Extract Document Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[420,2560],"alwaysOutputData":true},{"parameters":{"operation":"pdf","options":{}},"id":"54feba7b-1548-404f-8bd8-5a2da4e07686","name":"Extract PDF Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[420,2040]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.mimeType }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"},"id":"d324b22b-cdf4-4216-a5ac-7db17ab11851"}],"combinator":"and"},"renameOutput":true,"outputKey":"PDF"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"2ae7faa7-a936-4621-a680-60c512163034","leftValue":"={{ $json.mimeType }}","rightValue":"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"excel"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"8bd558b2-8c70-4edd-ab19-92540895ae46","leftValue":"={{ $json.mimeType }}","rightValue":"application/vnd.google-apps.spreadsheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CVS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"fc193b06-363b-4699-a97d-e5a850138b0e","leftValue":"={{ $json.mimeType }}","rightValue":"application/vnd.google-apps.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Google Docs"}]},"options":{"fallbackOutput":3}},"id":"75057ab7-3f4c-4653-a5a0-e6081975f919","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[100,2260]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"options":{}},"id":"d24b44f1-9b23-42c5-804b-bb649f8e5faf","name":"Summarize1","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[780,2320]},{"parameters":{"options":{}},"id":"b3ef5e8b-2158-43b5-9640-b77962ff9a0a","name":"Extract from Excel","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[420,2400]},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"1rP1DWBKusmnmMLbxcAEy11nlRIpU2a4r","mode":"list","cachedResultName":"Aula nova","cachedResultUrl":"https://drive.google.com/drive/folders/1rP1DWBKusmnmMLbxcAEy11nlRIpU2a4r"}},"options":{"fields":["mimeType","id","name"]}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-260,2280],"id":"320145bd-8dc0-435b-8e3e-f34a7157c1f9","name":"Google Drive","executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"cQnW1e2PklBVDK61","name":"Google Drive allan"}}},{"parameters":{"operation":"delete","tableId":"documents","filters":{"conditions":[{"keyName":"id","condition":"neq","keyValue":"0"}]}},"id":"3d98222e-2c39-497b-a3b0-3221f2636a91","name":"Deleta linhas antigas do documento1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-440,2280],"alwaysOutputData":true,"executeOnce":false,"credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":5}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-600,2100],"id":"9f6afa1e-67a9-45e2-99bd-43281410ada5","name":"Schedule Trigger"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"={{ $('Dados').item.json.Telefone }}","message":"={\"type\": \"human\", \"content\": \"{{ $('Rotas').item.json.message.content.replace(/\\n/g, ' ') }}\", \"additional_kwargs\": {}, \"response_metadata\": {}}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message","displayName":"message","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[720,1520],"id":"56fa40d4-02ce-4f29-96f8-a0bf60576c2d","name":"Salvar Historicoo Humano","credentials":{"postgres":{"id":"7BihdPSijog1ko5Q","name":"Postgres Allan - SUPA"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[1260,680],"id":"54642b53-0a21-4ba8-b014-a4c8c4678bb1","name":"When chat message received","webhookId":"af870e9f-98ab-46c8-858d-84fedf8036b2","disabled":true},{"parameters":{"options":{"systemMessage":"={\n  \"name\": \"Amanda\",\n  \"context\": {\n    \"identity\": \"Consultora Comercial de Vendas\",\n    \"business\": \"Fluxo Atendimento por IA para Terapeutas\",\n    \"Language\": \"português brasileiro\",\n    \"date\": \"{{ $now.weekdayLong }}, {{ $now.format('dd/MM/yyyy') }}, {{ $now.hour.toString().padStart(2, '0') }}:{{ $now.minute.toString().padStart(2, '0') }}\"\n  },\n  \"Informação atualizada para usar em resposta\": \"{{ $json.output }}\",\n  \"personality\": [\n    \"Fala simples, objetiva e amigável\",\n    \"Tono de voz educado e consultivo\",\n    \"Não usa emojis\",\n    \"Fala de forma personalizada, chamando pelo nome se souber\",\n    \"Faz uma pergunta por vez para manter o foco\",\n    \"Cria leve senso de urgência para agendamento\",\n    \"Reforça benefícios de forma prática\"\n  ],\n  \"objectives\": [\n    \"Apresentar a solução de atendimento por IA no WhatsApp para terapeutas\",\n    \"Agendar uma reunião comercial com o terapeuta no horário comercial\"\n  ],\n  \"general_rules\": [\n    \"Atender apenas terapeutas e profissionais da área emocional\",\n    \"Reforçar que as reuniões são online, rápidas e 100% focadas na necessidade do terapeuta\",\n    \"Agendar reuniões somente de segunda a sexta-feira em horário comercial\",\n    \"Caso peçam algo fora do fluxo, gentilmente redirecionar para o agendamento de reunião\",\n    \"Nunca prometer preço ou condições comerciais sem a reunião\",\n    \"Se a pessoa pedir para falar direto com um humano, informar que a reunião é o caminho para atendimento personalizado\",\n    \"Evitar termos técnicos como 'chatbot' ou 'automação' e usar sempre 'atendimento inteligente por IA', reforçando que o atendimento é como de uma secretária e não automatizado para agendamentos\",\n    \"Palavras proibidas: robô, automático, chatbot, grátis\"\n  ],\n  \"flow\": {\n    \"steps\": [\n      {\n        \"step\": \"Perguntar o nome\",\n        \"instructions\": \"Se apresentar e perguntar o nome da pessoa antes de prosseguir\",\n        \"example_message\": \"Olá! Meu nome é Amanda, faço parte da equipe da Fluxo Atendimento por IA para Terapeutas. Como posso te chamar?\"\n      },\n      {\n        \"step\": \"Confirmar se é terapeuta\",\n        \"instructions\": \"Após receber o nome, confirmar se a pessoa é terapeuta\",\n        \"example_message\": \"Prazer, Você é terapeuta ou atua em outra área da saúde?\"\n      },\n      {\n        \"step\": \"Explicação breve da solução\",\n        \"instructions\": \"Se confirmar que é terapeuta, explicar brevemente o benefício da solução\",\n        \"example_message\": \"Nós ajudamos terapeutas a terem um atendimento inteligente no WhatsApp, como uma secretária virtual que acolhe seus pacientes e organiza a comunicação, poupando seu tempo.\"\n      },\n      {\n        \"step\": \"Identificar o maior desafio\",\n        \"instructions\": \"Antes de oferecer reunião, perguntar qual é o maior desafio atual no atendimento\",\n        \"example_message\": \"Hoje, qual é o maior desafio que você enfrenta no seu atendimento? Seria dificuldade para contratar pessoas, agilidade nas respostas, atendimento fora do horário comercial, ou outra situação?\"\n      },\n      {\n        \"step\": \"Conectar solução à dor\",\n        \"instructions\": \"Após identificar a dor, reforçar que a solução pode ajudar especificamente nesse ponto\",\n        \"example_message\": \"Entendo. Nossa solução foi criada exatamente para ajudar terapeutas com essa dificuldade!\"\n      },\n      {\n        \"step\": \"Explicação adicional da solução\",\n        \"instructions\": \"Antes de oferecer a reunião, explicar detalhes extras da solução\",\n        \"example_message\": \"Nossa IA entende áudios enviados pelos seus clientes, interpreta múltiplas mensagens de texto e, após coletar informações sobre o motivo da busca por terapia, ela também te notifica em um grupo exclusivo com o nome do potencial cliente e um resumo do seu caso.\"\n      },\n      {\n        \"step\": \"Oferecer agendamento de reunião\",\n        \"instructions\": \"Depois de explicar a funcionalidade, convidar para agendar uma reunião\",\n        \"example_message\": \"Gostaria que eu te mostrasse tudo isso em detalhes numa reunião rápida de 30 minutos?\"\n      },\n      {\n        \"step\": \"Agendar reunião\",\n        \"instructions\": \"Se a pessoa demonstrar interesse, pedir para sugerir um dia e um período (manhã ou tarde)\",\n        \"example_message\": \"Que dia e período (manhã ou tarde) seria melhor para você? Assim organizamos tudo certinho.\"\n      },\n      {\n        \"step\": \"Confirmação de agendamento\",\n        \"instructions\": \"Após receber a sugestão, informar que um especialista entrará em contato para confirmar o horário certinho e enviar o número de protocolo\",\n        \"example_message\": \"Perfeito! Vou pedir para um dos nossos especialistas entrar em contato para confirmar direitinho o horário com você. Seu número de protocolo é 338201. Até breve!\"\n      }\n    ]\n  }\n}\n"}},"id":"0b77549b-8f04-4199-ba4e-e97eb2d4309d","name":"Atendente1","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[1480,680],"disabled":true},{"parameters":{"sessionIdType":"customKey","sessionKey":"16","contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1780,800],"id":"e06f39ba-184f-4124-bc2c-93edebd3e094","name":"Simple Memory","disabled":true},{"parameters":{"operation":"update","tableId":"dados_cliente","filters":{"conditions":[{"keyName":"telefone","condition":"eq","keyValue":"={{ $('Dados').item.json.Telefone }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"atendimento_ia","fieldValue":"pause"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[6200,2140],"id":"ab6e89d7-4ab2-487b-a253-486f7c3c1e33","name":"Pausar IA1","credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}}},{"parameters":{},"id":"859d32c5-331e-46d9-bd19-f24cf0c24cd1","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[3140,2160]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f1e1c15f-6b80-43db-885b-c444e8ee8a86","leftValue":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"Evento\"] }}","rightValue":"img1","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"img1"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5ea58828-407d-4661-93e7-bcaeec23a924","leftValue":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"Evento\"] }}","rightValue":"enviarfoto","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"envviar foto"}]},"options":{}},"id":"ff80c4b1-2f2c-43c9-a4dd-4e22a45a8485","name":"Switch4","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[3320,2160]},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[4140,2360],"id":"68d2730f-340c-48ff-8471-c72d905da9bf","name":"Extract from File"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3940,2360],"id":"2531c7ed-b14a-470f-9291-0914670bc83e","name":"Google Drive2","credentials":{"googleDriveOAuth2Api":{"id":"cQnW1e2PklBVDK61","name":"Google Drive allan"}}},{"parameters":{"resource":"fileFolder","queryString":"=","limit":1,"filter":{"folderId":{"__rl":true,"value":"1g7HZkwBOlZ4W00iuDe7CE_CMKq8T47ep","mode":"list","cachedResultName":"PDF","cachedResultUrl":"https://drive.google.com/drive/folders/1g7HZkwBOlZ4W00iuDe7CE_CMKq8T47ep"},"whatToSearch":"files"},"options":{"fields":["mimeType","name","id"]}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3760,2360],"id":"68410ac3-6706-48a8-9835-1b9f7a700b3f","name":"Google Drive3","credentials":{"googleDriveOAuth2Api":{"id":"cQnW1e2PklBVDK61","name":"Google Drive allan"}}},{"parameters":{"assignments":{"assignments":[{"id":"bdf3c023-082c-4f78-b311-6302affcc988","name":"telefone","value":"={{ $('Execute Workflow Trigger').item.json.Remotejid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3560,2360],"id":"8f0046e4-eac1-42ad-8548-ddad0b4a2f45","name":"Edit Fields2"},{"parameters":{"assignments":{"assignments":[{"id":"7f842ffa-cd8f-40ab-a0a7-40dc173357a7","name":"response","value":"=Sucesso","type":"string"}]},"options":{}},"id":"927b3304-5cee-4953-a98b-a4a7deae15d9","name":"Edit Fields4","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4520,2360]},{"parameters":{"resource":"messages-api","operation":"send-document","instanceName":"allan1688","remoteJid":"={{ $('Switch4').item.json.Remotejid }}","media":"={{ $json.data }}","caption":"Segue o orçamento","fileName":"","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[4340,2360],"id":"cfba6ced-581e-4018-b345-0da0802c4df5","name":"Evolution API3","credentials":{"evolutionApi":{"id":"AfcW5UBaTBawYJHp","name":"Evolution UNIVER"}}},{"parameters":{"name":"enviar_img1","description":"=usar para enviar a o pdf dos planos da academia","workflowId":{"__rl":true,"value":"v3cd0ZeDgfCOuqhE","mode":"id"},"fields":{"values":[{"name":"Evento","stringValue":"img1"},{"name":"Remotejid","stringValue":"={{ $('Dados').item.json.Telefone }}"}]},"jsonSchemaExample":""},"id":"7a26c3f9-645f-4dba-a390-899dd493c09b","name":"enviar_img1","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[4560,2080]},{"parameters":{"content":"","height":620,"width":1680,"color":4},"type":"n8n-nodes-base.stickyNote","position":[3060,2040],"typeVersion":1,"id":"6dc3972d-ae80-4675-b6a7-17eeab532a35","name":"Sticky Note"},{"parameters":{"content":"# Envio de Mensagem Simples   ","height":80,"width":496,"color":5},"id":"45523435-347f-45df-ac30-ffadcb4c45de","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3840,2080]},{"parameters":{"operation":"getAll","tableId":"chats","filters":{"conditions":[{"keyName":"updated_at","condition":"lt","keyValue":"={{ $now.plus(5,'minutes') }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-840,3520],"id":"53e7d566-6ed4-4f55-9749-99c0681137bb","name":"ListChats-Supabase","credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}}},{"parameters":{"operation":"getAll","tableId":"chat_messages","matchType":"allFilters","filters":{"conditions":[{"keyName":"phone","condition":"eq","keyValue":"={{ $json.phone }}"},{"keyName":"active","condition":"eq","keyValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-440,3540],"id":"734fe20e-8d48-4aed-835e-a9b2561836c5","name":"ListMessages-Supabase","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}}},{"parameters":{"operation":"update","tableId":"chat_messages","filters":{"conditions":[{"keyName":"phone","condition":"eq","keyValue":"={{ $('Aggregate')?.item?.json?.conversas?.last()?.phone }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"active","fieldValue":"false"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1320,3600],"id":"4add9893-8aca-4265-87d4-7ae91904d4b8","name":"DisableMessage-Supabase","credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}}},{"parameters":{"assignments":{"assignments":[{"id":"c9c00627-84a9-49a9-bc7e-d923a5918346","name":"output","value":"={{ $json.text }}","type":"string"},{"id":"0e34f673-b6dc-4748-89d2-a178dfe91853","name":"phone","value":"={{ $('ListChats-Supabase').item.json.phone }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-60,3280],"id":"0e648f68-0871-4f64-a9b7-38eea2de642b","name":"SetConfig"},{"parameters":{"promptType":"define","text":"=# Você é um agente facilitador de vendas e está buscando conversas não finalizadas entre o cliente e um agent de IA. \n\n# Cria a somente a resposta não precisa justificar sua resposta\n\n# Identifique o cliente não enviou mais mensagens de resposta\n\n# Se o cliente não responder mesmo assim, agradeça e diga que irá encerrar o pedido e está a disposição para outros pedidos\n\n# Use frase simples e naturais como nos exemplos\n\nExemplos : \n- 'Vamos continuar seu agendamento?' \n- 'Vamos agendar sua visita' \n\n# Conversa entre o cliete e o agente de IA:\n{{ $json.texto }}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[-440,3280],"id":"b264028c-d8c0-40b6-99ec-f389f15d326f","name":"Basic LLM Chain"},{"parameters":{"inputText":"={{ $json.texto }}","categories":{"categories":[{"category":"pendente_resposta","description":"Pendende de agendar a visita ou informar horario para visita"},{"category":"encerrada","description":"Houve um desfecho da conversa  ou  agendamento de uma visita foi confirmadoo com hoorario ou o agente de IA se despediu"},{"category":"personal","description":"Pediu infoormação sobre personal"},{"category":"Sem resposta","description":"Ficou sem responder"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[120,3540],"id":"32c7e222-ce34-4bc4-bf39-9c4ce013bed8","name":"Text Classifier"},{"parameters":{"jsCode":"return $('Aggregate').all().map(item => {\n  // Tenta acessar a propriedade 'conversas' e verifica se ela é um array\n  const conversas = item.json.conversas || []; // Garante que é pelo menos um array vazio\n\n  if (!Array.isArray(conversas)) {\n    throw new Error(\"A propriedade 'conversas' não é um array.\");\n  }\n\n  // Processa cada conversa e verifica as mensagens\n  const textoUnico = conversas.map(conversa => {\n    const cliente = conversa.user_message || \"sem mensagem do chatbot\";\n    const agente = conversa.bot_message || \"sem resposta\";\n    \n    // Verifica se a data existe e formata\n    const dataOriginal = conversa.created_at || \"Data da Mensagem indisponível\";\n    const dataFormatada = dataOriginal !== \"Data da Mensagem indisponível\"\n      ? formatarData(dataOriginal)\n      : dataOriginal;\n\n    return `em: ${dataFormatada}\\n\\n - agente(chatbot): ${agente} \\n - cliente: ${cliente}\\n`;\n  }).join('\\n\\n');\n\n  // Retorna o texto final como resultado\n  return {\n    json: {\n      texto: textoUnico\n    }\n  };\n});\n\n// Função para formatar a data\nfunction formatarData(dataString) {\n  const data = new Date(dataString); // Converte a string em objeto Date\n  if (isNaN(data)) {\n    return \"Data inválida\"; // Retorna se a data não for válida\n  }\n  \n  // Formata no padrão DD/MM/YYYY HH:mm\n  const dia = String(data.getDate()).padStart(2, '0');\n  const mes = String(data.getMonth() + 1).padStart(2, '0'); // Mês começa em 0\n  const ano = data.getFullYear();\n  const horas = String(data.getHours()).padStart(2, '0');\n  const minutos = String(data.getMinutes()).padStart(2, '0');\n  \n  return `${dia}/${mes}/${ano} ${horas}:${minutos}`;\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-80,3540],"id":"1454b42f-a53c-4f05-9d52-4817dcd7dd39","name":"Code4"},{"parameters":{"tableId":"chat_messages","fieldsUi":{"fieldValues":[{"fieldId":"phone","fieldValue":"={{ $('Aggregate').item.json.conversas.last().phone }}"},{"fieldId":"message_type","fieldValue":"={{ $('Aggregate').item.json.conversas.last().message_type }}"},{"fieldId":"bot_message","fieldValue":"={{ $json.text }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[940,3600],"id":"1248ac36-9adf-4753-bb07-77e3dd3eb092","name":"Supabase2","credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-640,3520],"id":"20ad6dd2-170a-4229-94ee-653b662276e6","name":"Loop Over Items2"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1120,3600],"id":"be035e7b-ed64-4f85-877d-a5762fc0afc7","name":"Wait2","webhookId":"88302532-fa1b-4e15-b77a-e85dedce41a0"},{"parameters":{"content":"","height":1060,"width":2660,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1140,2940],"typeVersion":1,"id":"c20bf90a-5330-4bdc-b01a-4f02e8605979","name":"Sticky Note58"},{"parameters":{"content":"# Follow up Whatsapp","height":80,"width":393,"color":5},"id":"bec125b6-27c3-4fd2-956b-ab20dbfdfa8b","name":"Sticky Note59","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1060,2980]},{"parameters":{"resource":"messages-api","instanceName":"allan1688","remoteJid":"={{ $('Loop Over Items2').item.json.phone }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[160,3280],"id":"4d06915a-143e-4c33-a6b1-20e0d421778a","name":"Evolution API6","credentials":{"evolutionApi":{"id":"AfcW5UBaTBawYJHp","name":"Evolution UNIVER"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[140,3840],"id":"5f923257-7348-4bcc-bb15-fcf4abef8765","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"y6EOm7GTWxcYjDT6","name":"OpenAi Allan"}}},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"50 8 * * 1-5"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1040,3520],"id":"3f408c14-1a92-4133-b1dd-225a21c7d8c4","name":"Schedule Trigger1"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"conversas","include":"specifiedFields","fieldsToInclude":"id,message_type,created_at,user_message, bot_message,phone","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-280,3540],"id":"d62c0ff0-1015-426d-bb72-a8fb2d08a25c","name":"Aggregate"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-660,3240],"id":"e36c2e61-eef1-4f7e-9058-90ddee04d724","name":"OpenAI Chat Model5","credentials":{"openAiApi":{"id":"y6EOm7GTWxcYjDT6","name":"OpenAi Allan"}}},{"parameters":{"assignments":{"assignments":[{"id":"c9c00627-84a9-49a9-bc7e-d923a5918346","name":"output","value":"={{ $json.text }}","type":"string"},{"id":"0e34f673-b6dc-4748-89d2-a178dfe91853","name":"phone","value":"={{ $('ListChats-Supabase').item.json.phone }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-80,3020],"id":"58946fd1-ad69-4768-a0bc-27aa02c2b1db","name":"SetConfig1"},{"parameters":{"promptType":"define","text":"=# Você é um agente facilitador de vendas e está buscando conversas não finalizadas entre o cliente e um agent de IA. \n\n# Cria a somente a resposta não precisa justificar sua resposta\n\n# Identifique o cliente não enviou mais mensagens de resposta\n\n# Se o cliente não responder mesmo assim, agradeça e diga que irá encerrar o pedido e está a disposição para outros pedidos\n\n# Use frase simples e naturais como nos exemplos\n\nExemplos : \n- 'Posso pedir um personal para entrar em contato?' \n\n# Conversa entre o cliete e o agente de IA:\n{{ $json.texto }}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[-480,3020],"id":"6fe273f1-a37f-4cd8-970c-213acb021dc1","name":"Basic LLM Chain2"},{"parameters":{"resource":"messages-api","instanceName":"allan1688","remoteJid":"={{ $('Loop Over Items2').item.json.phone }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[160,3020],"id":"1088d05d-1585-410b-befb-eee204d17dc3","name":"Evolution API7","credentials":{"evolutionApi":{"id":"AfcW5UBaTBawYJHp","name":"Evolution UNIVER"}}}],"connections":{"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"buscar_documentos","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Supabase Vector Store":{"ai_vectorStore":[[{"node":"buscar_documentos","type":"ai_vectorStore","index":0}]]},"OpenAI3":{"ai_languageModel":[[{"node":"Parser  Chain","type":"ai_languageModel","index":0}]]},"Loop Over Items3":{"main":[[],[{"node":"Evolution API","type":"main","index":0}]]},"OutputParser1":{"ai_outputParser":[[{"node":"Parser  Chain","type":"ai_outputParser","index":0}]]},"Parser  Chain":{"main":[[{"node":"Split de Mensagem","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Atendente","type":"ai_languageModel","index":0}]]},"Atendente":{"main":[[{"node":"Switch2","type":"main","index":0},{"node":"Busca Telefone","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Atendente","type":"ai_memory","index":0}]]},"Switch2":{"main":[[{"node":"Parser  Chain","type":"main","index":0}],[]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0}]]},"Evolution API":{"main":[[{"node":"1 segundo","type":"main","index":0}]]},"Evolution API1":{"main":[[{"node":"ListMessages-Supabase2","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Cria Histórico Supabase","type":"main","index":0}]]},"If4":{"main":[[{"node":"Adiciona CHAT supabase","type":"main","index":0}],[{"node":"Atualiza CHAT Supabase","type":"main","index":0}]]},"Busca Telefone":{"main":[[{"node":"If4","type":"main","index":0}]]},"Adiciona CHAT supabase":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Atualiza CHAT Supabase":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Cria Histórico Supabase":{"main":[[{"node":"Delete Memory","type":"main","index":0}]]},"Split de Mensagem":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"1 segundo":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"buscar_documentos":{"ai_tool":[[{"node":"Agente Rag","type":"ai_tool","index":0}]]},"ListMessages-Supabase2":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"Code6","type":"main","index":0}]]},"Code6":{"main":[[{"node":"Basic LLM Chain1","type":"main","index":0}]]},"Basic LLM Chain1":{"main":[[{"node":"Evolution API2","type":"main","index":0}]]},"Evolution API2":{"main":[[{"node":"Pausar IA1","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Switch6","type":"main","index":0}],[{"node":"Supabase1","type":"main","index":0}]]},"Supabase1":{"main":[[{"node":"Switch6","type":"main","index":0}]]},"Webhook EVO":{"main":[[{"node":"Dados","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"If3":{"main":[[{"node":"Redis5","type":"main","index":0}],[{"node":"Redis4","type":"main","index":0}]]},"Redis4":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Redis5":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Text Memory1","type":"main","index":0}],[{"node":"Text Memory1","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Edit Fields3","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"If3","type":"main","index":0}]]},"Compara Get Memory1":{"main":[[{"node":"Mensagem Completa","type":"main","index":0}]]},"Text Memory1":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Audio Memory1":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Edit Fields8":{"main":[[{"node":"Compara Get Memory1","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Get Memory 2","type":"main","index":0}]]},"Get Memory 1":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Get Memory 2":{"main":[[{"node":"Edit Fields8","type":"main","index":0}]]},"Switch6":{"main":[[{"node":"Rotas1","type":"main","index":0}],[{"node":"Verificar Pause","type":"main","index":0}]]},"Mensagem Completa":{"main":[[{"node":"Agente Rag","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Audio Memory1","type":"main","index":0}]]},"OpenAI Model":{"ai_languageModel":[[{"node":"Agente Treinamento RAG","type":"ai_languageModel","index":0}]]},"Treinamento_feito":{"ai_tool":[[{"node":"Agente Treinamento RAG","type":"ai_tool","index":0}]]},"Character Text Splitter1":{"ai_textSplitter":[[{"node":"Default Data Loader1","type":"ai_textSplitter","index":0}]]},"Aggregate1":{"main":[[{"node":"Summarize1","type":"main","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Insert into Supabase Vectorstore1","type":"ai_embedding","index":0}]]},"Default Data Loader1":{"ai_document":[[{"node":"Insert into Supabase Vectorstore1","type":"ai_document","index":0}]]},"Download File1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Extract from Excel2":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Agente Treinamento RAG":{"main":[[{"node":"Deleta linhas antigas do documento1","type":"main","index":0}]]},"Rotas":{"main":[[],[{"node":"Supabase","type":"main","index":0}],[{"node":"Agente Treinamento RAG","type":"main","index":0}]]},"Pausar IA":{"main":[[{"node":"Salvar Historicoo Humano","type":"main","index":0}]]},"Verificar Pause":{"main":[[{"node":"Rota Atendimento","type":"main","index":0}]]},"Rota Atendimento":{"main":[[{"node":"Switch1","type":"main","index":0}],[{"node":"Salvar Historicoo Humano1","type":"main","index":0}]]},"Rotas1":{"main":[[{"node":"Pausar IA","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Reativar IA":{"main":[[{"node":"Salvar Historicoo Humano","type":"main","index":0}]]},"Dados":{"main":[[{"node":"Rotas","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Reativar IA","type":"main","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"Agente Rag","type":"ai_languageModel","index":0}]]},"Agente Rag":{"main":[[{"node":"Atendente","type":"main","index":0}]]},"Atualizar_treinamento":{"ai_tool":[[{"node":"Agente Treinamento RAG","type":"ai_tool","index":0}]]},"Switch":{"main":[[{"node":"Extract PDF Text","type":"main","index":0}],[{"node":"Extract from Excel2","type":"main","index":0}],[{"node":"Extract from Excel","type":"main","index":0}],[{"node":"Extract Document Text","type":"main","index":0}]]},"Extract Document Text":{"main":[[{"node":"Insert into Supabase Vectorstore1","type":"main","index":0}]]},"Extract PDF Text":{"main":[[{"node":"Insert into Supabase Vectorstore1","type":"main","index":0}]]},"Summarize1":{"main":[[{"node":"Insert into Supabase Vectorstore1","type":"main","index":0}]]},"Extract from Excel":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Download File1","type":"main","index":0}]]},"Deleta linhas antigas do documento1":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Deleta linhas antigas do documento1","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Atendente1","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Atendente1","type":"ai_memory","index":0}]]},"Salvar Historicoo Humano1":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Switch4","type":"main","index":0}]]},"Switch4":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Evolution API3","type":"main","index":0}]]},"Google Drive2":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Google Drive3":{"main":[[{"node":"Google Drive2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Google Drive3","type":"main","index":0}]]},"Evolution API3":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"ListChats-Supabase":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"ListMessages-Supabase":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"DisableMessage-Supabase":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"SetConfig":{"main":[[{"node":"Evolution API6","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"SetConfig","type":"main","index":0},{"node":"Supabase2","type":"main","index":0}]]},"Text Classifier":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}],[{"node":"Wait2","type":"main","index":0}],[{"node":"Basic LLM Chain2","type":"main","index":0}],[{"node":"Wait2","type":"main","index":0}]]},"Code4":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"Supabase2":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"ListMessages-Supabase","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"DisableMessage-Supabase","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"ListChats-Supabase","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Code4","type":"main","index":0}]]},"OpenAI Chat Model5":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0},{"node":"Basic LLM Chain2","type":"ai_languageModel","index":0}]]},"SetConfig1":{"main":[[{"node":"Evolution API7","type":"main","index":0}]]},"Basic LLM Chain2":{"main":[[{"node":"SetConfig1","type":"main","index":0},{"node":"Supabase2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Agente Rag":[{"json":{"output":"sem dica de resposta"}}]},"versionId":"585fd9ad-644a-4db6-a3a8-a35a555f6957","triggerCount":0,"tags":[]}