workflows/Agente IA - AGENDAMENTO.json
{"createdAt":"2025-05-26T15:23:28.485Z","updatedAt":"2025-06-11T16:03:23.550Z","id":"wArn6OoB3OyxSDbS","name":"Agente IA - AGENDAMENTO","active":false,"isArchived":false,"nodes":[{"parameters":{"model":"gpt-4.1-mini","options":{}},"id":"6ac02751-ddf7-4617-be2d-a33b9d2d06d6","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[340,1860],"credentials":{"openAiApi":{"id":"y6EOm7GTWxcYjDT6","name":"OpenAi Allan"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data || $json.text || $json.concatenated_data }}","options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $('Set File ID').first().json.file_id }}"}]}}},"id":"f746081f-a5b7-4cca-a030-1583f61b2d8d","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[-3180,2240]},{"parameters":{"options":{}},"id":"97e1d7e1-166e-4f68-908d-cf8cfd7172b5","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[-3340,2340],"credentials":{"openAiApi":{"id":"y6EOm7GTWxcYjDT6","name":"OpenAi Allan"}}},{"parameters":{"content":"## Busca Info no RAG","height":80,"width":250,"color":5},"id":"81e1e978-2310-4148-849c-504505db64c3","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[220,2020]},{"parameters":{"content":"# Ferramenta para Adicionar um Arquivo do Google Drive ao Banco de Dados Vetorial.","height":80,"width":1493,"color":5},"id":"08ff9b96-2e5b-4a65-a0df-df204dad19c0","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-5040,1740]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"403b3eb1-071b-4b58-b8da-ea7a27163db3","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-4080,2020],"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"cQnW1e2PklBVDK61","name":"Google Drive allan"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyX","value":9}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1-VFM2BMrBv6B06KGduRv2y0PSOvCdVVM","mode":"list","cachedResultName":"Agente de IA - database","cachedResultUrl":"https://drive.google.com/drive/folders/1-VFM2BMrBv6B06KGduRv2y0PSOvCdVVM"},"event":"fileCreated","options":{}},"id":"0ea95ded-c0f9-4050-9fc7-898e34e66234","name":"File Created","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-4980,1960],"credentials":{"googleDriveOAuth2Api":{"id":"cQnW1e2PklBVDK61","name":"Google Drive allan"}}},{"parameters":{"pollTimes":{"item":[{"hour":9}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1-VFM2BMrBv6B06KGduRv2y0PSOvCdVVM","mode":"list","cachedResultName":"Agente de IA - database","cachedResultUrl":"https://drive.google.com/drive/folders/1-VFM2BMrBv6B06KGduRv2y0PSOvCdVVM"},"event":"fileUpdated","options":{}},"id":"4c7c50f5-e721-4562-9eeb-dfbc58eee8b8","name":"File Updated","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-4980,2160],"credentials":{"googleDriveOAuth2Api":{"id":"cQnW1e2PklBVDK61","name":"Google Drive allan"}}},{"parameters":{"operation":"text","options":{}},"id":"a8adfd35-38f9-4f6c-a960-9b99339c2bd7","name":"Extract Document Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-3660,2220],"alwaysOutputData":true},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"f1e190d0-42bb-43eb-bccb-16464f8e2bab","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[60,1980],"credentials":{"openAiApi":{"id":"y6EOm7GTWxcYjDT6","name":"OpenAi Allan"}}},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $json.id }}","type":"string"},{"id":"f4536df5-d0b1-4392-bf17-b8137fb31a44","name":"file_type","value":"={{ $json.mimeType }}","type":"string"},{"id":"c774ed34-0d67-44b7-a537-83810f357b7c","name":"originalFilename","value":"={{ $json.originalFilename }}","type":"string"},{"id":"dff39c85-b4a2-45ba-a5ff-f4b311999efc","name":"sha1Checksum","value":"={{ $json.sha1Checksum }}","type":"string"}]},"options":{}},"id":"9342a09e-c642-40e1-85bb-9daafa6de171","name":"Set File ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4800,2000]},{"parameters":{"content":"# Agente IA","height":80,"width":276,"color":5},"id":"e9c06826-83df-4738-bc8a-4f09891b6d36","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-820,1100]},{"parameters":{"operation":"pdf","options":{}},"id":"8e1f8f86-6b0e-41e9-afb3-915d5be2c65b","name":"Extract PDF Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-3660,1840]},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"ae70e0cd-3f39-47d2-aeb1-72efaa934bd0","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-3520,2020]},{"parameters":{},"id":"785bd601-ef4b-4f33-94b8-370ffed07135","name":"Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[-3020,2380]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"options":{}},"id":"8d328dd4-7900-4220-9447-24942aae7fbd","name":"Summarize","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[-3380,2020]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.file_type }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"2ae7faa7-a936-4621-a680-60c512163034","leftValue":"={{ $json.file_type }}","rightValue":"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"fc193b06-363b-4699-a97d-e5a850138b0e","leftValue":"={{ $json.file_type }}","rightValue":"application/vnd.google-apps.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{"fallbackOutput":2}},"id":"f9b48db5-29f9-416a-8bf2-fd4884242bf8","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-3900,2020]},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"56a2c1e1-e90b-4681-a445-be019b2d1a22","name":"Insert into Supabase Vectorstore","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[-3200,2020],"credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}}},{"parameters":{"tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"1f9d9bbb-cf03-4689-ae67-f3172293ad67","name":"Supabase Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[40,1860],"credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}}},{"parameters":{"operation":"xlsx","options":{}},"id":"084c1cf6-f129-4097-b0e9-72fd83442a78","name":"Extract from Excel","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-3660,2020]},{"parameters":{"content":"","height":620,"width":820,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-840,1080],"typeVersion":1,"id":"d44a6c40-23c3-4e17-a2f7-08b814e6dfce","name":"Sticky Note4"},{"parameters":{"content":"","height":400,"width":480,"color":4},"type":"n8n-nodes-base.stickyNote","position":[0,1720],"typeVersion":1,"id":"4d8952c7-8550-45da-95df-ef53e4388ba1","name":"Sticky Note5"},{"parameters":{"content":"","height":840,"width":2180,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-5060,1720],"typeVersion":1,"id":"14b7a582-61c6-4f07-b464-02534663011f","name":"Sticky Note6"},{"parameters":{"content":"## Arquivos criados em uma pasta específica > Verificar o tipo de arquivo e realizar conversão > Extrair o texto > Adicionar ao Vector Store","height":80,"width":1600,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-5040,2420],"typeVersion":1,"id":"59a16c0e-b0ac-4ca2-a2e3-a50046980cf2","name":"Sticky Note12"},{"parameters":{"content":"## Gatilho de Monitoramento","height":480,"width":213,"color":5},"id":"b3b2f807-a02b-4712-a046-4cbc428f242f","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-5020,1860]},{"parameters":{"operation":"get","tableId":"dados_cliente","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Webhook EVO').item.json.body.data.key.remoteJid }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3580,1440],"id":"9bbcb0ce-7914-490f-a179-d700cb713eda","name":"Supabase","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4a6d9aac-8565-4c58-abe3-8741393a5535","leftValue":"={{ $json.telefone }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3400,1440],"id":"495ee7d2-8505-49f6-b498-9887d973df15","name":"If1"},{"parameters":{"action":"generate"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[-3280,1540],"id":"ea1b061c-fcc4-4633-b055-dd4977bdd46f","name":"Gerar sessionID"},{"parameters":{"tableId":"dados_cliente","fieldsUi":{"fieldValues":[{"fieldId":"sessionid","fieldValue":"={{ $json.data }}"},{"fieldId":"telefone","fieldValue":"={{ $('Webhook EVO').item.json.body.data.key.remoteJid }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3140,1540],"id":"e44f634b-ed30-4868-be0d-a86b772ada5b","name":"Supabase1","credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}}},{"parameters":{"model":"gpt-4.1-mini","options":{}},"id":"2c1dbfbf-ed24-47c2-a94a-fed062feed18","name":"OpenAI3","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[200,860],"credentials":{"openAiApi":{"id":"y6EOm7GTWxcYjDT6","name":"OpenAi Allan"}}},{"parameters":{"options":{}},"id":"7041b49c-e040-4921-a0f8-6716d6517614","name":"Loop Over Items3","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[640,680]},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"messages\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\"messages\"]\n}"},"id":"dad0eccb-ae10-4461-b608-49176521dcf3","name":"OutputParser1","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[440,860]},{"parameters":{"promptType":"define","text":"=Whatsapp message to be splitted and formated: {{ $json.output }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=Por favor, gere a saída no seguinte formato JSON:\n{\n  \"messages\": [\n    \"splitedMessage\",\n    \"splitedMessage\",\n    \"splitedMessage\"\n  ]\n}\n\nAs mensagens devem ser divididas de forma natural, afinal estamos conversando com um humano, não é mesmo?\n\nCertifique-se de que a resposta siga exatamente essa estrutura, incluindo os colchetes e as aspas.\n\n### Jamais separe uma mensagem vazia.\n\n### Certifique-se de que a resposta siga exatamente essa estrutura abaixo, deixando somente entre '*' para negrito e nunca fugindo das demais regras de markdown do whatsapp:\n\t\t\t- *negrito* (substitua '**' por '*')\n\t\t\t- ~tachado~ (caso seja algo que foi excluído ou alterado)\n\t\t\t- _itálico_.(extremamente raro)\n            - `link` (usar sempre em todos os links)\n\nTudo o que for link, pode colocar entre \"`\", ou seja, na seguinte formatação: `www.link.com.br`\n"}]}},"id":"375d7a55-07b5-49f7-bced-147e88c48ad8","name":"Parser  Chain","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[180,680]},{"parameters":{"content":"","height":620,"width":1100,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1960,1080],"typeVersion":1,"id":"ccec5cc3-5663-42b8-abdd-d9ad70d1b09b","name":"Sticky Note17"},{"parameters":{"content":"","height":560,"width":1180,"color":4},"type":"n8n-nodes-base.stickyNote","position":[0,400],"typeVersion":1,"id":"84fa3389-0d2a-452b-9f3d-a769f549c4e7","name":"Sticky Note18"},{"parameters":{"content":"# Divisão de Mensagens Inteligente - Texto","height":80,"width":736,"color":5},"id":"dbfa80eb-e399-47ce-86da-1915d0f5dbe4","name":"Sticky Note19","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[20,420]},{"parameters":{"content":"","height":780,"width":880,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-2860,920],"typeVersion":1,"id":"454747f2-8d58-4d0c-89d2-72b5ab80e282","name":"Sticky Note20"},{"parameters":{"content":"","height":440,"width":740,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-3620,1260],"typeVersion":1,"id":"be5f25e6-44c9-4c06-84ac-b5ff8b078a59","name":"Sticky Note22"},{"parameters":{"content":"# Gera/Consulta sessionId","height":80,"width":596,"color":5},"id":"22d683d3-db34-40bb-9169-0dbdfbe9af7c","name":"Sticky Note23","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3600,1280]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"0985904e-7d4e-4fba-ae26-2c44200855e1","leftValue":"={{ $('Webhook EVO').item.json[\"body\"][\"data\"][\"messageType\"] }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"imagem"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"52aaf749-fe4f-44e4-880e-15b2bfc027f1","leftValue":"={{ $('Webhook EVO').item.json[\"body\"][\"data\"][\"messageType\"] }}","rightValue":"extendedTextMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"e514e613-fd6a-48bd-b0ae-bae2448c810e","leftValue":"={{ $('Webhook EVO').item.json[\"body\"][\"data\"][\"messageType\"] }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Webhook EVO').item.json[\"body\"][\"data\"][\"messageType\"] }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"}]},"options":{}},"id":"ad78fab2-a69c-41e4-8ce2-f37853f8b52e","name":"Switch3","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-180,1140]},{"parameters":{"content":"","height":440,"width":780,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-4800,1260],"typeVersion":1,"id":"be8ed465-ad2d-47e7-b4ce-07c60e62b641","name":"Sticky Note26"},{"parameters":{"model":"gpt-4.1-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-800,1480],"id":"0e73f1aa-2c31-47fd-b11e-574d12292575","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"y6EOm7GTWxcYjDT6","name":"OpenAi Allan"}}},{"parameters":{"jsCode":"// Obtém os valores dos nós anteriores\nconst sessionid1 = $input.item.json.data;  // Do nó \"Gerar sessionID\"\nconst sessionid2 = $input.item.json.sessionid;  // Do nó \"Supabase\"\n\n// Retorna apenas o que existir, chamando sempre de \"sessionId\"\nreturn [{ sessionId: sessionid1 || sessionid2 || null }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3020,1380],"id":"03cbf671-7d09-483c-93f1-c36e058805da","name":"Code1"},{"parameters":{"promptType":"define","text":"={\n  \"query\": \"{{ $json.mensagem_completa }}\",\n  \"parameters\": {\n    \"tools\": {\n      \"mandatory_tool\": {\n        \"name\": \"buscar_documentos\",\n        \"description\": \"Sempre use esta ferramenta para buscar informações relevantes antes de responder. A execução desta ferramenta é obrigatória em todas as interações, sem exceções.\",\n        \"required\": true\n      }\n    }\n  }\n}\n","options":{"systemMessage":"={\n  \"DataAtual\": \"{{ $now.weekdayLong }},{{ $now.format('dd/MM/yyyy') }},{{ $now.hour.toString().padStart(2, '0') }}:{{ $now.minute.toString().padStart(2, '0') }}\",\n\n  \"Agent\": {\n    \"nome\": \"Agnes\",\n    \"Empresa\": \"Advocacia Montimór\",\n    \"personalidade\": \"Secretária que coleta informações para o escritório. Ela é uma atendente objetiva e profissional, focada em coletar informações essenciais do caso.\",\n    \"objetivo\": \"Coletar informações fundamentais do caso e encaminhar para análise jurídica.\"\n  },\n\n  \"tools\": [\n    {\n      \"name\": \"buscar_documentos\",\n      \"description\": \"Sempre use esta ferramenta para buscar informações relevantes antes de responder. A execução desta ferramenta é obrigatória em todas as interações, sem exceções.\",\n      \"required\": true\n    }\n  ],\n\n  \"interpretacao_de_datas\": {\n    \"regras\": [\n      {\n        \"expressao\": \"hoje\",\n        \"acao\": \"{{ $now.format('dd/MM/yyyy') }}\"\n      },\n      {\n  \"expressao\": \"amanhã\",\n  \"acao\": \"{{ (() => { const hoje = new Date(); hoje.setDate(hoje.getDate() + 1); return hoje.toLocaleDateString('pt-BR'); })() }}\"\n}\n    ]\n  },\n\n  \"passos_do_atendimento\": [\n    {\n      \"passo\": 1,\n      \"descricao\": \"Apresentação e identificação do cliente\",\n      \"detalhes\": [\n        \"Olá, sou Agnes da Advocacia Montimór. Por favor, qual o seu nome completo?\"\n      ]\n    },\n    {\n      \"passo\": 2,\n      \"descricao\": \"Coleta inicial do caso\",\n      \"detalhes\": [\n        \"Por favor, me explique detalhadamente o seu caso para que possamos te ajudar da melhor forma.\",\n        \"Se preferir, pode enviar um áudio explicando a situação.\"\n      ]\n    },\n    {\n      \"passo\": 3,\n      \"descricao\": \"Coleta de informações essenciais\",\n      \"perguntas_obrigatorias\": [\n        \"Você ainda trabalha na empresa? Se não, há quanto tempo saiu?\",\n        \"Qual o período total que trabalhou/trabalha nesta empresa?\",\n        \"Qual era/é o seu salário?\",\n        \"Trabalha de carteira assinada?\"\n      ]\n    },\n    {\n      \"passo\": 4,\n      \"descricao\": \"Resumo do caso\",\n      \"detalhes\": [\n        \"Criar resumo objetivo contendo:\",\n        \"- Situação atual de vínculo\",\n        \"- Tempo de trabalho\",\n        \"- Salário\",\n        \"- Descrição do caso\"\n      ]\n    },\n    {\n      \"passo\": 5,\n      \"descricao\": \"Encaminhamento\",\n      \"detalhes\": [\n        \"Seu caso será encaminhado agora para um de nossos advogados disponíveis para análise. Em breve ele entrará em contato por aqui.\",\n        \"Seu número de protocolo é: 251213\"\n      ]\n    }\n  ],\n\n  \"regras_de_atuacao\": [\n    {\n      \"regras_universal\": [\n        \"Manter foco exclusivo na coleta das informações essenciais\",\n        \"Não fornecer aconselhamento jurídico\",\n        \"Não discutir outros assuntos ou fazer indicações\",\n        \"Usar apenas o número de protocolo 251213\",\n        \"Encaminhar dúvidas jurídicas para advogados\",\n        \"Não encaminhe para o advogado caso não tenha o nome da pessoa. Caso não tenha, pergunte o nome e avise que só precisa confirmar o nome para encaminhar. Caso já tenha o nome, pode seguir normalmente com o atendimento.\",\n        \"Caso já tenha mandado um resumo do caso para o cliente, não envie novamente para evitar textos repetitivos. Apenas informe que vai encaminhar a nova informação para o advogado.\"\n      ]\n    }\n  ],\n\n  \"sobre_o_escritorio\": [\n    \"Usar a ferramenta 'buscar_documentos' caso a pessoa faça uma pergunta que você não tem a resposta.\"\n  ],\n\n  \"estilo_de_comunicacao\": [\n    \"Manter comunicação objetiva e profissional\",\n    \"Usar linguagem clara e direta\",\n    \"Focar nas informações essenciais do caso\",\n    \"Confirmar informações importantes: ‘Correto?’, ‘Está certo?'\"\n  ]\n}\n"}},"id":"236608cb-c4ea-4630-aa9f-9df826d1b0e2","name":"Atendente","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-660,1280]},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-4160,1040],"typeVersion":1,"id":"6b8768e0-e2b4-430d-a7f5-05845187ab8b","name":"Sticky Note31"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-3640,820],"typeVersion":1,"id":"cc283d07-6f29-455c-9fcd-5631ed6747ab","name":"Sticky Note33"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-4260,2000],"id":"911083c1-bab5-4224-b1fb-7cd4defcd521","name":"Loop Over Items"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-3120,1040],"typeVersion":1,"id":"afdbce0a-af31-4f21-a13c-71e74c24e312","name":"Sticky Note37"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Code1').item.json.sessionId }}","contextWindowLength":100},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-680,1480],"id":"5957dd74-f7c0-4553-8604-554206814a08","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"7BihdPSijog1ko5Q","name":"Postgres Allan - SUPA"}}},{"parameters":{"httpMethod":"POST","path":"donny-ia","options":{}},"id":"37d9d842-b653-45d3-bda9-c773ef318f51","name":"Webhook EVO","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-4980,1440],"webhookId":"abda557b-c5cd-4fa5-9442-6d3a527df586"},{"parameters":{"content":"# Pausa para Atendimento Humano","height":80,"width":656,"color":5},"id":"3a6b6e4e-e980-4ab3-a33b-83ff509608b4","name":"Sticky Note41","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4780,1280]},{"parameters":{"content":"","height":440,"width":360,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-4000,1260],"typeVersion":1,"id":"ea324955-1bdc-4bd0-8d7f-25e640642373","name":"Sticky Note42"},{"parameters":{"content":"# Dados","height":80,"width":150,"color":5},"id":"aa02051d-b11e-46ef-839b-97647c4c20d1","name":"Sticky Note43","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3980,1280]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.output }}","rightValue":"221701","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Envia para Atendente"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"820760d6-3546-4007-8917-55d366a74261","leftValue":"={{ $json.output }}","rightValue":"221701","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Transfere para Atendente"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-320,1320],"id":"ed6554ff-abed-4a89-88b8-dd2cc373bed4","name":"Switch2"},{"parameters":{"model":"gpt-4.1-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[1560,1600],"id":"30e4335b-5e59-49dc-b734-7b5b7564b00a","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"y6EOm7GTWxcYjDT6","name":"OpenAi Allan"}}},{"parameters":{"content":"","height":400,"width":2200,"color":4},"type":"n8n-nodes-base.stickyNote","position":[0,1300],"typeVersion":1,"id":"908c5e0d-73ac-4afd-83d6-ce174284e4a0","name":"Sticky Note44"},{"parameters":{"content":"# AVISAR NOVO LEAD NO GRUPO","height":80,"width":656,"color":5},"id":"f24959fb-9700-4892-b05a-37b72282632e","name":"Sticky Note45","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[20,1320]},{"parameters":{"resource":"messages-api","instanceName":"allan1688","remoteJid":"={{ $('Variáveis').item.json.telefone }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[860,700],"id":"12f8fcc9-b6ee-447a-ade6-fa981e8f1907","name":"Evolution API","credentials":{"evolutionApi":{"id":"AfcW5UBaTBawYJHp","name":"Evolution UNIVER"}}},{"parameters":{"resource":"messages-api","instanceName":"=allan1688","remoteJid":"={{ $('Variáveis').item.json.telefone }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[80,1420],"id":"e348e1be-0754-458d-b1fc-6bafb72e3106","name":"Evolution API1","credentials":{"evolutionApi":{"id":"AfcW5UBaTBawYJHp","name":"Evolution UNIVER"}}},{"parameters":{"resource":"messages-api","instanceName":"allan1688","remoteJid":"120363410187799112@g.us","messageText":"=🚨 Novo Lead: wa.me/{{ $('Variáveis').item.json.telefone.split('@')[0] }} 🚨\n Cliente: {{ $('Webhook EVO').item.json.body.data.pushName }}\n\nCASO:\n{{ $json.text }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1940,1420],"id":"4ef3045c-5a1f-4aac-bfbb-23a59034596c","name":"Evolution API2","credentials":{"evolutionApi":{"id":"AfcW5UBaTBawYJHp","name":"Evolution UNIVER"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[660,180],"id":"ace6a131-6da7-4360-8fb5-c93c4b68ce56","name":"Merge1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"defac08a-6745-422b-bb05-90da9f47d91b","leftValue":"={{ $('Busca Telefone').last().json.values() }}","rightValue":"","operator":{"type":"array","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[200,140],"id":"01a15bd4-ac35-4fa2-b2bb-b47090211fd5","name":"If4"},{"parameters":{"content":"","height":380,"width":1180,"color":4},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"7d3f9a3c-0b3d-4374-a0b9-ee11fcbe88fa","name":"Sticky Note54"},{"parameters":{"content":"# Cadastra Chat Supabase","height":80,"width":450,"color":5},"id":"ba1ccd58-ce13-446f-aad8-f02b0f602378","name":"Sticky Note55","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[20,20]},{"parameters":{"resource":"messages-api","instanceName":"allan1688","remoteJid":"={{ $('Variáveis').item.json.telefone }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[200,520],"id":"b6ba6b63-ab3c-4839-b82a-700f5d2aae1a","name":"Evolution API5","credentials":{"evolutionApi":{"id":"AfcW5UBaTBawYJHp","name":"Evolution UNIVER"}}},{"parameters":{"operation":"formatDate","date":"={{ $now }}","format":"custom","customFormat":"dd-MM-yyyy","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-3780,1440],"id":"be9a481b-4fb5-4180-af17-f8b80d13b481","name":"Date & Time1"},{"parameters":{"operation":"get","tableId":"chats","filters":{"conditions":[{"keyName":"phone","keyValue":"={{ $('Webhook EVO').item.json.body.data.key.remoteJid }}"},{"keyName":"app","keyValue":"drajessica"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[60,140],"id":"ecb357a7-c2aa-4024-9a2a-83579719aefb","name":"Busca Telefone","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}},"onError":"continueRegularOutput"},{"parameters":{"tableId":"chats","fieldsUi":{"fieldValues":[{"fieldId":"phone","fieldValue":"={{ $('Webhook EVO').item.json.body.data.key.remoteJid }}"},{"fieldId":"updated_at","fieldValue":"={{ $now}}"},{"fieldId":"conversation_id","fieldValue":"={{ $('Code1').item.json.sessionId }}"},{"fieldId":"app","fieldValue":"drajessica"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[440,80],"id":"73f0b0ff-49ad-45c2-bf41-d54ff445f679","name":"Adiciona CHAT supabase","credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}}},{"parameters":{"operation":"update","tableId":"chats","filters":{"conditions":[{"keyName":"phone","condition":"eq","keyValue":"={{ $('Variáveis').item.json.telefone }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"updated_at","fieldValue":"={{ $now }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[440,240],"id":"bd108a85-92c4-4db8-a3a5-90cddcccf30a","name":"Atualiza CHAT Supabase","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}}},{"parameters":{"tableId":"chat_messages","fieldsUi":{"fieldValues":[{"fieldId":"phone","fieldValue":"={{ $json.phone }}"},{"fieldId":"conversation_id","fieldValue":"={{ $json.phone }}"},{"fieldId":"bot_message","fieldValue":"={{ $('Atendente').item.json.output }}"},{"fieldId":"user_message","fieldValue":"={{ $('Variáveis').item.json.mensagem }}"},{"fieldId":"message_type","fieldValue":"={{ $('Variáveis').item.json.body.event }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[840,180],"id":"f09577c2-f6b6-460c-8fca-85e92bc3526b","name":"Cria Histórico Supabase","credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7c4cdb12-9452-42a6-a39a-c268bd38dce1","leftValue":"={{ $json.output.length }}","rightValue":90,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[40,600],"id":"394956da-d1e3-46b1-9035-f047e16436b6","name":"Menos que 240 Caracteres"},{"parameters":{"fieldToSplitOut":"output.messages","options":{"destinationFieldName":"output"}},"id":"ca1be0f0-1a50-435c-89cb-1c94e1a609b3","name":"Split de Mensagem","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[480,680]},{"parameters":{"amount":1},"id":"59b5bf53-bb37-462b-b473-4b944d6db5bb","name":"1 segundo","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1000,700],"webhookId":"5f334e11-2cf7-4800-a007-464a8f841bd6"},{"parameters":{"jsCode":"return $items(\"Set File ID\").map(item => {\n  return {\n    json: {\n      file_id: item.json.file_id,\n      file_type: item.json.file_type\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4440,2000],"id":"29549ecb-bf32-4d1f-9547-2f1a5443da2e","name":"Retorna ID do arquivo"},{"parameters":{"operation":"delete","tableId":"documents","filterType":"string","filterString":"=metadata->>file_id=like.*{{ $json.file_id }}*"},"id":"c9119436-167c-4391-8508-c09e73f41b2d","name":"Deleta linhas antigas do documento","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-4640,2000],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}}},{"parameters":{"operation":"executeQuery","query":"create table dados_cliente (\n  id bigserial primary key,\n  created_at TIMESTAMPTZ, \n  telefone text, \n  sessionid text\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-4100,840],"id":"1d3a9c71-0cc3-4cb4-a998-38e7df4a9ff4","name":"Cria Tabela Dados Cliente","credentials":{"postgres":{"id":"7BihdPSijog1ko5Q","name":"Postgres Allan - SUPA"}}},{"parameters":{"operation":"executeQuery","query":"-- Create a table to store your documents\ncreate table documents (\n  id bigserial primary key,\n  content text, -- corresponds to Document.pageContent\n  metadata jsonb, -- corresponds to Document.metadata\n  embedding vector(1536) -- 1536 works for OpenAI embeddings, change if needed\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-3060,840],"id":"6ed4bdbf-b0cd-4d09-82e3-84ea8b6c47db","name":"Cria Tabela Documentos","credentials":{"postgres":{"id":"7BihdPSijog1ko5Q","name":"Postgres Allan - SUPA"}}},{"parameters":{"operation":"executeQuery","query":"delete from documents","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-3060,1060],"id":"5aa43d33-3535-4d9b-93f0-473776d85727","name":"Deleta Conteúdo Documentos","credentials":{"postgres":{"id":"7BihdPSijog1ko5Q","name":"Postgres Allan - SUPA"}}},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-3380,820],"typeVersion":1,"id":"06283bcc-97a8-48c1-a9f0-de0e308f6674","name":"Sticky Note40"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-3120,820],"typeVersion":1,"id":"e5387f6b-c1d0-4fb7-8f66-4c4a4c8b2408","name":"Sticky Note48"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-4420,820],"typeVersion":1,"id":"2997ea25-2bd4-48ea-861a-b9128a748b78","name":"Sticky Note49"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-3900,820],"typeVersion":1,"id":"9b51043a-4c06-4a07-b350-1ef05c85d0cf","name":"Sticky Note50"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-3640,1040],"typeVersion":1,"id":"3d9481a3-a27b-4d73-84a5-9a7bc8fdf4ed","name":"Sticky Note56"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-4160,820],"typeVersion":1,"id":"e6d12418-fd7c-4551-9a41-ab7465faff34","name":"Sticky Note57"},{"parameters":{"operation":"executeQuery","query":"delete from n8n_chat_histories","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-4100,1080],"id":"1e09b16d-a4a3-4eab-8a4a-ebdad81a7e8e","name":"Deleta Histórico","credentials":{"postgres":{"id":"7BihdPSijog1ko5Q","name":"Postgres Allan - SUPA"}}},{"parameters":{"operation":"executeQuery","query":"create function match_documents (\n  query_embedding vector(1536),\n  match_count int default null,\n  filter jsonb DEFAULT '{}'\n) returns table (\n  id bigint,\n  content text,\n  metadata jsonb,\n  similarity float\n)\nlanguage plpgsql\nas $$\n#variable_conflict use_column\nbegin\n  return query\n  select\n    id,\n    content,\n    metadata,\n    1 - (documents.embedding <=> query_embedding) as similarity\n  from documents\n  where metadata @> filter\n  order by documents.embedding <=> query_embedding\n  limit match_count;\nend;\n$$;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-3320,840],"id":"cbbbafae-1e4a-445e-a082-10c4db0f8f89","name":"Cria função Busca em Vetor","credentials":{"postgres":{"id":"7BihdPSijog1ko5Q","name":"Postgres Allan - SUPA"}}},{"parameters":{"operation":"executeQuery","query":"create extension vector;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-3580,840],"id":"a7a6dfb4-0abe-400b-8776-a1fe49947c45","name":"Cria Extensão Vetor","credentials":{"postgres":{"id":"7BihdPSijog1ko5Q","name":"Postgres Allan - SUPA"}}},{"parameters":{"operation":"executeQuery","query":"create table chats (\n  id bigserial primary key,\n  created_at TIMESTAMPTZ, \n  phone text,\n  updated_at text, \n  app text,\n  conversation_id text\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-3840,840],"id":"863ed87a-a89a-49d3-84d3-b47719fb1eae","name":"Cria Tabela Chats","credentials":{"postgres":{"id":"7BihdPSijog1ko5Q","name":"Postgres Allan - SUPA"}}},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-3380,1040],"typeVersion":1,"id":"169fb242-4f7b-4c2d-9f54-69fa1931e9fc","name":"Sticky Note65"},{"parameters":{"operation":"executeQuery","query":"delete from chats","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-3320,1060],"id":"c7e8cb0c-11ca-4314-8c96-a9ad4811330e","name":"Deleta Conteúdo Chats","credentials":{"postgres":{"id":"7BihdPSijog1ko5Q","name":"Postgres Allan - SUPA"}}},{"parameters":{"operation":"executeQuery","query":"delete from dados_cliente","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-3580,1060],"id":"244d4e68-ff22-4265-98d7-97b902d3cef1","name":"Deleta Conteúdo Dados Cliente","credentials":{"postgres":{"id":"7BihdPSijog1ko5Q","name":"Postgres Allan - SUPA"}}},{"parameters":{"operation":"executeQuery","query":"delete from chat_messages","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-3840,1060],"id":"ad92c3c0-4d9f-4006-ac5b-c349e6337a93","name":"Deleta Conteúdo Chat_Messages","credentials":{"postgres":{"id":"7BihdPSijog1ko5Q","name":"Postgres Allan - SUPA"}}},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE chat_messages (\n  id BIGSERIAL PRIMARY KEY,\n  created_at TIMESTAMPTZ, \n  phone TEXT,\n  conversation_id TEXT, \n  bot_message TEXT,\n  user_message TEXT, \n  message_type TEXT,\n  active BOOLEAN DEFAULT TRUE\n);\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-4360,840],"id":"0d2e76ed-298a-47e2-92b1-ef52ed75f8fc","name":"Cria Tabela Chat_Messages","credentials":{"postgres":{"id":"7BihdPSijog1ko5Q","name":"Postgres Allan - SUPA"}}},{"parameters":{"content":"","height":440,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-5060,1260],"typeVersion":1,"id":"d313625e-be8e-4e60-823f-d9a94e9949fb","name":"Sticky Note32"},{"parameters":{"content":"# Webhook","height":100,"width":196,"color":5},"id":"f989644d-1d56-4bd7-beb3-f36a6a639a9f","name":"Sticky Note67","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-5040,1280]},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{"fileName":"file.png","mimeType":"image/png"}},"id":"4f007e3e-6b14-4c6b-b559-68698dde0720","name":"Convert to File1","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-2560,1240]},{"parameters":{"assignments":{"assignments":[{"id":"3c5ccbc9-69d1-4b13-a7c3-e6945bc8c655","name":"data","value":"={{ $('Webhook EVO').item.json.body.data.message.base64 }}","type":"string"}]},"options":{}},"id":"f06db115-0046-4bb1-b34d-2718ce63d3d8","name":"Edit Fields3","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2700,1240]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"ade56c50-1520-4760-8df5-e99617d6d3ad","leftValue":"={{ $('Webhook EVO').item.json.body.data.message.imageMessage.caption }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"6a8ca077-86e5-4a6a-8051-2e79f0b004f7","name":"If3","type":"n8n-nodes-base.if","typeVersion":2,"position":[-2260,1240]},{"parameters":{"operation":"push","list":"={{ $('Code1').item.json.sessionId }}","messageData":"={{ $('Webhook EVO').item.json[\"body\"][\"data\"][\"message\"][\"imageMessage\"][\"caption\"] }}, {{ $json.content.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '').trim()  }}","tail":true},"id":"95f88261-19b4-4229-8e69-e0ad86939eb7","name":"Redis4","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2100,1400],"credentials":{"redis":{"id":"KVRosz1bwqDgMe66","name":"Redis Allan - 0"}}},{"parameters":{"operation":"push","list":"={{ $('Code1').item.json.sessionId }}","messageData":"={{ $json.content.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '').trim()  }}","tail":true},"id":"d23791fa-6da8-4958-914d-dcf45bbefd65","name":"Redis5","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2100,1260],"credentials":{"redis":{"id":"KVRosz1bwqDgMe66","name":"Redis Allan - 0"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"52aaf749-fe4f-44e4-880e-15b2bfc027f1","leftValue":"={{ $('Webhook EVO').item.json.body.data.messageType }}","rightValue":"extendedTextMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"e514e613-fd6a-48bd-b0ae-bae2448c810e","leftValue":"={{ $('Webhook EVO').item.json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Webhook EVO').item.json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"},"id":"f9cfe007-3d99-4e33-84f4-fde48f664d3c"}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c0e434dd-1268-421d-b81b-3a5e90ed9550","leftValue":"={{ $('Webhook EVO').item.json.body.data.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"168b02e4-e02d-48b2-b8e9-f4dcc45eb610","leftValue":"{{ $('Webhook EVO').item.json.body.data.messageType }}","rightValue":"documento","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"documento"}]},"options":{}},"id":"18587b1a-f018-4d39-8141-ca109bec3bed","name":"Switch1","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-2860,1200]},{"parameters":{"content":"# Mensagem Picotada","height":80,"width":396,"color":5},"id":"5140d039-b6b9-46e4-8bd9-6224c546d0a3","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1600,1120]},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"Resumo curto da imagem. Responda sem acento, sem hifens","inputType":"base64","options":{}},"id":"938e93f7-79c4-478e-8e89-1a1c8f3d6ab2","name":"OpenAI1","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[-2400,1240],"credentials":{"openAiApi":{"id":"y6EOm7GTWxcYjDT6","name":"OpenAi Allan"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d5a342e9-585b-42ea-be44-644adae10199","leftValue":"={{ $json.Redis2 }}","rightValue":"={{ $json.Redis1 }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"e728a89c-98aa-4334-b7ab-89f78249a910","name":"Compara Get Memory1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1260,1340]},{"parameters":{"operation":"push","list":"={{ $('Code1').item.json.sessionId }}","messageData":"={{ $('Webhook EVO').item.json.body.data.message.conversation }}","tail":true},"id":"ff5a8570-ea87-4292-a1d4-bd972e9d6081","name":"Text Memory1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2100,940],"credentials":{"redis":{"id":"KVRosz1bwqDgMe66","name":"Redis Allan - 0"}}},{"parameters":{"operation":"push","list":"={{ $('Code1').item.json.sessionId }}","messageData":"={{ $json.text }}","tail":true},"id":"9a95c50d-3e2f-403f-91fe-50287be7ca35","name":"Audio Memory1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2100,1100],"credentials":{"redis":{"id":"KVRosz1bwqDgMe66","name":"Redis Allan - 0"}}},{"parameters":{"assignments":{"assignments":[{"id":"f336a1ff-e577-489d-a739-1eb8bd509245","name":"Redis2","value":"={{ $json.propertyName }}","type":"string"},{"id":"946d1420-e379-46e3-8fcd-3816340fbabb","name":"Redis1","value":"={{ $('Get Memory 1').item.json.propertyName }}","type":"string"}]},"options":{}},"id":"93ebc219-745b-413b-9140-7c01065b70af","name":"Edit Fields8","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1440,1340]},{"parameters":{},"id":"f932c1d2-22d8-4665-b05f-bc444eac4a9a","name":"Wait3","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1760,1340],"webhookId":"31e76dee-de21-4f66-bfe1-bce592f91d03"},{"parameters":{"operation":"get","key":"={{ $('Code1').item.json.sessionId }}","options":{}},"id":"94acc872-f46d-4da3-bf00-ffa8c10d6800","name":"Get Memory 1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1920,1340],"credentials":{"redis":{"id":"KVRosz1bwqDgMe66","name":"Redis Allan - 0"}}},{"parameters":{"operation":"get","key":"={{ $('Code1').item.json.sessionId }}","options":{}},"id":"48659165-4fc0-42a0-93ff-2f93a93443ee","name":"Get Memory 2","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1600,1340],"credentials":{"redis":{"id":"KVRosz1bwqDgMe66","name":"Redis Allan - 0"}}},{"parameters":{"operation":"delete","key":"={{ $('Code1').item.json.sessionId }}"},"id":"c71baebc-e1a2-4906-a1e8-1e4b84169220","name":"Delete Memory","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1020,180],"credentials":{"redis":{"id":"KVRosz1bwqDgMe66","name":"Redis Allan - 0"}}},{"parameters":{"name":"buscar_documentos","description":"Contains all the information about prices and andress that you can check to answer user questions."},"id":"46f536c3-8a21-4fc9-91dd-b7e922a4ffd9","name":"buscar_documentos","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[120,1740]},{"parameters":{"operation":"get","tableId":"dados_cliente","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $json.telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3180,1380],"id":"002c6a20-083e-4f33-b06f-98666ddda80e","name":"Get Dados","credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}}},{"parameters":{"assignments":{"assignments":[{"id":"8d88c137-383f-4307-b3cc-1f6a560ea67b","name":"telefone","value":"={{ $('Webhook EVO').item.json.body.data.key.remoteJid }}","type":"string"},{"id":"7e2f520e-4952-425b-82ca-792cc46680d4","name":"mensagem","value":"={{ $('Webhook EVO').item.json.body.data.message.conversation }}{{ $('Webhook EVO').item.json.body.data.message.extendedTextMessage.text }}","type":"string"},{"id":"de1388b1-a6e4-42df-a6a5-7e9b4594f97d","name":"body.event","value":"={{ $('Webhook EVO').item.json.body.event }}","type":"string"}]},"options":{}},"id":"8cf308b8-ad11-4796-a5cd-8c5767c13db3","name":"Variáveis","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3940,1440]},{"parameters":{"assignments":{"assignments":[{"id":"8f16b1bf-1a3e-4029-8d7a-1bccb919ee43","name":"message.message_id","value":"={{ $('Webhook EVO').item.json.body.data.key.id || '' }}","type":"string"},{"id":"11800d83-ecca-4f9c-a878-a2419db0c8e9","name":"message.chat_id","value":"={{ $('Webhook EVO').item.json.body.data.key.remoteJid || '' }}","type":"string"},{"id":"c33f9527-e661-49e5-8e5e-64f3b430928a","name":"message.content_type","value":"={{ $('Webhook EVO').item.json.body.data.message.extendedTextMessage ? 'text' : '' }}{{ $('Webhook EVO').item.json.body.data.message.conversation ? 'text' : '' }}{{ $('Webhook EVO').item.json.body.data.message.audioMessage ? 'audio' : '' }}{{ $('Webhook EVO').item.json.body.data.message.imageMessage ? 'image' : '' }}","type":"string"},{"id":"06eba1c9-cff0-4f68-b6da-6bb0092466b7","name":"message.content","value":"={{ $('Webhook EVO').item.json.body.data.message.extendedTextMessage?.text || '' }}{{ $('Webhook EVO').item.json.body.data.message.imageMessage?.caption || '' }}{{ $('Webhook EVO').item.json.body.data.message.conversation || '' }}","type":"string"},{"id":"b97f1af3-5361-46fc-9303-d644921231d8","name":"message.timestamp","value":"={{ $('Webhook EVO').item.json.body.data.messageTimestamp.toDateTime('s').toISO() }}","type":"string"},{"id":"dc3dc59c-90a3-4a45-bea2-de092c91083b","name":"message.content_url","value":"={{ $('Webhook EVO').item.json.body.data.message.audioMessage?.url || '' }}{{ $('Webhook EVO').item.json.body.data.message.imageMessage?.url || '' }}","type":"string"},{"id":"8b01a818-a456-476e-bace-adefe2f04eb4","name":"message.event","value":"={{ $('Webhook EVO').item.json.body.data.key.fromMe ? 'outcoming' : 'incoming' }}","type":"string"},{"id":"b2f1f6b5-292f-4695-9e41-be200c6d7053","name":"instance.name","value":"={{ $json.body.instance }}","type":"string"},{"id":"572fcce5-8a26-4e8f-a48a-ef0bee569dcd","name":"instance.apikey","value":"={{ $json.body.apikey }}","type":"string"},{"id":"e90043db-657b-461c-b040-2d6089abfbdb","name":"instance.server_url","value":"={{ $json.body.server_url }}","type":"string"}]},"options":{}},"id":"612090ee-c4ea-4ac4-a846-b7af95009151","name":"dados_para_atendimento_humano1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4720,1440]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.block }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ia Ativa"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"3ef0e01c-cc14-4663-bb4d-2905b350c3ab","leftValue":"={{ $json.block }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ia Desativada"}]},"options":{}},"id":"11319e12-bb39-422a-9c40-83f7253e5581","name":"Switch Block","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-4180,1540]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.message.event }}","rightValue":"outcoming","operator":{"type":"string","operation":"equals"},"id":"94cbe04c-2085-4a6d-9e4f-fc8b24f29da8"}],"combinator":"and"},"renameOutput":true,"outputKey":"outcoming"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"d7b42536-638f-4128-b51b-6aa913e9d9bc","leftValue":"={{ $json.message.event }}","rightValue":"incoming","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"incoming"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"fca3e6ff-128b-461c-b161-228e79303faa","leftValue":"{{ $json.message.type }}","rightValue":"incoming","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"incoming"}]},"options":{}},"id":"4ef4f085-4367-4ea6-978f-e7014f6201d6","name":"Switch6","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-4540,1440]},{"parameters":{"operation":"getAll","tableId":"chats","filters":{"conditions":[{"keyName":"app","condition":"eq","keyValue":"drajessica"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[340,1420],"id":"69afb977-9202-4b7c-9d6d-38b8e670f77f","name":"ListChats-Supabase2","credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}}},{"parameters":{"operation":"getAll","tableId":"chat_messages","matchType":"allFilters","filters":{"conditions":[{"keyName":"phone","condition":"eq","keyValue":"={{ $('Webhook EVO').item.json.body.data.key.remoteJid }}"},{"keyName":"active","condition":"eq","keyValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[860,1440],"id":"2d9c80fb-9edd-472f-871c-658d1de656be","name":"ListMessages-Supabase2","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"conversas","include":"specifiedFields","fieldsToInclude":"id,message_type,created_at,user_message, bot_message,phone, conversation_id","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1120,1440],"id":"005fcd6b-689b-4ed2-99b8-6771b3a5495b","name":"Aggregate2"},{"parameters":{"jsCode":"return $('Aggregate2').all().map(item => {\n  // Tenta acessar a propriedade 'conversas' e verifica se ela é um array\n  const conversas = item.json.conversas || []; // Garante que é pelo menos um array vazio\n\n  if (!Array.isArray(conversas)) {\n    throw new Error(\"A propriedade 'conversas' não é um array.\");\n  }\n\n  // Processa cada conversa e verifica as mensagens\n  const textoUnico = conversas.map(conversa => {\n    const cliente = conversa.user_message || \"sem mensagem do chatbot\";\n    const agente = conversa.bot_message || \"sem resposta\";\n    \n    // Verifica se a data existe e formata\n    const dataOriginal = conversa.created_at || \"Data da Mensagem indisponível\";\n    const dataFormatada = dataOriginal !== \"Data da Mensagem indisponível\"\n      ? formatarData(dataOriginal)\n      : dataOriginal;\n\n    return `em: ${dataFormatada}\\n\\n - agente(chatbot): ${agente} \\n - cliente: ${cliente}\\n`;\n  }).join('\\n\\n');\n\n  // Retorna o texto final como resultado\n  return {\n    json: {\n      texto: textoUnico\n    }\n  };\n});\n\n// Função para formatar a data\nfunction formatarData(dataString) {\n  const data = new Date(dataString); // Converte a string em objeto Date\n  if (isNaN(data)) {\n    return \"Data inválida\"; // Retorna se a data não for válida\n  }\n  \n  // Formata no padrão DD/MM/YYYY HH:mm\n  const dia = String(data.getDate()).padStart(2, '0');\n  const mes = String(data.getMonth() + 1).padStart(2, '0'); // Mês começa em 0\n  const ano = data.getFullYear();\n  const horas = String(data.getHours()).padStart(2, '0');\n  const minutos = String(data.getMinutes()).padStart(2, '0');\n  \n  return `${dia}/${mes}/${ano} ${horas}:${minutos}`;\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1360,1440],"id":"f24cd13c-9487-4e59-a2ec-980fef4460db","name":"Code6"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[580,1420],"id":"ea38f557-51e4-4342-9b89-bb455fe67a4b","name":"Loop Over Items6"},{"parameters":{"promptType":"define","text":"=Você é um agente resumidor de casos dos clientes, você analisa a conversa entre o agente e o cliente e cria um resumo do problema que ele está enfrentando de forma bem detalhada somente do problema do cliente e preferencia pela data da sessão, não precisa de informações sobre as respostas do agente para o cliente, e gera o resultado sem dicas de uso ou informações extras \n\n# Conversa entre o cliete e o agente de IA:\n{{ $json.texto }}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1600,1420],"id":"e6d7fee0-d5a9-4268-946f-bd9aa6af41c5","name":"Basic LLM Chain1"},{"parameters":{"content":"# Filtro de mensagem        ","height":80,"width":396,"color":5},"id":"12f50f68-bbb3-4fb4-9806-6c8b524783ea","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2840,940]},{"parameters":{"operation":"set","key":"={{ $json.message.chat_id }}_block","value":"true","keyType":"string","expire":true,"ttl":4320000},"id":"60e64b93-69af-4322-a281-0381edaa630a","name":"PARA IA","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-4340,1380],"credentials":{"redis":{"id":"KVRosz1bwqDgMe66","name":"Redis Allan - 0"}}},{"parameters":{"operation":"get","propertyName":"block","key":"={{ $json.message.chat_id }}_block","options":{}},"id":"0fd052bc-62c3-4de3-8155-907880fe9559","name":"Verificar Atendimento","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-4340,1540],"credentials":{"redis":{"id":"KVRosz1bwqDgMe66","name":"Redis Allan - 0"}}},{"parameters":{"jsCode":"const data = $item(0).$node[\"Compara Get Memory1\"].json[\"Redis2\"]; // Obtém o valor de Redis2 do nó \"If\"\n\n// Verifica se o dado é uma string que representa um array, e converte se necessário\nlet array = Array.isArray(data) ? data : JSON.parse(data);\n\n// Junta os elementos do array com um espaço entre eles\nconst mensagem_completa = array.join(\" \");\n\n// Retorna o resultado com o nome da variável \"mensagem_completa\"\nreturn [{ json: { mensagem_completa } }];\n"},"id":"824c0c59-4ff7-42e6-82ab-45db278c7fe5","name":"Mensagem Completa","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1040,1320]},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{"fileName":"file.ogg","mimeType":"application/ogg"}},"id":"e07024db-e3e6-46b5-8d21-986d74db54f0","name":"Convert to File","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-2500,1040]},{"parameters":{"assignments":{"assignments":[{"id":"3c5ccbc9-69d1-4b13-a7c3-e6945bc8c655","name":"data","value":"={{ $('Webhook EVO').item.json.body.data.message.base64 }}","type":"string"}]},"options":{}},"id":"352d18d6-e906-449a-a60d-f69a2479f312","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2660,1040]},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"05c24cd0-9457-474f-98fe-83e74871d3cb","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[-2320,1040],"credentials":{"openAiApi":{"id":"y6EOm7GTWxcYjDT6","name":"OpenAi Allan"}}},{"parameters":{"content":"# Agendamento","height":80,"width":283,"color":5},"id":"470269bc-3265-4231-92a3-deab4e718353","name":"Sticky Note15","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2820,1820]},{"parameters":{},"id":"82016d04-dd48-4127-8a3c-3b8dec792449","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-2820,2080]},{"parameters":{"resource":"calendar","calendar":{"__rl":true,"value":"rul9q3s81e3feeu143v0s6m94s@group.calendar.google.com","mode":"list","cachedResultName":"iPhone Allan"},"timeMin":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"query\"][\"start\"] }}","timeMax":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"query\"][\"end\"] }}","options":{}},"id":"abadd7bd-526f-49d6-adf9-26c3f62fb12c","name":"Disponibilidade","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[-1840,1900],"credentials":{"googleCalendarOAuth2Api":{"id":"BTYKfRWVBTh8akLE","name":"Google Calendar allan"}}},{"parameters":{"calendar":{"__rl":true,"value":"rul9q3s81e3feeu143v0s6m94s@group.calendar.google.com","mode":"list","cachedResultName":"iPhone Allan"},"start":"={{ $('Switch4').item.json.query.start }}","end":"={{ $('Switch4').item.json.query.end }}","additionalFields":{"attendees":["={{ $('Switch4').item.json.query.email }}"],"conferenceDataUi":{"conferenceDataValues":{"conferenceSolution":"hangoutsMeet"}},"description":"={{ $('Switch4').item.json.Remotejid }}","summary":"={{ $('Execute Workflow Trigger').item.json.query.nome }}"}},"id":"d8607783-4e60-42dc-82f7-8d368ab74d11","name":"Marca","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[-1340,1900],"credentials":{"googleCalendarOAuth2Api":{"id":"BTYKfRWVBTh8akLE","name":"Google Calendar allan"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"rul9q3s81e3feeu143v0s6m94s@group.calendar.google.com","mode":"list","cachedResultName":"iPhone Allan"},"options":{"query":"={{ $json.query.email }}"}},"id":"1150e6ac-e8f4-4223-a83c-f4fdce34c1d4","name":"Já tem um evento","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[-2300,1840],"alwaysOutputData":true,"credentials":{"googleCalendarOAuth2Api":{"id":"BTYKfRWVBTh8akLE","name":"Google Calendar allan"}}},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"rul9q3s81e3feeu143v0s6m94s@group.calendar.google.com","mode":"list","cachedResultName":"iPhone Allan"},"eventId":"={{ $item(\"0\").$node[\"Verifica evento\"].json[\"id\"] }}","options":{}},"id":"83dfef1a-7402-4e63-8268-de44e75f0de5","name":"Google Calendar1","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[-2080,2080],"credentials":{"googleCalendarOAuth2Api":{"id":"BTYKfRWVBTh8akLE","name":"Google Calendar allan"}}},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"rul9q3s81e3feeu143v0s6m94s@group.calendar.google.com","mode":"list","cachedResultName":"iPhone Allan"},"eventId":"={{ $item(\"0\").$node[\"Verifica evento1\"].json[\"id\"] }}","useDefaultReminders":false,"updateFields":{"end":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"query\"][\"end\"] }}","sendUpdates":"all","start":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"query\"][\"start\"] }}"}},"id":"d282db39-8262-46af-a083-c6a9c6509ec9","name":"Google Calendar3","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[-1520,2260],"credentials":{"googleCalendarOAuth2Api":{"id":"BTYKfRWVBTh8akLE","name":"Google Calendar allan"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"rul9q3s81e3feeu143v0s6m94s@group.calendar.google.com","mode":"list","cachedResultName":"iPhone Allan"},"returnAll":true,"options":{"query":"={{ $item(\"0\").$node[\"Switch4\"].json[\"query\"][\"email\"] }}"}},"id":"3741f7f9-e4d0-4517-b45b-4c54ca3d5d9f","name":"Verifica evento","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[-2300,2080],"credentials":{"googleCalendarOAuth2Api":{"id":"BTYKfRWVBTh8akLE","name":"Google Calendar allan"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"rul9q3s81e3feeu143v0s6m94s@group.calendar.google.com","mode":"list","cachedResultName":"iPhone Allan"},"returnAll":true,"options":{"query":"={{ $item(\"0\").$node[\"Switch4\"].json[\"query\"][\"email\"] }}"}},"id":"d6b124d5-e627-40f5-a64f-1c2044ca5675","name":"Verifica evento1","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[-1720,2260],"credentials":{"googleCalendarOAuth2Api":{"id":"BTYKfRWVBTh8akLE","name":"Google Calendar allan"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"be5649a9-7624-4621-bd2d-84c25577c0ce","leftValue":"={{ $json.available }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"523d652e-99a6-45c8-a0e8-809082cf603b","name":"If6","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2120,2280]},{"parameters":{"resource":"calendar","calendar":{"__rl":true,"value":"rul9q3s81e3feeu143v0s6m94s@group.calendar.google.com","mode":"list","cachedResultName":"iPhone Allan"},"timeMin":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"query\"][\"start\"] }}","timeMax":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"query\"][\"end\"] }}","options":{}},"id":"9145575f-b84e-4dc9-8045-4eda4fe4eae9","name":"Disponibilidade1","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[-2320,2280],"credentials":{"googleCalendarOAuth2Api":{"id":"BTYKfRWVBTh8akLE","name":"Google Calendar allan"}}},{"parameters":{"assignments":{"assignments":[{"id":"86ff282a-3ede-4417-98c1-0d10858bc5dc","name":"response","value":"=Você já tem uma reunião agendada para o dia: {{(() => { \n    const data = new Date($json.start.dateTime);\n    const opcoes = { day: '2-digit', month: 'long', hour: '2-digit', minute: '2-digit' };\n    return `dia ${data.toLocaleDateString('pt-BR', opcoes).replace(' ', ' de ').replace(',', ' às')}`;\n})()}} gostaria de reagendar? ","type":"string"}]},"options":{}},"id":"72250534-99dc-43a4-8eec-2781080c4c9a","name":"Edit Fields6","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1780,1740]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8d192ed0-aebd-404e-8339-daab0d29651f","leftValue":"={{ $item(\"0\").$node[\"Já tem um evento\"].json[\"attendees\"][\"0\"][\"email\"] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"f7d8f7a9-d8e9-4f49-98a6-9c665903e58d","name":"If5","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2100,1840]},{"parameters":{"assignments":{"assignments":[{"id":"7f842ffa-cd8f-40ab-a0a7-40dc173357a7","name":"response","value":"Informe o usuário que o agendamento foi cancelado e que estará sempre à disposição para um novo agendamento.","type":"string"}]},"options":{}},"id":"35f989de-d237-4204-bfba-86d71fa16b1e","name":"Edit Fields7","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1880,2080]},{"parameters":{"assignments":{"assignments":[{"id":"04c6ca35-7572-4699-bcb7-bbf2f2a6e6a4","name":"response","value":"horário não disponivel, peça outro horário","type":"string"}]},"options":{}},"id":"0b67c3a5-54da-4e21-926e-e677ea5dd7d8","name":"Edit Fields9","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1340,2060]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"Evento\"] }}","rightValue":"agendamento","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"agendamento"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7a57e8e8-5227-4cde-8d58-7b447cd55a17","leftValue":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"Evento\"] }}","rightValue":"cancelamento","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"cancelamento"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d788021f-29ab-41f2-b355-2b18963d30f2","leftValue":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"Evento\"] }}","rightValue":"reagendamento","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"reagendamento"}]},"options":{}},"id":"b95bf5f4-d451-46c7-9cf2-5d8ea37e3e09","name":"Switch4","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2560,2080]},{"parameters":{"content":"","height":800.6667333432747,"width":2503.09595343677,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-2860,1720],"typeVersion":1,"id":"64aa9de1-3549-4621-a2f8-8f1c172b460d","name":"Sticky Note8"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"be5649a9-7624-4621-bd2d-84c25577c0ce","leftValue":"={{ $json.available }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"10d19f8b-48d5-4777-9b0e-4af650cba893","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1640,1900]},{"parameters":{"name":"criar_reuniao","description":"=Chame esta ferramenta após o usuário informar nome e email e data do agendamento. \n\nNa variável \"nome\", você vai preencher o nome do usuário e na variavel \"email\" você vai preencher com email do usuário\n\nA data do agendamento você vai transformar para seguinte formato, exemplo: 2024-10-18T14:30:00-03:00 e vai preencher a variavel \"start\"\n\nEm seguida você vai inserir 50 minutos a mais depois no horario de agendamento e na variavel \"end\" você vai prencher com o horario no mesmo formato da variavel start","workflowId":{"__rl":true,"value":"wArn6OoB3OyxSDbS","mode":"id"},"fields":{"values":[{"name":"Evento","stringValue":"agendamento"},{"name":"Remotejid","stringValue":"={{ $('Variáveis').item.json.telefone }}"}]},"specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"nome\": \"nome do usuario\",\n    \"email\": \"email do usuario\",\n    \"start\": \"data hora do inicio da reunião\",\n    \"end\": \"data hora do fim da reunião\"\n}"},"id":"f8107118-0569-44dd-a9e6-db2ed8d4ed21","name":"criar_reuniao","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[-860,1780]},{"parameters":{"name":"reagendar_reuniao","description":"=Após o usuário informar que quer reagendar e colete o nome, email e nova data Chame esta tool\n\nNa variável \"nome\", você vai preencher o nome do usuário e na variavel \"email\" você vai preencher com email do usuário\n\nA data do agendamento você vai transformar para seguinte formato, exemplo: 2024-10-18T14:30:00-03:00 e vai preencher a variavel \"start\"\n\nEm seguida você vai inserir 50 minutos a mais depois no horário de agendamento e na variavel \"end\" você vai prencher com o horario no mesmo formato da variavel start","workflowId":{"__rl":true,"value":"wArn6OoB3OyxSDbS","mode":"id"},"fields":{"values":[{"name":"Evento","stringValue":"reagendamento"},{"name":"Remotejid","stringValue":"={{ $('Variáveis').item.json.telefone }}"}]},"specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"nome\": \"nome do usuario\",\n    \"email\": \"email do usuario\",\n    \"start\": \"data hora do inicio da reunião\",\n    \"end\": \"data hora do fim da reunião\"\n}"},"id":"7ff63584-da29-4f27-a897-39ee6298ef91","name":"reagendar_reuniao","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[-720,1780]},{"parameters":{"assignments":{"assignments":[{"id":"86ff282a-3ede-4417-98c1-0d10858bc5dc","name":"response","value":"=Agendamento concluído para a data {{(() => { \n    const data = new Date($json.start.dateTime);\n    const opcoes = { day: '2-digit', month: 'long', hour: '2-digit', minute: '2-digit' };\n    return `dia ${data.toLocaleDateString('pt-BR', opcoes).replace(' ', ' de ').replace(',', ' às')}`;\n})()}}\no link da reunião é: {{ $json.hangoutLink }}","type":"string"}]},"options":{}},"id":"579f14d1-30bb-4b34-bc94-2d6494b3bb54","name":"Edit Fields10","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1080,1900]},{"parameters":{"assignments":{"assignments":[{"id":"7f842ffa-cd8f-40ab-a0a7-40dc173357a7","name":"response","value":"=sua reunião foi reagendada para a data:{{(() => { \n    const data = new Date($json.start.dateTime);\n    const opcoes = { day: '2-digit', month: 'long', hour: '2-digit', minute: '2-digit' };\n    return `dia ${data.toLocaleDateString('pt-BR', opcoes).replace(' ', ' de ').replace(',', ' às')}`;\n})()}} o link da reunião é: {{ $json.hangoutLink }}","type":"string"}]},"options":{}},"id":"9dace894-1534-4c5f-bfbb-f34853f7444d","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1340,2260]},{"parameters":{"name":"cancelar_reuniao","description":"=Chame esta ferramenta após o usuário informar que quer cancelar a reunião, colete o email e nome\n\nNa variável \"nome\", você vai preencher o nome do usuário e na variavel \"email\" você vai preencher com email do usuário","workflowId":{"__rl":true,"value":"wArn6OoB3OyxSDbS","mode":"id"},"fields":{"values":[{"name":"Evento","stringValue":"cancelamento"},{"name":"Remotejid","stringValue":"={{ $('Variáveis').item.json.telefone }}"}]},"specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"nome\": \"nome do usuario\",\n    \"email\": \"email do usuario\"\n}"},"id":"77d429da-91e0-4641-b83d-5cb4a09bc4e5","name":"cancelar_reuniao","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[-560,1780]},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"rul9q3s81e3feeu143v0s6m94s@group.calendar.google.com","mode":"list","cachedResultName":"iPhone Allan"},"returnAll":true,"options":{"timeMin":"={{ $json.timestamp }}"}},"id":"76b31a80-6eb3-4ea0-bda1-68b4ae5c1e6b","name":"Google Calendar","type":"n8n-nodes-base.googleCalendar","typeVersion":1.2,"position":[-2600,2960],"credentials":{"googleCalendarOAuth2Api":{"id":"BTYKfRWVBTh8akLE","name":"Google Calendar allan"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"806d2106-d234-428e-a909-db00044fc342","leftValue":"={{ $json.start.dateTime }}","rightValue":"={{ $('Schedule Trigger1').item.json.timestamp.toDateTime().plus(0, minutes) }}","operator":{"type":"dateTime","operation":"after"}},{"id":"aab42f56-d82f-434d-8319-00e3c2c690f3","leftValue":"={{ $json.start.dateTime }}","rightValue":"={{ $('Schedule Trigger1').item.json.timestamp.toDateTime().plus(5, minutes) }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2140,3140],"id":"a9364bd2-e148-4768-9cfb-30eddb44bd47","name":"5 Minutos antes","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"806d2106-d234-428e-a909-db00044fc342","leftValue":"={{ $json.start.dateTime }}","rightValue":"={{ $('Schedule Trigger1').item.json.timestamp.toDateTime().plus(115, minutes) }}","operator":{"type":"dateTime","operation":"after"}},{"id":"aab42f56-d82f-434d-8319-00e3c2c690f3","leftValue":"={{ $json.start.dateTime }}","rightValue":"={{ $('Schedule Trigger1').item.json.timestamp.toDateTime().plus(120, minutes) }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2140,2880],"id":"60a9d01b-548d-442d-ad19-3139262cbf42","name":"2 Hora antes","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5427ed1f-2dd2-4f7c-b7f4-9b13cd780bc7","leftValue":"={{ $json.kind }}","rightValue":"calendar#event","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1940,2880],"id":"acfe0986-3dab-47df-9b01-8ed0123f98b8","name":"If7"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5427ed1f-2dd2-4f7c-b7f4-9b13cd780bc7","leftValue":"={{ $json.kind }}","rightValue":"calendar#event","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1940,3140],"id":"2e633cf1-e7be-48c9-9e53-1a6738d67aa0","name":"If8"},{"parameters":{"operation":"get","tableId":"dados_cliente","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Loop Over Items4').item.json.description }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1520,2860],"id":"876eb903-0953-4e44-9a63-fff1273b9d72","name":"Supabase3","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}}},{"parameters":{"assignments":{"assignments":[{"id":"a5af6299-68f1-4d3a-b2a7-c2ed65aa4ae6","name":"remoteJid","value":"={{ $('Loop Over Items4').item.json.description }}","type":"string"},{"id":"fc721c8e-bfd6-4364-9c30-b0038118856f","name":"Tempo","value":"Crie uma mensagem avisando que falta 2 horas para a reunião ","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1700,2860],"id":"1efc3a34-0900-4ea1-8c47-359bb0abd68b","name":"Edit Fields5"},{"parameters":{"promptType":"define","text":"={{ $('Edit Fields5').item.json.Tempo }}","options":{"systemMessage":"=Você foi acionado pois vai avisar quanto tempo falta para a reunião, diga apenas o tempo que falta e se precisa de algo antes da reunião, sem dicas de uso ou informações extras: falta duas horas para nossa reunião, precisando de algo pode me chamar aqui."}},"id":"b13b2801-ea38-4d25-8c1b-f4c7811864bd","name":"Atendente1","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-1340,2860]},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionid }}","contextWindowLength":100},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-1180,3020],"id":"2faeb90e-7c1c-445c-b067-eb6751c25a85","name":"Postgres Chat Memory1","credentials":{"postgres":{"id":"7BihdPSijog1ko5Q","name":"Postgres Allan - SUPA"}}},{"parameters":{"operation":"get","tableId":"dados_cliente","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Google Calendar').item.json.description }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1520,3120],"id":"aa30403e-ab47-412f-8178-53f571d1e73f","name":"Supabase4","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}}},{"parameters":{"promptType":"define","text":"={{ $('Edit Fields2').item.json.Tempo }}","options":{"systemMessage":"=Você foi acionado pois vai avisar quanto tempo falta para a reunião, diga apenas o tempo que falta e se precisa de algo antes da reunião, sem dicas de uso ou informações extras: Nossa time já está entrando agora na nossa reunião!"}},"id":"48c3eb42-92ed-4b07-9efd-dcad0e2143b1","name":"Atendente2","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-1320,3160]},{"parameters":{"assignments":{"assignments":[{"id":"c930cacf-b5ee-4120-a192-d68715d71d57","name":"remoteJid","value":"={{ $('Google Calendar').item.json.description }}","type":"string"},{"id":"e7775c3f-04e5-4b6f-9695-dad8654b7ff8","name":"Tempo","value":"Crie uma mensagem avisando que falta 5 minutos para a reunião ","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1740,3120],"id":"7fc34965-7c09-4891-a593-e86ac3a1fc9c","name":"Edit Fields2"},{"parameters":{"resource":"messages-api","instanceName":"allan1688","remoteJid":"={{ $('Google Calendar').item.json.description }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-1000,3000],"id":"441c6a6b-789c-400c-b89b-d90c195f078c","name":"Evolution API7","credentials":{"evolutionApi":{"id":"AfcW5UBaTBawYJHp","name":"Evolution UNIVER"}}},{"parameters":{"content":"# AVISO REUNIÃO CHEGANDO","height":80,"width":551.2183277924504,"color":5},"id":"a9a8caa7-1251-4d7d-872b-e59d774ad60a","name":"Sticky Note27","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2840,2600]},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"id":"bc947caf-02ea-41bd-a742-156757cbd786","name":"Schedule Trigger1","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2820,2960]},{"parameters":{"model":"gpt-4.1-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-1380,3020],"id":"6a7a8756-f8c6-47fb-aa9d-4e8e914d4bcd","name":"OpenAI Chat Model5","credentials":{"openAiApi":{"id":"y6EOm7GTWxcYjDT6","name":"OpenAi Allan"}}},{"parameters":{"options":{}},"id":"d7b61447-9ecf-43ff-b10c-fff385237719","name":"Loop Over Items4","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2380,2960]},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-800,3160],"id":"b71b76bb-efdc-4764-bf54-534f8b604ad7","name":"Wait","webhookId":"d72239cb-b635-4ac2-95b6-0f66b77e9b6c"},{"parameters":{"content":"","height":980,"width":2302.828484039364,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-2860,2560],"typeVersion":1,"id":"06dfa811-6293-416f-b3af-b3debbaf3791","name":"Sticky Note9"},{"parameters":{"operation":"getAll","tableId":"chats","filters":{"conditions":[{"keyName":"app","condition":"eq","keyValue":"drajessica"},{"keyName":"updated_at","condition":"gt","keyValue":"={{ $now.plus(5,'minutes') }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-4820,2900],"id":"c747bf55-3868-4820-a2a6-e0ce61da16af","name":"ListChats-Supabase","credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}}},{"parameters":{"operation":"getAll","tableId":"chat_messages","matchType":"allFilters","filters":{"conditions":[{"keyName":"phone","condition":"eq","keyValue":"={{ $json.phone }}"},{"keyName":"active","condition":"eq","keyValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-4420,2920],"id":"544f1deb-de6e-4b76-aa5c-ae7cd5900fcd","name":"ListMessages-Supabase","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}}},{"parameters":{"rule":{"interval":[{"daysInterval":2,"triggerAtHour":8,"triggerAtMinute":50}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-4980,2900],"id":"9d8514cd-a162-4c2f-b792-e021b269b76f","name":"Schedule Trigger"},{"parameters":{"operation":"update","tableId":"chat_messages","filters":{"conditions":[{"keyName":"phone","condition":"eq","keyValue":"={{ $('Aggregate1')?.item?.json?.conversas?.last()?.phone }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"active","fieldValue":"false"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3020,3020],"id":"3b9c247c-d9c5-4b7c-95a9-d1f6a8974fbd","name":"DisableMessage-Supabase","credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}}},{"parameters":{"assignments":{"assignments":[{"id":"c9c00627-84a9-49a9-bc7e-d923a5918346","name":"output","value":"={{ $json.text }}","type":"string"},{"id":"0e34f673-b6dc-4748-89d2-a178dfe91853","name":"phone","value":"={{ $('Aggregate1').item.json.conversas.last().phone }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3300,2720],"id":"fa55e4fc-1f64-49e8-b7d4-2c3aa44920e8","name":"SetConfig"},{"parameters":{"promptType":"define","text":"=# Você é um agente facilitador de vendas e está buscando conversas não finalizadas entre o cliente e um agent de IA. \n\n# Cria a responda apenas a resposta não precisa justificar sua resposta\n\n# Identifique o cliente não enviou mais mensagens de resposta\n\n# Se o cliente não responder mesmo assim, agradeça e diga que irá encerrar o pedido e está a disposição para outros pedidos\n\n# Use frase simples e naturais como nos exemplos\n\nExemplos : \n - 'Oi .. ainda está ai'\n - 'E ai ? vamos finalizar o pedido?' \n\n# Conversa entre o cliete e o agente de IA:\n{{ $json.texto }}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[-3620,2720],"id":"0f798c80-4d8e-4804-a0f4-9579100bdc8c","name":"Basic LLM Chain"},{"parameters":{"inputText":"={{ $json.texto }}","categories":{"categories":[{"category":"pendente_resposta","description":"A conversa está pendente devido a uma informação que o cliente ficou de fornecer ou confirmar, ou está pendende de marcar a reunião"},{"category":"encerrada","description":"Houve um desfecho da conversa  ouagendamento de uma reuniãoe o agente de IA se despediu"},{"category":"sem_resposta","description":"=Se o cliente não respondeu mais as mensagens do agente - mensagem do cliente vazia"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[-3940,2920],"id":"6ef577a8-30f9-4351-9621-a1eb50500ec9","name":"Text Classifier"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"conversas","include":"specifiedFields","fieldsToInclude":"id,message_type,created_at,user_message, bot_message,phone, conversation_id","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-4260,2920],"id":"5085d845-1a38-4663-b151-51e371d701ef","name":"Aggregate1"},{"parameters":{"jsCode":"return $('Aggregate1').all().map(item => {\n  // Tenta acessar a propriedade 'conversas' e verifica se ela é um array\n  const conversas = item.json.conversas || []; // Garante que é pelo menos um array vazio\n\n  if (!Array.isArray(conversas)) {\n    throw new Error(\"A propriedade 'conversas' não é um array.\");\n  }\n\n  // Processa cada conversa e verifica as mensagens\n  const textoUnico = conversas.map(conversa => {\n    const cliente = conversa.user_message || \"sem mensagem do chatbot\";\n    const agente = conversa.bot_message || \"sem resposta\";\n    \n    // Verifica se a data existe e formata\n    const dataOriginal = conversa.created_at || \"Data da Mensagem indisponível\";\n    const dataFormatada = dataOriginal !== \"Data da Mensagem indisponível\"\n      ? formatarData(dataOriginal)\n      : dataOriginal;\n\n    return `em: ${dataFormatada}\\n\\n - agente(chatbot): ${agente} \\n - cliente: ${cliente}\\n`;\n  }).join('\\n\\n');\n\n  // Retorna o texto final como resultado\n  return {\n    json: {\n      texto: textoUnico\n    }\n  };\n});\n\n// Função para formatar a data\nfunction formatarData(dataString) {\n  const data = new Date(dataString); // Converte a string em objeto Date\n  if (isNaN(data)) {\n    return \"Data inválida\"; // Retorna se a data não for válida\n  }\n  \n  // Formata no padrão DD/MM/YYYY HH:mm\n  const dia = String(data.getDate()).padStart(2, '0');\n  const mes = String(data.getMonth() + 1).padStart(2, '0'); // Mês começa em 0\n  const ano = data.getFullYear();\n  const horas = String(data.getHours()).padStart(2, '0');\n  const minutos = String(data.getMinutes()).padStart(2, '0');\n  \n  return `${dia}/${mes}/${ano} ${horas}:${minutos}`;\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4080,2920],"id":"b689fcae-4336-4ba1-81c5-cebefac80c16","name":"Code4"},{"parameters":{"tableId":"chat_messages","fieldsUi":{"fieldValues":[{"fieldId":"phone","fieldValue":"={{ $('Aggregate1').item.json.conversas.last().phone }}"},{"fieldId":"conversation_id","fieldValue":"={{ $('Aggregate1').item.json.conversas.last().phone }}"},{"fieldId":"message_type","fieldValue":"={{ $('Aggregate1').item.json.conversas.last().message_type }}"},{"fieldId":"bot_message","fieldValue":"={{ $json.text }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3300,2900],"id":"74e66ffb-2456-4d46-812a-55b9ce4d7b51","name":"Supabase2","credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-4620,2900],"id":"4c1cf2c8-1603-4df2-b84e-5dfb382795b1","name":"Loop Over Items2"},{"parameters":{"model":"gpt-4.1-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-3500,2860],"id":"bc3c702d-2292-4aa6-a962-8322ac7687b6","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"y6EOm7GTWxcYjDT6","name":"OpenAi Allan"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-3160,3020],"id":"582d8bcc-a6e7-4918-8a3c-2b9a0354074c","name":"Wait2","webhookId":"88302532-fa1b-4e15-b77a-e85dedce41a0"},{"parameters":{"content":"","height":520,"width":2180,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-5080,2700],"typeVersion":1,"id":"9203c914-e17d-4f8d-98c2-68856d076451","name":"Sticky Note58"},{"parameters":{"content":"# Follow up Whatsapp","height":80,"width":393,"color":5},"id":"6b4d3202-4ac3-4876-a213-6a4882ae1e1e","name":"Sticky Note59","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-5000,2720]},{"parameters":{"resource":"messages-api","instanceName":"allan1688","remoteJid":"={{ $json.phone }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3160,2720],"id":"251ba6ca-7b90-4344-a40c-99d0e603b4a9","name":"Evolution API6","credentials":{"evolutionApi":{"id":"AfcW5UBaTBawYJHp","name":"Evolution UNIVER"}}},{"parameters":{"model":"gpt-4.1-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-3940,3080],"id":"3d944cea-9b2e-4147-b5ca-8d5ccf248d81","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"y6EOm7GTWxcYjDT6","name":"OpenAi Allan"}}},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-3900,1040],"typeVersion":1,"id":"ecf771f9-4e2a-4fe7-98bd-80d5adf0ceb2","name":"Sticky Note51"},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{"fileName":"file.pdf","mimeType":"application/pdf"}},"id":"efb3e33e-2072-4b6a-a45f-160cfafded60","name":"Convert to File2","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-2620,1460]},{"parameters":{"assignments":{"assignments":[{"id":"3c5ccbc9-69d1-4b13-a7c3-e6945bc8c655","name":"data","value":"={{ $('Webhook EVO').item.json.body.data.message.base64 }}","type":"string"}]},"options":{}},"id":"8afa8d7a-10b7-4189-a643-ff37c1c31f49","name":"Edit Fields4","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2760,1460]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"ade56c50-1520-4760-8df5-e99617d6d3ad","leftValue":"={{ $('Webhook EVO').item.json.body.data.message.imageMessage.caption }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"f2c96796-700c-4779-9efb-7e158d71d49c","name":"If9","type":"n8n-nodes-base.if","typeVersion":2,"position":[-2320,1460]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"GPT-4.1-NANO"},"messages":{"values":[{"content":"=Resuma o conteúdo abaixo. Responda sem acento, sem hifens:\n{{ $json.text }}\n"}]},"options":{}},"id":"28f56795-06bc-4c72-ac4c-1732b3c36312","name":"OpenAI2","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[-2460,1460],"credentials":{"openAiApi":{"id":"y6EOm7GTWxcYjDT6","name":"OpenAi Allan"}}},{"parameters":{"operation":"push","list":"={{ $('Code1').item.json.sessionId }}","messageData":"={{ $json.text }}","tail":true},"id":"dd73dbff-cc39-41aa-b940-00776b0127bc","name":"Audio Memory","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2100,1540],"credentials":{"redis":{"id":"KVRosz1bwqDgMe66","name":"Redis Allan - 0"}}}],"connections":{"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"buscar_documentos","type":"ai_languageModel","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert into Supabase Vectorstore","type":"ai_document","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Insert into Supabase Vectorstore","type":"ai_embedding","index":0}]]},"Download File":{"main":[[{"node":"Switch","type":"main","index":0}]]},"File Created":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"Extract Document Text":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Set File ID":{"main":[[{"node":"Deleta linhas antigas do documento","type":"main","index":0}]]},"Extract PDF Text":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Summarize":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Extract PDF Text","type":"main","index":0}],[{"node":"Extract from Excel","type":"main","index":0}],[{"node":"Extract Document Text","type":"main","index":0}]]},"Insert into Supabase Vectorstore":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Supabase Vector Store":{"ai_vectorStore":[[{"node":"buscar_documentos","type":"ai_vectorStore","index":0}]]},"Extract from Excel":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Get Dados","type":"main","index":0}],[{"node":"Gerar sessionID","type":"main","index":0}]]},"Gerar sessionID":{"main":[[{"node":"Supabase1","type":"main","index":0}]]},"Supabase1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"OpenAI3":{"ai_languageModel":[[{"node":"Parser  Chain","type":"ai_languageModel","index":0}]]},"OutputParser1":{"ai_outputParser":[[{"node":"Parser  Chain","type":"ai_outputParser","index":0}]]},"Parser  Chain":{"main":[[{"node":"Split de Mensagem","type":"main","index":0}]]},"Switch3":{"main":[[{"node":"Menos que 240 Caracteres","type":"main","index":0}],[{"node":"Menos que 240 Caracteres","type":"main","index":0}],[{"node":"Menos que 240 Caracteres","type":"main","index":0}],[{"node":"Menos que 240 Caracteres","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Atendente","type":"ai_languageModel","index":0}]]},"Code1":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Atendente":{"main":[[{"node":"Switch2","type":"main","index":0},{"node":"Busca Telefone","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Download File","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Atendente","type":"ai_memory","index":0}]]},"Webhook EVO":{"main":[[{"node":"dados_para_atendimento_humano1","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Switch3","type":"main","index":0}],[{"node":"Evolution API1","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0}]]},"Merge1":{"main":[[{"node":"Cria Histórico Supabase","type":"main","index":0}]]},"If4":{"main":[[{"node":"Adiciona CHAT supabase","type":"main","index":0}],[{"node":"Atualiza CHAT Supabase","type":"main","index":0}]]},"Date & Time1":{"main":[[{"node":"Supabase","type":"main","index":0}]]},"Busca Telefone":{"main":[[{"node":"If4","type":"main","index":0}]]},"Adiciona CHAT supabase":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Atualiza CHAT Supabase":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Cria Histórico Supabase":{"main":[[{"node":"Delete Memory","type":"main","index":0}]]},"Menos que 240 Caracteres":{"main":[[{"node":"Evolution API5","type":"main","index":0}],[{"node":"Parser  Chain","type":"main","index":0}]]},"Split de Mensagem":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"1 segundo":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Retorna ID do arquivo":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Deleta linhas antigas do documento":{"main":[[{"node":"Retorna ID do arquivo","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"If3":{"main":[[{"node":"Redis5","type":"main","index":0}],[{"node":"Redis4","type":"main","index":0}]]},"Redis4":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Redis5":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Text Memory1","type":"main","index":0}],[{"node":"Text Memory1","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Edit Fields3","type":"main","index":0}],[{"node":"Edit Fields4","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"If3","type":"main","index":0}]]},"Compara Get Memory1":{"main":[[{"node":"Mensagem Completa","type":"main","index":0}]]},"Text Memory1":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Audio Memory1":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Edit Fields8":{"main":[[{"node":"Compara Get Memory1","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Get Memory 2","type":"main","index":0}]]},"Get Memory 1":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Get Memory 2":{"main":[[{"node":"Edit Fields8","type":"main","index":0}]]},"buscar_documentos":{"ai_tool":[[{"node":"Atendente","type":"ai_tool","index":0}]]},"Get Dados":{"main":[[{"node":"Code1","type":"main","index":0}]]},"dados_para_atendimento_humano1":{"main":[[{"node":"Switch6","type":"main","index":0}]]},"Switch Block":{"main":[[{"node":"Variáveis","type":"main","index":0}]]},"Switch6":{"main":[[{"node":"PARA IA","type":"main","index":0}],[{"node":"Verificar Atendimento","type":"main","index":0}]]},"Variáveis":{"main":[[{"node":"Date & Time1","type":"main","index":0}]]},"ListChats-Supabase2":{"main":[[{"node":"Loop Over Items6","type":"main","index":0}]]},"ListMessages-Supabase2":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"Code6","type":"main","index":0}]]},"Loop Over Items6":{"main":[[],[{"node":"ListMessages-Supabase2","type":"main","index":0}]]},"Code6":{"main":[[{"node":"Basic LLM Chain1","type":"main","index":0}]]},"Verificar Atendimento":{"main":[[{"node":"Switch Block","type":"main","index":0}]]},"Mensagem Completa":{"main":[[{"node":"Atendente","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Audio Memory1","type":"main","index":0}]]},"Loop Over Items3":{"main":[[],[{"node":"Evolution API","type":"main","index":0}]]},"Basic LLM Chain1":{"main":[[{"node":"Evolution API2","type":"main","index":0}]]},"Evolution API1":{"main":[[{"node":"ListChats-Supabase2","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Switch4","type":"main","index":0}]]},"Disponibilidade":{"main":[[{"node":"If","type":"main","index":0}]]},"Marca":{"main":[[{"node":"Edit Fields10","type":"main","index":0}]]},"Já tem um evento":{"main":[[{"node":"If5","type":"main","index":0}]]},"Google Calendar1":{"main":[[{"node":"Edit Fields7","type":"main","index":0}]]},"Google Calendar3":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Verifica evento":{"main":[[{"node":"Google Calendar1","type":"main","index":0}]]},"Verifica evento1":{"main":[[{"node":"Google Calendar3","type":"main","index":0}]]},"If6":{"main":[[{"node":"Verifica evento1","type":"main","index":0}],[{"node":"Edit Fields9","type":"main","index":0}]]},"Disponibilidade1":{"main":[[{"node":"If6","type":"main","index":0}]]},"If5":{"main":[[{"node":"Edit Fields6","type":"main","index":0}],[{"node":"Disponibilidade","type":"main","index":0}]]},"Switch4":{"main":[[{"node":"Já tem um evento","type":"main","index":0}],[{"node":"Verifica evento","type":"main","index":0}],[{"node":"Disponibilidade1","type":"main","index":0}]]},"If":{"main":[[{"node":"Marca","type":"main","index":0}],[{"node":"Edit Fields9","type":"main","index":0}]]},"reagendar_reuniao":{"ai_tool":[[{"node":"Atendente","type":"ai_tool","index":0}]]},"cancelar_reuniao":{"ai_tool":[[{"node":"Atendente","type":"ai_tool","index":0}]]},"criar_reuniao":{"ai_tool":[[{"node":"Atendente","type":"ai_tool","index":0}]]},"Google Calendar":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"5 Minutos antes":{"main":[[{"node":"If8","type":"main","index":0}]]},"2 Hora antes":{"main":[[{"node":"If7","type":"main","index":0}]]},"If7":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"If8":{"main":[[{"node":"Edit Fields2","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Supabase3":{"main":[[{"node":"Atendente1","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Supabase3","type":"main","index":0}]]},"Atendente1":{"main":[[{"node":"Evolution API7","type":"main","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"Atendente1","type":"ai_memory","index":0},{"node":"Atendente2","type":"ai_memory","index":0}]]},"Supabase4":{"main":[[{"node":"Atendente2","type":"main","index":0}]]},"Atendente2":{"main":[[{"node":"Evolution API7","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Supabase4","type":"main","index":0}]]},"Evolution API7":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Google Calendar","type":"main","index":0}]]},"OpenAI Chat Model5":{"ai_languageModel":[[{"node":"Atendente1","type":"ai_languageModel","index":0},{"node":"Atendente2","type":"ai_languageModel","index":0}]]},"Loop Over Items4":{"main":[[],[{"node":"2 Hora antes","type":"main","index":0},{"node":"5 Minutos antes","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"ListChats-Supabase":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"ListMessages-Supabase":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"ListChats-Supabase","type":"main","index":0}]]},"DisableMessage-Supabase":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"SetConfig":{"main":[[{"node":"Evolution API6","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Supabase2","type":"main","index":0},{"node":"SetConfig","type":"main","index":0}]]},"Text Classifier":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}],[{"node":"Wait2","type":"main","index":0}],[{"node":"Wait2","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Code4","type":"main","index":0}]]},"Code4":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"Supabase2":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"ListMessages-Supabase","type":"main","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Wait2":{"main":[[{"node":"DisableMessage-Supabase","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"Convert to File2":{"main":[[{"node":"OpenAI2","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Convert to File2","type":"main","index":0}]]},"OpenAI2":{"main":[[{"node":"If9","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger1":{"recurrenceRules":[]},"node:Schedule Trigger":{"recurrenceRules":[149]},"node:File Created":{"lastTimeChecked":"2025-05-29T21:50:28Z"},"node:File Updated":{"lastTimeChecked":"2025-05-29T12:00:39Z"}},"meta":null,"pinData":{},"versionId":"1edae3db-65cb-41ae-80db-d6f20563670a","triggerCount":5,"tags":[{"createdAt":"2025-05-06T15:51:27.747Z","updatedAt":"2025-05-06T15:51:27.747Z","id":"bdkiwzrYtNkpNJPd","name":"fluxo ativo"}]}