workflows/Agente financeiro Telegram - SHEETS.json
{"createdAt":"2025-06-21T23:39:04.421Z","updatedAt":"2025-06-22T05:48:53.572Z","id":"RwPU6wn1btnQiQRr","name":"Agente financeiro Telegram - SHEETS","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[-860,-180],"id":"cdc4f8f1-a3d3-40ba-b712-d8ee45b02d0b","name":"Think"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger1').item.json.message.from.username }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-1680,-120],"id":"d61f7ea8-9532-418f-9ef0-e46202f82565","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"7BihdPSijog1ko5Q","name":"Postgres Allan - SUPA"}}},{"parameters":{"documentId":{"__rl":true,"value":"1coenfoRW7HuZVEOLClKtYIHWDiUJz0lsqWVZJYceHn4","mode":"list","cachedResultName":"Monetario","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1coenfoRW7HuZVEOLClKtYIHWDiUJz0lsqWVZJYceHn4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1coenfoRW7HuZVEOLClKtYIHWDiUJz0lsqWVZJYceHn4/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[-1100,-40],"id":"44e6188c-ebea-4824-97b4-447caf4a484d","name":"TodosOsSaldos","credentials":{"googleSheetsOAuth2Api":{"id":"duX7Zo5QobkZJdKh","name":"Google Sheets allan"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1coenfoRW7HuZVEOLClKtYIHWDiUJz0lsqWVZJYceHn4","mode":"list","cachedResultName":"Monetario","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1coenfoRW7HuZVEOLClKtYIHWDiUJz0lsqWVZJYceHn4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1coenfoRW7HuZVEOLClKtYIHWDiUJz0lsqWVZJYceHn4/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"id":"99","Mês":"={{ $now.format('MM') }}","Descrição":"={{ $fromAI('descricao', ``, 'string') }}","Data":"={{ $now.setLocale('pt-br').format('dd/MM/yyyy') }}","EntradaOuSaida":"={{ $fromAI('EntradaOuSaida', ``, 'string') }}","Valor":"={{ $fromAI('Valor', `o valor nunca deve ter um ponto, apenas virgula. valor errado: \"49.90\", valor corret: \"49,90\"`, 'string') }}","FormaDePagamento":"={{ $fromAI('FormaDePagamento', ``, 'string') }}","Classe":"={{ $fromAI('Classe', '', 'string') }}"},"matchingColumns":["id"],"schema":[{"id":"Classe","displayName":"Classe","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FormaDePagamento","displayName":"FormaDePagamento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Valor","displayName":"Valor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EntradaOuSaida","displayName":"EntradaOuSaida","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Descrição","displayName":"Descrição","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Mês","displayName":"Mês","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[-1420,-40],"id":"3dbd9fc3-91aa-424f-a647-930cc0e451dc","name":"AdicionaNovoSaldo","credentials":{"googleSheetsOAuth2Api":{"id":"duX7Zo5QobkZJdKh","name":"Google Sheets allan"}}},{"parameters":{"workflowInputs":{"values":[{"name":"requisição"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1480,220],"id":"693f349d-8afd-4b3f-ba56-257eda8a7712","name":"When Executed by Another Workflow"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1260,220],"id":"d7d5d95f-933a-4755-b000-260280fc869e","name":"Wait","webhookId":"dfa36ad4-aaca-4703-be3f-e20ed06b9bc1"},{"parameters":{"documentId":{"__rl":true,"value":"1coenfoRW7HuZVEOLClKtYIHWDiUJz0lsqWVZJYceHn4","mode":"list","cachedResultName":"Monetario","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1coenfoRW7HuZVEOLClKtYIHWDiUJz0lsqWVZJYceHn4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1coenfoRW7HuZVEOLClKtYIHWDiUJz0lsqWVZJYceHn4/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1040,220],"id":"d0998d0f-a7a1-48b9-a5ba-21779e130a17","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"duX7Zo5QobkZJdKh","name":"Google Sheets allan"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1738dec6-611e-48da-ba1e-9b6fd41f8372","leftValue":"={{ $json.message.voice }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3180,-560],"id":"6e53fad0-7f2e-4407-9a32-5c22f761fb6c","name":"VerificaTipoMsg","notesInFlow":true,"notes":"Verifica se é texto ou audio"},{"parameters":{"assignments":{"assignments":[{"id":"4415d7d4-9ed3-4f76-8929-e88659843b53","name":"mensagem","value":"={{ $json.text || $json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1880,-540],"id":"972f4c17-2e24-4fc3-bd4d-f75ec02bc202","name":"Formatador","notesInFlow":true,"notes":"Formata as mensagens\n"},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2940,-760],"id":"8ba300cc-09d2-438e-9af2-0f0cf060d106","name":"BuscaArquivoDeAudio","webhookId":"ba5f618b-c368-488a-a9d2-19cfc96d67e7","notesInFlow":true,"credentials":{"telegramApi":{"id":"ENKEPABnCYRmV7CP","name":"Telegram Allan"}},"notes":"busca o arquivo de audio do telegram de acordo com seu id"},{"parameters":{"chatId":"={{ $('Telegram Trigger1').item.json.message.chat.id }}","text":"={{ $('AI Agent1').item.json.output }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1200,-540],"id":"f1072f65-205d-4bc3-bac7-6d04c8a8ce9b","name":"SendResponse","webhookId":"023b7e0b-3b9b-4a05-bd56-7a2c75fe6ab7","credentials":{"telegramApi":{"id":"ENKEPABnCYRmV7CP","name":"Telegram Allan"}}},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-2720,-760],"id":"eb1c4961-beb6-4722-a2cc-da9013cd12ad","name":"Extract from File"},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{"fileName":"file.mp3"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-2540,-760],"id":"16becbe8-a130-4c17-9966-036ab49f1230","name":"Convert to File"},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/audio/transcriptions","authentication":"predefinedCredentialType","nodeCredentialType":"groqApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-type","value":"application/json"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"model","value":"whisper-large-v3"},{"name":"temperature","value":"0.7"},{"name":"response_format","value":"json"},{"name":"language","value":"pt"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"=data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2320,-760],"id":"f1398b4b-910f-48ab-93c2-8ce8e45b319c","name":"GROQ/TranscrissorDeAudio","notesInFlow":true,"credentials":{"groqApi":{"id":"7wYSb2Ez14RIiAk6","name":"Groq Allan"}},"notes":"Transcreve o arquivo do audio com groq api"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2100,-540],"id":"6f7966c1-aab1-45b5-84b0-9c9d2c6bcbe7","name":"Agrupador"},{"parameters":{"content":"## transcrissor\nos nodes file servem para mudar o tipo do arquivo.\n","height":240,"width":940},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3060,-840],"id":"86b0b410-e36d-4b0f-924f-94619f6e9a86","name":"Sticky Note"},{"parameters":{"content":"## Motor/memoria","height":220,"width":340,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1880,-200],"id":"7062dd67-8705-4fdf-9b6d-44bea5ced14c","name":"Sticky Note1"},{"parameters":{"content":"## Tools\n","height":200,"width":540,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1500,-100],"id":"463e922f-84b5-4f98-8cb7-57f9ffdaa041","name":"Sticky Note2"},{"parameters":{"content":"## Pensamento","height":180,"width":280,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-960,-240],"id":"52429deb-eba1-4b66-9e81-00c19a30ed9e","name":"Sticky Note3"},{"parameters":{"content":"## Sub workflow\n","height":220,"width":660},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1540,160],"id":"930c3981-594a-4634-a066-9e6a989a12d2","name":"Sticky Note4"},{"parameters":{"promptType":"define","text":"={{ $json.mensagem }}","options":{"systemMessage":"=Você é o **FinAssist**, um assistente financeiro inteligente, tranquilo no estilo mas firme na função, conectado ao banco de dados Supabase e integrado a um sistema de automação. Sua missão é entender os comandos do usuário em linguagem natural relacionados a finanças pessoais e executar as ações certas com as ferramentas disponíveis. Segue o jogo direitinho e SEMPRE usa as ferramentas que forem indicadas pra cada passo. No final de cada operação, manda a `ThinkTool` pra conferir se tá tudo certo.\n\n---\n\n📌 **O que você deve fazer**\n\nVocê tem que interpretar o que o usuário diz e, conforme o contexto (gasto, ganho, consulta), aplicar a sequência correta de ferramentas pra atualizar ou consultar o saldo e os registros financeiros. Pense passo a passo antes de fazer qualquer coisa.\n\n---\n\n🔧 **FUNÇÕES DISPONÍVEIS**\n\n1. **Adicionar saldo devedor (gastos):**\n   - Se o usuário falar que **gastou** alguma grana:\n     - Pense passo a passo.\n     - Caso o usuario nao te responda onde ou como gastou pergunte.\n     - Classifique a **classe** entre: comida, lazer, trabalho, estudo, avulsos.\n     - Classifique a **forma de pagamento** entre: cartão de crédito, pix, dinheiro, outro.\n     - Converta o valor pra número negativo.\n     - Você TEM QUE usar:\n       1. `AdicionaNovoSaldo`\n       2. `ThinkTool`\n       3. `VerificaSaldoAtual`\n     - Capricha na saudação da resposta de acordo com a **classe do gasto**:\n       - comida → \"fala meu mano, a comida tava boa?\"\n       - lazer → \"curtiu o rolê, fera?\"\n       - trabalho → \"investindo no trampo, brabo!\"\n       - estudo → \"estudando pra dominar o mundo, hein?\"\n       - avulsos → \"mais um gasto misterioso aí, hein?\"\n\n2. **Adicionar saldo positivo (ganhos):**\n   - Se o usuário disser que **ganhou dinheiro** ou recebeu algo:\n     - Converta o valor pra número positivo.\n     - Se não disser como recebeu, pergunte:\n       \"Recebeu via dinheiro ou pix, parça?\"\n     - Use a forma de pagamento que ele responder.\n     - Define o campo **classe do gasto** como `null`.\n     - Você TEM QUE usar:\n       1. `AdicionaNovoSaldo`\n       2. `ThinkTool`\n       3. `VerificaSaldoAtual`\n\n3. **Consultar saldo atual:**\n   - Se o usuário perguntar \"quanto tenho\", \"meu saldo atual\", ou algo assim:\n     - Você TEM QUE usar:\n       1. `VerificaSaldoAtual`\n       2. `ThinkTool`\n       3. Responda assim:\n          ```\n          ta de olho no que ta ganhando é safadin?\n          Seu saldo atual é: R$ XXXX\n          ```\n\n4. **Consultar compras:**\n   - Se o usuário quiser ver **resumo de gastos** ou transações:\n     - Se falar algo específico, filtra por `classe`, `forma de pagamento` ou `valor`.\n     - Você TEM QUE usar:\n       1. `TodosOsSaldos` com filtro dinâmico apropriado.\n       2. `ThinkTool` pra garantir que tá tudo certinho.\n\n\n---\n\n📌 **REGRAS GERAIS**\n\n- Sempre converta os valores direitinho:\n  - Gastos = valor negativo.\n  - Ganhos = valor positivo.\n- Use datas no **formato brasileiro (DD/MM/AAAA)**.\n- Sempre fale de forma clara, amigável e com aquela resenha marota.\n- Se faltar alguma informação, pergunta direto pro usuário. Nada de adivinhar.\n- Quando for adicionar saldo, SEMPRE chama `AdicionaNovoSaldo`. Só chama `VerificaSaldoAtual` depois disso, se precisar.\n- Formato das respostas:\n\n**Para gastos:**\n\n[Saudação de acordo com a classe do gasto]\nSaldo devedor\nclasse do gasto: [classe]\nvalor gasto: [valor]\ndata: [data]\nforma de pagamento: [forma]\n\n**Para ganhos:**\n\naoba coisa boa\nSaldo positivo\nvalor adicionado: [valor]\ndata: [data]\nforma de pagamento: [forma]\nsaldo total atual: R$ XXXX\n\n**Para consulta de saldos:**\n\n1. Gastei 50 com a bike\n2. Valor: R$ [valor]\n3. Forma de pagamento: [forma]\n4. Data: [data]\n...\nA soma dos saldos é:\nxxx + xxx - xxx = xxx reais\n\n---\n\n🧪 **EXEMPLOS (Few-shot):**\n\n**Input:** \"Gastei 200 com comida no cartão de crédito hoje\"  \n**Output:**  \nfala meu mano, a comida tava boa?  \nSaldo devedor  \nclasse do gasto: comida  \nvalor gasto: -200  \ndata: 10/05/2025  \nforma de pagamento: cartão de crédito\n\n**Input:** \"Recebi 500 do trabalho via pix\"  \n**Output:**  \naoba coisa boa  \nSaldo positivo  \nvalor adicionado: 500  \ndata: 10/05/2025  \nforma de pagamento: pix  \nsaldo total atual: R$ XXXX\n\n**Input:** \"Qual meu saldo?\"  \n**Output:**  \nta de olho no que ta ganhando é safadin?  \nSeu saldo atual é: R$ XXXX\n\n**Imput:** \"rapaz, como foi os saldos ai do mes?\"\n**Output:**\nAqui está o resumo dos saldos do mês:\n\n1. **Descrição:** Recebido em dinheiro\n**Classe:** null\n**Valor:** R$ 200,00\n**Forma de pagamento:** dinheiro\n**Data:** 10/05/2025\n\n2. **Descrição:** gasto com a bike\n**Classe:** avulsos\n**Valor:** R$ -50,00\n**Forma de pagamento:** pix\n**Data:** 10/05/2025\n\nsoma dos saldos é:\n200 + (-50) = R$ 150,00\n\nSe precisar de mais alguma coisa, é só chamar!\n\n---\n\n🗓 **Data de hoje:**  \n{{ $now.setLocale('pt-BR').toFormat(\"cccc',' dd 'de' LLLL 'de' yyyy\") }}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-1560,-540],"id":"d1455bb2-dd6e-498f-a8ba-3061aa5b3bfd","name":"AI Agent1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1820,-120],"id":"2773a8bc-bdd9-4a88-8af8-c116ee7a02f5","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"rVdjfDowKjs3OG2m","name":"OpenAi - TECHPULSE"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-3420,-560],"id":"b7f02607-e744-4053-8337-cbf22ee22312","name":"Telegram Trigger1","webhookId":"d3ba8c48-49e0-424d-98a5-9b20bc3b032a","credentials":{"telegramApi":{"id":"ENKEPABnCYRmV7CP","name":"Telegram Allan"}}},{"parameters":{"name":"VerificaSaldoAtual","description":"use essa tool para verificar o saldo atual","workflowId":{"__rl":true,"value":"RwPU6wn1btnQiQRr","mode":"list","cachedResultName":"Agente financeiro Telegram - SHEETS"},"workflowInputs":{"mappingMode":"defineBelow","value":{"requisição":"RwPU6wn1btnQiQRr [verifica]"},"matchingColumns":["requisição"],"schema":[{"id":"requisição","displayName":"requisição","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[-1260,-60],"id":"e52e0d40-3557-45a6-b2d8-7545d1d65a0a","name":"Call n8n Workflow Tool"}],"connections":{"Think":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"TodosOsSaldos":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"AdicionaNovoSaldo":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"VerificaTipoMsg":{"main":[[{"node":"BuscaArquivoDeAudio","type":"main","index":0}],[{"node":"Agrupador","type":"main","index":0}]]},"Formatador":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"BuscaArquivoDeAudio":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"GROQ/TranscrissorDeAudio","type":"main","index":0}]]},"GROQ/TranscrissorDeAudio":{"main":[[{"node":"Agrupador","type":"main","index":0}]]},"Agrupador":{"main":[[{"node":"Formatador","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"SendResponse","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Telegram Trigger1":{"main":[[{"node":"VerificaTipoMsg","type":"main","index":0}]]},"Call n8n Workflow Tool":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"da562f00-12c2-4e6d-a7cd-1bed01a72249","triggerCount":1,"tags":[]}