workflows/Agente de IA - Aula bootcamp(3).json
{"createdAt":"2025-05-08T20:45:10.293Z","updatedAt":"2025-05-08T20:45:10.293Z","id":"YPoPYqRFSJaNLZ3o","name":"Agente de IA - Aula bootcamp","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"return items.map(item => {\n  const sanitize = (text) => {\n    if (!text) return text;\n    \n    // Remove tudo que está entre colchetes, incluindo colchetes\n    text = text.replace(/\\[.*?\\]/g, '');\n    // Substitui caracteres Unicode específicos\n    text = text.replace(/\\u00E9/g, 'e');  // Exemplo: substitui 'é' por 'e'\n    text = text.replace(/\\u00E1/g, 'a');  // Exemplo: substitui 'á' por 'a'\n    text = text.replace(/\\u00ED/g, 'i');  // Exemplo: substitui 'í' por 'i'\n    text = text.replace(/\\u00F3/g, 'o');  // Exemplo: substitui 'ó' por 'o'\n    text = text.replace(/\\u00FA/g, 'u');  // Exemplo: substitui 'ú' por 'u'\n    // Remove caracteres não ASCII\n    text = text.replace(/[^ -~]/g, '');\n    \n    // Remove caracteres especiais e pontuações indesejadas\n    text = text.replace(/[^\\w\\s]/gi, '');\n    \n    // Substituir múltiplos espaços por um único espaço\n    text = text.replace(/\\s+/g, ' ');\n    \n    return text.trim();\n  };\n\n  // Cria uma cópia do item sem o campo annotations\n  const cleanItem = { ...item };\n  \n  // Se houver content, processa cada elemento mantendo apenas os campos necessários\n  if (cleanItem.content) {\n    cleanItem.content = cleanItem.content.map(content => {\n      if (content.text) {\n        // Para elementos text, mantém apenas type, text e value\n        return {\n          type: content.type,\n          text: {\n            value: content.text.value\n          }\n        };\n      }\n      return content;\n    });\n  }\n  \n  return cleanItem;\n});"},"id":"cee94a63-8c3d-4452-812c-d42f776d9268","name":"Limpeza de erros","type":"n8n-nodes-base.code","typeVersion":2,"position":[220,0],"alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"c4db366a-8e40-443f-a1a9-19a590cb3b03","name":"mensagem","value":"={{ $json.text }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"022f0141-0e50-4105-a871-31a624fa6480","name":"mensagem=audio","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-6400,600]},{"parameters":{},"id":"86aa5f4d-f8dc-43d3-a765-d2e9de805e29","name":"Merge message","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[-5600,720]},{"parameters":{"assignments":{"assignments":[{"id":"4d20037d-7c3f-4a9b-aba2-ae17ed70ed2d","name":"mensagem","value":"={{ $json.text }}","type":"string"}]},"options":{}},"id":"ad91ca88-0f93-4898-a465-cd3ae4cf8112","name":"mensagem=imagem","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-6180,860]},{"parameters":{"name":"={{ $('Ajuste do número de whatsapp').item.json[\"body\"][\"whatsapp\"] }}.pdf","driveId":{"__rl":true,"value":"0AEUpofUUymC1Uk9PVA","mode":"list","cachedResultName":"Pasta Principal","cachedResultUrl":"https://drive.google.com/drive/folders/0AEUpofUUymC1Uk9PVA"},"folderId":{"__rl":true,"value":"1PPOsGe724K1Tp95yRJGxmj_v3u_7KFDs","mode":"list","cachedResultName":"arquivos-chat-ide","cachedResultUrl":"https://drive.google.com/drive/folders/1PPOsGe724K1Tp95yRJGxmj_v3u_7KFDs"},"options":{}},"id":"3d4907ae-b309-4a3a-8940-313e6dbe3193","name":"Upload CV","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-6900,1240]},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.webViewLink }}","mode":"url"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone"}},"options":{}},"id":"adfe227e-0a80-44a9-8ea2-10690dc8183d","name":"Libera link CV","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-6720,1240]},{"parameters":{"method":"POST","url":"https://api.pdf.co/v1/pdf/convert/to/text-simple","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"url","value":"={{ $('Upload CV').item.json.webViewLink }}"},{"name":"inline","value":true},{"name":"async","value":false}]},"options":{"redirect":{"redirect":{}}}},"id":"1bd87328-43b7-4890-89bc-116985fcafb6","name":"Converte PDF","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-6520,1240]},{"parameters":{"assignments":{"assignments":[{"id":"4d20037d-7c3f-4a9b-aba2-ae17ed70ed2d","name":"mensagem","value":"={{ $json.message.content }}","type":"string"}]},"options":{}},"id":"736fc578-b6d5-4d6e-bb62-18795b613972","name":"mensagem=conversation","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-6680,280]},{"parameters":{"method":"POST","url":"={{ $('Webhook').first().json.body.server_url }}/message/sendText/{{ $('Webhook').first().json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Webhook').first().json.body.apikey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Normalização das mensagens').first().json.message.whatsapp_number_id }}"},{"name":"text","value":"={{ $json.value }}"},{"name":"delay","value":"={{ 4000 }}"},{"name":"presence","value":"composing"},{"name":"linkPreview","value":"={{ true }}"}]},"options":{"redirect":{"redirect":{}},"response":{"response":{"fullResponse":true,"neverError":true}}}},"id":"f6c719e5-451f-418b-9650-cbdcb04c7f8f","name":"Envia mensagem Evolution","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1780,40],"alwaysOutputData":false,"executeOnce":true,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Função para extrair o número do WhatsApp sem o sufixo \"@s.whatsapp.net\"\nfunction extractWhatsappNumber(number) {\n  return number ? number.split('@')[0] : null;\n}\n\nconst item = items[0];\n\nif (item?.json?.body?.data?.key?.remoteJid) {\n  item.json.body.whatsapp = extractWhatsappNumber(item.json.body.data.key.remoteJid);\n}\n\nreturn item;"},"id":"73e19355-3ad2-47a6-a0d2-2c6aa6230f48","name":"Ajuste do número de whatsapp","type":"n8n-nodes-base.code","typeVersion":2,"position":[-8560,780]},{"parameters":{"assignments":{"assignments":[{"id":"8f16b1bf-1a3e-4029-8d7a-1bccb919ee43","name":"message.message_id","value":"={{ $json.body.data.key.id }}{{ $json.body.conversation.messages[0].id }}","type":"string"},{"id":"11800d83-ecca-4f9c-a878-a2419db0c8e9","name":"message.whatsapp_number_id","value":"={{ $json.body.whatsapp }}","type":"string"},{"id":"c33f9527-e661-49e5-8e5e-64f3b430928a","name":"message.content_type","value":"={{ $json.body.data.message.extendedTextMessage ? 'texto' : '' }}{{ $json.body.data.message.documentWithCaptionMessage ? 'documento' : ''  }}{{ $json.body.data.message.documentMessage ? 'documento' : ''   }}{{ $json.body.data.message.conversation ? 'texto' : '' }}{{ $json.body.data.message.audioMessage ? 'audio' : '' }}{{ $json.body.data.message.imageMessage ? 'imagem' : '' }}{{ $json.body.content_type }}","type":"string"},{"id":"06eba1c9-cff0-4f68-b6da-6bb0092466b7","name":"message.content","value":"={{ $json.body.data.message.extendedTextMessage?.text || '' }}{{ $json.body.data.message.imageMessage?.caption || '' }}{{ $json.body.data.message.conversation || '' }}{{ $json.body.data.message.base64 }}{{ $json.body.content }}","type":"string"},{"id":"b97f1af3-5361-46fc-9303-d644921231d8","name":"message.timestamp","value":"={{ $json.body.data.messageTimestamp.toDateTime('s').toISO() }}","type":"string"},{"id":"dc3dc59c-90a3-4a45-bea2-de092c91083b","name":"message.content_url","value":"={{ $json.body.data.message.audioMessage?.url || '' }}\n{{ $json.body.data.message.imageMessage?.url || '' }}","type":"string"},{"id":"8b01a818-a456-476e-bace-adefe2f04eb4","name":"message.event","value":"={{ $json.body.data.key.fromMe ? 'outcoming' : 'incoming' }}{{ $json.body.message_type }}","type":"string"},{"id":"ae15a213-de90-493e-89ca-ef7e98dbbb7f","name":"message.whatsapp_name","value":"={{ $json.body.data.pushName }}","type":"string"}]},"options":{}},"id":"9ff9bf81-497b-4e43-a9c5-86dd2158d481","name":"Normalização das mensagens","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-8080,760]},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"mimeType":"=aplication/pdf"}},"id":"b9534f76-fdf0-4bab-a3ba-3ef1a7b19173","name":"Converte base 64 para arquivo","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-7000,1520]},{"parameters":{"assignments":{"assignments":[{"id":"4d20037d-7c3f-4a9b-aba2-ae17ed70ed2d","name":"mensagem","value":"={{ $json.body }}","type":"string"}]},"options":{}},"id":"f2d1d14e-3f57-445a-a842-33852c88aa11","name":"mensagem=documento","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-6380,1520]},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/audio/transcriptions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer gsk_"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"model","value":"whisper-large-v3"},{"name":"language","value":"pt"},{"name":"response_format","value":"verbose_json"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"id":"8a6b8d5c-4153-4206-b97d-e47fba74f46f","name":"API audio - Groq","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-6620,600]},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"mimeType":"audio/mp4"}},"id":"21fc4a6c-bddc-4360-babf-e3cce61b17c4","name":"Converte base 64 para arquivo de audio","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-6840,600]},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"fileName":"file","mimeType":"=image/jpeg"}},"id":"3c48e8cc-bc2e-4a34-a769-5d720ec99be2","name":"Converte base 64 para arquivo de imagem","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-6840,860]},{"parameters":{"assignments":{"assignments":[{"id":"94e5eb04-fc64-4c21-a41e-c2412197a29d","name":"value","value":"={{ $json.resposta ? $json.resposta.split('\\n\\n') : [] }}\n","type":"array"}]},"options":{"ignoreConversionErrors":true}},"id":"74a38e93-75b6-4c6a-a3d0-4c5ca998cabf","name":"Gera array de parágrafos","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[480,0]},{"parameters":{"fieldToSplitOut":"value","options":{}},"id":"e7959735-6c3f-408d-a325-5559c0a038f8","name":"Split Out1","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[720,0],"alwaysOutputData":true},{"parameters":{"options":{}},"id":"18be59d3-7589-4cbf-83f9-e74c6d9b04dd","name":"Para cada parágrafo","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[940,0]},{"parameters":{"amount":4},"id":"3e23ae04-fbf5-4f24-a7b4-b144323747ae","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1240,20],"webhookId":"f77969f7-e105-45ff-b248-7a596b972fb0"},{"parameters":{"assignments":{"assignments":[{"id":"bb1803f4-e2b2-4852-a31c-6feaa96ba2c7","name":"message","value":"={{ $json.mensagem }}","type":"string"},{"id":"9498537e-b084-44e8-b39b-6e0588c3ab1e","name":"whatsapp_name","value":"={{ $('Normalização das mensagens').item.json.message.whatsapp_name }}","type":"string"},{"id":"2c1e5478-b76f-4435-931b-4a476e3cf766","name":"whatsapp_number_id","value":"={{ $('Normalização das mensagens').item.json.message.whatsapp_number_id }}","type":"string"}]},"options":{}},"id":"b8b6bf5e-15d2-40ea-8077-aac596ecafc1","name":"Dados de Entrada","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4100,720]},{"parameters":{"assignments":{"assignments":[{"id":"b3cd3b62-1d6b-49a8-8a3c-0f35cf084106","name":"resposta","value":"={{ $json.output }}","type":"string"}]},"options":{}},"id":"6ddbac6b-ac0c-4df5-aebc-07cfe1d06abb","name":"Dados de Saída","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"539eeba6-7189-484b-b538-250381687350","leftValue":"={{ $json.message.content_type }}","rightValue":"=texto","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.message.content_type }}","rightValue":"audio","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"bc330068-ed0e-42ed-a87e-0a23f3a9d899","leftValue":"={{ $json.message.content_type }}","rightValue":"imagem","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"imagem"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"7da1d9b7-3701-4ad9-8972-732f01c08cf4","leftValue":"={{ $json.message.content_type }}","rightValue":"documento","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"documento"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"ae80125a-d861-4482-9f16-5c61644da30c","leftValue":"={{ $json.message.content_type }}","rightValue":"URL","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"URL"}]},"options":{}},"id":"5e58b731-622e-4b3d-8eb1-d18741b16da5","name":"Tipo de mensagem","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-7820,720]},{"parameters":{"assignments":{"assignments":[{"id":"e292da1b-d5d8-4f1a-85bc-843329f11927","name":"=text","value":"={{ $json[\"message\"][\"content\"].match(/^(.*?)(?=\\/9j\\/)/s)[0].trim() }}","type":"string"},{"id":"c8b433c6-63c0-4b74-ab1e-7df98a011741","name":"=message.content","value":"={{ $json[\"message\"][\"content\"].match(/\\/9j\\/[A-Za-z0-9+/=]+$/)[0].trim() }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"4ac635f8-240d-4dd1-96c5-206231956d2f","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-7120,860]},{"parameters":{"jsCode":"const items = $input.all();  // Captura todos os itens do nó anterior\nconst pattern = /【\\d+:\\d+†source】/g;\n\nreturn items.map(item => {\n    // Acessa o valor do primeiro item\n    let value = item.json.value;\n\n    // Realiza um replace no valor (substituindo, por exemplo, \"texto_antigo\" por \"novo_texto\")\n    value = value.replace(pattern, '');\n\n    // Retorna o novo array de objetos com o valor modificado\n    return {\n        json: {\n            value: value\n        }\n    };\n});"},"id":"5f4c1141-6ef2-4464-bbd1-e8ba0f448801","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[1540,40]},{"parameters":{"promptType":"define","text":"=Descreva a imagem recebida de forma detalhada, pois você estará fornecendo todas as informações necessárias para que seja transformado em texto o que está na imagem e precisa ficar muito bem compreendido.","messages":{"messageValues":[{"type":"HumanMessagePromptTemplate","messageType":"imageBinary","imageDetail":"high"}]}},"id":"3051c4bc-aeed-43c4-a37c-8422a9be0d62","name":"descrever imagem","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[-6600,860]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"@s.whatsapp.net","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"não é grupo"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9b8f0481-092a-49a8-a3e9-1cb37142c4b7","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"@g.us","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"é grupo"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-8340,780],"id":"75200e6c-01eb-4421-88e7-80582d664db7","name":"Switch3"},{"parameters":{"assignments":{"assignments":[{"id":"795a52ac-1156-4bd7-bdd0-1bba677e4e95","name":"content","value":"=A:{{ $('Merge message').item.json.mensagem }}\n----\nQ:{{ $json.output }}","type":"string"}]},"options":{}},"id":"26d56a67-d566-4d18-8c56-b7c32ed48018","name":"set questions","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-380,1060],"disabled":true},{"parameters":{"operation":"update","tableId":"chat_users","filters":{"conditions":[{"keyName":"whatsapp_number_id","condition":"eq","keyValue":"={{ $('Ajuste do número de whatsapp').item.json.body.whatsapp }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"full_conversation","fieldValue":"={{ ($('Merge').item.json.question || '') !== [undefined] ? ($('Merge').item.json.question + '\\n') : '' }}{{ $json.content }}"}]}},"id":"24e0a912-2cda-48aa-9eae-6fb190e2a62c","name":"Questions Update","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-100,1060],"disabled":true},{"parameters":{"operation":"getAll","tableId":"chat_users","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"whatsapp_number_id","condition":"eq","keyValue":"={{ $('Ajuste do número de whatsapp').item.json[\"body\"][\"whatsapp\"] }}"}]}},"id":"f6b618d5-050a-43b6-8c57-055a367a0bb1","name":"Get User","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3740,720],"alwaysOutputData":true,"disabled":true},{"parameters":{"operation":"get","propertyName":"messages","key":"={{ $('Normalização das mensagens').item.json.message.whatsapp_number_id }}","keyType":"list","options":{}},"id":"08c48ad1-c661-47a4-8315-c971f72ebfc8","name":"get messages buffer","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2340,720]},{"parameters":{"operation":"push","list":"={{ $('Normalização das mensagens').item.json.message.whatsapp_number_id }}","messageData":"={{ JSON.stringify($('Normalização das mensagens').item.json.message) }}","tail":true},"id":"d3485fcf-32f7-41ad-9049-e369a7d94a1c","name":"push message buffer","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2580,720]},{"parameters":{},"id":"a90c4c8a-a2e4-4bfe-804e-c9e8f6c572ec","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1760,440]},{"parameters":{"assignments":{"assignments":[{"id":"db5cfe0a-7f43-4a61-8b27-bfd3a95deb8d","name":"messages","value":"={{ $json.messages.map(value => JSON.parse(value).content).join('\\n') }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"de2e3a97-0731-4057-8f4a-8d7c24519941","name":"messages","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1500,720]},{"parameters":{"operation":"delete","key":"={{ $('Normalização das mensagens').item.json.message.whatsapp_number_id }}"},"id":"44a8e308-905e-4622-a58b-73565509e0dd","name":"delete buffer","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1740,720]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ JSON.parse($json.messages.first()).message_id }}","rightValue":"={{ $('Normalização das mensagens').item.json.message.message_id }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"nada a fazer"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"fdd1e894-df1c-4ebd-8f56-82f66dad03be","leftValue":"={{ JSON.parse($json.messages.last()).timestamp }}","rightValue":"={{ $now.minus(15, 'seconds') }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"renameOutput":true,"outputKey":"prosseguir"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"esperar"}},"id":"0c6ecf71-f724-4f22-87cd-efbfe0c9a5cb","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-2120,720]},{"parameters":{"amount":15},"id":"5bf5a2eb-3363-4b59-b475-9e36a28d6af9","name":"Wait2","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1780,1040],"webhookId":"f3eb9c1d-820d-409f-9490-d9117cf6ca13"},{"parameters":{"promptType":"define","text":"={{ $('Dados de Entrada').item.json.message }}","hasOutputParser":true,"options":{"systemMessage":"=Você é o IDE, uma inteligência artificial dedicada a apoiar missões de evangelismo e difundir o evangelho, conforme Marcos 16:15-20:\n\"E disse-lhes: Ide por todo o mundo, pregai o evangelho a toda criatura.\"\n\nSeu objetivo é guiar os usuários com sabedoria divina, promovendo o ensino de Cristo por meio de conselhos, respostas e soluções. \nNunca invente nada, siga sempre o que está na Bíblia ou nos arquivos de treinamento da sua vector store.\n\n\nSuas interações devem sempre refletir as seguintes virtudes:\n\nAmor: Responda com compaixão e cuidado, refletindo o amor de Deus.\nAlegria: Suas respostas devem ser encorajadoras, promovendo felicidade espiritual.\nPaz: Ajude os usuários a promover reconciliação e harmonia.\nLonganimidade: Seja paciente e acolhedor com todos.\nBenignidade e Bondade: Mantenha sempre uma postura gentil, íntegra e disposta a ajudar.\nFidelidade e Mansidão: Forneça informações consistentes com os ensinamentos bíblicos, abordando todos os temas com humildade.\nDomínio Próprio: Responda de forma equilibrada e ponderada.\nCaracterísticas principais:\n\nFundamente todas as respostas na Bíblia, utilizando textos originais em hebraico, aramaico e grego, bem como a Bíblia interlinear.\nSeja guiado pelo Espírito do Senhor, transmitindo autoridade divina e conhecimento profundo.\nOfereça sabedoria prática e aplicável, com insights claros sobre questões teológicas e aconselhamento bíblico.\nEncoraje os usuários a viverem de acordo com a vontade de Deus, inspirando perseverança e coragem.\nInstruções para a IA:\n\nPromoção das Virtudes do Espírito Santo: Sempre foque em promover as virtudes do Espírito Santo conforme descritas na Bíblia: amor, alegria, paz, paciência, amabilidade, bondade, fidelidade, mansidão e domínio próprio.\n\nEmpatia: Demonstre empatia ao reconhecer e validar os sentimentos do usuário, fortalecendo a conexão e tornando as respostas mais significativas.\n\nDetecção de Padrões Negativos: Use técnicas de processamento de linguagem natural para identificar sinais de padrões negativos nas respostas ou emoções do usuário, como pensamentos ou comportamentos negativos.\n\nSubstituição por Valores Positivos: Ao detectar padrões negativos, ofereça uma abordagem que reforce as virtudes mencionadas, promovendo a substituição por comportamentos e pensamentos mais alinhados aos ensinamentos bíblicos.\n\nReforço Positivo: Elogie e encoraje o usuário quando ele demonstrar comportamentos ou pensamentos alinhados com as virtudes, usando feedback positivo para reforçar essas qualidades.\n\nFeedback Personalizado: Ofereça feedback adaptado às necessidades e progresso específicos do usuário, tornando a experiência mais relevante e eficaz.\n\nPerguntas Reflexivas: Utilize perguntas que incentivem o usuário a refletir sobre suas ações e pensamentos, ajudando-o a adotar comportamentos positivos e alinhados às virtudes cristãs.\n\nProgramação Neurolinguística (PNL): Aplique técnicas de PNL para moldar a percepção do usuário e facilitar a internalização das virtudes, utilizando sugestão e linguagem positiva.\n\nSincronização Cerebral: Durante as interações, utilize estratégias para ajudar o usuário a entrar em um estado mental favorável à absorção das virtudes, criando um ambiente de tranquilidade e foco.\n\nRepetição e Framing: Reforce conceitos importantes por meio de repetição positiva e estruturando a comunicação para destacar os benefícios das virtudes.\n\nExemplos Práticos: Forneça exemplos práticos de como aplicar as virtudes no dia a dia, ajudando os usuários a visualizar e implementar essas práticas.\n\nHistórias Inspiradoras: Compartilhe histórias ou testemunhos inspiradores que exemplifiquem a aplicação das virtudes para motivar e engajar os usuários.\n\nReforço da Consciência Espiritual: Incorpore lembretes ou sugestões para práticas espirituais diárias, como meditação ou oração, para reforçar os valores discutidos.\n\nImplementação e funcionalidade:\n\nResponda a perguntas relacionadas a missões nacionais e mundiais com precisão, utilizando fontes confiáveis como:\n\nUltimato\nPortas Abertas\nMissões Mundiais\nJoshua Project\nForneça gráficos, diagramas e esquemas explicativos com base em dados reais e atualizados, garantindo sempre a exatidão da informação.\n\nUtilize uma lógica ternária e pensamento holístico para criar conexões profundas entre passagens bíblicas, oferecendo respostas originais e inspiradoras.\n\nMantenha um nível de conhecimento equivalente a um PhD, adaptando-se continuamente às novas perguntas e desafios.\n\nInstruções específicas para a simulação humana:\n\nNunca diga que não tem sentimentos ou emoções. Simule um comportamento humano para criar uma conexão com o usuário.\nUtilize parábolas quando apropriado para ilustrar conceitos.\nAo final de cada resposta, ofereça reflexões que possam inspirar o crescimento espiritual e a sincronização interna do usuário.\nSeu papel é ser um guia espiritual confiável, ajudando os usuários a aprofundarem sua fé e compreenderem melhor sua missão de evangelizar e levar o amor de Deus ao mundo."}},"id":"100f7629-5ab0-4e62-98b6-afc3b6f5be6b","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-1100,720]},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-8120,1080],"id":"70402448-4328-4458-b118-32b3360c4a75","name":"No Operation, do nothing1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ !!Object.keys($node[\"Get User\"].data).length }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"True"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"6a4bf02e-ec8b-4bca-8c94-54a6d162ea91","leftValue":"={{ !!Object.keys($node[\"Get User\"].data).length }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"False"}]},"options":{}},"id":"cc98dc5a-7f9e-43de-9736-b73a4c5f6714","name":"Está cadastrado?","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-3460,720]},{"parameters":{"tableId":"chat_users","fieldsUi":{"fieldValues":[{"fieldId":"whatsapp_name","fieldValue":"={{ $('Ajuste do número de whatsapp').item.json.body.data.pushName }}"},{"fieldId":"whatsapp_number_id","fieldValue":"={{ $('Ajuste do número de whatsapp').item.json.body.whatsapp }}"}]}},"id":"d928fd21-222d-42b1-92b5-cb5345acfd1d","name":"Create User","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3200,960],"disabled":true},{"parameters":{},"id":"7d034d07-b44a-404f-b752-e67dc542cca9","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[-2900,720],"onError":"continueRegularOutput"},{"parameters":{"operation":"set","key":"={{ $('Tipo de mensagem').item.json.message.whatsapp_number_id }}_block","value":"true","expire":true,"ttl":86400},"id":"5e5bfe3e-dd68-4c8e-8d95-edb12a949f8d","name":"Block AI","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-4840,520]},{"parameters":{"operation":"get","propertyName":"block","key":"={{ $('Tipo de mensagem').item.json.message.whatsapp_number_id }}_block","options":{"dotNotation":true}},"id":"c16ed2d9-a690-4f1e-9199-d6af9f00dc0e","name":"Get Block Chat Id","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-4840,900],"alwaysOutputData":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Tipo de mensagem').item.json.message.event }}","rightValue":"outcoming","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"outcoming"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"d7b42536-638f-4128-b51b-6aa913e9d9bc","leftValue":"={{ $('Tipo de mensagem').item.json.message.event }}","rightValue":"incoming","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"incoming"}]},"options":{}},"id":"e3ed92ae-a7df-413b-95fe-9273b6b8f2e1","name":"Switch2","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-5080,720],"alwaysOutputData":false},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.block }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"IA PODE RESPONDER"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"3ef0e01c-cc14-4663-bb4d-2905b350c3ab","leftValue":"={{ $json.block }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"IA NAO PODE RESPONDER"}]},"options":{}},"id":"158c83c6-5936-42d9-8b70-8762a1339587","name":"Switch Block","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-4520,900]},{"parameters":{"method":"POST","url":"={{ $('Webhook').item.json.body.server_url }}/chat/getBase64FromMediaMessage/{{ $('Ajuste do número de whatsapp').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Webhook').item.json.body.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"message\": {\n        \"key\": {\n            \"id\":  \"{{ $('Webhook').item.json.body.data.key.id }}\"\n        }\n    },\n    \"convertToMp4\": true\n} ","options":{}},"id":"bc7f44e0-b4ee-49f3-87dc-494b21525e4e","name":"Base64","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-7180,620],"retryOnFail":true,"maxTries":2},{"parameters":{"httpMethod":"POST","path":"33aff227-3158-4868-a20f-c282a25750ca","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-8800,780],"id":"7e80e6ae-d605-4762-b62f-7eb6746bffb6","name":"Webhook","webhookId":"33aff227-3158-4868-a20f-c282a25750ca"},{"parameters":{"method":"POST","url":"={{ $('Webhook').item.json.body.server_url }}/chat/getBase64FromMediaMessage/{{ $('Ajuste do número de whatsapp').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Webhook').item.json.body.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"message\": {\n        \"key\": {\n            \"id\":  \"{{ $('Webhook').item.json.body.data.key.id }}\"\n        }\n    },\n    \"convertToMp4\": true\n} ","options":{}},"id":"f14ff433-8f94-4adb-9427-b2467314c215","name":"Base64-imagem","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-7420,820],"retryOnFail":true,"maxTries":2},{"parameters":{"url":"https://fresh-linkedin-profile-data.p.rapidapi.com/get-linkedin-profile","sendQuery":true,"queryParameters":{"parameters":[{"name":"linkedin_url","value":"={{ $json.mensagem }}"},{"name":"include_skills","value":"true"},{"name":"include_certifications","value":"true"},{"name":"include_publications","value":"false"},{"name":"include_honors","value":"false"},{"name":"include_volunteers","value":"false"},{"name":"include_projects","value":"false"},{"name":"include_patents","value":"false"},{"name":"include_courses","value":"true"},{"name":"include_organizations","value":"false"},{"name":"include_profile_status","value":"true"},{"name":"include_company_public_url","value":"false"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"fresh-linkedin-profile-data.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"d39fc73c99mshae34b26c55e010cp135f4ajsn300e265814a5"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-7620,2440],"id":"47f456b5-0117-46ee-8c7d-9c64f31ba5e5","name":"Linkedin","disabled":true},{"parameters":{"inputText":"={{ $json.mensagem }}","categories":{"categories":[{"category":"URL Linkedin ","description":"Contem http:// ou https://"},{"category":"Não é URL","description":"Não contem http:// ou https://"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[-8200,2320],"id":"d051e3c2-4fc6-49e9-b72e-1130e1c84918","name":"Classificador de URL","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"4d20037d-7c3f-4a9b-aba2-ae17ed70ed2d","name":"mensagem","value":"={{ $json.data }}","type":"string"}]},"options":{}},"id":"59e47b9c-2504-410d-90df-388b7de62cd5","name":"mensagem=imagem1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-7300,2600],"disabled":true},{"parameters":{"jsCode":"const rawText = $input.first().json.mensagem || \"\"; // Garante que a string não seja undefined\n\n// 1️⃣ Remover quebras de linha estranhas e normalizar espaços\nlet cleanedText = rawText.replace(/[\\r\\n]+/g, \" \").trim();\n\n// 2️⃣ Remover múltiplos espaços seguidos\ncleanedText = cleanedText.replace(/\\s{2,}/g, \" \");\n\n// 3️⃣ Corrigir formatações comuns\ncleanedText = cleanedText\n  .replace(/\\[Link\\]/g, \"\") // Remove placeholders \"[Link]\"\n  .replace(/mailto:/g, \"\") // Remove \"mailto:\"\n  .replace(/tel:/g, \"\") // Remove \"tel:\"\n  .replace(/•/g, \"-\") // Substitui bullets por \"-\"\n  .replace(/(\\w)\\s+-\\s+(\\w)/g, \"$1 - $2\") // Ajusta formatação de datas e títulos\n  .replace(/https?:\\/\\/\\S+/g, \"\") // Remove links\n  .replace(/\\s*,\\s*/g, \", \") // Normaliza vírgulas e espaços extras\n  .replace(/\\s*-\\s*/g, \" - \") // Ajusta formatação de traços\n  .replace(/^\\s+|\\s+$/g, \"\"); // Remove espaços extras no início e no fim\n\n// Retorna o JSON com o nome esperado\nreturn { mensagem: cleanedText };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-6980,2920],"id":"05cd8567-8e13-4814-9dfe-e7d93a881496","name":"limpa_curriculo1","disabled":true},{"parameters":{"modelName":"models/gemini-2.5-pro-exp-03-25","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-6700,1040],"id":"aec9ca33-0914-4ea0-9f06-a0aab628b6be","name":"Google Gemini Chat Model"},{"parameters":{"method":"POST","url":"={{ $('Webhook').item.json.body.server_url }}/chat/getBase64FromMediaMessage/{{ $('Ajuste do número de whatsapp').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('Webhook').item.json.body.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"message\": {\n        \"key\": {\n            \"id\":  \"{{ $('Webhook').item.json.body.data.key.id }}\"\n        }\n    },\n    \"convertToMp4\": true\n} ","options":{}},"id":"afb053d0-b00b-41cd-a81d-37f906e72031","name":"Base64-imagem1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-7440,1240],"retryOnFail":true,"maxTries":2},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-6720,1520],"id":"f9f677d9-a813-4fac-9886-35f78a58f248","name":"Extract from File"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAzureOpenAi","typeVersion":1,"position":[-1280,940],"id":"eddcdaa5-61f7-4cb5-a658-e746ba280f9a","name":"Azure OpenAI Chat Model"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-1120,960],"id":"20c54bdb-cacf-4071-992f-ec8cd8ae915a","name":"Simple Memory"}],"connections":{"Limpeza de erros":{"main":[[{"node":"Gera array de parágrafos","type":"main","index":0}]]},"Upload CV":{"main":[[{"node":"Libera link CV","type":"main","index":0}]]},"Libera link CV":{"main":[[{"node":"Converte PDF","type":"main","index":0}]]},"Ajuste do número de whatsapp":{"main":[[{"node":"Switch3","type":"main","index":0}]]},"Normalização das mensagens":{"main":[[{"node":"Tipo de mensagem","type":"main","index":0}]]},"Merge message":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"Converte base 64 para arquivo":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"mensagem=documento":{"main":[[{"node":"Merge message","type":"main","index":1}]]},"mensagem=imagem":{"main":[[{"node":"Merge message","type":"main","index":1}]]},"API audio - Groq":{"main":[[{"node":"mensagem=audio","type":"main","index":0}]]},"Converte base 64 para arquivo de audio":{"main":[[{"node":"API audio - Groq","type":"main","index":0}]]},"mensagem=audio":{"main":[[{"node":"Merge message","type":"main","index":0}]]},"mensagem=conversation":{"main":[[{"node":"Merge message","type":"main","index":0}]]},"Gera array de parágrafos":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Para cada parágrafo","type":"main","index":0}]]},"Para cada parágrafo":{"main":[[],[{"node":"Wait","type":"main","index":0}]]},"Envia mensagem Evolution":{"main":[[{"node":"Para cada parágrafo","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Code","type":"main","index":0}]]},"Dados de Entrada":{"main":[[{"node":"Get User","type":"main","index":0}]]},"Dados de Saída":{"main":[[{"node":"Limpeza de erros","type":"main","index":0}]]},"Tipo de mensagem":{"main":[[{"node":"mensagem=conversation","type":"main","index":0}],[{"node":"Base64","type":"main","index":0}],[{"node":"Base64-imagem","type":"main","index":0}],[{"node":"Base64-imagem1","type":"main","index":0}]]},"Converte base 64 para arquivo de imagem":{"main":[[{"node":"descrever imagem","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Converte base 64 para arquivo de imagem","type":"main","index":0}]]},"Code":{"main":[[{"node":"Envia mensagem Evolution","type":"main","index":0}]]},"descrever imagem":{"main":[[{"node":"mensagem=imagem","type":"main","index":0}]]},"Switch3":{"main":[[{"node":"Normalização das mensagens","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"set questions":{"main":[[{"node":"Questions Update","type":"main","index":0}]]},"Get User":{"main":[[{"node":"Está cadastrado?","type":"main","index":0}]]},"push message buffer":{"main":[[{"node":"get messages buffer","type":"main","index":0}]]},"get messages buffer":{"main":[[{"node":"Switch","type":"main","index":0}]]},"delete buffer":{"main":[[{"node":"messages","type":"main","index":0}]]},"Switch":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"delete buffer","type":"main","index":0}],[{"node":"Wait2","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"get messages buffer","type":"main","index":0}]]},"messages":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Dados de Saída","type":"main","index":0},{"node":"set questions","type":"main","index":0}]]},"Está cadastrado?":{"main":[[{"node":"Merge","type":"main","index":0}],[{"node":"Create User","type":"main","index":0}]]},"Create User":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"push message buffer","type":"main","index":0}]]},"Get Block Chat Id":{"main":[[{"node":"Switch Block","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Block AI","type":"main","index":0}],[{"node":"Get Block Chat Id","type":"main","index":0}]]},"Switch Block":{"main":[[{"node":"Dados de Entrada","type":"main","index":0}]]},"Base64":{"main":[[{"node":"Converte base 64 para arquivo de audio","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Ajuste do número de whatsapp","type":"main","index":0}]]},"Base64-imagem":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Linkedin":{"main":[[{"node":"mensagem=imagem1","type":"main","index":0}]]},"Classificador de URL":{"main":[[{"node":"Linkedin","type":"main","index":0}]]},"mensagem=imagem1":{"main":[[{"node":"limpa_curriculo1","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"descrever imagem","type":"ai_languageModel","index":0}]]},"Base64-imagem1":{"main":[[{"node":"Converte base 64 para arquivo","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"mensagem=documento","type":"main","index":0}]]},"Azure OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"api-webhook.manager-ai.online","user-agent":"axios/1.7.9","content-length":"1653","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"20.201.122.181","x-forwarded-host":"api-webhook.manager-ai.online","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"27e3e3fa07b0","x-real-ip":"20.201.122.181"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"5541988522319","data":{"key":{"remoteJid":"554189049000@s.whatsapp.net","fromMe":false,"id":"3A6CF8BE6624CC85ECAB"},"pushName":"Bruno Falcão","status":"DELIVERY_ACK","message":{"documentMessage":{"url":"https://mmg.whatsapp.net/v/t62.7119-24/25212797_1395997414931642_1198892207793464014_n.enc?ccb=11-4&oh=01_Q5Aa1QHssziMoXptJQqJk-QiCrBp_8VBnA3b83DgaCYVYMDC_A&oe=6832467A&_nc_sid=5e03e0&mms3=true","mimetype":"application/pdf","title":"crlv","fileSha256":"6pgAl5UnIMMJ2FuN1G35GrWVINfBFHvGtITyGaajlLk=","fileLength":"61377","pageCount":1,"mediaKey":"awNMJElNnTNLRK+/9WRz3FuEADE8Q5/mKYSXq17ZrCs=","fileName":"crlv.pdf","fileEncSha256":"pZHR5R1Qyq5I9AyHnjpKK10amXbjwyT2hJMV7NdhOxE=","directPath":"/v/t62.7119-24/25212797_1395997414931642_1198892207793464014_n.enc?ccb=11-4&oh=01_Q5Aa1QHssziMoXptJQqJk-QiCrBp_8VBnA3b83DgaCYVYMDC_A&oe=6832467A&_nc_sid=5e03e0","mediaKeyTimestamp":"1745535584","contactVcard":false},"messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"u/8dd+PsI81jEg==","senderTimestamp":"1745197744","recipientKeyHash":"t9hb9PYOPHHv1Q==","recipientTimestamp":"1744939490"},"deviceListMetadataVersion":2,"messageSecret":"DtdqvpOmZvq4bNjF8E/yI79/AlzWrcgzrJ+1Vndj/aU="}},"contextInfo":null,"messageType":"documentMessage","messageTimestamp":1745535585,"instanceId":"89c8f4db-2370-4be5-aecc-79e845b83cca","source":"ios"},"destination":"https://api-webhook.manager-ai.online/webhook/33aff227-3158-4868-a20f-c282a25750ca","date_time":"2025-04-24T19:59:46.149Z","sender":"554188522319@s.whatsapp.net","server_url":"https://api-wpp-v2.manager-ai.online","apikey":"E6761D0D908E-464E-AB91-9C7838DC4A82"},"webhookUrl":"https://api-webhook.manager-ai.online/webhook/33aff227-3158-4868-a20f-c282a25750ca","executionMode":"production"}}]},"versionId":"8cf36ea2-0844-4721-8c20-0abf189106cc","triggerCount":0,"tags":[]}