workflows/Agente financeiro.json
{"createdAt":"2025-06-20T02:08:25.890Z","updatedAt":"2025-06-20T02:54:44.194Z","id":"atinqGN79TVQe5C7","name":"Agente financeiro","active":false,"isArchived":false,"nodes":[{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[620,1180],"id":"d243af7a-5bfd-4597-bbf0-1f6063fbff6b","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"rVdjfDowKjs3OG2m","name":"OpenAi - TECHPULSE"}}},{"parameters":{"path":"planilha"},"type":"@n8n/n8n-nodes-langchain.mcpTrigger","typeVersion":1,"position":[660,320],"id":"b6fce6d3-5864-43b9-8baa-90c91c9235c0","name":"MCP Server (Planilha)","webhookId":"fa40f6ba-549a-4526-97e5-6416aabf05c8"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[1140,1180],"id":"258c6836-aa6a-490c-b4a2-4c9ac79cf081","name":"Think"},{"parameters":{"sseEndpoint":"https://webhook.techpulseai.com.br/mcp/planilha/sse"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[980,1180],"id":"1a7dfc69-63c5-4cca-8d78-cb3fa881c3b0","name":"MCP Server"},{"parameters":{"operation":"delete","documentId":{"__rl":true,"value":"1vyWLJjk5Vy4XusX-oI7SIU05ehf1GoHnv4YtqTfLQi0","mode":"list","cachedResultName":"Agente - Finanças","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1vyWLJjk5Vy4XusX-oI7SIU05ehf1GoHnv4YtqTfLQi0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1vyWLJjk5Vy4XusX-oI7SIU05ehf1GoHnv4YtqTfLQi0/edit#gid=0"}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[800,600],"id":"01341ff6-98cb-4e67-b85c-eb3ce4725cb0","name":"Deleta","credentials":{"googleSheetsOAuth2Api":{"id":"duX7Zo5QobkZJdKh","name":"Google Sheets allan"}}},{"parameters":{"documentId":{"__rl":true,"value":"1vyWLJjk5Vy4XusX-oI7SIU05ehf1GoHnv4YtqTfLQi0","mode":"list","cachedResultName":"Agente - Finanças","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1vyWLJjk5Vy4XusX-oI7SIU05ehf1GoHnv4YtqTfLQi0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1vyWLJjk5Vy4XusX-oI7SIU05ehf1GoHnv4YtqTfLQi0/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[620,600],"id":"88f7d754-af72-4738-a0ca-0538b7354054","name":"Consulta","credentials":{"googleSheetsOAuth2Api":{"id":"duX7Zo5QobkZJdKh","name":"Google Sheets allan"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1vyWLJjk5Vy4XusX-oI7SIU05ehf1GoHnv4YtqTfLQi0","mode":"list","cachedResultName":"Agente - Finanças","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1vyWLJjk5Vy4XusX-oI7SIU05ehf1GoHnv4YtqTfLQi0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1vyWLJjk5Vy4XusX-oI7SIU05ehf1GoHnv4YtqTfLQi0/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"VALOR":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('VALOR__using_to_match_', ``, 'string') }}","DATA":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('DATA', ``, 'string') }}","FORNECEDOR":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('FORNECEDOR', ``, 'string') }}","QUEM GASTOU":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('QUEM_GASTOU', ``, 'string') }}"," CATEGORIA":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('_CATEGORIA', ``, 'string') }}"},"matchingColumns":["VALOR"],"schema":[{"id":"DATA","displayName":"DATA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FORNECEDOR","displayName":"FORNECEDOR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"QUEM GASTOU","displayName":"QUEM GASTOU","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":" CATEGORIA","displayName":" CATEGORIA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"VALOR","displayName":"VALOR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[960,600],"id":"3e8905ef-8597-4c60-bb18-73f6cd087a1a","name":"Adiciona","credentials":{"googleSheetsOAuth2Api":{"id":"duX7Zo5QobkZJdKh","name":"Google Sheets allan"}}},{"parameters":{"resource":"chat-api","operation":"read-messages","instanceName":"={{ $('Edit Fields1').item.json.instancia }}","remoteJid":"={{ $('Edit Fields1').item.json.numero }}","messageId":"={{ $('Edit Fields1').item.json.id }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1160,920],"id":"6b196537-3d96-43c1-acee-fbcfe8e62309","name":"Evolution API","credentials":{"evolutionApi":{"id":"AfcW5UBaTBawYJHp","name":"Evolution UNIVER"}}},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Edit Fields1').item.json.instancia }}","remoteJid":"={{ $('Edit Fields1').item.json.numero }}","messageText":"={{ $('AI Agent1').item.json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1380,920],"id":"9b8e8898-7edd-4eba-875f-766eeca3e0b1","name":"Evolution API1","credentials":{"evolutionApi":{"id":"AfcW5UBaTBawYJHp","name":"Evolution UNIVER"}}},{"parameters":{"httpMethod":"POST","path":"financas","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[360,920],"id":"4a20e12f-779b-455b-bdc5-0fe52a69a51d","name":"Webhook1","webhookId":"b9b68b89-253a-43ac-8806-e4b5ab326523"},{"parameters":{"assignments":{"assignments":[{"id":"2d9f1cba-b500-4e2f-a178-6351dcd20992","name":"mensagem","value":"={{ $json.body.data.message.conversation }}","type":"string"},{"id":"e6f68966-7cd4-4ef1-9e74-208637fc52d3","name":"instancia","value":"={{ $json.body.instance }}","type":"string"},{"id":"34045ba7-1cd3-4813-b64d-b771412cdf6d","name":"numero","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"fa1d5481-ef08-48cf-987e-e7a55648a0c6","name":"id","value":"={{ $json.body.data.key.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[580,920],"id":"3d1062ad-b1c5-4392-be17-04d5c5c5801c","name":"Edit Fields1"},{"parameters":{"promptType":"define","text":"={{ $json.mensagem }}","options":{"systemMessage":"=Hoje a data é {{ $now }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[800,920],"id":"7de4819a-8e64-47f9-8baa-9a57bfc92e92","name":"AI Agent1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"3EB0AA29AB921889CE0B23"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[800,1180],"id":"375719e6-3af4-4c14-82d5-def6c8ad46c3","name":"Simple Memory1"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"MCP Server":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Deleta":{"ai_tool":[[{"node":"MCP Server (Planilha)","type":"ai_tool","index":0}]]},"Consulta":{"ai_tool":[[{"node":"MCP Server (Planilha)","type":"ai_tool","index":0}]]},"Adiciona":{"ai_tool":[[{"node":"MCP Server (Planilha)","type":"ai_tool","index":0}]]},"Evolution API":{"main":[[{"node":"Evolution API1","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Evolution API","type":"main","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"651fe8e5-bbea-478e-ba11-7b571f7eec09","triggerCount":2,"tags":[{"createdAt":"2025-05-06T15:51:27.747Z","updatedAt":"2025-05-06T15:51:27.747Z","id":"bdkiwzrYtNkpNJPd","name":"fluxo ativo"},{"createdAt":"2025-05-27T19:09:01.181Z","updatedAt":"2025-05-27T19:09:01.181Z","id":"gEfDb97AjPtkX4Dg","name":"Projeto"}]}