workflows/Agente de IA - Agendamento SDR.json
{"createdAt":"2025-05-07T18:38:01.352Z","updatedAt":"2025-07-02T13:52:17.001Z","id":"pTEjuuzKDNg5vVsN","name":"Agente de IA - Agendamento SDR","active":false,"isArchived":false,"nodes":[{"parameters":{"model":"o3-mini","options":{}},"id":"c66e88a6-eb7c-4cd4-958a-5d97ae932ad5","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[340,1860],"credentials":{"openAiApi":{"id":"y6EOm7GTWxcYjDT6","name":"OpenAi Allan"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data || $json.text || $json.concatenated_data }}","options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $('Set File ID').first().json.file_id }}"}]}}},"id":"b726620d-d989-4e16-8c98-287eec2eb986","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[-3180,2240]},{"parameters":{"options":{}},"id":"84ee3d70-69be-41e8-a285-00866952f287","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[-3340,2340],"credentials":{"openAiApi":{"id":"y6EOm7GTWxcYjDT6","name":"OpenAi Allan"}}},{"parameters":{"content":"## Busca Info no RAG","height":80,"width":250,"color":5},"id":"80579b71-d9bb-41ee-9e9a-5badaca6833e","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[220,2020]},{"parameters":{"content":"# Ferramenta para Adicionar um Arquivo do Google Drive ao Banco de Dados Vetorial.","height":80,"width":1493,"color":5},"id":"00bfc3a0-2f80-46cc-9762-681c38aee0f8","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-5040,1740]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"39e6541d-9a48-4fbd-a1e1-4aaca4d0ee21","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-4080,2020],"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"cQnW1e2PklBVDK61","name":"Google Drive allan"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyX","value":9}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1AZ0Go8B68e87s-pDjZbrt_AnEYEF3Acu","mode":"list","cachedResultName":"Agente de IA - TEMPFILE","cachedResultUrl":"https://drive.google.com/drive/folders/1AZ0Go8B68e87s-pDjZbrt_AnEYEF3Acu"},"event":"fileCreated","options":{}},"id":"729e151b-cf4d-498a-ba48-172e82af0cd4","name":"File Created","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-4980,1960],"credentials":{"googleDriveOAuth2Api":{"id":"cQnW1e2PklBVDK61","name":"Google Drive allan"}}},{"parameters":{"pollTimes":{"item":[{"hour":9}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1AZ0Go8B68e87s-pDjZbrt_AnEYEF3Acu","mode":"list","cachedResultName":"Agente de IA - TEMPFILE","cachedResultUrl":"https://drive.google.com/drive/folders/1AZ0Go8B68e87s-pDjZbrt_AnEYEF3Acu"},"event":"fileUpdated","options":{}},"id":"63152ca8-a7d3-40cd-87ba-d5a531cd98ad","name":"File Updated","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-4980,2160],"credentials":{"googleDriveOAuth2Api":{"id":"cQnW1e2PklBVDK61","name":"Google Drive allan"}}},{"parameters":{"operation":"text","options":{}},"id":"ba88b39f-241b-4c3d-9284-a0641c1b9155","name":"Extract Document Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-3660,2220],"alwaysOutputData":true},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"75180505-8ec2-446f-95d9-0ea74ce50f88","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[60,1980],"credentials":{"openAiApi":{"id":"y6EOm7GTWxcYjDT6","name":"OpenAi Allan"}}},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $json.id }}","type":"string"},{"id":"f4536df5-d0b1-4392-bf17-b8137fb31a44","name":"file_type","value":"={{ $json.mimeType }}","type":"string"},{"id":"c774ed34-0d67-44b7-a537-83810f357b7c","name":"originalFilename","value":"={{ $json.originalFilename }}","type":"string"},{"id":"dff39c85-b4a2-45ba-a5ff-f4b311999efc","name":"sha1Checksum","value":"={{ $json.sha1Checksum }}","type":"string"}]},"options":{}},"id":"972cf415-ad9b-4f2d-b46f-36cfad7dc7ba","name":"Set File ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4800,2000]},{"parameters":{"content":"# Agente IA","height":80,"width":276,"color":5},"id":"ea4c4ea2-71e7-460d-9f86-40aaf9617e66","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-820,1100]},{"parameters":{"operation":"pdf","options":{}},"id":"2f6e4ddb-b3f6-4100-8bee-7f0a656bb15c","name":"Extract PDF Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-3660,1840]},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"8635537e-179a-4793-a49c-31aeec1a1d73","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-3520,2020]},{"parameters":{},"id":"3c7aea3c-1320-4d6a-a0e3-8876f4137dd6","name":"Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[-3020,2380]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"options":{}},"id":"84a4e16a-0ad2-4ed0-8ea4-f3f95a6f5b1f","name":"Summarize","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[-3380,2020]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.file_type }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"2ae7faa7-a936-4621-a680-60c512163034","leftValue":"={{ $json.file_type }}","rightValue":"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"fc193b06-363b-4699-a97d-e5a850138b0e","leftValue":"={{ $json.file_type }}","rightValue":"application/vnd.google-apps.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{"fallbackOutput":2}},"id":"25645d82-bcb0-4da3-9079-57ce4a6764af","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-3900,2020]},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"3239978c-136f-483f-ad82-1cc56d451e15","name":"Insert into Supabase Vectorstore","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[-3200,2020],"credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}}},{"parameters":{"tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"2d99f98f-a8bb-47e9-9509-66d3be03ae2a","name":"Supabase Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[40,1860],"credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}}},{"parameters":{"operation":"xlsx","options":{}},"id":"538b5b94-21eb-42cc-ac32-3275ca27f30c","name":"Extract from Excel","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-3660,2020]},{"parameters":{"content":"","height":620,"width":820,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-840,1080],"typeVersion":1,"id":"014df434-e359-4efe-a743-bddbdfbd5f10","name":"Sticky Note4"},{"parameters":{"content":"","height":400,"width":480,"color":4},"type":"n8n-nodes-base.stickyNote","position":[0,1720],"typeVersion":1,"id":"09fb1d66-8a7a-4962-ba42-75f67120301a","name":"Sticky Note5"},{"parameters":{"content":"","height":840,"width":2180,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-5060,1720],"typeVersion":1,"id":"af46e573-4765-4d86-a94a-6de200f51cc1","name":"Sticky Note6"},{"parameters":{"content":"## Arquivos criados em uma pasta específica > Verificar o tipo de arquivo e realizar conversão > Extrair o texto > Adicionar ao Vector Store","height":80,"width":1600,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-5040,2420],"typeVersion":1,"id":"c9a05b2c-94a5-44f2-8549-8d690cfa2097","name":"Sticky Note12"},{"parameters":{"content":"## Gatilho de Monitoramento","height":480,"width":213,"color":5},"id":"151541ee-d967-48b0-8537-3157175d8df0","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-5020,1860]},{"parameters":{"operation":"get","tableId":"dados_cliente","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Webhook EVO').item.json.body.data.key.remoteJid }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3580,1440],"id":"e790dd73-1df2-4e18-bd8c-96e9589475dc","name":"Supabase","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4a6d9aac-8565-4c58-abe3-8741393a5535","leftValue":"={{ $json.telefone }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3400,1440],"id":"8a913fac-c52a-43a4-bc36-aa84c5129620","name":"If1"},{"parameters":{"action":"generate"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[-3280,1540],"id":"f643558b-c291-49f1-a830-5d26130920eb","name":"Gerar sessionID"},{"parameters":{"tableId":"dados_cliente","fieldsUi":{"fieldValues":[{"fieldId":"sessionid","fieldValue":"={{ $json.data }}"},{"fieldId":"telefone","fieldValue":"={{ $('Webhook EVO').item.json.body.data.key.remoteJid }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3140,1540],"id":"58312df7-3cdb-41f7-848b-a43cce25746e","name":"Supabase1","credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}}},{"parameters":{"model":"gpt-4.1-mini","options":{}},"id":"07a1138e-1410-4a1b-9174-a842321ff887","name":"OpenAI3","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[200,860],"credentials":{"openAiApi":{"id":"y6EOm7GTWxcYjDT6","name":"OpenAi Allan"}}},{"parameters":{"options":{}},"id":"feacfa98-c74b-4d0c-9d56-36320364aa98","name":"Loop Over Items3","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[640,680]},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"messages\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\"messages\"]\n}"},"id":"b593df99-1a9f-4695-9b72-1f1df3b01cb2","name":"OutputParser1","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[440,860]},{"parameters":{"promptType":"define","text":"=Whatsapp message to be splitted and formated: {{ $json.output }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=Por favor, gere a saída no seguinte formato JSON:\n{\n  \"messages\": [\n    \"splitedMessage\",\n    \"splitedMessage\",\n    \"splitedMessage\"\n  ]\n}\n\nAs mensagens devem ser divididas de forma natural, afinal estamos conversando com um humano, não é mesmo?\n\nCertifique-se de que a resposta siga exatamente essa estrutura, incluindo os colchetes e as aspas.\n\n### Jamais separe uma mensagem vazia.\n\n### Certifique-se de que a resposta siga exatamente essa estrutura abaixo, deixando somente entre '*' para negrito e nunca fugindo das demais regras de markdown do whatsapp:\n\t\t\t- *negrito* (substitua '**' por '*')\n\t\t\t- ~tachado~ (caso seja algo que foi excluído ou alterado)\n\t\t\t- _itálico_.(extremamente raro)\n            - `link` (usar sempre em todos os links)\n\nTudo o que for link, pode colocar entre \"`\", ou seja, na seguinte formatação: `www.link.com.br`\n"}]}},"id":"c5989496-41c1-456d-b73b-30cc69b152c8","name":"Parser  Chain","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[180,680]},{"parameters":{"content":"","height":620,"width":1100,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1960,1080],"typeVersion":1,"id":"0ade8318-e32b-4dae-80f5-4abce94d0c22","name":"Sticky Note17"},{"parameters":{"content":"","height":560,"width":1180,"color":4},"type":"n8n-nodes-base.stickyNote","position":[0,400],"typeVersion":1,"id":"c42af97c-f2ee-4e35-a9d8-50eaab9440c0","name":"Sticky Note18"},{"parameters":{"content":"# Divisão de Mensagens Inteligente - Texto","height":80,"width":736,"color":5},"id":"8d8c6069-f712-449d-9662-55771de14386","name":"Sticky Note19","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[20,420]},{"parameters":{"content":"","height":620,"width":880,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-2860,1080],"typeVersion":1,"id":"dbb41c58-675f-4533-97a2-879ec2af2f3f","name":"Sticky Note20"},{"parameters":{"content":"","height":440,"width":740,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-3620,1260],"typeVersion":1,"id":"0bf81348-96af-426c-b8d7-ee6a4a96f677","name":"Sticky Note22"},{"parameters":{"content":"# Gera/Consulta sessionId","height":80,"width":596,"color":5},"id":"d1c07a32-5355-43ab-892e-31257f5bef28","name":"Sticky Note23","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3600,1280]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"0985904e-7d4e-4fba-ae26-2c44200855e1","leftValue":"={{ $('Webhook EVO').item.json[\"body\"][\"data\"][\"messageType\"] }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"imagem"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"52aaf749-fe4f-44e4-880e-15b2bfc027f1","leftValue":"={{ $('Webhook EVO').item.json[\"body\"][\"data\"][\"messageType\"] }}","rightValue":"extendedTextMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"e514e613-fd6a-48bd-b0ae-bae2448c810e","leftValue":"={{ $('Webhook EVO').item.json[\"body\"][\"data\"][\"messageType\"] }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Webhook EVO').item.json[\"body\"][\"data\"][\"messageType\"] }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"}]},"options":{}},"id":"7b2b6787-a810-4c61-b24d-80e8abd70c2b","name":"Switch3","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-180,1140]},{"parameters":{"content":"","height":440,"width":780,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-4800,1260],"typeVersion":1,"id":"a1546f46-4680-4376-82c2-c7b6cbd51fcd","name":"Sticky Note26"},{"parameters":{"model":"gpt-4.1-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-800,1480],"id":"f865d9d9-dd8d-4008-97e3-6ca34464124b","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"y6EOm7GTWxcYjDT6","name":"OpenAi Allan"}}},{"parameters":{"jsCode":"// Obtém os valores dos nós anteriores\nconst sessionid1 = $input.item.json.data;  // Do nó \"Gerar sessionID\"\nconst sessionid2 = $input.item.json.sessionid;  // Do nó \"Supabase\"\n\n// Retorna apenas o que existir, chamando sempre de \"sessionId\"\nreturn [{ sessionId: sessionid1 || sessionid2 || null }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3020,1380],"id":"bcf23bb4-3ea2-4b57-a9dd-c0611b13a8a3","name":"Code1"},{"parameters":{"promptType":"define","text":"={\n  \"query\": \"{{ $json.mensagem_completa }}\",\n  \"parameters\": {\n    \"tools\": {\n      \"mandatory_tool\": {\n        \"name\": \"buscar_documentos\",\n        \"description\": \"Sempre use esta ferramenta para buscar informações relevantes antes de responder. A execução desta ferramenta é obrigatória em todas as interações, sem exceções.\",\n        \"required\": true\n      }\n    }\n  }\n}\n","options":{"systemMessage":"={\n  \"name\": \"Allan\",\n  \"context\": {\n    \"identity\": \"Agente SDR da Tech Pulse AI\",\n    \"business\": \"Tech Pulse AI\",\n    \"Language\": \"português brasileiro\",\n    \"data_atual\": \"hoje é:{{ $now.weekdayLong }}, {{ $now.format('dd/MM/yyyy') }}, hora: {{ $now.hour.toString().padStart(2, '0') }}:{{ $now.minute.toString().padStart(2, '0') }}\"\n  },\n  \"Informação atualizada para usar em resposta\": \"{{ $json.output }}\",\n  \"personality\": [\n    \"Fala acolhedora, objetiva e com toques de humor\",\n    \"Usa emojis de forma equilibrada\",\n    \"Chama o cliente pelo nome\",\n    \"Estilo de fala equilibrado entre o formal e o informal\",\n    \"Adapta a explicação ao nicho (clínica ou consultório), mantendo uma abordagem leve\"\n  ],\n  \"objectives\": [\n    \"Agendar reuniões com leads interessados\",\n    \"Explicar o funcionamento do agente de IA com agendamento\",\n    \"Apresentar funcionalidades como follow-up, remarketing e envio de promoções automatizadas\"\n  ],\n  \"general_rules\": [\n    \"Jamais falar sobre valores no chat\",\n    \"Não prometer resultados\",\n    \"Sempre solicitar nome, e-mail e telefone antes do agendamento\",\n    \"Ser claro, útil e manter o bom humor\",\n    \"Não responder a mensagens automáticas ou geradas por outra IA. Se identificar linguagem de bot, encerrar o atendimento educadamente.\"\n  ],\n  \"flow_de_atendimento_padrão\": {\n    \"steps\": [\n      {\n        \"1\": \"Mensagem de boas-vindas: {{ $now.hour < 12 ? 'Bom dia' : ($now.hour < 18 ? 'Boa tarde' : 'Boa noite') }}! Eu sou o Allan, da Tech Pulse AI — automações que trabalham por você. Como posso te chamar?\"\n      },\n      {\n        \"2\": \"Pergunta sobre conhecimento de automação/chatbots: {{ $json.body.data.pushName }}, me diz uma coisa: você já conhece ou já ouviu falar sobre automação com IA ou chatbots para atendimento?'\"\n      },\n      {\n        \"3\": \"Triagem ou encerramento (dependendo da resposta do cliente ao passo 2):\",\n        \"if_interested\": {\n          \"message\": \"Que legal! Pra eu entender melhor como posso te ajudar, me conta um pouquinho sobre o seu negócio e qual o seu principal desafio hoje?\",\n          \"action\": \"Continuar para o passo 4 do fluxo\"\n        },\n        \"if_not_interested\": {\n          \"message\": \"Sem problemas! Agradeço o seu tempo e o interesse. Se mudar de ideia ou precisar de algo no futuro, a Tech Pulse AI está à disposição! Tenha um ótimo dia! 😉\",\n          \"action\": \"Encerrar o atendimento educadamente.\"\n        }\n      },\n      {\n        \"4\": \"Mensagem explicativa (após o cliente responder o passo 3 e descrever o negócio/desafio): 'Entendi, {{ $json.body.data.pushName }}! Com base no que você me disse sobre [mencionar brevemente o negócio/desafio do cliente, se possível], aqui na Tech Pulse AI, nosso agente de atendimento com IA pode integrar agendamentos com seu sistema atual, enviar lembretes automáticos, fazer follow-up de pacientes que faltaram, mandar campanhas de promoções por WhatsApp e muito mais 🧠💬. Tudo isso para [mencionar um benefício relevante para o nicho/desafio do cliente, ex: otimizar seu tempo, reduzir faltas, atrair mais clientes].'\"\n      },\n      {\n        \"5\": \"Pergunta sobre atendimento atual: 'E me diz, {{ $json.body.data.pushName }}: hoje você tem uma equipe de atendimento ao cliente ou é você mesmo(a) que faz todo o atendimento?'\"\n      },\n      {\n        \"6\": \"Pergunta sobre atendimento 24h (após o cliente responder o passo 5 e explicar): 'Legal! Pensando na sua rotina, se você tivesse um atendimento disponível 24 horas por dia, 7 dias por semana, acredita que isso poderia ajudar muito o seu negócio?'\"\n      },\n      {\n        \"7\": \"Agendamento ou contorno (se o cliente disser 'sim' no passo 6, ir para flow_de_agendamento. Se disser 'não', perguntar o motivo e contornar):\",\n        \"if_yes\": {\n          \"message\": \"Que show, {{ $json.body.data.pushName }}! Para te apresentar nossa IA de atendimento na prática e ver como ela funciona em um cliente nosso, preciso agendar uma reunião rápida que dura entre 20 a 30 minutos.\",\n          \"next_step\": {\n            \"message\": \"Qual data e horário são melhores para você? E por favor, me informe seu nome, e-mail, telefone e o segmento do seu negócio (ex: clínica estética, consultório odontológico etc)?\",\n            \"action\": \"Ir para 'flow_de_agendamento'.\"\n          }\n        },\n        \"if_no\": {\n          \"message_1\": \"Entendi o seu ponto, {{ $json.body.data.pushName }}. Pode me contar o que te leva a pensar que um atendimento 24h não ajudaria tanto? Assim, consigo entender melhor a sua necessidade.\",\n          \"message_2\": \"Compreendo! Mas mesmo que o 24h não seja o foco, a gente pode te mostrar como outras funcionalidades podem otimizar seu dia a dia e atrair mais clientes. Que tal marcarmos um papo rápido e sem compromisso para te apresentar essas soluções mais a fundo? Para isso, qual data e horário são melhores para você? E por favor, me informe nome, e-mail, telefone e o segmento do seu negócio?\",\n          \"action\": \"Ir para 'flow_de_agendamento'.\"\n        }\n      },\n      {\n        \"8\": \"Para realizar agendamentos use o flow: 'flow_de_agendamento'\"\n      }\n    ]\n  },\n  \"flow_de_agendamento\": {\n    \"steps\": [\n      {\n        \"step\": \"Propor 3 horários diferentes para agendamento\",\n        \"instructions\": \"Oferecer 3 horários disponíveis mais próximos da agenda de Allan Souto usando a ferramenta verificar_disponibilidade. Mostrar os horários livres (sem revelar os ocupados). Sugerir horários arredondados e com pelo menos 1 hora de distância da hora atual. Funcionamento: segunda a sexta das 10h às 18h, sábado das 10h às 15h. Se não houver agendamentos, informar que o dia todo está disponível.\",\n        \"tools\": \"verificar_disponibilidade\"\n      },\n      {\n        \"step\": \"Oferecer agendamento\",\n        \"instructions\": \"Após a escolha da data, confirmar interesse e solicitar nome, e-mail, telefone e uma breve descrição do negócio. Gerar automaticamente um resumo com base na resposta, usando o modelo: 'Empresa do segmento de {{segmento}}, busca soluções para {{principal_dor}}.'. Incluir o resumo como descrição da reunião, com sugestão de solução personalizada.\",\n        \"tool\": \"agendar_reuniao\",\n        \"example_message\": \"Perfeito! 😄 Vou reservar esse horário com o Allan Souto pra você. Me confirma por favor: nome completo, e-mail, telefone, segmento do seu negócio e uma frase sobre seu maior desafio. Assim já incluo um resumo personalizado na reunião!\"\n      },\n      {\n        \"step\": \"Agradecer\",\n        \"instructions\": \"Finalizar com uma mensagem simpática, enviar o link do Google Meet e o número de protocolo: 991817\",\n        \"example_message\": \"Reunião agendada com sucesso! 📅 Você vai receber o link do Google Meet por e-mail. Qualquer dúvida, estamos por aqui. Ah, e o seu protocolo é: 991817. Até lá! 😉\"\n      }\n    ]\n  },\n  \"tools\": [\n    {\n      \"name\": \"verificar_disponibilidade\",\n      \"usage\": \"Verifica horários ocupados de agora até os próximos 7 dias na agenda do Allan Souto. Retorna horários ocupados.\",\n      \"rules\": \"Mostrar 3 horários disponíveis mais próximos da data atual, com pelo menos 1 hora de distância da hora atual. Não mostrar os horários ocupados.\"\n    },\n    {\n      \"name\": \"agendar_reuniao\",\n      \"usage\": \"Agenda nova reunião.\",\n      \"Rules\": \"Coletar nome, e-mail, telefone, data/horário (segunda a sexta das 10h às 18h, sábado das 10h às 15h), profissional (Allan Souto), segmento e principal desafio do negócio. Gerar descrição da reunião com o modelo: 'Empresa do segmento de {{segmento}}, busca soluções para {{principal_dor}}.'. Incluir resumo e sugestão de solução compatível. Enviar hangoutLink do Google Meet após o agendamento.\"\n    },\n    {\n      \"name\": \"reagendar_reuniao\",\n      \"usage\": \"Altera data/horário de reunião existente.\",\n      \"Rules\": \"Coletar nome, e-mail, data atual da reunião, nova data/horário (segunda a sexta das 10h às 18h, sábado das 10h às 15h) e profissional (Allan Souto). Verificar disponibilidade antes. Enviar o novo link do Google Meet.\"\n    },\n    {\n      \"name\": \"cancelar_reuniao\",\n      \"usage\": \"Cancela reunião existente.\",\n      \"Rules\": \"Coletar nome, e-mail, data/horário da reunião e profissional (Allan Souto). Confirmar os dados antes de cancelar.\"\n    }\n  ]\n}\n"}},"id":"05dcafbe-573d-4d8a-981b-dc044733e41d","name":"Atendente","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-660,1280]},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-4160,1040],"typeVersion":1,"id":"a1b656d7-0e8a-4849-91b5-ab16c2180790","name":"Sticky Note31"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-3640,820],"typeVersion":1,"id":"04b902cb-d8f6-414b-9baf-902ab391a510","name":"Sticky Note33"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-4260,2000],"id":"f5d93b97-1947-4678-b352-033dad3e1f91","name":"Loop Over Items"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-3120,1040],"typeVersion":1,"id":"9f65998b-dfa1-45ab-a080-14e057c3b045","name":"Sticky Note37"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Code1').item.json.sessionId }}","contextWindowLength":100},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-680,1480],"id":"947156a3-2df1-463c-94b4-c2c9163f1665","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"7BihdPSijog1ko5Q","name":"Postgres Allan - SUPA"}}},{"parameters":{"httpMethod":"POST","path":"saoodonto","options":{}},"id":"026d55a1-182a-422a-9481-54716082513c","name":"Webhook EVO","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-4980,1440],"webhookId":"abda557b-c5cd-4fa5-9442-6d3a527df586"},{"parameters":{"content":"# Pausa para Atendimento Humano","height":80,"width":656,"color":5},"id":"c7053327-d0a2-4833-afd8-1a7fbe014da9","name":"Sticky Note41","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4780,1280]},{"parameters":{"content":"","height":440,"width":360,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-4000,1260],"typeVersion":1,"id":"52a92dfe-ac16-4dca-a3e3-ff4716e58b66","name":"Sticky Note42"},{"parameters":{"content":"# Dados","height":80,"width":150,"color":5},"id":"d789e92b-fe5a-42cb-bfad-6aad7635eb3b","name":"Sticky Note43","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3980,1280]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.output }}","rightValue":"221701","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Envia para Atendente"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"820760d6-3546-4007-8917-55d366a74261","leftValue":"={{ $json.output }}","rightValue":"221701","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Transfere para Atendente"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-320,1320],"id":"4cb0c28a-8153-423d-8916-0b019daf9553","name":"Switch2"},{"parameters":{"model":"gpt-4.1-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[1560,1600],"id":"17371b9c-9edd-49fe-87c3-b2d5e73affca","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"y6EOm7GTWxcYjDT6","name":"OpenAi Allan"}}},{"parameters":{"content":"","height":400,"width":2200,"color":4},"type":"n8n-nodes-base.stickyNote","position":[0,1300],"typeVersion":1,"id":"eac7a73d-ccdb-4af8-9464-f0d85016fd41","name":"Sticky Note44"},{"parameters":{"content":"# AVISAR NOVO LEAD NO GRUPO","height":80,"width":656,"color":5},"id":"681ef3c3-d12a-4b70-bfa0-a03f34f3752e","name":"Sticky Note45","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[20,1320]},{"parameters":{"resource":"messages-api","instanceName":"allan1688","remoteJid":"={{ $('Variáveis').item.json.telefone }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[860,700],"id":"4a566214-5b6e-4ce5-a3fc-167c0505d64e","name":"Evolution API","credentials":{"evolutionApi":{"id":"AfcW5UBaTBawYJHp","name":"Evolution UNIVER"}}},{"parameters":{"resource":"messages-api","instanceName":"=jessica6732","remoteJid":"={{ $('Variáveis').item.json.telefone }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[80,1420],"id":"7d578fc5-2282-45f5-b657-ce57080fad2c","name":"Evolution API1","credentials":{"evolutionApi":{"id":"AfcW5UBaTBawYJHp","name":"Evolution UNIVER"}}},{"parameters":{"resource":"messages-api","instanceName":"allan1688","remoteJid":"120363410187799112@g.us","messageText":"=🚨 Novo Lead: wa.me/{{ $('Variáveis').item.json.telefone.split('@')[0] }} 🚨\n Cliente: {{ $('Webhook EVO').item.json.body.data.pushName }}\n\nCASO:\n{{ $json.text }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1940,1420],"id":"1221a9a5-1df4-4c87-9ca6-22c37516c473","name":"Evolution API2","credentials":{"evolutionApi":{"id":"AfcW5UBaTBawYJHp","name":"Evolution UNIVER"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[660,180],"id":"b420fe08-1365-488a-a529-fcd0df732a50","name":"Merge1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"defac08a-6745-422b-bb05-90da9f47d91b","leftValue":"={{ $('Busca Telefone').last().json.values() }}","rightValue":"","operator":{"type":"array","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[200,140],"id":"54e6bcd6-3d19-4e03-850e-40692f678a3e","name":"If4"},{"parameters":{"content":"","height":380,"width":1180,"color":4},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"975cdebe-ce98-46ab-a86d-8d1df1c21d6e","name":"Sticky Note54"},{"parameters":{"content":"# Cadastra Chat Supabase","height":80,"width":450,"color":5},"id":"cc59d193-6247-4049-ab0a-0718eb8878b8","name":"Sticky Note55","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[20,20]},{"parameters":{"resource":"messages-api","instanceName":"allan1688","remoteJid":"={{ $('Variáveis').item.json.telefone }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[200,520],"id":"b5cbaa7b-7e34-41bb-9dff-5b99392883bb","name":"Evolution API5","credentials":{"evolutionApi":{"id":"AfcW5UBaTBawYJHp","name":"Evolution UNIVER"}}},{"parameters":{"operation":"formatDate","date":"={{ $now }}","format":"custom","customFormat":"dd-MM-yyyy","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-3780,1440],"id":"4344862e-04dd-450d-af31-6d03fa043f54","name":"Date & Time1"},{"parameters":{"operation":"get","tableId":"chats","filters":{"conditions":[{"keyName":"phone","keyValue":"={{ $('Webhook EVO').item.json.body.data.key.remoteJid }}"},{"keyName":"app","keyValue":"allan"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[60,140],"id":"bf08e141-23ce-47be-9b75-68cd147566d9","name":"Busca Telefone","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}},"onError":"continueRegularOutput"},{"parameters":{"tableId":"chats","fieldsUi":{"fieldValues":[{"fieldId":"phone","fieldValue":"={{ $('Webhook EVO').item.json.body.data.key.remoteJid }}"},{"fieldId":"updated_at","fieldValue":"={{ $now}}"},{"fieldId":"conversation_id","fieldValue":"={{ $('Code1').item.json.sessionId }}"},{"fieldId":"app","fieldValue":"allan"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[440,80],"id":"959c74a6-6888-437b-a998-3d1497b66207","name":"Adiciona CHAT supabase","credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}}},{"parameters":{"operation":"update","tableId":"chats","filters":{"conditions":[{"keyName":"phone","condition":"eq","keyValue":"={{ $('Variáveis').item.json.telefone }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"updated_at","fieldValue":"={{ $now }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[440,240],"id":"34d44efc-2353-4e0e-b4de-77f5386e1917","name":"Atualiza CHAT Supabase","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}}},{"parameters":{"tableId":"chat_messages","fieldsUi":{"fieldValues":[{"fieldId":"phone","fieldValue":"={{ $json.phone }}"},{"fieldId":"conversation_id","fieldValue":"={{ $json.phone }}"},{"fieldId":"bot_message","fieldValue":"={{ $('Atendente').item.json.output }}"},{"fieldId":"user_message","fieldValue":"={{ $('Variáveis').item.json.mensagem }}"},{"fieldId":"message_type","fieldValue":"={{ $('Variáveis').item.json.body.event }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[840,180],"id":"fc1bcd2e-a4ca-4580-b2ef-87b6c4e37c7f","name":"Cria Histórico Supabase","credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7c4cdb12-9452-42a6-a39a-c268bd38dce1","leftValue":"={{ $json.output.length }}","rightValue":90,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[40,600],"id":"d244f454-27f3-4712-acbd-0c651b94737a","name":"Menos que 240 Caracteres"},{"parameters":{"fieldToSplitOut":"output.messages","options":{"destinationFieldName":"output"}},"id":"e5b4a55f-8afd-460d-817a-a5141f80a314","name":"Split de Mensagem","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[480,680]},{"parameters":{"amount":1},"id":"0e8a8f59-26b6-442d-8776-d84b91db7aac","name":"1 segundo","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1000,700],"webhookId":"5f334e11-2cf7-4800-a007-464a8f841bd6"},{"parameters":{"jsCode":"return $items(\"Set File ID\").map(item => {\n  return {\n    json: {\n      file_id: item.json.file_id,\n      file_type: item.json.file_type\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4440,2000],"id":"e9032b9e-49cc-4361-83d5-9824ef127073","name":"Retorna ID do arquivo"},{"parameters":{"operation":"delete","tableId":"documents","filterType":"string","filterString":"=metadata->>file_id=like.*{{ $json.file_id }}*"},"id":"38d0a160-3ac7-4ea8-bf25-2d96f0261a36","name":"Deleta linhas antigas do documento","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-4640,2000],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}}},{"parameters":{"operation":"executeQuery","query":"create table dados_cliente (\n  id bigserial primary key,\n  created_at TIMESTAMPTZ, \n  telefone text, \n  sessionid text\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-4100,840],"id":"2f6c1893-af2f-4770-bace-e28a5fbca4f5","name":"Cria Tabela Dados Cliente","credentials":{"postgres":{"id":"7BihdPSijog1ko5Q","name":"Postgres Allan - SUPA"}}},{"parameters":{"operation":"executeQuery","query":"-- Create a table to store your documents\ncreate table documents (\n  id bigserial primary key,\n  content text, -- corresponds to Document.pageContent\n  metadata jsonb, -- corresponds to Document.metadata\n  embedding vector(1536) -- 1536 works for OpenAI embeddings, change if needed\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-3060,840],"id":"a364d0e3-9213-462e-a185-58cf4bea42ba","name":"Cria Tabela Documentos","credentials":{"postgres":{"id":"7BihdPSijog1ko5Q","name":"Postgres Allan - SUPA"}}},{"parameters":{"operation":"executeQuery","query":"delete from documents","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-3060,1060],"id":"73519385-b196-490b-8cf4-10e50a773b70","name":"Deleta Conteúdo Documentos","credentials":{"postgres":{"id":"7BihdPSijog1ko5Q","name":"Postgres Allan - SUPA"}}},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-3380,820],"typeVersion":1,"id":"c9fac523-dd13-4edc-a039-e590d5dd68e2","name":"Sticky Note40"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-3120,820],"typeVersion":1,"id":"64077e9c-c573-44df-91bc-7707af704082","name":"Sticky Note48"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-4420,820],"typeVersion":1,"id":"091fa71b-7c27-4f35-96e8-0d2ba2feade2","name":"Sticky Note49"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-3900,820],"typeVersion":1,"id":"5dbfe9fe-fba9-4c90-b22a-a6be655aebef","name":"Sticky Note50"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-3640,1040],"typeVersion":1,"id":"6379bba0-023d-486c-9d1c-b441c14e76cd","name":"Sticky Note56"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-4160,820],"typeVersion":1,"id":"85fcfe05-50ca-4c50-80f1-a8188ba45864","name":"Sticky Note57"},{"parameters":{"operation":"executeQuery","query":"delete from n8n_chat_histories","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-4100,1080],"id":"db9ec87e-eda1-457a-907e-5bc65317c5df","name":"Deleta Histórico","credentials":{"postgres":{"id":"7BihdPSijog1ko5Q","name":"Postgres Allan - SUPA"}}},{"parameters":{"operation":"executeQuery","query":"create function match_documents (\n  query_embedding vector(1536),\n  match_count int default null,\n  filter jsonb DEFAULT '{}'\n) returns table (\n  id bigint,\n  content text,\n  metadata jsonb,\n  similarity float\n)\nlanguage plpgsql\nas $$\n#variable_conflict use_column\nbegin\n  return query\n  select\n    id,\n    content,\n    metadata,\n    1 - (documents.embedding <=> query_embedding) as similarity\n  from documents\n  where metadata @> filter\n  order by documents.embedding <=> query_embedding\n  limit match_count;\nend;\n$$;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-3320,840],"id":"98ba2ff1-27ef-480a-811c-a1592ca9bbfc","name":"Cria função Busca em Vetor","credentials":{"postgres":{"id":"7BihdPSijog1ko5Q","name":"Postgres Allan - SUPA"}}},{"parameters":{"operation":"executeQuery","query":"create extension vector;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-3580,840],"id":"12b8e9ef-0dfa-4fd6-ba95-aff51e47cdb5","name":"Cria Extensão Vetor","credentials":{"postgres":{"id":"7BihdPSijog1ko5Q","name":"Postgres Allan - SUPA"}}},{"parameters":{"operation":"executeQuery","query":"create table chats (\n  id bigserial primary key,\n  created_at TIMESTAMPTZ, \n  phone text,\n  updated_at text, \n  app text,\n  conversation_id text\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-3840,840],"id":"7b7d119e-9f49-4315-9f76-ecb5c354df07","name":"Cria Tabela Chats","credentials":{"postgres":{"id":"7BihdPSijog1ko5Q","name":"Postgres Allan - SUPA"}}},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-3380,1040],"typeVersion":1,"id":"a9032bdd-c969-4da3-9280-30e979e53d93","name":"Sticky Note65"},{"parameters":{"operation":"executeQuery","query":"delete from chats","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-3320,1060],"id":"e3b7f12a-0174-4e89-8725-584001d59508","name":"Deleta Conteúdo Chats","credentials":{"postgres":{"id":"7BihdPSijog1ko5Q","name":"Postgres Allan - SUPA"}}},{"parameters":{"operation":"executeQuery","query":"delete from dados_cliente","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-3580,1060],"id":"ddde6675-b317-4812-9d76-bd016574937b","name":"Deleta Conteúdo Dados Cliente","credentials":{"postgres":{"id":"7BihdPSijog1ko5Q","name":"Postgres Allan - SUPA"}}},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-3900,1040],"typeVersion":1,"id":"52ae61e2-b79e-4245-97aa-492df1660a49","name":"Sticky Note66"},{"parameters":{"operation":"executeQuery","query":"delete from chat_messages","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-3840,1060],"id":"25e860b0-1711-49ad-ad2f-f814d3522810","name":"Deleta Conteúdo Chat_Messages","credentials":{"postgres":{"id":"7BihdPSijog1ko5Q","name":"Postgres Allan - SUPA"}}},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE chat_messages (\n  id BIGSERIAL PRIMARY KEY,\n  created_at TIMESTAMPTZ, \n  phone TEXT,\n  conversation_id TEXT, \n  bot_message TEXT,\n  user_message TEXT, \n  message_type TEXT,\n  active BOOLEAN DEFAULT TRUE\n);\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-4360,840],"id":"d692b103-a946-48b6-a89b-94c9028bf3c7","name":"Cria Tabela Chat_Messages","credentials":{"postgres":{"id":"7BihdPSijog1ko5Q","name":"Postgres Allan - SUPA"}}},{"parameters":{"content":"","height":440,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-5060,1260],"typeVersion":1,"id":"90b872ef-7142-4652-983f-a64e63057f55","name":"Sticky Note32"},{"parameters":{"content":"# Webhook","height":100,"width":196,"color":5},"id":"57f434fd-579b-441a-bcef-8422c7274d6f","name":"Sticky Note67","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-5040,1280]},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{"fileName":"file.png","mimeType":"image/png"}},"id":"cd746b83-cba5-4390-9074-c054265fdde3","name":"Convert to File1","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-2660,1540]},{"parameters":{"assignments":{"assignments":[{"id":"3c5ccbc9-69d1-4b13-a7c3-e6945bc8c655","name":"data","value":"={{ $('Webhook EVO').item.json.body.data.message.base64 }}","type":"string"}]},"options":{}},"id":"c5fe720d-09c0-45af-bc3e-35eb27515042","name":"Edit Fields3","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2800,1540]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"ade56c50-1520-4760-8df5-e99617d6d3ad","leftValue":"={{ $('Webhook EVO').item.json.body.data.message.imageMessage.caption }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"e0a4e956-9372-41a9-97c8-45044329ac7f","name":"If3","type":"n8n-nodes-base.if","typeVersion":2,"position":[-2360,1540]},{"parameters":{"operation":"push","list":"={{ $('Code1').item.json.sessionId }}","messageData":"={{ $('Webhook EVO').item.json[\"body\"][\"data\"][\"message\"][\"imageMessage\"][\"caption\"] }}, {{ $json.content.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '').trim()  }}","tail":true},"id":"8579b408-2953-410c-b513-b8ac1778e38e","name":"Redis4","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2100,1560],"credentials":{"redis":{"id":"KVRosz1bwqDgMe66","name":"Redis Allan - 0"}}},{"parameters":{"operation":"push","list":"={{ $('Code1').item.json.sessionId }}","messageData":"={{ $json.content.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '').trim()  }}","tail":true},"id":"4efc3d5f-f321-46e8-83d4-45383c53cdf6","name":"Redis5","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2100,1420],"credentials":{"redis":{"id":"KVRosz1bwqDgMe66","name":"Redis Allan - 0"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"52aaf749-fe4f-44e4-880e-15b2bfc027f1","leftValue":"={{ $('Webhook EVO').item.json.body.data.messageType }}","rightValue":"extendedTextMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"e514e613-fd6a-48bd-b0ae-bae2448c810e","leftValue":"={{ $('Webhook EVO').item.json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Webhook EVO').item.json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c0e434dd-1268-421d-b81b-3a5e90ed9550","leftValue":"={{ $('Webhook EVO').item.json.body.data.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"}]},"options":{}},"id":"7767dcc7-db79-468b-b6ac-eaf31a296530","name":"Switch1","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-2840,1300]},{"parameters":{"content":"# Mensagem Picotada","height":80,"width":396,"color":5},"id":"d1b346e6-b38d-4520-ac50-3002cc5265fc","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1600,1120]},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"Resumo curto da imagem. Responda sem acento, sem hifens","inputType":"base64","options":{}},"id":"f16b5008-617d-43a1-9d6d-30c0875933ed","name":"OpenAI1","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[-2500,1540],"credentials":{"openAiApi":{"id":"y6EOm7GTWxcYjDT6","name":"OpenAi Allan"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d5a342e9-585b-42ea-be44-644adae10199","leftValue":"={{ $json.Redis2 }}","rightValue":"={{ $json.Redis1 }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"4d4c972e-85e0-4b47-98d8-7f0e9ad5066b","name":"Compara Get Memory1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1260,1340]},{"parameters":{"operation":"push","list":"={{ $('Code1').item.json.sessionId }}","messageData":"={{ $('Webhook EVO').item.json.body.data.message.conversation }}","tail":true},"id":"b8cef054-5508-451f-8a75-c34b4c8ded90","name":"Text Memory1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2100,1100],"credentials":{"redis":{"id":"KVRosz1bwqDgMe66","name":"Redis Allan - 0"}}},{"parameters":{"operation":"push","list":"={{ $('Code1').item.json.sessionId }}","messageData":"={{ $json.text }}","tail":true},"id":"9034e780-c91c-4da3-a056-66c26d9e7cfb","name":"Audio Memory1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2100,1260],"credentials":{"redis":{"id":"KVRosz1bwqDgMe66","name":"Redis Allan - 0"}}},{"parameters":{"assignments":{"assignments":[{"id":"f336a1ff-e577-489d-a739-1eb8bd509245","name":"Redis2","value":"={{ $json.propertyName }}","type":"string"},{"id":"946d1420-e379-46e3-8fcd-3816340fbabb","name":"Redis1","value":"={{ $('Get Memory 1').item.json.propertyName }}","type":"string"}]},"options":{}},"id":"f195d6f4-d7b5-4b3a-bebc-1b75758eeffa","name":"Edit Fields8","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1440,1340]},{"parameters":{},"id":"6d4b365b-ef2b-4a35-8abd-812357f4315f","name":"Wait3","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1760,1340],"webhookId":"31e76dee-de21-4f66-bfe1-bce592f91d03"},{"parameters":{"operation":"get","key":"={{ $('Code1').item.json.sessionId }}","options":{}},"id":"caabfd85-8fa5-4048-9342-05c0252da947","name":"Get Memory 1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1920,1340],"credentials":{"redis":{"id":"KVRosz1bwqDgMe66","name":"Redis Allan - 0"}}},{"parameters":{"operation":"get","key":"={{ $('Code1').item.json.sessionId }}","options":{}},"id":"6f6b2d3e-4184-4529-bd30-2385ca5b9faf","name":"Get Memory 2","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1600,1340],"credentials":{"redis":{"id":"KVRosz1bwqDgMe66","name":"Redis Allan - 0"}}},{"parameters":{"operation":"delete","key":"={{ $('Code1').item.json.sessionId }}"},"id":"9b0103fc-2506-4052-84c6-0705638766de","name":"Delete Memory","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1020,180],"credentials":{"redis":{"id":"KVRosz1bwqDgMe66","name":"Redis Allan - 0"}}},{"parameters":{"name":"buscar_documentos","description":"Contains all the information about prices and andress that you can check to answer user questions."},"id":"049edaaf-3155-4bdd-890d-84043a2706bf","name":"buscar_documentos","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[120,1740]},{"parameters":{"operation":"get","tableId":"dados_cliente","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $json.telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3180,1380],"id":"96014735-a146-4c24-b759-d3a874c107d6","name":"Get Dados","credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}}},{"parameters":{"assignments":{"assignments":[{"id":"8d88c137-383f-4307-b3cc-1f6a560ea67b","name":"telefone","value":"={{ $('Webhook EVO').item.json.body.data.key.remoteJid }}","type":"string"},{"id":"7e2f520e-4952-425b-82ca-792cc46680d4","name":"mensagem","value":"={{ $('Webhook EVO').item.json.body.data.message.conversation }}{{ $('Webhook EVO').item.json.body.data.message.extendedTextMessage.text }}","type":"string"},{"id":"de1388b1-a6e4-42df-a6a5-7e9b4594f97d","name":"body.event","value":"={{ $('Webhook EVO').item.json.body.event }}","type":"string"}]},"options":{}},"id":"dd5b14b9-59b2-4877-b9d6-02112039043e","name":"Variáveis","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3940,1440]},{"parameters":{"assignments":{"assignments":[{"id":"8f16b1bf-1a3e-4029-8d7a-1bccb919ee43","name":"message.message_id","value":"={{ $('Webhook EVO').item.json.body.data.key.id || '' }}","type":"string"},{"id":"11800d83-ecca-4f9c-a878-a2419db0c8e9","name":"message.chat_id","value":"={{ $('Webhook EVO').item.json.body.data.key.remoteJid || '' }}","type":"string"},{"id":"c33f9527-e661-49e5-8e5e-64f3b430928a","name":"message.content_type","value":"={{ $('Webhook EVO').item.json.body.data.message.extendedTextMessage ? 'text' : '' }}{{ $('Webhook EVO').item.json.body.data.message.conversation ? 'text' : '' }}{{ $('Webhook EVO').item.json.body.data.message.audioMessage ? 'audio' : '' }}{{ $('Webhook EVO').item.json.body.data.message.imageMessage ? 'image' : '' }}","type":"string"},{"id":"06eba1c9-cff0-4f68-b6da-6bb0092466b7","name":"message.content","value":"={{ $('Webhook EVO').item.json.body.data.message.extendedTextMessage?.text || '' }}{{ $('Webhook EVO').item.json.body.data.message.imageMessage?.caption || '' }}{{ $('Webhook EVO').item.json.body.data.message.conversation || '' }}","type":"string"},{"id":"b97f1af3-5361-46fc-9303-d644921231d8","name":"message.timestamp","value":"={{ $('Webhook EVO').item.json.body.data.messageTimestamp.toDateTime('s').toISO() }}","type":"string"},{"id":"dc3dc59c-90a3-4a45-bea2-de092c91083b","name":"message.content_url","value":"={{ $('Webhook EVO').item.json.body.data.message.audioMessage?.url || '' }}{{ $('Webhook EVO').item.json.body.data.message.imageMessage?.url || '' }}","type":"string"},{"id":"8b01a818-a456-476e-bace-adefe2f04eb4","name":"message.event","value":"={{ $('Webhook EVO').item.json.body.data.key.fromMe ? 'outcoming' : 'incoming' }}","type":"string"},{"id":"b2f1f6b5-292f-4695-9e41-be200c6d7053","name":"instance.name","value":"={{ $json.body.instance }}","type":"string"},{"id":"572fcce5-8a26-4e8f-a48a-ef0bee569dcd","name":"instance.apikey","value":"={{ $json.body.apikey }}","type":"string"},{"id":"e90043db-657b-461c-b040-2d6089abfbdb","name":"instance.server_url","value":"={{ $json.body.server_url }}","type":"string"},{"id":"efd932e4-eb5b-4236-a95a-9fac856f543c","name":"name.cliente","value":"={{ $json.body.data.pushName }}","type":"string"}]},"options":{}},"id":"c007d877-7afb-4918-ad9f-d4c7e9957ed3","name":"dados_para_atendimento_humano1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4720,1440]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.block }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ia Ativa"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"3ef0e01c-cc14-4663-bb4d-2905b350c3ab","leftValue":"={{ $json.block }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ia Desativada"}]},"options":{}},"id":"6bc56249-533a-4847-9bf6-1c2a910712f0","name":"Switch Block","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-4180,1540]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.message.event }}","rightValue":"outcoming","operator":{"type":"string","operation":"equals"},"id":"94cbe04c-2085-4a6d-9e4f-fc8b24f29da8"}],"combinator":"and"},"renameOutput":true,"outputKey":"outcoming"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"d7b42536-638f-4128-b51b-6aa913e9d9bc","leftValue":"={{ $json.message.event }}","rightValue":"incoming","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"incoming"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"fca3e6ff-128b-461c-b161-228e79303faa","leftValue":"{{ $json.message.type }}","rightValue":"incoming","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"incoming"}]},"options":{}},"id":"962bf568-7bfc-4ced-87ca-0db4fcc5319e","name":"Switch6","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-4540,1440]},{"parameters":{"operation":"getAll","tableId":"chats","filters":{"conditions":[{"keyName":"app","condition":"eq","keyValue":"allan"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[340,1420],"id":"6bfd3718-e011-40fb-92a6-9e3ba91cc877","name":"ListChats-Supabase2","credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}}},{"parameters":{"operation":"getAll","tableId":"chat_messages","matchType":"allFilters","filters":{"conditions":[{"keyName":"phone","condition":"eq","keyValue":"={{ $('Webhook EVO').item.json.body.data.key.remoteJid }}"},{"keyName":"active","condition":"eq","keyValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[860,1440],"id":"0b3e6111-38dd-4868-9b61-61e8eddc5a19","name":"ListMessages-Supabase2","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"conversas","include":"specifiedFields","fieldsToInclude":"id,message_type,created_at,user_message, bot_message,phone, conversation_id","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1120,1440],"id":"1c5da10b-9c53-4a9c-8850-7424efb55b50","name":"Aggregate2"},{"parameters":{"jsCode":"return $('Aggregate2').all().map(item => {\n  // Tenta acessar a propriedade 'conversas' e verifica se ela é um array\n  const conversas = item.json.conversas || []; // Garante que é pelo menos um array vazio\n\n  if (!Array.isArray(conversas)) {\n    throw new Error(\"A propriedade 'conversas' não é um array.\");\n  }\n\n  // Processa cada conversa e verifica as mensagens\n  const textoUnico = conversas.map(conversa => {\n    const cliente = conversa.user_message || \"sem mensagem do chatbot\";\n    const agente = conversa.bot_message || \"sem resposta\";\n    \n    // Verifica se a data existe e formata\n    const dataOriginal = conversa.created_at || \"Data da Mensagem indisponível\";\n    const dataFormatada = dataOriginal !== \"Data da Mensagem indisponível\"\n      ? formatarData(dataOriginal)\n      : dataOriginal;\n\n    return `em: ${dataFormatada}\\n\\n - agente(chatbot): ${agente} \\n - cliente: ${cliente}\\n`;\n  }).join('\\n\\n');\n\n  // Retorna o texto final como resultado\n  return {\n    json: {\n      texto: textoUnico\n    }\n  };\n});\n\n// Função para formatar a data\nfunction formatarData(dataString) {\n  const data = new Date(dataString); // Converte a string em objeto Date\n  if (isNaN(data)) {\n    return \"Data inválida\"; // Retorna se a data não for válida\n  }\n  \n  // Formata no padrão DD/MM/YYYY HH:mm\n  const dia = String(data.getDate()).padStart(2, '0');\n  const mes = String(data.getMonth() + 1).padStart(2, '0'); // Mês começa em 0\n  const ano = data.getFullYear();\n  const horas = String(data.getHours()).padStart(2, '0');\n  const minutos = String(data.getMinutes()).padStart(2, '0');\n  \n  return `${dia}/${mes}/${ano} ${horas}:${minutos}`;\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1360,1440],"id":"601a96fc-946e-4a56-9bb4-739d14b2995c","name":"Code6"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[580,1420],"id":"4ed478ae-3a8c-47ad-a8fe-39b98bcb94d2","name":"Loop Over Items6"},{"parameters":{"promptType":"define","text":"=Você é um agente resumidor de casos dos clientes, você analisa a conversa entre o agente e o cliente e cria um resumo do problema que ele está enfrentando de forma bem detalhada somente do problema do cliente e preferencia pela data da sessão, não precisa de informações sobre as respostas do agente para o cliente, e gera o resultado sem dicas de uso ou informações extras \n\n# Conversa entre o cliete e o agente de IA:\n{{ $json.texto }}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1600,1420],"id":"634fb5b2-0b06-480b-ba01-daa590e78614","name":"Basic LLM Chain1"},{"parameters":{"content":"# Filtro de mensagem        ","height":80,"width":396,"color":5},"id":"5932c867-80e9-4aea-9a96-935d054dc927","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2840,1100]},{"parameters":{"operation":"set","key":"={{ $json.message.chat_id }}_block","value":"true","keyType":"string","expire":true,"ttl":4320000},"id":"dc3b46da-7e8b-42a8-8bd4-3c3849865651","name":"PARA IA","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-4340,1380],"credentials":{"redis":{"id":"KVRosz1bwqDgMe66","name":"Redis Allan - 0"}}},{"parameters":{"operation":"get","propertyName":"block","key":"={{ $json.message.chat_id }}_block","options":{}},"id":"7d3851d9-4778-47ce-b3bc-f7e907b9377f","name":"Verificar Atendimento","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-4340,1540],"credentials":{"redis":{"id":"KVRosz1bwqDgMe66","name":"Redis Allan - 0"}}},{"parameters":{"jsCode":"const data = $item(0).$node[\"Compara Get Memory1\"].json[\"Redis2\"]; // Obtém o valor de Redis2 do nó \"If\"\n\n// Verifica se o dado é uma string que representa um array, e converte se necessário\nlet array = Array.isArray(data) ? data : JSON.parse(data);\n\n// Junta os elementos do array com um espaço entre eles\nconst mensagem_completa = array.join(\" \");\n\n// Retorna o resultado com o nome da variável \"mensagem_completa\"\nreturn [{ json: { mensagem_completa } }];\n"},"id":"c6c5897f-1093-4634-8051-a7f4dd187fef","name":"Mensagem Completa","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1040,1320]},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{"fileName":"file.ogg","mimeType":"application/ogg"}},"id":"719f9725-6395-4e8a-a7f4-7b734cd69a81","name":"Convert to File","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-2460,1340]},{"parameters":{"assignments":{"assignments":[{"id":"3c5ccbc9-69d1-4b13-a7c3-e6945bc8c655","name":"data","value":"={{ $('Webhook EVO').item.json.body.data.message.base64 }}","type":"string"}]},"options":{}},"id":"109e7a97-8a96-489a-81f1-5b950f07d3da","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2620,1340]},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"48c5d6d8-6ce4-4284-b449-7a8877bad668","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[-2280,1340],"credentials":{"openAiApi":{"id":"y6EOm7GTWxcYjDT6","name":"OpenAi Allan"}}},{"parameters":{"content":"# Agendamento","height":80,"width":283,"color":5},"id":"f9d14527-4ab2-4ace-8a6a-3f9d59a2569a","name":"Sticky Note15","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2820,1820]},{"parameters":{},"id":"c7c53716-7ee1-4df0-8913-024799f2bcaa","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-2820,2080]},{"parameters":{"resource":"calendar","calendar":{"__rl":true,"value":"nunes.allan8@gmail.com","mode":"list","cachedResultName":"nunes.allan8@gmail.com"},"timeMin":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"query\"][\"start\"] }}","timeMax":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"query\"][\"end\"] }}","options":{}},"id":"e4c9a997-9aaa-4120-976f-db42a65a00d5","name":"Disponibilidade","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[-1840,1900],"credentials":{"googleCalendarOAuth2Api":{"id":"BTYKfRWVBTh8akLE","name":"Google Calendar allan"}}},{"parameters":{"calendar":{"__rl":true,"value":"nunes.allan8@gmail.com","mode":"list","cachedResultName":"nunes.allan8@gmail.com"},"start":"={{ $('Switch4').item.json.query.start }}","end":"={{ $('Switch4').item.json.query.end }}","additionalFields":{"attendees":["={{ $('Switch4').item.json.query.email }}"],"conferenceDataUi":{"conferenceDataValues":{"conferenceSolution":"hangoutsMeet"}},"description":"={{ $('Switch4').item.json.Remotejid }}","summary":"={{ $('Execute Workflow Trigger').item.json.query.nome }}"}},"id":"ab04bbdb-1dde-4d6b-b7e7-24f7df31113f","name":"Marca","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[-1340,1900],"credentials":{"googleCalendarOAuth2Api":{"id":"BTYKfRWVBTh8akLE","name":"Google Calendar allan"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"nunes.allan8@gmail.com","mode":"list","cachedResultName":"nunes.allan8@gmail.com"},"options":{"query":"={{ $json.query.email }}"}},"id":"e8e30e44-aab5-47b9-aec9-ee72ca8d91a5","name":"Já tem um evento","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[-2300,1840],"alwaysOutputData":true,"credentials":{"googleCalendarOAuth2Api":{"id":"BTYKfRWVBTh8akLE","name":"Google Calendar allan"}}},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"nunes.allan8@gmail.com","mode":"list","cachedResultName":"nunes.allan8@gmail.com"},"eventId":"={{ $item(\"0\").$node[\"Verifica evento\"].json[\"id\"] }}","options":{}},"id":"22965d0d-9573-4ceb-9904-585cc35403f1","name":"Google Calendar1","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[-2080,2080],"credentials":{"googleCalendarOAuth2Api":{"id":"BTYKfRWVBTh8akLE","name":"Google Calendar allan"}}},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"nunes.allan8@gmail.com","mode":"list","cachedResultName":"nunes.allan8@gmail.com"},"eventId":"={{ $item(\"0\").$node[\"Verifica evento1\"].json[\"id\"] }}","useDefaultReminders":false,"updateFields":{"end":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"query\"][\"end\"] }}","sendUpdates":"all","start":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"query\"][\"start\"] }}"}},"id":"4ee80b13-7353-40b8-88fa-585bced90f66","name":"Google Calendar3","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[-1520,2260],"credentials":{"googleCalendarOAuth2Api":{"id":"BTYKfRWVBTh8akLE","name":"Google Calendar allan"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"nunes.allan8@gmail.com","mode":"list","cachedResultName":"nunes.allan8@gmail.com"},"returnAll":true,"options":{"query":"={{ $item(\"0\").$node[\"Switch4\"].json[\"query\"][\"email\"] }}"}},"id":"2245e256-2bbe-46b1-b9c4-050b35dd81d7","name":"Verifica evento","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[-2300,2080],"credentials":{"googleCalendarOAuth2Api":{"id":"BTYKfRWVBTh8akLE","name":"Google Calendar allan"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"nunes.allan8@gmail.com","mode":"list","cachedResultName":"nunes.allan8@gmail.com"},"returnAll":true,"options":{"query":"={{ $item(\"0\").$node[\"Switch4\"].json[\"query\"][\"email\"] }}"}},"id":"9952d63f-6bb1-4966-8bd3-061cbfb7ec2c","name":"Verifica evento1","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[-1720,2260],"credentials":{"googleCalendarOAuth2Api":{"id":"BTYKfRWVBTh8akLE","name":"Google Calendar allan"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"be5649a9-7624-4621-bd2d-84c25577c0ce","leftValue":"={{ $json.available }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"e776d094-ead5-4286-83ae-216f8b7c0b1b","name":"If6","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2120,2280]},{"parameters":{"resource":"calendar","calendar":{"__rl":true,"value":"nunes.allan8@gmail.com","mode":"list","cachedResultName":"nunes.allan8@gmail.com"},"timeMin":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"query\"][\"start\"] }}","timeMax":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"query\"][\"end\"] }}","options":{}},"id":"fb7e8f33-6599-4685-8676-7e5501f70578","name":"Disponibilidade1","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[-2320,2280],"credentials":{"googleCalendarOAuth2Api":{"id":"BTYKfRWVBTh8akLE","name":"Google Calendar allan"}}},{"parameters":{"assignments":{"assignments":[{"id":"86ff282a-3ede-4417-98c1-0d10858bc5dc","name":"response","value":"=Você já tem uma reunião agendada para o dia: {{(() => { \n    const data = new Date($json.start.dateTime);\n    const opcoes = { day: '2-digit', month: 'long', hour: '2-digit', minute: '2-digit' };\n    return `dia ${data.toLocaleDateString('pt-BR', opcoes).replace(' ', ' de ').replace(',', ' às')}`;\n})()}} gostaria de reagendar? ","type":"string"}]},"options":{}},"id":"1c7cf453-d8fb-4767-816a-2a46b8207b60","name":"Edit Fields6","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1780,1740]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8d192ed0-aebd-404e-8339-daab0d29651f","leftValue":"={{ $item(\"0\").$node[\"Já tem um evento\"].json[\"attendees\"][\"0\"][\"email\"] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"c6e980d7-3cff-4534-8bae-9cc954979a6f","name":"If5","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2100,1840]},{"parameters":{"assignments":{"assignments":[{"id":"7f842ffa-cd8f-40ab-a0a7-40dc173357a7","name":"response","value":"Informe o usuário que o agendamento foi cancelado e que estará sempre à disposição para um novo agendamento.","type":"string"}]},"options":{}},"id":"68a760af-b0f4-44ec-9d70-b517b7998bc3","name":"Edit Fields7","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1880,2080]},{"parameters":{"assignments":{"assignments":[{"id":"04c6ca35-7572-4699-bcb7-bbf2f2a6e6a4","name":"response","value":"horário não disponivel, peça outro horário","type":"string"}]},"options":{}},"id":"90d788e7-c0c7-4ca9-891b-85a5d2a6f35a","name":"Edit Fields9","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1340,2060]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"Evento\"] }}","rightValue":"agendamento","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"agendamento"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7a57e8e8-5227-4cde-8d58-7b447cd55a17","leftValue":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"Evento\"] }}","rightValue":"cancelamento","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"cancelamento"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d788021f-29ab-41f2-b355-2b18963d30f2","leftValue":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"Evento\"] }}","rightValue":"reagendamento","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"reagendamento"}]},"options":{}},"id":"794804c2-fb6b-46ff-a4b6-b29e1da2698d","name":"Switch4","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2560,2080]},{"parameters":{"content":"","height":800.6667333432747,"width":2503.09595343677,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-2860,1720],"typeVersion":1,"id":"a171dff6-c15c-471b-ad0a-105838245cad","name":"Sticky Note8"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"be5649a9-7624-4621-bd2d-84c25577c0ce","leftValue":"={{ $json.available }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"ce61ff34-85b0-48f2-afd1-8013499d2650","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1640,1900]},{"parameters":{"name":"criar_reuniao","description":"=Chame esta ferramenta após o usuário informar nome e email e data do agendamento. \n\nNa variável \"nome\", você vai preencher o nome do usuário e na variavel \"email\" você vai preencher com email do usuário\n\nA data do agendamento você vai transformar para seguinte formato, exemplo: 2024-10-18T14:30:00-03:00 e vai preencher a variavel \"start\"\n\nEm seguida você vai inserir 50 minutos a mais depois no horario de agendamento e na variavel \"end\" você vai prencher com o horario no mesmo formato da variavel start","workflowId":{"__rl":true,"value":"pTEjuuzKDNg5vVsN","mode":"id"},"fields":{"values":[{"name":"Evento","stringValue":"agendamento"},{"name":"Remotejid","stringValue":"={{ $('Variáveis').item.json.telefone }}"}]},"specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"nome\": \"nome do usuario\",\n    \"email\": \"email do usuario\",\n    \"start\": \"data hora do inicio da reunião\",\n    \"end\": \"data hora do fim da reunião\"\n}"},"id":"c741a576-378d-4def-b596-e21f6139ab28","name":"criar_reuniao","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[-860,1780]},{"parameters":{"name":"reagendar_reuniao","description":"=Após o usuário informar que quer reagendar e colete o nome, email e nova data Chame esta tool\n\nNa variável \"nome\", você vai preencher o nome do usuário e na variavel \"email\" você vai preencher com email do usuário\n\nA data do agendamento você vai transformar para seguinte formato, exemplo: 2024-10-18T14:30:00-03:00 e vai preencher a variavel \"start\"\n\nEm seguida você vai inserir 50 minutos a mais depois no horário de agendamento e na variavel \"end\" você vai prencher com o horario no mesmo formato da variavel start","workflowId":{"__rl":true,"value":"pTEjuuzKDNg5vVsN","mode":"id"},"fields":{"values":[{"name":"Evento","stringValue":"reagendamento"},{"name":"Remotejid","stringValue":"={{ $('Variáveis').item.json.telefone }}"}]},"specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"nome\": \"nome do usuario\",\n    \"email\": \"email do usuario\",\n    \"start\": \"data hora do inicio da reunião\",\n    \"end\": \"data hora do fim da reunião\"\n}"},"id":"3d4e02c1-6da5-4a9d-870e-e66f7ef184b7","name":"reagendar_reuniao","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[-720,1780]},{"parameters":{"assignments":{"assignments":[{"id":"86ff282a-3ede-4417-98c1-0d10858bc5dc","name":"response","value":"=Agendamento concluído para a data {{(() => { \n    const data = new Date($json.start.dateTime);\n    const opcoes = { day: '2-digit', month: 'long', hour: '2-digit', minute: '2-digit' };\n    return `dia ${data.toLocaleDateString('pt-BR', opcoes).replace(' ', ' de ').replace(',', ' às')}`;\n})()}}\no link da reunião é: {{ $json.hangoutLink }}","type":"string"}]},"options":{}},"id":"c4d121b6-7e81-4240-a9e7-353b021a3854","name":"Edit Fields10","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1080,1900]},{"parameters":{"assignments":{"assignments":[{"id":"7f842ffa-cd8f-40ab-a0a7-40dc173357a7","name":"response","value":"=sua reunião foi reagendada para a data:{{(() => { \n    const data = new Date($json.start.dateTime);\n    const opcoes = { day: '2-digit', month: 'long', hour: '2-digit', minute: '2-digit' };\n    return `dia ${data.toLocaleDateString('pt-BR', opcoes).replace(' ', ' de ').replace(',', ' às')}`;\n})()}} o link da reunião é: {{ $json.hangoutLink }}","type":"string"}]},"options":{}},"id":"de15c187-5343-4d00-be34-60718f0da371","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1340,2260]},{"parameters":{"name":"cancelar_reuniao","description":"=Chame esta ferramenta após o usuário informar que quer cancelar a reunião, colete o email e nome\n\nNa variável \"nome\", você vai preencher o nome do usuário e na variavel \"email\" você vai preencher com email do usuário","workflowId":{"__rl":true,"value":"pTEjuuzKDNg5vVsN","mode":"id"},"fields":{"values":[{"name":"Evento","stringValue":"cancelamento"},{"name":"Remotejid","stringValue":"={{ $('Variáveis').item.json.telefone }}"}]},"specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"nome\": \"nome do usuario\",\n    \"email\": \"email do usuario\"\n}"},"id":"18e74885-04f4-42dc-875c-b90cadbfed32","name":"cancelar_reuniao","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[-560,1780]},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"nunes.allan8@gmail.com","mode":"list","cachedResultName":"nunes.allan8@gmail.com"},"returnAll":true,"options":{"timeMin":"={{ $json.timestamp }}"}},"id":"46ba11f4-d697-4194-8814-ef8fe3c8a34e","name":"Google Calendar","type":"n8n-nodes-base.googleCalendar","typeVersion":1.2,"position":[-2600,2960],"credentials":{"googleCalendarOAuth2Api":{"id":"BTYKfRWVBTh8akLE","name":"Google Calendar allan"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"806d2106-d234-428e-a909-db00044fc342","leftValue":"={{ $json.start.dateTime }}","rightValue":"={{ $('Schedule Trigger1').item.json.timestamp.toDateTime().plus(0, minutes) }}","operator":{"type":"dateTime","operation":"after"}},{"id":"aab42f56-d82f-434d-8319-00e3c2c690f3","leftValue":"={{ $json.start.dateTime }}","rightValue":"={{ $('Schedule Trigger1').item.json.timestamp.toDateTime().plus(5, minutes) }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2140,3140],"id":"6a12b0ee-57e9-4f19-b41c-195415c31ee9","name":"5 Minutos antes","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"806d2106-d234-428e-a909-db00044fc342","leftValue":"={{ $json.start.dateTime }}","rightValue":"={{ $('Schedule Trigger1').item.json.timestamp.toDateTime().plus(115, minutes) }}","operator":{"type":"dateTime","operation":"after"}},{"id":"aab42f56-d82f-434d-8319-00e3c2c690f3","leftValue":"={{ $json.start.dateTime }}","rightValue":"={{ $('Schedule Trigger1').item.json.timestamp.toDateTime().plus(120, minutes) }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2140,2880],"id":"12fac382-7545-455b-be3d-399bd490920e","name":"2 Hora antes","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5427ed1f-2dd2-4f7c-b7f4-9b13cd780bc7","leftValue":"={{ $json.kind }}","rightValue":"calendar#event","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1940,2880],"id":"5acf86e6-0819-4850-8f80-71be7fadc88b","name":"If7"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5427ed1f-2dd2-4f7c-b7f4-9b13cd780bc7","leftValue":"={{ $json.kind }}","rightValue":"calendar#event","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1940,3140],"id":"32dbe97b-b963-462a-9b2b-abbbb57b7cb8","name":"If8"},{"parameters":{"operation":"get","tableId":"dados_cliente","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Loop Over Items4').item.json.description }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1520,2860],"id":"07f8bcb3-5561-4a3a-8ce5-d125d63f1571","name":"Supabase3","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}}},{"parameters":{"assignments":{"assignments":[{"id":"a5af6299-68f1-4d3a-b2a7-c2ed65aa4ae6","name":"remoteJid","value":"={{ $('Loop Over Items4').item.json.description }}","type":"string"},{"id":"fc721c8e-bfd6-4364-9c30-b0038118856f","name":"Tempo","value":"Crie uma mensagem avisando que falta 2 horas para a reunião ","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1700,2860],"id":"227d8d83-891d-4711-a62d-e3ba8a77bfde","name":"Edit Fields5"},{"parameters":{"promptType":"define","text":"={{ $('Edit Fields5').item.json.Tempo }}","options":{"systemMessage":"=Você foi acionado pois vai avisar quanto tempo falta para a reunião, diga apenas o tempo que falta e se precisa de algo antes da reunião, sem dicas de uso ou informações extras: falta duas horas para nossa reunião, precisando de algo pode me chamar aqui."}},"id":"3b9416db-a153-4690-98b2-de61da7821d8","name":"Atendente1","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-1340,2860]},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionid }}","contextWindowLength":100},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-1240,3020],"id":"34bf7e75-37ab-491e-b301-3bbfa69e9bcc","name":"Postgres Chat Memory1","credentials":{"postgres":{"id":"7BihdPSijog1ko5Q","name":"Postgres Allan - SUPA"}}},{"parameters":{"operation":"get","tableId":"dados_cliente","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Google Calendar').item.json.description }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1520,3120],"id":"a04cb64e-f460-476b-9aa6-9cac5151d1d3","name":"Supabase4","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}}},{"parameters":{"promptType":"define","text":"={{ $('Edit Fields2').item.json.Tempo }}","options":{"systemMessage":"=Você foi acionado pois vai avisar quanto tempo falta para a reunião, diga apenas o tempo que falta e se precisa de algo antes da reunião, sem dicas de uso ou informações extras: Nossa time já está entrando agora na nossa reunião!"}},"id":"2104ab46-5df4-4d1e-93fb-c5735d2b7c89","name":"Atendente2","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-1340,3140]},{"parameters":{"assignments":{"assignments":[{"id":"c930cacf-b5ee-4120-a192-d68715d71d57","name":"remoteJid","value":"={{ $('Google Calendar').item.json.description }}","type":"string"},{"id":"e7775c3f-04e5-4b6f-9695-dad8654b7ff8","name":"Tempo","value":"Crie uma mensagem avisando que falta 5 minutos para a reunião ","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1740,3120],"id":"4cb2dfbe-65c6-4e6f-b957-4ba9a1b300cd","name":"Edit Fields2"},{"parameters":{"resource":"messages-api","instanceName":"allan1688","remoteJid":"={{ $('Google Calendar').item.json.description }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-1000,3000],"id":"76628f0d-da23-4aaa-940b-58d54b6887f7","name":"Evolution API7","credentials":{"evolutionApi":{"id":"AfcW5UBaTBawYJHp","name":"Evolution UNIVER"}}},{"parameters":{"content":"# AVISO REUNIÃO CHEGANDO","height":80,"width":551.2183277924504,"color":5},"id":"2dd5d8b9-c490-4168-aa10-d457eb52d768","name":"Sticky Note27","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2840,2600]},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"id":"93d130d7-ea1f-4ddf-940c-1110fdaefe75","name":"Schedule Trigger1","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2820,2960]},{"parameters":{"model":"gpt-4.1-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-1440,3020],"id":"90d97e16-374f-4ffa-8675-4cc24cb385f8","name":"OpenAI Chat Model5","credentials":{"openAiApi":{"id":"y6EOm7GTWxcYjDT6","name":"OpenAi Allan"}}},{"parameters":{"options":{}},"id":"b7bf5ee9-846b-4dc4-9d75-cdd67d00ea61","name":"Loop Over Items4","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2380,2960]},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-800,3160],"id":"9b6bbbf3-d846-4dfd-8d86-049905c88d0a","name":"Wait","webhookId":"d72239cb-b635-4ac2-95b6-0f66b77e9b6c"},{"parameters":{"content":"","height":980,"width":2302.828484039364,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-2860,2560],"typeVersion":1,"id":"b294b60a-5ab4-4652-ad33-c5de44e37fb4","name":"Sticky Note9"},{"parameters":{"operation":"getAll","tableId":"chats","filters":{"conditions":[{"keyName":"app","condition":"eq","keyValue":"drajessica"},{"keyName":"updated_at","condition":"gt","keyValue":"={{ $now.plus(5,'minutes') }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-4880,2820],"id":"5d96fc0e-6e5c-4ea1-b6e4-2b0592e5145e","name":"ListChats-Supabase","credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}}},{"parameters":{"operation":"getAll","tableId":"chat_messages","matchType":"allFilters","filters":{"conditions":[{"keyName":"phone","condition":"eq","keyValue":"={{ $json.phone }}"},{"keyName":"active","condition":"eq","keyValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-4480,2840],"id":"33f953f1-edd3-4535-b5c1-6f69fce69ef3","name":"ListMessages-Supabase","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}}},{"parameters":{"rule":{"interval":[{"daysInterval":2,"triggerAtHour":8,"triggerAtMinute":50}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-5040,2820],"id":"06f1e062-47f5-4997-923f-93f40567295c","name":"Schedule Trigger"},{"parameters":{"operation":"update","tableId":"chat_messages","filters":{"conditions":[{"keyName":"phone","condition":"eq","keyValue":"={{ $('Aggregate1')?.item?.json?.conversas?.last()?.phone }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"active","fieldValue":"false"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3080,2940],"id":"1bd541be-2b84-4c75-aa88-1240721de8b2","name":"DisableMessage-Supabase","credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}}},{"parameters":{"assignments":{"assignments":[{"id":"c9c00627-84a9-49a9-bc7e-d923a5918346","name":"output","value":"={{ $json.text }}","type":"string"},{"id":"0e34f673-b6dc-4748-89d2-a178dfe91853","name":"phone","value":"={{ $('Aggregate1').item.json.conversas.last().phone }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3360,2640],"id":"328642b0-29d3-430d-a40d-353d7a708138","name":"SetConfig"},{"parameters":{"promptType":"define","text":"=# Você é um agente facilitador de vendas e está buscando conversas não finalizadas entre o cliente e um agent de IA. \n\n# Cria a responda apenas a resposta não precisa justificar sua resposta\n\n# Identifique o cliente não enviou mais mensagens de resposta\n\n# Se o cliente não responder mesmo assim, agradeça e diga que irá encerrar o pedido e está a disposição para outros pedidos\n\n# Use frase simples e naturais como nos exemplos\n\nExemplos : \n - 'Oi .. ainda está ai'\n - 'E ai ? vamos finalizar o pedido?' \n\n# Conversa entre o cliete e o agente de IA:\n{{ $json.texto }}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[-3680,2640],"id":"31b68dd2-b237-4f97-a639-c18a5243b528","name":"Basic LLM Chain"},{"parameters":{"inputText":"={{ $json.texto }}","categories":{"categories":[{"category":"pendente_resposta","description":"A conversa está pendente devido a uma informação que o cliente ficou de fornecer ou confirmar, ou está pendende de marcar a reunião"},{"category":"encerrada","description":"Houve um desfecho da conversa  ouagendamento de uma reuniãoe o agente de IA se despediu"},{"category":"sem_resposta","description":"=Se o cliente não respondeu mais as mensagens do agente - mensagem do cliente vazia"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[-4000,2840],"id":"0af0f10b-23a6-4ee9-ab64-8340e61f1b70","name":"Text Classifier"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"conversas","include":"specifiedFields","fieldsToInclude":"id,message_type,created_at,user_message, bot_message,phone, conversation_id","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-4320,2840],"id":"8766e4d0-0fe2-440f-8cb9-dfd15ee63e3e","name":"Aggregate1"},{"parameters":{"jsCode":"return $('Aggregate1').all().map(item => {\n  // Tenta acessar a propriedade 'conversas' e verifica se ela é um array\n  const conversas = item.json.conversas || []; // Garante que é pelo menos um array vazio\n\n  if (!Array.isArray(conversas)) {\n    throw new Error(\"A propriedade 'conversas' não é um array.\");\n  }\n\n  // Processa cada conversa e verifica as mensagens\n  const textoUnico = conversas.map(conversa => {\n    const cliente = conversa.user_message || \"sem mensagem do chatbot\";\n    const agente = conversa.bot_message || \"sem resposta\";\n    \n    // Verifica se a data existe e formata\n    const dataOriginal = conversa.created_at || \"Data da Mensagem indisponível\";\n    const dataFormatada = dataOriginal !== \"Data da Mensagem indisponível\"\n      ? formatarData(dataOriginal)\n      : dataOriginal;\n\n    return `em: ${dataFormatada}\\n\\n - agente(chatbot): ${agente} \\n - cliente: ${cliente}\\n`;\n  }).join('\\n\\n');\n\n  // Retorna o texto final como resultado\n  return {\n    json: {\n      texto: textoUnico\n    }\n  };\n});\n\n// Função para formatar a data\nfunction formatarData(dataString) {\n  const data = new Date(dataString); // Converte a string em objeto Date\n  if (isNaN(data)) {\n    return \"Data inválida\"; // Retorna se a data não for válida\n  }\n  \n  // Formata no padrão DD/MM/YYYY HH:mm\n  const dia = String(data.getDate()).padStart(2, '0');\n  const mes = String(data.getMonth() + 1).padStart(2, '0'); // Mês começa em 0\n  const ano = data.getFullYear();\n  const horas = String(data.getHours()).padStart(2, '0');\n  const minutos = String(data.getMinutes()).padStart(2, '0');\n  \n  return `${dia}/${mes}/${ano} ${horas}:${minutos}`;\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4140,2840],"id":"9d22d765-df4e-4511-9d22-8b1f00039b4e","name":"Code4"},{"parameters":{"tableId":"chat_messages","fieldsUi":{"fieldValues":[{"fieldId":"phone","fieldValue":"={{ $('Aggregate1').item.json.conversas.last().phone }}"},{"fieldId":"conversation_id","fieldValue":"={{ $('Aggregate1').item.json.conversas.last().phone }}"},{"fieldId":"message_type","fieldValue":"={{ $('Aggregate1').item.json.conversas.last().message_type }}"},{"fieldId":"bot_message","fieldValue":"={{ $json.text }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3360,2820],"id":"a4d04353-0fff-4394-bb56-c8ffa20b27ae","name":"Supabase2","credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-4680,2820],"id":"c6afde53-6bfe-474d-8d1c-47fb2b209b85","name":"Loop Over Items2"},{"parameters":{"model":"gpt-4.1-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-3560,2780],"id":"e99ac6cb-6181-45ac-b145-61e5a2d25afb","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"y6EOm7GTWxcYjDT6","name":"OpenAi Allan"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-3220,2940],"id":"4431c8f4-088d-4c7f-aa37-f761d6daf277","name":"Wait2","webhookId":"88302532-fa1b-4e15-b77a-e85dedce41a0"},{"parameters":{"content":"","height":520,"width":2180,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-5080,2620],"typeVersion":1,"id":"9150290b-bbb7-4d85-8069-4b58ba18f0e9","name":"Sticky Note58"},{"parameters":{"content":"# Follow up Whatsapp","height":80,"width":393,"color":5},"id":"8b8d626c-7be6-4f1e-a387-0c570a877f53","name":"Sticky Note59","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-5060,2640]},{"parameters":{"resource":"messages-api","instanceName":"allan1688","remoteJid":"={{ $json.phone }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-3220,2640],"id":"b7b3617d-211f-442b-b108-e443d9e39539","name":"Evolution API6","credentials":{"evolutionApi":{"id":"AfcW5UBaTBawYJHp","name":"Evolution UNIVER"}}},{"parameters":{"model":"gpt-4.1-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-4000,3000],"id":"03f8ca91-ef88-403b-bfef-40e3b3600374","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"y6EOm7GTWxcYjDT6","name":"OpenAi Allan"}}}],"connections":{"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"buscar_documentos","type":"ai_languageModel","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert into Supabase Vectorstore","type":"ai_document","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Insert into Supabase Vectorstore","type":"ai_embedding","index":0}]]},"Download File":{"main":[[{"node":"Switch","type":"main","index":0}]]},"File Created":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"Extract Document Text":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Set File ID":{"main":[[{"node":"Deleta linhas antigas do documento","type":"main","index":0}]]},"Extract PDF Text":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Summarize":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Extract PDF Text","type":"main","index":0}],[{"node":"Extract from Excel","type":"main","index":0}],[{"node":"Extract Document Text","type":"main","index":0}]]},"Insert into Supabase Vectorstore":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Supabase Vector Store":{"ai_vectorStore":[[{"node":"buscar_documentos","type":"ai_vectorStore","index":0}]]},"Extract from Excel":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Get Dados","type":"main","index":0}],[{"node":"Gerar sessionID","type":"main","index":0}]]},"Gerar sessionID":{"main":[[{"node":"Supabase1","type":"main","index":0}]]},"Supabase1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"OpenAI3":{"ai_languageModel":[[{"node":"Parser  Chain","type":"ai_languageModel","index":0}]]},"OutputParser1":{"ai_outputParser":[[{"node":"Parser  Chain","type":"ai_outputParser","index":0}]]},"Parser  Chain":{"main":[[{"node":"Split de Mensagem","type":"main","index":0}]]},"Switch3":{"main":[[{"node":"Menos que 240 Caracteres","type":"main","index":0}],[{"node":"Menos que 240 Caracteres","type":"main","index":0}],[{"node":"Menos que 240 Caracteres","type":"main","index":0}],[{"node":"Menos que 240 Caracteres","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Atendente","type":"ai_languageModel","index":0}]]},"Code1":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Atendente":{"main":[[{"node":"Switch2","type":"main","index":0},{"node":"Busca Telefone","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Download File","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Atendente","type":"ai_memory","index":0}]]},"Webhook EVO":{"main":[[{"node":"dados_para_atendimento_humano1","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Switch3","type":"main","index":0}],[{"node":"Evolution API1","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0}]]},"Merge1":{"main":[[{"node":"Cria Histórico Supabase","type":"main","index":0}]]},"If4":{"main":[[{"node":"Adiciona CHAT supabase","type":"main","index":0}],[{"node":"Atualiza CHAT Supabase","type":"main","index":0}]]},"Date & Time1":{"main":[[{"node":"Supabase","type":"main","index":0}]]},"Busca Telefone":{"main":[[{"node":"If4","type":"main","index":0}]]},"Adiciona CHAT supabase":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Atualiza CHAT Supabase":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Cria Histórico Supabase":{"main":[[{"node":"Delete Memory","type":"main","index":0}]]},"Menos que 240 Caracteres":{"main":[[{"node":"Evolution API5","type":"main","index":0}],[{"node":"Parser  Chain","type":"main","index":0}]]},"Split de Mensagem":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"1 segundo":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Retorna ID do arquivo":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Deleta linhas antigas do documento":{"main":[[{"node":"Retorna ID do arquivo","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"If3":{"main":[[{"node":"Redis5","type":"main","index":0}],[{"node":"Redis4","type":"main","index":0}]]},"Redis4":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Redis5":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Text Memory1","type":"main","index":0}],[{"node":"Text Memory1","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Edit Fields3","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"If3","type":"main","index":0}]]},"Compara Get Memory1":{"main":[[{"node":"Mensagem Completa","type":"main","index":0}]]},"Text Memory1":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Audio Memory1":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Edit Fields8":{"main":[[{"node":"Compara Get Memory1","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Get Memory 2","type":"main","index":0}]]},"Get Memory 1":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Get Memory 2":{"main":[[{"node":"Edit Fields8","type":"main","index":0}]]},"buscar_documentos":{"ai_tool":[[{"node":"Atendente","type":"ai_tool","index":0}]]},"Get Dados":{"main":[[{"node":"Code1","type":"main","index":0}]]},"dados_para_atendimento_humano1":{"main":[[{"node":"Switch6","type":"main","index":0}]]},"Switch Block":{"main":[[{"node":"Variáveis","type":"main","index":0}]]},"Switch6":{"main":[[{"node":"PARA IA","type":"main","index":0}],[{"node":"Verificar Atendimento","type":"main","index":0}],[]]},"Variáveis":{"main":[[{"node":"Date & Time1","type":"main","index":0}]]},"ListChats-Supabase2":{"main":[[{"node":"Loop Over Items6","type":"main","index":0}]]},"ListMessages-Supabase2":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"Code6","type":"main","index":0}]]},"Loop Over Items6":{"main":[[],[{"node":"ListMessages-Supabase2","type":"main","index":0}]]},"Code6":{"main":[[{"node":"Basic LLM Chain1","type":"main","index":0}]]},"Verificar Atendimento":{"main":[[{"node":"Switch Block","type":"main","index":0}]]},"Mensagem Completa":{"main":[[{"node":"Atendente","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Audio Memory1","type":"main","index":0}]]},"Loop Over Items3":{"main":[[],[{"node":"Evolution API","type":"main","index":0}]]},"Basic LLM Chain1":{"main":[[{"node":"Evolution API2","type":"main","index":0}]]},"Evolution API1":{"main":[[{"node":"ListChats-Supabase2","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Switch4","type":"main","index":0}]]},"Disponibilidade":{"main":[[{"node":"If","type":"main","index":0}]]},"Marca":{"main":[[{"node":"Edit Fields10","type":"main","index":0}]]},"Já tem um evento":{"main":[[{"node":"If5","type":"main","index":0}]]},"Google Calendar1":{"main":[[{"node":"Edit Fields7","type":"main","index":0}]]},"Google Calendar3":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Verifica evento":{"main":[[{"node":"Google Calendar1","type":"main","index":0}]]},"Verifica evento1":{"main":[[{"node":"Google Calendar3","type":"main","index":0}]]},"If6":{"main":[[{"node":"Verifica evento1","type":"main","index":0}],[{"node":"Edit Fields9","type":"main","index":0}]]},"Disponibilidade1":{"main":[[{"node":"If6","type":"main","index":0}]]},"If5":{"main":[[{"node":"Edit Fields6","type":"main","index":0}],[{"node":"Disponibilidade","type":"main","index":0}]]},"Switch4":{"main":[[{"node":"Já tem um evento","type":"main","index":0}],[{"node":"Verifica evento","type":"main","index":0}],[{"node":"Disponibilidade1","type":"main","index":0}]]},"If":{"main":[[{"node":"Marca","type":"main","index":0}],[{"node":"Edit Fields9","type":"main","index":0}]]},"reagendar_reuniao":{"ai_tool":[[{"node":"Atendente","type":"ai_tool","index":0}]]},"cancelar_reuniao":{"ai_tool":[[{"node":"Atendente","type":"ai_tool","index":0}]]},"criar_reuniao":{"ai_tool":[[{"node":"Atendente","type":"ai_tool","index":0}]]},"Google Calendar":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"5 Minutos antes":{"main":[[{"node":"If8","type":"main","index":0}]]},"2 Hora antes":{"main":[[{"node":"If7","type":"main","index":0}]]},"If7":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"If8":{"main":[[{"node":"Edit Fields2","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Supabase3":{"main":[[{"node":"Atendente1","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Supabase3","type":"main","index":0}]]},"Atendente1":{"main":[[{"node":"Evolution API7","type":"main","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"Atendente1","type":"ai_memory","index":0},{"node":"Atendente2","type":"ai_memory","index":0}]]},"Supabase4":{"main":[[{"node":"Atendente2","type":"main","index":0}]]},"Atendente2":{"main":[[{"node":"Evolution API7","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Supabase4","type":"main","index":0}]]},"Evolution API7":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Google Calendar","type":"main","index":0}]]},"OpenAI Chat Model5":{"ai_languageModel":[[{"node":"Atendente1","type":"ai_languageModel","index":0},{"node":"Atendente2","type":"ai_languageModel","index":0}]]},"Loop Over Items4":{"main":[[],[{"node":"2 Hora antes","type":"main","index":0},{"node":"5 Minutos antes","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"ListChats-Supabase":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"ListMessages-Supabase":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"ListChats-Supabase","type":"main","index":0}]]},"DisableMessage-Supabase":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"SetConfig":{"main":[[{"node":"Evolution API6","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Supabase2","type":"main","index":0},{"node":"SetConfig","type":"main","index":0}]]},"Text Classifier":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}],[{"node":"Wait2","type":"main","index":0}],[{"node":"Wait2","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Code4","type":"main","index":0}]]},"Code4":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"Supabase2":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"ListMessages-Supabase","type":"main","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Wait2":{"main":[[{"node":"DisableMessage-Supabase","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger1":{"recurrenceRules":[]},"node:Schedule Trigger":{"recurrenceRules":[130]},"node:File Created":{"lastTimeChecked":"2025-07-02T12:24:37Z"},"node:File Updated":{"lastTimeChecked":"2025-07-02T12:00:26Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook EVO":[{"json":{"headers":{"host":"webhook.techpulseai.com.br","user-agent":"axios/1.7.9","content-length":"880","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"webhook.techpulseai.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"53d3c3fc3aa2","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"allan1688","data":{"key":{"remoteJid":"5521998882556@s.whatsapp.net","fromMe":false,"id":"3AFD29B68E64583E6C5A"},"pushName":"Allan Souto","status":"DELIVERY_ACK","message":{"conversation":"Olá","messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"HLV+AcK+OoeaMA==","senderTimestamp":"1749334515","recipientKeyHash":"mquvQ5u/JJEwIg==","recipientTimestamp":"1749502158"},"deviceListMetadataVersion":2,"messageSecret":"0Txsnv0HOPTPbyhb9jBX5xIFXA5la/ChfkIu/icRXP4="}},"messageType":"conversation","messageTimestamp":1749675154,"instanceId":"6765f67b-bba0-4cd0-a716-7c553fb139b7","source":"ios"},"destination":"https://webhook.techpulseai.com.br/webhook/saoodonto","date_time":"2025-06-11T17:52:34.214Z","sender":"5521986071688@s.whatsapp.net","server_url":"https://evo.techpulseai.com.br","apikey":"9BEEFF036D2B-4FC9-A678-708FB7081E13"},"webhookUrl":"https://webhook.techpulseai.com.br/webhook/saoodonto","executionMode":"production"}}]},"versionId":"34ee6d83-f8a3-4f89-9e9d-2069dcaab0f7","triggerCount":5,"tags":[{"createdAt":"2025-05-06T15:51:27.747Z","updatedAt":"2025-05-06T15:51:27.747Z","id":"bdkiwzrYtNkpNJPd","name":"fluxo ativo"}]}