workflows/Agente IA - copy atacadao maromba.json
{"createdAt":"2025-05-29T21:59:22.098Z","updatedAt":"2025-06-20T00:06:59.731Z","id":"J0EJySUkZoT1sZJ5","name":"Agente IA - copy atacadao maromba","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"return items.map(item => {\n  const sanitize = (text) => {\n    if (!text) return text;\n    \n    // Remove tudo que está entre colchetes, incluindo colchetes\n    text = text.replace(/\\[.*?\\]/g, '');\n    // Substitui caracteres Unicode específicos\n    text = text.replace(/\\u00E9/g, 'e');  // Exemplo: substitui 'é' por 'e'\n    text = text.replace(/\\u00E1/g, 'a');  // Exemplo: substitui 'á' por 'a'\n    text = text.replace(/\\u00ED/g, 'i');  // Exemplo: substitui 'í' por 'i'\n    text = text.replace(/\\u00F3/g, 'o');  // Exemplo: substitui 'ó' por 'o'\n    text = text.replace(/\\u00FA/g, 'u');  // Exemplo: substitui 'ú' por 'u'\n    // Remove caracteres não ASCII\n    text = text.replace(/[^ -~]/g, '');\n    \n    // Remove caracteres especiais e pontuações indesejadas\n    text = text.replace(/[^\\w\\s]/gi, '');\n    \n    // Substituir múltiplos espaços por um único espaço\n    text = text.replace(/\\s+/g, ' ');\n    \n    return text.trim();\n  };\n\n  // Cria uma cópia do item sem o campo annotations\n  const cleanItem = { ...item };\n  \n  // Se houver content, processa cada elemento mantendo apenas os campos necessários\n  if (cleanItem.content) {\n    cleanItem.content = cleanItem.content.map(content => {\n      if (content.text) {\n        // Para elementos text, mantém apenas type, text e value\n        return {\n          type: content.type,\n          text: {\n            value: content.text.value\n          }\n        };\n      }\n      return content;\n    });\n  }\n  \n  return cleanItem;\n});"},"id":"7f1262ef-bf63-4abd-a767-d52295eabbb4","name":"Limpeza de erros","type":"n8n-nodes-base.code","typeVersion":2,"position":[1600,40],"alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"c4db366a-8e40-443f-a1a9-19a590cb3b03","name":"mensagem","value":"={{ $json.text }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"208c9ecc-41ae-4b4b-859e-aa9a09e298ec","name":"mensagem=audio","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-5060,300]},{"parameters":{},"id":"b4dfcb9e-534c-4451-ade6-793403a01ef8","name":"Merge message","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[-3800,400]},{"parameters":{"assignments":{"assignments":[{"id":"4d20037d-7c3f-4a9b-aba2-ae17ed70ed2d","name":"mensagem","value":"={{ $json.text }}","type":"string"}]},"options":{}},"id":"d2c6294b-a5be-4704-8bd3-6df46fcf0f98","name":"mensagem=imagem","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-4580,520]},{"parameters":{"assignments":{"assignments":[{"id":"4d20037d-7c3f-4a9b-aba2-ae17ed70ed2d","name":"mensagem","value":"={{ $json.message.content }}","type":"string"}]},"options":{}},"id":"a6242440-1116-46ee-9367-8ff68bfc9b9b","name":"mensagem=conversation","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-5140,40]},{"parameters":{"method":"POST","url":"={{ $('JSON parse').item.json.body.server_url }}/message/sendText/{{ $('JSON parse').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('JSON parse').item.json.body.apikey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Normalização das mensagens').first().json.message.whatsapp_number_id }}"},{"name":"text","value":"={{ $json.value }}"},{"name":"delay","value":"={{ 4000 }}"},{"name":"presence","value":"composing"},{"name":"linkPreview","value":"={{ true }}"}]},"options":{"redirect":{"redirect":{}},"response":{"response":{"fullResponse":true,"neverError":true}}}},"id":"c10ec08b-1bb4-4d70-a1ac-aeaa678d8a84","name":"Envia mensagem Evolution","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[3040,60],"alwaysOutputData":false,"executeOnce":true,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Função para extrair o número do WhatsApp sem o sufixo \"@s.whatsapp.net\"\nfunction extractWhatsappNumber(number) {\n  return number ? number.split('@')[0] : null;\n}\n\nconst item = items[0];\n\nif (item?.json?.body?.data?.key?.remoteJid) {\n  item.json.body.whatsapp = extractWhatsappNumber(item.json.body.data.key.remoteJid);\n}\n\nreturn item;"},"id":"9588caa8-f737-47e9-8c14-5d218dac8798","name":"Ajuste do número de whatsapp","type":"n8n-nodes-base.code","typeVersion":2,"position":[-7220,500]},{"parameters":{"assignments":{"assignments":[{"id":"8f16b1bf-1a3e-4029-8d7a-1bccb919ee43","name":"message.message_id","value":"={{ $json.body.data.key.id }}{{ $json.body.conversation.messages[0].id }}","type":"string"},{"id":"11800d83-ecca-4f9c-a878-a2419db0c8e9","name":"message.whatsapp_number_id","value":"={{ $json.body.whatsapp }}","type":"string"},{"id":"c33f9527-e661-49e5-8e5e-64f3b430928a","name":"message.content_type","value":"={{ $json.body.data.message.extendedTextMessage ? 'texto' : '' }}{{ $json.body.data.message.documentWithCaptionMessage ? 'documento' : ''  }}{{ $json.body.data.message.documentMessage ? 'documento' : ''  }}{{ $json.body.data.message.conversation ? 'texto' : '' }}{{ $json.body.data.message.audioMessage ? 'audio' : '' }}{{ $json.body.data.message.imageMessage ? 'imagem' : '' }}","type":"string"},{"id":"06eba1c9-cff0-4f68-b6da-6bb0092466b7","name":"message.content","value":"={{ $json.body.data.message.extendedTextMessage?.text || '' }}{{ $json.body.data.message.imageMessage?.caption || '' }}{{ $json.body.data.message.conversation || '' }}{{ $json.body.content }}{{ $json.body.data.message.reactionMessage.text }}","type":"string"},{"id":"b97f1af3-5361-46fc-9303-d644921231d8","name":"message.timestamp","value":"={{ $json.body.data.messageTimestamp.toDateTime('s').toISO() }}","type":"string"},{"id":"dc3dc59c-90a3-4a45-bea2-de092c91083b","name":"message.content_url","value":"={{ $json.body.data.message.audioMessage?.url || '' }}\n{{ $json.body.data.message.imageMessage?.url || '' }}","type":"string"},{"id":"8b01a818-a456-476e-bace-adefe2f04eb4","name":"message.event","value":"={{ $json.body.data.key.fromMe ? 'outcoming' : 'incoming' }}{{ $json.body.message_type }}","type":"string"},{"id":"ae15a213-de90-493e-89ca-ef7e98dbbb7f","name":"message.whatsapp_name","value":"={{ $json.body.data.pushName }}","type":"string"}]},"options":{}},"id":"5c0dcf01-e2ca-483b-b7d2-9e71781a05b2","name":"Normalização das mensagens","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6660,480]},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/audio/transcriptions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 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"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"model","value":"whisper-large-v3"},{"name":"language","value":"pt"},{"name":"response_format","value":"verbose_json"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"id":"ec70cead-4bb3-453a-9f2a-d2d5610b0f84","name":"API audio - Groq","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-5280,300]},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"mimeType":"audio/mp4"}},"id":"49e3f9ca-0a08-48a6-a6b2-4257f1bb1d5d","name":"Converte base 64 para arquivo de audio","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-5500,300]},{"parameters":{"assignments":{"assignments":[{"id":"94e5eb04-fc64-4c21-a41e-c2412197a29d","name":"value","value":"={{ $json.resposta ? $json.resposta.replace(/([.!?])/, '$1') : [] }}","type":"array"}]},"options":{"ignoreConversionErrors":true}},"id":"b08ca4dc-e6fa-4321-83c1-8266bc34a210","name":"Gera array de parágrafos","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1860,40]},{"parameters":{"fieldToSplitOut":"value","options":{}},"id":"5c38948b-6e1f-4fab-b980-0e52efbc0f3f","name":"Split Out1","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2100,40],"alwaysOutputData":true},{"parameters":{"options":{}},"id":"9bcb072f-492b-4fa6-bc48-268c87018d9b","name":"Para cada parágrafo","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2320,40]},{"parameters":{"amount":4},"id":"23162000-de8c-46fc-b608-286b742c6512","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2560,60],"webhookId":"8c276910-7d9a-4a4c-be3d-97d3a0c0fbe6"},{"parameters":{"assignments":{"assignments":[{"id":"bb1803f4-e2b2-4852-a31c-6feaa96ba2c7","name":"message.mensagem","value":"={{ $('Merge message').item.json.mensagem }}","type":"string"},{"id":"9498537e-b084-44e8-b39b-6e0588c3ab1e","name":"message.whatsapp_name","value":"={{ $('Normalização das mensagens').item.json.message.whatsapp_name }}","type":"string"},{"id":"2c1e5478-b76f-4435-931b-4a476e3cf766","name":"message.whatsapp_number_id","value":"={{ $('Normalização das mensagens').item.json.message.whatsapp_number_id }}","type":"string"},{"id":"95305e0f-b37e-4e6f-900a-df095f73596e","name":"message.timestamp","value":"={{ $('Normalização das mensagens').item.json.message.timestamp }}","type":"string"},{"id":"8e9667f7-2822-487c-b7f4-c0dc1f017f6f","name":"message.message_id","value":"={{ $('Normalização das mensagens').item.json.message.message_id }}","type":"string"}]},"options":{}},"id":"f136da77-ee01-49e2-ad38-9801fce1d6ec","name":"Dados de Entrada","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2840,540]},{"parameters":{"assignments":{"assignments":[{"id":"b3cd3b62-1d6b-49a8-8a3c-0f35cf084106","name":"resposta","value":"={{ $json.output }}","type":"string"}]},"options":{}},"id":"ef117079-6355-4594-b7f2-0eda1f9eec2f","name":"Dados de Saída","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1380,40]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"539eeba6-7189-484b-b538-250381687350","leftValue":"={{ $json.message.content_type }}","rightValue":"=texto","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.message.content_type }}","rightValue":"audio","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"bc330068-ed0e-42ed-a87e-0a23f3a9d899","leftValue":"={{ $json.message.content_type }}","rightValue":"imagem","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"imagem"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"7da1d9b7-3701-4ad9-8972-732f01c08cf4","leftValue":"={{ $json.message.content_type }}","rightValue":"documento","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"documento"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"ae80125a-d861-4482-9f16-5c61644da30c","leftValue":"={{ $json.message.content_type }}","rightValue":"URL","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"URL"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"3697f9a3-5a21-428f-a393-6fa51d2158cb","leftValue":"={{ $json.message.content_type }}","rightValue":"=reactionMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"reactionMessage"}]},"options":{}},"id":"8b0eee56-4bb7-47ce-8404-ea36afd42c2a","name":"Tipo de mensagem","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-6320,420]},{"parameters":{"jsCode":"const items = $input.all();  // Captura todos os itens do nó anterior\nconst pattern = /【\\d+:\\d+†source】/g;\n\nreturn items.map(item => {\n    // Acessa o valor do primeiro item\n    let value = item.json.value;\n\n    // Realiza um replace no valor (substituindo, por exemplo, \"texto_antigo\" por \"novo_texto\")\n    value = value.replace(pattern, '');\n\n    // Retorna o novo array de objetos com o valor modificado\n    return {\n        json: {\n            value: value\n        }\n    };\n});"},"id":"6697880d-b686-40ae-a508-990eabc347ca","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[2800,60]},{"parameters":{"promptType":"define","text":"=Descreva a imagem recebida de forma detalhada, incluindo todas as informações relevantes, pois se trata de um cliente interessado no produto ou na promoção exibida. Foco total no produto mostrado e nos detalhes apresentados na imagem, como nome do produto, marca, quantidade, tipo (se aplicável), sabor, informações do rótulo ou embalagem, preço (se disponível), e quaisquer textos promocionais dentro ou fora do rótulo. Certifique-se de incluir todas as informações disponíveis na imagem para garantir que o cliente tenha uma descrição completa e precisa, mesmo que o preço ou a promoção não estejam visíveis. Ignore apenas elementos decorativos, logotipos de lojas ou qualquer conteúdo irrelevante ao produto ou à promoção.\n\nAo final da descrição, inclua um resumo no seguinte formato: [marca] - [produto] - [quantidade] - [valor].","messages":{"messageValues":[{"type":"HumanMessagePromptTemplate","messageType":"imageBinary","imageDetail":"high"}]}},"id":"4d3f96a8-08f3-446a-94f9-6cff51ec5e92","name":"descrever imagem","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[-5260,560]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"@s.whatsapp.net","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"não é grupo"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9b8f0481-092a-49a8-a3e9-1cb37142c4b7","leftValue":"={{ $json.body.data.key.remoteJid }}","rightValue":"@g.us","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"é grupo"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-7020,500],"id":"ec7d9147-4d82-49eb-a560-e6e38b84737a","name":"Switch3"},{"parameters":{"assignments":{"assignments":[{"id":"795a52ac-1156-4bd7-bdd0-1bba677e4e95","name":"content","value":"=A:{{ $('Merge message').item.json.mensagem }}\n----\nQ:{{ $json.output }}","type":"string"},{"id":"a8a2d8e0-a56a-40e6-ba2f-df8f3bbdfe32","name":"whatsapp_number_id","value":"={{ $('messages').item.json.whatsapp_number_id }}","type":"string"},{"id":"1b0471a5-da16-4932-965b-8b5d7927ac49","name":"full_name","value":"={{ $('Dados de Entrada').item.json.whatsapp_name }}","type":"string"},{"id":"07c2df7f-f3ec-4953-9f22-b49efd4153c2","name":"candidate_id","value":"={{ $('messages').item.json.id }}","type":"string"},{"id":"fbeaa453-0e43-47f6-8212-7335099a7f37","name":"full_conversation","value":"","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"eb3d7a3c-afd8-44cd-80bb-f71b1ed0da86","name":"set questions","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1580,400]},{"parameters":{"operation":"update","tableId":"leads","filters":{"conditions":[{"keyName":"whatsapp_number_id","condition":"eq","keyValue":"={{ $('Ajuste do número de whatsapp').item.json.body.whatsapp }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"full_conversation","fieldValue":"={{ $json.content }}"}]}},"id":"59cd703e-e6d9-4f65-9d78-e4f8e7b379aa","name":"Questions Update","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1900,400],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"0wrl5jxAgF6j2CC4","name":"Supabase jessica"}}},{"parameters":{"operation":"get","propertyName":"messages","key":"={{ $('Normalização das mensagens').item.json.message.whatsapp_number_id }}","keyType":"list","options":{}},"id":"0c50e460-6d75-4962-ab30-04cb981bf709","name":"get messages buffer","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1340,400],"credentials":{"redis":{"id":"kixoLDLu9Z8RemZk","name":"Redis Mytia - 04"}}},{"parameters":{"operation":"push","list":"={{ $('Dados de Entrada').item.json.message.whatsapp_number_id }}","messageData":"={{ JSON.stringify($('Dados de Entrada').item.json.message) }}","tail":true},"id":"58b3004c-40e9-4fac-927a-43e25310a6c1","name":"push message buffer","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1620,400],"credentials":{"redis":{"id":"kixoLDLu9Z8RemZk","name":"Redis Mytia - 04"}}},{"parameters":{},"id":"00439a6b-3956-476d-b9b5-2ee3c82c0f8e","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-760,180]},{"parameters":{"assignments":{"assignments":[{"id":"db5cfe0a-7f43-4a61-8b27-bfd3a95deb8d","name":"messages","value":"={{ $json.messages.map(v => JSON.parse(v).mensagem).join('\\n') }}","type":"string"},{"id":"efe92ed1-f10c-455c-8c0c-e947a1a7ef1a","name":"whatsapp_number_id","value":"={{ $('Normalização das mensagens').item.json.message.whatsapp_number_id }}","type":"string"},{"id":"84bf4b32-b382-4782-a90c-f4a2f8fc34ab","name":"id","value":"={{ $('Switch3').item.json.body.data.key.remoteJid }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"6870aaa2-41fa-4e0e-96c1-573ccd783781","name":"messages","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-480,400]},{"parameters":{"operation":"delete","key":"={{ $('Normalização das mensagens').item.json.message.whatsapp_number_id }}"},"id":"c9891d5e-5da8-4e74-9544-c43dd7349557","name":"delete buffer","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-880,400],"credentials":{"redis":{"id":"kixoLDLu9Z8RemZk","name":"Redis Mytia - 04"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Dados de Entrada').item.json.message.message_id }}","rightValue":"={{ $('Normalização das mensagens').item.json.message.message_id }}","operator":{"type":"string","operation":"notEquals"},"id":"fed9b4db-420e-4923-8d97-fc4bfc5f4d2f"}],"combinator":"and"},"renameOutput":true,"outputKey":"nada a fazer"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"fdd1e894-df1c-4ebd-8f56-82f66dad03be","leftValue":"={{ JSON.parse($json.messages.last()).timestamp }}","rightValue":"={{ $now.minus(20, 'seconds') }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"renameOutput":true,"outputKey":"prosseguir"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"esperar"}},"id":"84970ca8-5aec-4aea-9e27-9111a1eb3973","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-1120,400]},{"parameters":{"amount":15},"id":"7721a076-5aae-453c-8ae8-dae82ff34a32","name":"Wait2","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-780,720],"webhookId":"ac13eb12-ea29-4507-9539-ea41f8091b8f"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-6740,720],"id":"b1e3dc58-4ee6-421c-bc4f-6e773367684a","name":"No Operation, do nothing1"},{"parameters":{"operation":"set","key":"={{ $('Tipo de mensagem').item.json.message.whatsapp_number_id }}_block","value":"true","expire":true,"ttl":86400},"id":"ae7932ac-8e1d-4815-9b44-b4baf3b6ab1d","name":"Block AI","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-3380,220],"credentials":{"redis":{"id":"kixoLDLu9Z8RemZk","name":"Redis Mytia - 04"}}},{"parameters":{"operation":"get","propertyName":"block","key":"={{ $('Tipo de mensagem').item.json.message.whatsapp_number_id }}_block","options":{"dotNotation":true}},"id":"f4fafaec-6a07-4910-81cb-d8ce1a7dee23","name":"Get Block Chat Id","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-3380,520],"alwaysOutputData":true,"credentials":{"redis":{"id":"kixoLDLu9Z8RemZk","name":"Redis Mytia - 04"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Tipo de mensagem').item.json.message.event }}","rightValue":"outcoming","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"outcoming"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"d7b42536-638f-4128-b51b-6aa913e9d9bc","leftValue":"={{ $('Tipo de mensagem').item.json.message.event }}","rightValue":"incoming","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"incoming"}]},"options":{}},"id":"57aebee4-6f5a-4740-a21d-6e9070a52b12","name":"Switch2","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-3600,400],"alwaysOutputData":false},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.block }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"IA PODE RESPONDER"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"3ef0e01c-cc14-4663-bb4d-2905b350c3ab","leftValue":"={{ $json.block }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"IA NAO PODE RESPONDER"}]},"options":{}},"id":"81573ffe-84ef-470d-a959-62991a5ba0b1","name":"Switch Block","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-3160,520]},{"parameters":{"promptType":"define","text":"={{ $('messages').item.json.messages }}","options":{"systemMessage":"={{ $json.prompt }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[900,400],"id":"4c595f23-6514-4bdc-bd93-3d7e4b8a386e","name":"AI Agent"},{"parameters":{"operation":"get","tableId":"agents","filters":{"conditions":[{"keyName":"name","keyValue":"={{ $json.output.agent }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[680,400],"id":"bcbbb9dd-0d6d-4779-9a7a-259ae5846386","name":"Get Agent","credentials":{"supabaseApi":{"id":"gRdkoznVdJcWZBEW","name":"Supabase Allan.souto@outlook"}}},{"parameters":{"promptType":"define","text":"={{ $json.messages.map(msg => 'Human: ' + msg.human + '\\n' + (msg.ai ? ('Dani: ' + msg.ai): '')).join('\\n\\n') + '\\n\\n' + 'Human: ' + $('messages').item.json.messages}}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=# Instruções para Roteamento de Mensagens via Tool Call no n8n\n\nVocê é um agente de decisão avançado. Sua tarefa é analisar um texto que contém as últimas mensagens do usuário (disponível na variável messages, dentro do Get Context, `{{ $json.messages }}`) e, com base nisso, determinar qual Tool Agent deve ser acionado no n8n. Para isso, utilize um método de \"chain-of-thought\", pensando passo a passo antes de emitir sua resposta final.\n\n---\n\n## Instruções Detalhadas\n\n1. **Leitura e Compreensão do Texto**  \n   - Analise atentamente o texto fornecido, que reúne as últimas mensagens do usuário.\n   - Identifique intenções, palavras-chave e o contexto geral da solicitação.\n\n2. **Método Chain-of-Thought**  \n   - **Pense, depois responda:** Reflita sobre cada etapa do seu processo de decisão.\n   - Documente seus passos de raciocínio em um array chamado `steps`. Cada item deve ser uma string que descreva claramente uma etapa do seu raciocínio.\n\n3. **Determinação da Decisão Final**  \n   - Com base na análise, defina sua conclusão:\n     - **final_answer**: Uma string resumindo sua decisão final.\n     - **agent**: Selecione uma das seguintes opções de Tool Agent, de acordo com o conteúdo e contexto do texto:\n       - **dani_monta_pedido**:  \n         *Para questões relacionadas à montagem de pedidos, status, cancelamento ou ajustes de compras.*  \n         **Palavras-chave**: \"montar pedido\", \"status do pedido\", \"cancelar pedido\", \"ajustar compra\".\n       - **dani_termogenico**:  \n         *Para consultas sobre termogênicos, visando desempenho, aumento de energia e saúde.*  \n         **Palavras-chave**: \"termogênico para energia\", \"aumentar desempenho\", \"produto para queimar gordura\", \"mais disposição\".\n       - **dani_pre_treino**:  \n         *Para questões sobre suplementos pré-treino, com recomendações para uso antes do treino.*  \n         **Palavras-chave**: \"suplemento pré-treino\", \"melhor pré-treino\", \"energia antes do treino\", \"foco para treinar\".\n       - **dani_whey_geral**:  \n         *Para dúvidas relacionadas ao Whey Protein, marcas, intolerâncias e consumo adequado de proteínas.*  \n         **Palavras-chave**: \"qual whey escolher\", \"whey para intolerância\", \"melhor whey protein\".\n       - **dani_catalogo**:  \n         *Para perguntas sobre o catálogo de produtos, promoções ou produtos específicos (ex.: tênis de corrida).*  \n         **Palavras-chave**: \"catálogo de produtos\", \"ver promoções\", \"promoções disponíveis\", \"catálogo de tênis\".\n       - **dani_informacoes**:  \n         *Para informações gerais sobre qualquer outra coisa, sobre a loja, como endereço, horários de funcionamento, políticas de devolução e suporte.*  \n         **Palavras-chave**: \"endereço da loja\", \"horário de funcionamento\", \"política de devolução\", \"informações da loja\".\n       - **dani_calcula_frete**:  \n         *Para questões relacionadas a frete, como prazos, taxas e custos de envio, especialmente para entregas na capital do Rio de Janeiro e arredores.*  \n         **Palavras-chave**: \"valor do frete\", \"custo de entrega\", \"quanto custa para entregar\", \"entrega no Rio de Janeiro\", \"frete para minha cidade\", \"prazo de entrega\", \"entrega rápida\", \"entrega expressa\".\n       - **dani_creatina**:  \n         *Para consultas sobre creatina, incluindo tipos disponíveis, dosagens recomendadas e melhores práticas de uso.*  \n         **Palavras-chave**: \"tipos de creatina\", \"como tomar creatina\", \"melhor creatina\", \"dosagem de creatina\", \"uso de creatina\".\n\n4. **Formato da Resposta**  \n   - Sua resposta deve ser um objeto JSON estritamente conforme o seguinte schema:\n\n     ```json\n     {\n       \"steps\": [\n         \"string\"  // Cada string descreve um passo do seu raciocínio\n       ],\n       \"final_answer\": \"string\",  // Resuma sua decisão final\n       \"agent\": \"string\"  // Uma das opções: \"dani_monta_pedido\", \"dani_termogenico\", \"dani_pre_treino\", \"dani_whey_protein\", \"dani_catalogo\", \"dani_informacoes\", \"dani_calcula_frete\", \"dani_creatina\"\n     }\n     ```\n\n5. **Restrições**  \n   - Não inclua propriedades extras além das especificadas.\n   - Retorne **apenas** o objeto JSON, sem comentários ou formatações adicionais.\n\n---\n\n## Lembre-se\n- **Pense, depois responda:** Reflita detalhadamente e liste seus passos antes de emitir a resposta final.\n- A clareza e a transparência do seu chain-of-thought são essenciais para a correta determinação do agente a ser acionado.\n\nUtilize o texto das últimas mensagens (por exemplo, `{{ $json.messages }}`) como base para sua análise e retorne o JSON conforme especificado. Esse resultado será utilizado para acionar uma tool call, direcionando a mensagem para o Tool Agent apropriado no n8n.\n"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[200,400],"id":"74d2e705-ed07-4500-98db-89fce2b4a272","name":"Chain-of-Thought"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[-180,400],"id":"4c1db7dd-3abd-4ace-a4ea-d984c1e4f3fb","name":"Get Context"},{"parameters":{"assignments":{"assignments":[{"id":"4d20037d-7c3f-4a9b-aba2-ae17ed70ed2d","name":"mensagem","value":"={{ $json.body }}","type":"string"}]},"options":{}},"id":"f55702ef-b3c2-41d1-b718-1c80e781a000","name":"mensagem=documento","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-4700,1040]},{"parameters":{"jsCode":"const rawText = $input.first().json.mensagem || \"\"; // Garante que a string não seja undefined\n\n// 1️⃣ Remover quebras de linha estranhas e normalizar espaços\nlet cleanedText = rawText.replace(/[\\r\\n]+/g, \" \").trim();\n\n// 2️⃣ Remover múltiplos espaços seguidos\ncleanedText = cleanedText.replace(/\\s{2,}/g, \" \");\n\n// 3️⃣ Corrigir formatações comuns\ncleanedText = cleanedText\n  .replace(/\\[Link\\]/g, \"\") // Remove placeholders \"[Link]\"\n  .replace(/mailto:/g, \"\") // Remove \"mailto:\"\n  .replace(/tel:/g, \"\") // Remove \"tel:\"\n  .replace(/•/g, \"-\") // Substitui bullets por \"-\"\n  .replace(/(\\w)\\s+-\\s+(\\w)/g, \"$1 - $2\") // Ajusta formatação de datas e títulos\n  .replace(/https?:\\/\\/\\S+/g, \"\") // Remove links\n  .replace(/\\s*,\\s*/g, \", \") // Normaliza vírgulas e espaços extras\n  .replace(/\\s*-\\s*/g, \" - \") // Ajusta formatação de traços\n  .replace(/^\\s+|\\s+$/g, \"\"); // Remove espaços extras no início e no fim\n\n// Retorna o JSON com o nome esperado\nreturn { mensagem: cleanedText };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4360,1040],"id":"856e8460-480a-46f3-a7ff-304ce420b42f","name":"limpa_texto"},{"parameters":{"method":"POST","url":"={{ $('JSON parse').item.json.body.server_url }}/chat/getBase64FromMediaMessage/{{ $('Ajuste do número de whatsapp').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('JSON parse').item.json.body.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"message\": {\n        \"key\": {\n            \"id\":  \"{{ $('JSON parse').item.json.body.data.key.id }}\"\n        }\n    },\n    \"convertToMp4\": true\n} ","options":{}},"id":"53148cac-a388-4936-b9dd-aa68edefe6a2","name":"Base64","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-6060,740],"retryOnFail":true,"maxTries":2,"onError":"continueErrorOutput"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"mimeType":""}},"id":"061cb1b5-05a6-4c62-98f5-b3edf0b1b20b","name":"Converter arquivo","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-5780,900]},{"parameters":{"name":"={{ $('Ajuste do número de whatsapp').item.json[\"body\"][\"whatsapp\"] }}.pdf","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1AZ0Go8B68e87s-pDjZbrt_AnEYEF3Acu","mode":"list","cachedResultName":"Agente de IA - TEMPFILE","cachedResultUrl":"https://drive.google.com/drive/folders/1AZ0Go8B68e87s-pDjZbrt_AnEYEF3Acu"},"options":{}},"id":"4154bb4e-08d4-40dd-af29-0fc178038682","name":"Upload PDF","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-5540,1060],"credentials":{"googleDriveOAuth2Api":{"id":"cQnW1e2PklBVDK61","name":"Google Drive allan"}}},{"parameters":{"operation":"share","fileId":{"__rl":true,"value":"={{ $json.webViewLink }}","mode":"url"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone","allowFileDiscovery":true}},"options":{}},"id":"319812f0-a15e-4f9d-a93e-b4791d797abd","name":"Libera link","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-5300,1060],"credentials":{"googleDriveOAuth2Api":{"id":"cQnW1e2PklBVDK61","name":"Google Drive allan"}}},{"parameters":{"method":"POST","url":"={{ $('JSON parse').item.json.body.server_url }}/chat/getBase64FromMediaMessage/{{ $('Ajuste do número de whatsapp').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('JSON parse').item.json.body.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"message\": {\n        \"key\": {\n            \"id\":  \"{{ $('JSON parse').item.json.body.data.key.id }}\"\n        }\n    },\n    \"convertToMp4\": true\n} ","options":{}},"id":"c33157fb-d3e6-4722-b719-99700c38cf41","name":"Envio de Imagens","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-5860,560],"retryOnFail":true,"maxTries":2},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"fileName":"image","mimeType":""}},"id":"44262013-b4b4-4cf6-aa88-6358e19baccf","name":"Converter Imagem","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-5580,560]},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Normalização das mensagens').item.json.message.whatsapp_number_id }}","contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-220,580],"id":"d673280f-53bd-481f-b281-b92cd922b2c7","name":"Postgres Chat Memory Context","credentials":{"postgres":{"id":"ir88UPOZhSv8ZCbU","name":"Postgres Allan.souto@outlook"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Normalização das mensagens').item.json.message.whatsapp_number_id }}","tableName":"n8n_leads_histories","contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[940,640],"id":"4948f6de-e44f-43f4-b125-95f1fccd9593","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"ir88UPOZhSv8ZCbU","name":"Postgres Allan.souto@outlook"}}},{"parameters":{"jsonSchemaExample":"{\n  \"steps\": [\n    \"Analisar a mensagem fornecida...\",\n    \"Observação inicial...\",\n    \"Não há conteúdo específico...\",\n    \"Melhor ação: encaminhar ao agente...\"\n  ],\n  \"final_answer\": \"A mensagem do usuário não contém informações específicas...\",\n  \"agent\": \"pedro_duvidas_gerais\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[340,620],"id":"697471d9-aca8-4c32-a9aa-2a14b90842b9","name":"Structured Output Parser"},{"parameters":{"method":"POST","url":"https://apps-stirlingpdf.jsywbn.easypanel.host/api/v1/convert/pdf/text","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"outputFormat","value":"txt"},{"parameterType":"formBinaryData","name":"fileInput","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-5020,1060],"id":"f7808f7d-9be0-4dda-9942-5102024c34ed","name":"Convert PDF (Parser)","onError":"continueErrorOutput"},{"parameters":{"operation":"getAll","tableId":"leads","returnAll":true,"matchType":"allFilters","filters":{"conditions":[{"keyName":"whatsapp_number_id","condition":"eq","keyValue":"={{ $('Ajuste do número de whatsapp').item.json[\"body\"][\"whatsapp\"] }}"}]}},"id":"16d06c89-b8b3-4e44-a386-d015fa544cbf","name":"Get User","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2580,480],"alwaysOutputData":true,"retryOnFail":true,"credentials":{"supabaseApi":{"id":"gRdkoznVdJcWZBEW","name":"Supabase Allan.souto@outlook"}},"onError":"continueRegularOutput"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ !!Object.keys($node[\"Get User\"].data).length }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"True"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"6a4bf02e-ec8b-4bca-8c94-54a6d162ea91","leftValue":"={{ !!Object.keys($node[\"Get User\"].data).length }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"False"}]},"options":{}},"id":"80f5e2c5-b26a-4c20-b8eb-3d38b3bd0756","name":"Está cadastrado?","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-2300,480]},{"parameters":{"tableId":"leads","fieldsUi":{"fieldValues":[{"fieldId":"whatsapp_name","fieldValue":"={{ $('Ajuste do número de whatsapp').item.json.body.data.pushName }}"},{"fieldId":"whatsapp_number_id","fieldValue":"={{ $('Ajuste do número de whatsapp').item.json.body.whatsapp }}"}]}},"id":"e42e3a80-6bd2-4f40-bc08-a289c57569bc","name":"Create User","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2100,640],"retryOnFail":true,"credentials":{"supabaseApi":{"id":"gRdkoznVdJcWZBEW","name":"Supabase Allan.souto@outlook"}},"onError":"continueRegularOutput"},{"parameters":{},"id":"b5c31e23-12f3-45ff-b713-adca9bd210bc","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[-1840,400],"onError":"continueRegularOutput"},{"parameters":{"model":"llama-3.3-70b-versatile","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[-5360,740],"id":"191b6fc3-9577-4019-b24f-e922c85305f8","name":"Groq Chat Model"},{"parameters":{"model":"llama-3.3-70b-versatile","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[40,600],"id":"33deaba3-811b-4ce7-9f97-fd60bdc34141","name":"Groq Chat Model1"},{"parameters":{"model":"llama-3.3-70b-versatile","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[600,600],"id":"87abd4f3-af35-4a2c-aa20-2f50e5ad9f34","name":"Groq Chat Model2"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-5160,780],"id":"60911287-b890-46c1-99f7-747bd3b65540","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"JXxOBOTFmAEmpsFl","name":"Google Gemini(PaLM) Allan"}}},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[200,600],"id":"0eb5a3b5-6813-446d-8b22-d8c94bccad22","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"JXxOBOTFmAEmpsFl","name":"Google Gemini(PaLM) Allan"}}},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[780,640],"id":"d35bc170-cc0f-4bcf-8d56-7ef62f8a1840","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"JXxOBOTFmAEmpsFl","name":"Google Gemini(PaLM) Allan"}}},{"parameters":{"method":"POST","url":"={{ $('JSON parse').item.json.body.server_url }}/chat/getBase64FromMediaMessage/{{ $('Ajuste do número de whatsapp').item.json.body.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('JSON parse').item.json.body.apikey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"message\": {\n        \"key\": {\n            \"id\":  \"{{ $('JSON parse').item.json.body.data.key.id }}\"\n        }\n    },\n    \"convertToMp4\": true\n} ","options":{}},"id":"1b96e3a4-704e-4666-be44-db8cc90255e7","name":"base64-audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-5840,360],"retryOnFail":true,"maxTries":2},{"parameters":{"operation":"executeQuery","query":"DELETE FROM n8n_leads_histories\nWHERE session_id = '5521964375779';\n","options":{}},"id":"1f4762e9-f29c-4bc8-bb50-1f5be3ef4fde","name":"Deletar_todas_as_mensagens","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[0,0],"disabled":true},{"parameters":{"httpMethod":"POST","path":"guiamed","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-7440,500],"id":"f42db58b-630a-45fa-abba-66f20f45c978","name":"Webhook","webhookId":"33aff227-3158-4868-a20f-c282a25750ca"},{"parameters":{"operation":"get","tableId":"dados_cliente","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Webhook').item.json.body.data.key.remoteJid }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2640,1020],"id":"7a46140f-37c7-4cb8-ae60-756df1079a0c","name":"Supabase","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"gRdkoznVdJcWZBEW","name":"Supabase Allan.souto@outlook"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4a6d9aac-8565-4c58-abe3-8741393a5535","leftValue":"={{ $json.telefone }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2460,1020],"id":"137d45a3-89de-42bf-b81f-00b8d89d5a5d","name":"If1"},{"parameters":{"action":"generate"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[-2340,1120],"id":"ffbdf5c3-a0d4-429e-b51c-3b7ba973d1cb","name":"Gerar sessionID"},{"parameters":{"tableId":"dados_cliente","fieldsUi":{"fieldValues":[{"fieldId":"sessionid","fieldValue":"={{ $json.data }}"},{"fieldId":"telefone","fieldValue":"={{ $('Webhook').item.json.body.data.key.remoteJid }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2200,1120],"id":"17e06ab9-e94b-4211-9abd-de70fb08ded1","name":"Supabase1","credentials":{"supabaseApi":{"id":"gRdkoznVdJcWZBEW","name":"Supabase Allan.souto@outlook"}}},{"parameters":{"operation":"get","tableId":"dados_cliente","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $json.telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2240,960],"id":"da53dc0d-1202-4536-9e68-d0a4783adbaa","name":"Get Dados","credentials":{"supabaseApi":{"id":"gRdkoznVdJcWZBEW","name":"Supabase Allan.souto@outlook"}}},{"parameters":{"jsCode":"// Obtém os valores dos nós anteriores\nconst sessionid1 = $input.item.json.data;  // Do nó \"Gerar sessionID\"\nconst sessionid2 = $input.item.json.sessionid;  // Do nó \"Supabase\"\n\n// Retorna apenas o que existir, chamando sempre de \"sessionId\"\nreturn [{ sessionId: sessionid1 || sessionid2 || null }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2080,960],"id":"93b0d4be-0039-44ff-93c2-358eed3057a1","name":"Code1"}],"connections":{"Limpeza de erros":{"main":[[{"node":"Gera array de parágrafos","type":"main","index":0}]]},"mensagem=audio":{"main":[[{"node":"Merge message","type":"main","index":0}]]},"Merge message":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"mensagem=imagem":{"main":[[{"node":"Merge message","type":"main","index":1}]]},"mensagem=conversation":{"main":[[{"node":"Merge message","type":"main","index":0}]]},"Envia mensagem Evolution":{"main":[[{"node":"Para cada parágrafo","type":"main","index":0}]]},"Ajuste do número de whatsapp":{"main":[[{"node":"Switch3","type":"main","index":0}]]},"Normalização das mensagens":{"main":[[{"node":"Tipo de mensagem","type":"main","index":0}]]},"API audio - Groq":{"main":[[{"node":"mensagem=audio","type":"main","index":0}]]},"Converte base 64 para arquivo de audio":{"main":[[{"node":"API audio - Groq","type":"main","index":0}]]},"Gera array de parágrafos":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Para cada parágrafo","type":"main","index":0}]]},"Para cada parágrafo":{"main":[[],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Code","type":"main","index":0}]]},"Dados de Entrada":{"main":[[{"node":"Get User","type":"main","index":0}]]},"Dados de Saída":{"main":[[{"node":"Limpeza de erros","type":"main","index":0}]]},"Tipo de mensagem":{"main":[[{"node":"mensagem=conversation","type":"main","index":0}],[{"node":"base64-audio","type":"main","index":0}],[{"node":"Envio de Imagens","type":"main","index":0}],[{"node":"Base64","type":"main","index":0}],[],[{"node":"mensagem=conversation","type":"main","index":0}]]},"Code":{"main":[[{"node":"Envia mensagem Evolution","type":"main","index":0}]]},"descrever imagem":{"main":[[{"node":"mensagem=imagem","type":"main","index":0}]]},"Switch3":{"main":[[{"node":"Normalização das mensagens","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"set questions":{"main":[[{"node":"Questions Update","type":"main","index":0}]]},"get messages buffer":{"main":[[{"node":"Switch","type":"main","index":0}]]},"push message buffer":{"main":[[{"node":"get messages buffer","type":"main","index":0}]]},"messages":{"main":[[{"node":"Get Context","type":"main","index":0}]]},"delete buffer":{"main":[[{"node":"messages","type":"main","index":0}]]},"Switch":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"delete buffer","type":"main","index":0}],[{"node":"Wait2","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"get messages buffer","type":"main","index":0}]]},"Get Block Chat Id":{"main":[[{"node":"Switch Block","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Block AI","type":"main","index":0}],[{"node":"Get Block Chat Id","type":"main","index":0}]]},"Switch Block":{"main":[[{"node":"Dados de Entrada","type":"main","index":0}]]},"Get Agent":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Dados de Saída","type":"main","index":0},{"node":"set questions","type":"main","index":0}]]},"Chain-of-Thought":{"main":[[{"node":"Get Agent","type":"main","index":0}]]},"Get Context":{"main":[[{"node":"Chain-of-Thought","type":"main","index":0}]]},"mensagem=documento":{"main":[[{"node":"limpa_texto","type":"main","index":0}]]},"limpa_texto":{"main":[[{"node":"Merge message","type":"main","index":1}]]},"Base64":{"main":[[{"node":"Converter arquivo","type":"main","index":0}]]},"Converter arquivo":{"main":[[{"node":"Upload PDF","type":"main","index":0}]]},"Upload PDF":{"main":[[{"node":"Libera link","type":"main","index":0}]]},"Libera link":{"main":[[{"node":"Convert PDF (Parser)","type":"main","index":0}]]},"Envio de Imagens":{"main":[[{"node":"Converter Imagem","type":"main","index":0}]]},"Converter Imagem":{"main":[[{"node":"descrever imagem","type":"main","index":0}]]},"Postgres Chat Memory Context":{"ai_memory":[[{"node":"Get Context","type":"ai_memory","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Chain-of-Thought","type":"ai_outputParser","index":0}]]},"Convert PDF (Parser)":{"main":[[{"node":"mensagem=documento","type":"main","index":0}]]},"Get User":{"main":[[{"node":"Está cadastrado?","type":"main","index":0}]]},"Está cadastrado?":{"main":[[{"node":"Merge","type":"main","index":0}],[{"node":"Create User","type":"main","index":0}]]},"Create User":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"push message buffer","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"descrever imagem","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Chain-of-Thought","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"base64-audio":{"main":[[{"node":"Converte base 64 para arquivo de audio","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Ajuste do número de whatsapp","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Get Dados","type":"main","index":0}],[{"node":"Gerar sessionID","type":"main","index":0}]]},"Gerar sessionID":{"main":[[{"node":"Supabase1","type":"main","index":0}]]},"Supabase1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Get Dados":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"9f762df9-a32e-42e0-a0c1-6c4881a31cef","triggerCount":1,"tags":[{"createdAt":"2025-05-06T15:51:27.747Z","updatedAt":"2025-05-06T15:51:27.747Z","id":"bdkiwzrYtNkpNJPd","name":"fluxo ativo"},{"createdAt":"2025-05-06T15:51:54.735Z","updatedAt":"2025-05-06T15:51:54.735Z","id":"1Ypdn8W6UaxhAlu0","name":"fase de teste"},{"createdAt":"2025-05-27T19:09:01.181Z","updatedAt":"2025-05-27T19:09:01.181Z","id":"gEfDb97AjPtkX4Dg","name":"Projeto"}]}