workflows/Agente de IA BASICO + AGENDA.json
{"createdAt":"2025-06-10T14:24:19.732Z","updatedAt":"2025-07-02T23:41:57.593Z","id":"EOhAIZ1qJueZlY7O","name":"Agente de IA BASICO + AGENDA","active":true,"isArchived":false,"nodes":[{"parameters":{"content":"# Agendamento","height":80,"width":283,"color":5},"id":"2518402c-d704-46b5-b849-678351c7dd4d","name":"Sticky Note15","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[700,1080]},{"parameters":{},"id":"563efcd3-db72-49da-b8af-29e20f3b7c11","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[700,1340]},{"parameters":{"resource":"calendar","calendar":{"__rl":true,"value":"eebe91e6939e2a1e9fe9320cfc3bee68ddf9a2b7fe353f94c2228212f3a30e97@group.calendar.google.com","mode":"list","cachedResultName":"Reuniões Terapeutas"},"timeMin":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"query\"][\"start\"] }}","timeMax":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"query\"][\"end\"] }}","options":{}},"id":"987355d1-8503-43f1-b7d4-56e85ea6aa08","name":"Disponibilidade","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[1680,1160],"disabled":true},{"parameters":{"calendar":{"__rl":true,"value":"eebe91e6939e2a1e9fe9320cfc3bee68ddf9a2b7fe353f94c2228212f3a30e97@group.calendar.google.com","mode":"list","cachedResultName":"Reuniões Terapeutas"},"start":"={{ $('Switch4').item.json.query.start }}","end":"={{ $('Switch4').item.json.query.end }}","additionalFields":{"attendees":["={{ $('Switch4').item.json.query.email }}"],"conferenceDataUi":{"conferenceDataValues":{"conferenceSolution":"hangoutsMeet"}},"description":"={{ $('Switch4').item.json.Remotejid }}","summary":"={{ $('Execute Workflow Trigger').item.json.query.nome }}"}},"id":"fe614a45-d3de-4093-a62f-0dc86447765b","name":"Marca","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[2180,1160],"disabled":true},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"eebe91e6939e2a1e9fe9320cfc3bee68ddf9a2b7fe353f94c2228212f3a30e97@group.calendar.google.com","mode":"list","cachedResultName":"Reuniões Terapeutas"},"options":{"query":"={{ $json.query.email }}"}},"id":"63639aad-c169-4675-9373-64c3f108ebb9","name":"Já tem um evento","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[1220,1100],"alwaysOutputData":true,"credentials":{"googleCalendarOAuth2Api":{"id":"UX1N7rPtOIqfAok8","name":"Google Calendar icaro"}},"disabled":true},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"eebe91e6939e2a1e9fe9320cfc3bee68ddf9a2b7fe353f94c2228212f3a30e97@group.calendar.google.com","mode":"list","cachedResultName":"Reuniões Terapeutas"},"eventId":"={{ $item(\"0\").$node[\"Verifica evento\"].json[\"id\"] }}","options":{}},"id":"9b089eb9-cbc6-4c0c-8776-c33d80dcc502","name":"Google Calendar1","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[1440,1340],"disabled":true},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"eebe91e6939e2a1e9fe9320cfc3bee68ddf9a2b7fe353f94c2228212f3a30e97@group.calendar.google.com","mode":"list","cachedResultName":"Reuniões Terapeutas"},"eventId":"={{ $item(\"0\").$node[\"Verifica evento1\"].json[\"id\"] }}","useDefaultReminders":false,"updateFields":{"end":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"query\"][\"end\"] }}","sendUpdates":"all","start":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"query\"][\"start\"] }}"}},"id":"19f3e783-f58d-4828-bf17-f878dc1a18e1","name":"Google Calendar3","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[2000,1520],"disabled":true},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"eebe91e6939e2a1e9fe9320cfc3bee68ddf9a2b7fe353f94c2228212f3a30e97@group.calendar.google.com","mode":"list","cachedResultName":"Reuniões Terapeutas"},"returnAll":true,"options":{"query":"={{ $item(\"0\").$node[\"Switch4\"].json[\"query\"][\"email\"] }}"}},"id":"5a1a5277-459f-4570-84bd-6f9129d499cb","name":"Verifica evento","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[1220,1340],"disabled":true},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"eebe91e6939e2a1e9fe9320cfc3bee68ddf9a2b7fe353f94c2228212f3a30e97@group.calendar.google.com","mode":"list","cachedResultName":"Reuniões Terapeutas"},"returnAll":true,"options":{"query":"={{ $item(\"0\").$node[\"Switch4\"].json[\"query\"][\"email\"] }}"}},"id":"b48c97e9-8ddb-4342-8b4d-07dc91bab895","name":"Verifica evento1","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[1800,1520],"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"be5649a9-7624-4621-bd2d-84c25577c0ce","leftValue":"={{ $json.available }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"9d19e7bc-9f0c-461b-82ee-a7285a3843a4","name":"If6","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1400,1540]},{"parameters":{"resource":"calendar","calendar":{"__rl":true,"value":"eebe91e6939e2a1e9fe9320cfc3bee68ddf9a2b7fe353f94c2228212f3a30e97@group.calendar.google.com","mode":"list","cachedResultName":"Reuniões Terapeutas"},"timeMin":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"query\"][\"start\"] }}","timeMax":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"query\"][\"end\"] }}","options":{}},"id":"8f179587-7dc6-4581-8d57-b5283439f109","name":"Disponibilidade1","type":"n8n-nodes-base.googleCalendar","typeVersion":1.1,"position":[1200,1540],"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"86ff282a-3ede-4417-98c1-0d10858bc5dc","name":"response","value":"=Você já tem uma reunião agendada para o dia: {{(() => { \n    const data = new Date($json.start.dateTime);\n    const opcoes = { day: '2-digit', month: 'long', hour: '2-digit', minute: '2-digit' };\n    return `dia ${data.toLocaleDateString('pt-BR', opcoes).replace(' ', ' de ').replace(',', ' às')}`;\n})()}} gostaria de reagendar? ","type":"string"}]},"options":{}},"id":"74e700d0-4914-47e3-8791-7374d53c4bf2","name":"Edit Fields6","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1700,1000]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8d192ed0-aebd-404e-8339-daab0d29651f","leftValue":"={{ $item(\"0\").$node[\"Já tem um evento\"].json[\"attendees\"][\"0\"][\"email\"] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"d014282b-bd87-4dd2-b444-aa0bcf5e0730","name":"If5","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1420,1100]},{"parameters":{"assignments":{"assignments":[{"id":"7f842ffa-cd8f-40ab-a0a7-40dc173357a7","name":"response","value":"Informe o usuário que o agendamento foi cancelado e que estará sempre à disposição para um novo agendamento.","type":"string"}]},"options":{}},"id":"389d16b8-0a01-449a-bcbe-7abbf65686dc","name":"Edit Fields7","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1640,1340]},{"parameters":{"assignments":{"assignments":[{"id":"04c6ca35-7572-4699-bcb7-bbf2f2a6e6a4","name":"response","value":"horário não disponivel, peça outro horário","type":"string"}]},"options":{}},"id":"c1406d0f-9695-42f8-8cda-7f615f20f96a","name":"Edit Fields9","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2180,1320]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"Evento\"] }}","rightValue":"agendamento","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"agendamento"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7a57e8e8-5227-4cde-8d58-7b447cd55a17","leftValue":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"Evento\"] }}","rightValue":"cancelamento","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"cancelamento"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d788021f-29ab-41f2-b355-2b18963d30f2","leftValue":"={{ $item(\"0\").$node[\"Execute Workflow Trigger\"].json[\"Evento\"] }}","rightValue":"reagendamento","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"reagendamento"}]},"options":{}},"id":"73f52695-116a-4107-bc3e-8e1f8b8e37bc","name":"Switch4","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[960,1340]},{"parameters":{"content":"","height":800.6667333432747,"width":2503.09595343677,"color":4},"type":"n8n-nodes-base.stickyNote","position":[600,980],"typeVersion":1,"id":"d81c691b-c54f-4f03-a0e9-9b339ad529ff","name":"Sticky Note8"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"be5649a9-7624-4621-bd2d-84c25577c0ce","leftValue":"={{ $json.available }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"d3cc2049-b051-49b5-bdb6-afe6ab3a8869","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1880,1160]},{"parameters":{"assignments":{"assignments":[{"id":"7f842ffa-cd8f-40ab-a0a7-40dc173357a7","name":"response","value":"=sua reunião foi reagendada para a data:{{(() => { \n    const data = new Date($json.start.dateTime);\n    const opcoes = { day: '2-digit', month: 'long', hour: '2-digit', minute: '2-digit' };\n    return `dia ${data.toLocaleDateString('pt-BR', opcoes).replace(' ', ' de ').replace(',', ' às')}`;\n})()}} o link da reunião é: {{ $json.hangoutLink }}","type":"string"}]},"options":{}},"id":"6c8fbe5d-323a-46d6-9300-beb37e14eb24","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2180,1520]},{"parameters":{"name":"criar_reuniao","description":"=Chame esta ferramenta após o usuário informar nome e email e data do agendamento. \n\nNa variável \"nome\", você vai preencher o nome do usuário e na variavel \"email\" você vai preencher com email do usuário\n\nA data do agendamento você vai transformar para seguinte formato, exemplo: 2024-10-18T14:30:00-03:00 e vai preencher a variavel \"start\"\n\nEm seguida você vai inserir 50 minutos a mais depois no horario de agendamento e na variavel \"end\" você vai prencher com o horario no mesmo formato da variavel start","workflowId":{"__rl":true,"value":"EOhAIZ1qJueZlY7O","mode":"id"},"fields":{"values":[{"name":"Evento","stringValue":"agendamento"},{"name":"Remotejid","stringValue":"={{ $('Variáveis').item.json.telefone }}"}]},"specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"nome\": \"nome do usuario\",\n    \"email\": \"email do usuario\",\n    \"start\": \"data hora do inicio da reunião\",\n    \"end\": \"data hora do fim da reunião\"\n}"},"id":"759d292d-1294-48c1-b896-c3baf528055b","name":"criar_reuniao","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[2580,1020]},{"parameters":{"name":"cancelar_reuniao","description":"=Chame esta ferramenta após o usuário informar que quer cancelar a reunião, colete o email e nome\n\nNa variável \"nome\", você vai preencher o nome do usuário e na variavel \"email\" você vai preencher com email do usuário","workflowId":{"__rl":true,"value":"EOhAIZ1qJueZlY7O","mode":"id"},"fields":{"values":[{"name":"Evento","stringValue":"cancelamento"},{"name":"Remotejid","stringValue":"={{ $('Variáveis').item.json.telefone }}"}]},"specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"nome\": \"nome do usuario\",\n    \"email\": \"email do usuario\"\n}"},"id":"03d7feb6-186a-4089-a02b-dbee4f41335e","name":"cancelar_reuniao","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[2920,1020]},{"parameters":{"name":"reagendar_reuniao","description":"=Após o usuário informar que quer reagendar e colete o nome, email e nova data Chame esta tool\n\nNa variável \"nome\", você vai preencher o nome do usuário e na variavel \"email\" você vai preencher com email do usuário\n\nA data do agendamento você vai transformar para seguinte formato, exemplo: 2024-10-18T14:30:00-03:00 e vai preencher a variavel \"start\"\n\nEm seguida você vai inserir 50 minutos a mais depois no horário de agendamento e na variavel \"end\" você vai prencher com o horario no mesmo formato da variavel start","workflowId":{"__rl":true,"value":"EOhAIZ1qJueZlY7O","mode":"id"},"fields":{"values":[{"name":"Evento","stringValue":"reagendamento"},{"name":"Remotejid","stringValue":"={{ $('Variáveis').item.json.telefone }}"}]},"specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"nome\": \"nome do usuario\",\n    \"email\": \"email do usuario\",\n    \"start\": \"data hora do inicio da reunião\",\n    \"end\": \"data hora do fim da reunião\"\n}"},"id":"7166b649-66b2-4d7f-809e-e074c9d96046","name":"reagendar_reuniao","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[2760,1020]},{"parameters":{"assignments":{"assignments":[{"id":"86ff282a-3ede-4417-98c1-0d10858bc5dc","name":"response","value":"=Agendamento concluído para a data {{(() => { \n    const data = new Date($json.start.dateTime);\n    const opcoes = { day: '2-digit', month: 'long', hour: '2-digit', minute: '2-digit' };\n    return `dia ${data.toLocaleDateString('pt-BR', opcoes).replace(' ', ' de ').replace(',', ' às')}`;\n})()}}\no link da reunião é: {{ $json.hangoutLink }}","type":"string"}]},"options":{}},"id":"b3b32c43-075f-467e-840f-f00fd1b697eb","name":"Edit Fields10","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2440,1160]},{"parameters":{"options":{}},"id":"a8a93337-e5c5-4bde-b9c1-38d061c20028","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[2620,640],"credentials":{"openAiApi":{"id":"rVdjfDowKjs3OG2m","name":"OpenAi - TECHPULSE"}}},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"7495f076-327a-47a1-a190-7fdd607cf3f4","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[2060,700],"credentials":{"openAiApi":{"id":"rVdjfDowKjs3OG2m","name":"OpenAi - TECHPULSE"}}},{"parameters":{"content":"# Agente IA","height":80,"width":196,"color":5},"id":"45563624-ed02-48a7-9852-79720a000b36","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2900,260]},{"parameters":{"tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"ed3a744d-bf44-4175-985d-79a6efa57c19","name":"Supabase Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[2240,660],"credentials":{"supabaseApi":{"id":"AioBIgzKahTlXsvw","name":"Supabase aulas"}}},{"parameters":{"content":"","height":620,"width":820,"color":4},"type":"n8n-nodes-base.stickyNote","position":[2880,240],"typeVersion":1,"id":"3375c61b-e9e2-4e37-b54e-ec23cd0df314","name":"Sticky Note4"},{"parameters":{"model":"gpt-4.1-mini","options":{}},"id":"4b798934-e5a1-4926-98f4-b830b2f3b611","name":"OpenAI3","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[3860,720],"credentials":{"openAiApi":{"id":"rVdjfDowKjs3OG2m","name":"OpenAi - TECHPULSE"}}},{"parameters":{"options":{}},"id":"54964ff7-cca6-4811-9240-fb3a592fed66","name":"Loop Over Items3","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[4460,540]},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"messages\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\"messages\"]\n}"},"id":"6d184728-a1fa-41c5-9531-b3b8516c1f78","name":"OutputParser1","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[4080,720]},{"parameters":{"promptType":"define","text":"=Whatsapp message to be splitted and formated: {{ $json.output }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"={\n  \"messages\": [\n    \"Por favor, gere a saída no seguinte formato JSON: {\\\"messages\\\": [\\\"splitedMessage\\\", \\\"splitedMessage\\\", \\\"splitedMessage\\\"]}\",\n    \"As mensagens devem ser divididas de forma natural, afinal estamos conversando com um humano. Certifique-se de que a resposta siga exatamente essa estrutura, incluindo os colchetes e as aspas.\",\n    \"Jamais separe uma mensagem vazia. Cada mensagem deve ter entre 300 e 500 caracteres, sem cortar informações, pois é uma conversa de chat.\",\n    \"Certifique-se de que a resposta siga exatamente essa estrutura: *negrito* (substitua '**' por '*') não made nada em negrito remova todos '*'; ~tachado~ (caso seja algo excluído/alterado); _itálico_ (extremamente raro).\",\n    \"Tudo o que for link, pode colocar entre \\\"`\\\", ou seja, na seguinte formatação: `www.link.com.br`. Use sempre essa formatação para todos os links.\",\n\"troque essas palavra: Prazer por: feliz em conhecer\"\n  ]\n}"}]}},"id":"cc4a93eb-5c7c-436f-a333-705d66899f61","name":"Parser  Chain","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[3880,520]},{"parameters":{"content":"","height":620,"width":1380,"color":4},"type":"n8n-nodes-base.stickyNote","position":[3740,240],"typeVersion":1,"id":"018fb242-4ce9-4f44-83f1-a0b6fec29caa","name":"Sticky Note18"},{"parameters":{"content":"# Divisão de Mensagens Inteligente - Texto","height":80,"width":736,"color":5},"id":"c6d123b6-51c8-4f3a-8765-88168f47dca0","name":"Sticky Note19","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3760,260]},{"parameters":{"model":"gpt-4.1-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[2940,620],"id":"bdc1ad94-6043-4d58-9f7a-9e10b9ce1658","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"rVdjfDowKjs3OG2m","name":"OpenAi - TECHPULSE"}}},{"parameters":{"promptType":"define","text":"={{ $('Mensagem Completa').item.json.mensagem_completa }}","options":{"systemMessage":"={\n  \"context\": {\n    \"identity\": \"Atendente virtual da Barbearia Irmãos Gambino\",\n    \"business\": \"Barbearia Irmãos Gambino\",\n    \"Language\": \"português brasileiro\",\n    \"data_atual\": \"hoje é: {{ $now.weekdayLong }}, {{ $now.format('dd/MM/yyyy') }}, hora: {{ $now.hour.toString().padStart(2, '0') }}:{{ $now.minute.toString().padStart(2, '0') }}\"\n  },\n  \"Informação atualizada para usar em resposta\":\"{{ $json.output }}\"\n  \"personality\": [\n    \"Fala objetiva, profissional e descontraída\",\n    \"Usa emojis com moderação\",\n    \"Não usa pronomes de gênero\",\n    \"Estilo semi-formal a informal\",\n    \"Respostas curtas e diretas\"\n  },\n  \"objectives\": [\n    \"Captar clientes\",\n    \"Tirar dúvidas\",\n    \"Vender produtos\",\n    \"Passar informações sobre a barbearia\"\n  ],\n  \"general_rules\": [\n    \"Jamais usar pronomes de gênero (senhor, senhora, ele, ela, etc)\",\n    \"Se for agendar, sempre perguntar se a pessoa tem: dia, horário e barbeiro preferido\",\n    \"Sempre pedir para aguardar a confirmação de agendamento após coletar as preferências\",\n    \"Evitar respostas longas e manter objetividade\"\n  ],\n  \"flow_de_atendimento_padrão\": {\n    \"steps\": [\n      {\n        \"1\": \"Mensagem de boas-vindas: 'Fala! Aqui é a Barbearia Irmãos Gambino 💈 Como podemos ajudar?'\"\n      },\n      {\n        \"2\": \"Mensagem para entender o motivo do contato: 'Conta aí rapidinho, o que tá buscando? Corte, info, produto... ? 😎'\"\n      },\n      {\n        \"3\": \"Mensagem para identificar cadastro: 'Já tem cadastro com a gente ou é a primeira vez por aqui?'\"\n      },\n      {\n        \"4\": \"Se já for cliente: 'Show! Qual o nome e número que usou no cadastro? 📲'\"\n      },\n      {\n        \"5\": \"Se quiser agendar: 'Participa da nossa assinatura mensal? 💳'\"\n      },\n      {\n        \"6\": \"Mensagem padrão de agendamento: 'Pra agendar, preciso saber: tem algum dia e horário em mente? E tem barbeiro de preferência?'\"\n      },\n      {\n        \"7\": \"Mensagem após receber as preferências: 'Beleza! Aguenta aí rapidinho que vou confirmar o agendamento 🕒'\"\n      }\n    ]\n  }\n}\n"}},"id":"f2cff88f-89da-4d96-ac57-ca79e8d63025","name":"Atendente","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[3020,420]},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Dados').item.json.Telefone }}","contextWindowLength":40},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[3080,600],"id":"5c123def-faea-43af-aba1-2ea32bcd2e34","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"7oghXX1r4V9q1t3m","name":"Postgres account icaro"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.output }}","rightValue":"338201","operator":{"type":"string","operation":"notContains"},"id":"2aa763f7-cf04-44e7-9bbb-8f8de823aef8"}],"combinator":"and"},"renameOutput":true,"outputKey":"Continuar na IA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"820760d6-3546-4007-8917-55d366a74261","leftValue":"={{ $json.output }}","rightValue":"338201","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Avisar Lead grupo"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[3460,500],"id":"efa7559f-c18a-4b74-a434-93c142c04404","name":"Switch2"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[4540,1180],"id":"30a4b27a-ca19-444e-a5dd-3bb18e8ed4f8","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"rVdjfDowKjs3OG2m","name":"OpenAi - TECHPULSE"}}},{"parameters":{"content":"","height":400,"width":1620,"color":4},"type":"n8n-nodes-base.stickyNote","position":[3740,900],"typeVersion":1,"id":"cd6050e6-4121-402b-988f-9bc6c81a39a2","name":"Sticky Note44"},{"parameters":{"content":"# AVISAR NOVO LEAD NO GRUPO","height":80,"width":656,"color":5},"id":"a31800b2-1817-4ee8-bdce-d0e1010dd051","name":"Sticky Note45","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3760,920]},{"parameters":{"resource":"messages-api","instanceName":"icaro9982","remoteJid":"={{ $('Dados').item.json.Telefone }}","messageText":"={{ $json.output }}","options_message":{"delay":4200,"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[4740,560],"id":"b0c640c2-643c-4190-b471-f5f1f7afaef8","name":"Evolution API","credentials":{"evolutionApi":{"id":"uoqoCHo86htNpTd7","name":"Evolution ICARO"}}},{"parameters":{"resource":"messages-api","instanceName":"icaro9982","remoteJid":"={{ $('Dados').item.json.Telefone }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3780,1020],"id":"fca3c41e-c223-4e90-87e3-aeb58b1d16a8","name":"Evolution API1","credentials":{"evolutionApi":{"id":"uoqoCHo86htNpTd7","name":"Evolution ICARO"}}},{"parameters":{"resource":"messages-api","instanceName":"icaro9982","remoteJid":"120363418914433116@g.us","messageText":"={{ (() => { \n  const telefone = $('Dados').item.json.Telefone;\n  return '🚨 Novo Lead: wa.me/' + telefone.split('@')[0] + ' 🚨';\n})() }}\n\n*Cliente:* {{ $('Dados').item.json.NomeWpp }}\n\n*CASO:*\n{{ $json.text }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[4900,1020],"id":"7206d650-17a5-40ff-89fd-683cb6461586","name":"Evolution API2","credentials":{"evolutionApi":{"id":"uoqoCHo86htNpTd7","name":"Evolution ICARO"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[4460,-20],"id":"599a0a24-7bd5-481f-a388-228b6e71d130","name":"Merge1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"defac08a-6745-422b-bb05-90da9f47d91b","leftValue":"={{ $('Busca Telefone').last().json.values() }}","rightValue":"","operator":{"type":"array","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3960,-20],"id":"db0e484d-645b-41d5-9777-a4d62006ed05","name":"If4"},{"parameters":{"content":"","height":380,"width":1380,"color":4},"type":"n8n-nodes-base.stickyNote","position":[3740,-160],"typeVersion":1,"id":"2648e62b-cba1-407b-912e-f534767bb5ad","name":"Sticky Note54"},{"parameters":{"content":"# Cadastra Chat Supabase","height":80,"width":450,"color":5},"id":"bff69f9d-82d3-40e2-b8ef-ab08bda3ed07","name":"Sticky Note55","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3760,-140]},{"parameters":{"operation":"get","tableId":"chats","filters":{"conditions":[{"keyName":"phone","keyValue":"={{ $('Webhook EVO').item.json.body.data.key.remoteJid }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3800,-20],"id":"1e665b7f-6216-43b5-a800-54eb012a4d01","name":"Busca Telefone","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"AioBIgzKahTlXsvw","name":"Supabase aulas"}},"onError":"continueRegularOutput"},{"parameters":{"tableId":"chats","fieldsUi":{"fieldValues":[{"fieldId":"phone","fieldValue":"={{ $('Dados').item.json.Telefone }}"},{"fieldId":"updated_at","fieldValue":"={{ $now}}"},{"fieldId":"created_at","fieldValue":"={{ $now}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4240,-120],"id":"b773d389-040a-4cae-b734-f487d1f15ee0","name":"Adiciona CHAT supabase","credentials":{"supabaseApi":{"id":"AioBIgzKahTlXsvw","name":"Supabase aulas"}}},{"parameters":{"operation":"update","tableId":"chats","filters":{"conditions":[{"keyName":"phone","condition":"eq","keyValue":"={{ $('Dados').item.json.Telefone }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"updated_at","fieldValue":"={{ $now }}"},{"fieldId":"created_at","fieldValue":"={{ $now }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4260,60],"id":"b3c1025f-ba9d-414f-b7c0-11e1c6f4ba95","name":"Atualiza CHAT Supabase","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"AioBIgzKahTlXsvw","name":"Supabase aulas"}}},{"parameters":{"tableId":"chat_messages","fieldsUi":{"fieldValues":[{"fieldId":"phone","fieldValue":"={{ $('Dados').item.json.Telefone }}"},{"fieldId":"bot_message","fieldValue":"={{ $('Atendente').item.json.output }}"},{"fieldId":"user_message","fieldValue":"={{ $('Dados').item.json.message.content }}"},{"fieldId":"message_type","fieldValue":"={{ $('Dados').item.json.body.event }}"},{"fieldId":"created_at","fieldValue":"={{ $now }}"},{"fieldId":"nomewpp","fieldValue":"={{ $('Dados').item.json.NomeWpp }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4660,-20],"id":"38232de3-da3e-4dc2-a1ef-47775571e5c8","name":"Cria Histórico Supabase","credentials":{"supabaseApi":{"id":"AioBIgzKahTlXsvw","name":"Supabase aulas"}}},{"parameters":{"fieldToSplitOut":"output.messages","options":{"destinationFieldName":"output"}},"id":"e21bfc5d-441f-4a66-8fdf-779f2b547fa4","name":"Split de Mensagem","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[4240,540]},{"parameters":{"amount":4},"id":"eb856e16-6d64-453a-95d2-0a5935060ec3","name":"1 segundo","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[4960,560],"webhookId":"a2c69e1c-13fe-44a2-962c-1249288537eb"},{"parameters":{"operation":"delete","key":"={{ $('Dados').item.json.Telefone }}"},"id":"62f44605-4b95-4df4-874d-f656079aad78","name":"Delete Memory","type":"n8n-nodes-base.redis","typeVersion":1,"position":[4860,-20],"credentials":{"redis":{"id":"VIiXcLD9Yo3VEPFf","name":"Redis aula 2"}}},{"parameters":{"name":"buscar_documentos","description":"Analise o documento se encontrar uma informação que seja relevante traga o texto dele como resposta sem alterações, caso não encontre devolva o resultado em branco sem nem um texto","topK":2},"id":"26809f45-b45a-45ee-984a-0ae11c24280f","name":"buscar_documentos","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[2380,500]},{"parameters":{"operation":"getAll","tableId":"chat_messages","matchType":"allFilters","filters":{"conditions":[{"keyName":"phone","condition":"eq","keyValue":"={{ $('Dados').item.json.Telefone }}"},{"keyName":"active","condition":"eq","keyValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3980,1020],"id":"5f582f9d-367c-40c5-bff9-9e647ceda5cd","name":"ListMessages-Supabase2","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"AioBIgzKahTlXsvw","name":"Supabase aulas"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"conversas","include":"specifiedFields","fieldsToInclude":"id,message_type,created_at,user_message, bot_message,phone","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[4180,1020],"id":"39f7a98f-e479-40b0-97f1-66f8f25b8eab","name":"Aggregate2"},{"parameters":{"jsCode":"return $('Aggregate2').all().map(item => {\n  // Tenta acessar a propriedade 'conversas' e verifica se ela é um array\n  const conversas = item.json.conversas || []; // Garante que é pelo menos um array vazio\n\n  if (!Array.isArray(conversas)) {\n    throw new Error(\"A propriedade 'conversas' não é um array.\");\n  }\n\n  // Processa cada conversa e verifica as mensagens\n  const textoUnico = conversas.map(conversa => {\n    const cliente = conversa.user_message || \"sem mensagem do chatbot\";\n    const agente = conversa.bot_message || \"sem resposta\";\n    \n    // Verifica se a data existe e formata\n    const dataOriginal = conversa.created_at || \"Data da Mensagem indisponível\";\n    const dataFormatada = dataOriginal !== \"Data da Mensagem indisponível\"\n      ? formatarData(dataOriginal)\n      : dataOriginal;\n\n    return `em: ${dataFormatada}\\n\\n - agente(chatbot): ${agente} \\n - cliente: ${cliente}\\n`;\n  }).join('\\n\\n');\n\n  // Retorna o texto final como resultado\n  return {\n    json: {\n      texto: textoUnico\n    }\n  };\n});\n\n// Função para formatar a data\nfunction formatarData(dataString) {\n  const data = new Date(dataString); // Converte a string em objeto Date\n  if (isNaN(data)) {\n    return \"Data inválida\"; // Retorna se a data não for válida\n  }\n  \n  // Formata no padrão DD/MM/YYYY HH:mm\n  const dia = String(data.getDate()).padStart(2, '0');\n  const mes = String(data.getMonth() + 1).padStart(2, '0'); // Mês começa em 0\n  const ano = data.getFullYear();\n  const horas = String(data.getHours()).padStart(2, '0');\n  const minutos = String(data.getMinutes()).padStart(2, '0');\n  \n  return `${dia}/${mes}/${ano} ${horas}:${minutos}`;\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4360,1020],"id":"94641708-2129-487b-9a0c-b3bd1852732b","name":"Code6"},{"parameters":{"promptType":"define","text":"={\n  \"role\": \"Agente Resumidor de atendimento\",\n  \"proposito\": \"Analisar conversas cliente-agente e criar resumos detalhados do atendimento\",\n  \"instrucoes\": {\n    \"tarefa_principal\": \"Extrair e resumir apenas sobre o atendimento do cliente a partir das conversas\",\n    \"formato\": \"Incluir data da sessão quando disponível\",\n    \"foco\": \"demandas do cliente, excluir respostas do agente\",\n    \"estilo\": \"Resumos detalhados mas concisos\",\n    \"evitar\": \"Dicas de uso, informações extras ou explicações\",\n    \"Me de o resultado somente com o resumo sem caracteres especiais\"\n  },\n  \"formato_entrada\": {\n    \"conversa\": \"{{ $json.texto }}\"\n  },\n  \"formato_saida\": {\n    \"resumo\": \"Descrição concisa do caso do cliente e data que ele gostaria de agendar uma reunião\"\n  }\n}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[4560,1020],"id":"fb4bf60a-8a98-49cd-9edd-0c98ec37d2a1","name":"Basic LLM Chain1"},{"parameters":{"operation":"get","tableId":"dados_cliente","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Dados').item.json.Telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1920,600],"id":"ebdece46-913a-402c-ad2f-739fb8ece2d9","name":"Supabase","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"AioBIgzKahTlXsvw","name":"Supabase aulas"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4a6d9aac-8565-4c58-abe3-8741393a5535","leftValue":"={{ $json.telefone }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1720,540],"id":"56592d52-6dea-43fb-bc32-e2ca22d22119","name":"If1"},{"parameters":{"tableId":"dados_cliente","fieldsUi":{"fieldValues":[{"fieldId":"nomewpp","fieldValue":"={{ $('Dados').item.json.NomeWpp }}"},{"fieldId":"telefone","fieldValue":"={{ $('Webhook EVO').item.json.body.data.key.remoteJid }}"},{"fieldId":"created_at","fieldValue":"={{ $now}}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1540,680],"id":"ebdba7f6-20bf-46b6-adcb-4e0289e23f57","name":"Supabase1","credentials":{"supabaseApi":{"id":"AioBIgzKahTlXsvw","name":"Supabase aulas"}}},{"parameters":{"content":"","height":620,"width":980,"color":4},"type":"n8n-nodes-base.stickyNote","position":[1020,240],"typeVersion":1,"id":"c5446591-18e2-465e-ac89-2275d45be2f7","name":"Sticky Note17"},{"parameters":{"content":"","height":660,"width":960,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-20,220],"typeVersion":1,"id":"57a9c692-aaea-45f0-8c20-1820d3f5e0d9","name":"Sticky Note20"},{"parameters":{"content":"","height":440,"width":740,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1960,420],"typeVersion":1,"id":"aecfb2f9-a59a-42cc-a1df-da15a8b0a6ae","name":"Sticky Note22"},{"parameters":{"content":"# Cadastrar Lead Supa Base","height":80,"width":596,"color":4},"id":"59d09c2f-d1d5-4add-b2e9-ef457e91346f","name":"Sticky Note23","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1960,440]},{"parameters":{"content":"","height":500,"width":1120,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1160,360],"typeVersion":1,"id":"0c5858b3-b8b9-4f99-9bf3-88bcce670f8f","name":"Sticky Note26"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-1760,0],"typeVersion":1,"id":"0be618f0-c285-432c-8e97-679b9ce661c4","name":"Sticky Note31"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-960,-400],"typeVersion":1,"id":"76779b4c-df91-48b1-b0a9-cdcf661471d4","name":"Sticky Note33"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-720,0],"typeVersion":1,"id":"f00d1a48-dc1e-4988-988a-98ffec7859e4","name":"Sticky Note37"},{"parameters":{"httpMethod":"POST","path":"aula","options":{}},"id":"e02a2847-4e09-4b8d-a436-c79ec86a1609","name":"Webhook EVO","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2560,620],"webhookId":"7ecd43ed-123c-4fef-b86d-f9ce39e55d64"},{"parameters":{"content":"# Pausar IA","height":80,"width":216,"color":4},"id":"e58c95a6-748d-4df5-add7-f83cbfe5436a","name":"Sticky Note41","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1200,360]},{"parameters":{"operation":"executeQuery","query":"create table dados_cliente (\n  id bigserial primary key,\n  created_at TIMESTAMPTZ, \n  telefone text, \n  nomewpp text,\n  atendimento_ia text\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1420,-380],"id":"e9b4ad27-e56f-4bc2-93cd-2ea4b763a99e","name":"Cria Tabela Dados Cliente","credentials":{"postgres":{"id":"7oghXX1r4V9q1t3m","name":"Postgres account icaro"}}},{"parameters":{"operation":"executeQuery","query":"-- Create a table to store your documents\ncreate table documents (\n  id bigserial primary key,\n  content text, -- corresponds to Document.pageContent\n  metadata jsonb, -- corresponds to Document.metadata\n  embedding vector(1536) -- 1536 works for OpenAI embeddings, change if needed\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-360,-360],"id":"9ac3d510-7e67-49b5-9700-4e7637b6a85e","name":"Cria Tabela Documentos","credentials":{"postgres":{"id":"7oghXX1r4V9q1t3m","name":"Postgres account icaro"}}},{"parameters":{"operation":"executeQuery","query":"delete from documents","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-660,20],"id":"d51b2f49-68fc-478a-8c12-3393554eae7a","name":"Deleta Conteúdo Documentos","credentials":{"postgres":{"id":"7oghXX1r4V9q1t3m","name":"Postgres account icaro"}}},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-700,-400],"typeVersion":1,"id":"ef6ca740-8170-4967-a7ff-19cd30c78a71","name":"Sticky Note40"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-440,-400],"typeVersion":1,"id":"cbaebc44-18f0-4620-8c0f-ace3c4a7f4e9","name":"Sticky Note48"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-1740,-400],"typeVersion":1,"id":"6822b628-ac08-4f2a-b44f-77261efa06bd","name":"Sticky Note49"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-1220,-400],"typeVersion":1,"id":"111a16e6-849f-4a88-9063-d864c6b65fb2","name":"Sticky Note50"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-1240,0],"typeVersion":1,"id":"db1b33b3-47ea-464b-8a16-64c90455f4b8","name":"Sticky Note56"},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-1480,-400],"typeVersion":1,"id":"5058fcb0-5dd2-47e8-9234-e1ad6b4bd27a","name":"Sticky Note57"},{"parameters":{"operation":"executeQuery","query":"delete from n8n_chat_histories","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1700,40],"id":"04bdc481-36f7-4778-9546-7c2d921237ac","name":"Deleta Histórico","credentials":{"postgres":{"id":"7oghXX1r4V9q1t3m","name":"Postgres account icaro"}}},{"parameters":{"operation":"executeQuery","query":"create function match_documents (\n  query_embedding vector(1536),\n  match_count int default null,\n  filter jsonb DEFAULT '{}'\n) returns table (\n  id bigint,\n  content text,\n  metadata jsonb,\n  similarity float\n)\nlanguage plpgsql\nas $$\n#variable_conflict use_column\nbegin\n  return query\n  select\n    id,\n    content,\n    metadata,\n    1 - (documents.embedding <=> query_embedding) as similarity\n  from documents\n  where metadata @> filter\n  order by documents.embedding <=> query_embedding\n  limit match_count;\nend;\n$$;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-640,-380],"id":"a876157d-fabc-4d72-86fe-fffbfd11430b","name":"Cria função Busca em Vetor","credentials":{"postgres":{"id":"7oghXX1r4V9q1t3m","name":"Postgres account icaro"}}},{"parameters":{"operation":"executeQuery","query":"create extension vector;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-900,-380],"id":"3a9e70df-2315-489d-9c27-0d9e0a57526d","name":"Cria Extensão Vetor","credentials":{"postgres":{"id":"7oghXX1r4V9q1t3m","name":"Postgres account icaro"}}},{"parameters":{"operation":"executeQuery","query":"create table chats (\n  id bigserial primary key,\n  created_at TIMESTAMPTZ, \n  phone text,\n  updated_at text\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1160,-380],"id":"630a0566-394c-47d4-8b2c-20f96f5d6d52","name":"Cria Tabela Chats","credentials":{"postgres":{"id":"7oghXX1r4V9q1t3m","name":"Postgres account icaro"}}},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-980,0],"typeVersion":1,"id":"bc245217-5a57-4313-b83d-cad1fcf2961e","name":"Sticky Note65"},{"parameters":{"operation":"executeQuery","query":"delete from chats","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-920,20],"id":"8d2d7c7e-6e18-4e3f-9f7c-75fad44a710c","name":"Deleta Conteúdo Chats","credentials":{"postgres":{"id":"7oghXX1r4V9q1t3m","name":"Postgres account icaro"}}},{"parameters":{"operation":"executeQuery","query":"delete from dados_cliente","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1180,20],"id":"2597edba-7021-4643-a65f-116ee34a5e8d","name":"Deleta Conteúdo Dados Cliente","credentials":{"postgres":{"id":"7oghXX1r4V9q1t3m","name":"Postgres account icaro"}}},{"parameters":{"content":"","height":200},"type":"n8n-nodes-base.stickyNote","position":[-1500,0],"typeVersion":1,"id":"5754c313-04d7-4d86-8ced-6315bda7542c","name":"Sticky Note66"},{"parameters":{"operation":"executeQuery","query":"delete from chat_messages","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1440,20],"id":"f836b2fc-0cfc-4fba-ab52-5f6ce793c7d4","name":"Deleta Conteúdo Chat_Messages","credentials":{"postgres":{"id":"7oghXX1r4V9q1t3m","name":"Postgres account icaro"}}},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE chat_messages (\n  id BIGSERIAL PRIMARY KEY,\n  created_at TIMESTAMPTZ, \n  phone TEXT,\n  nomewpp TEXT, \n  bot_message TEXT,\n  user_message TEXT, \n  message_type TEXT,\n  active BOOLEAN DEFAULT TRUE\n);\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1680,-380],"id":"7cb4b17c-ed47-46ed-b72d-85aa169468ff","name":"Cria Tabela Chat_Messages","credentials":{"postgres":{"id":"7oghXX1r4V9q1t3m","name":"Postgres account icaro"}}},{"parameters":{"content":"","height":420,"width":600,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-2600,420],"typeVersion":1,"id":"ea2a2df8-f18f-4fda-97de-910601758e60","name":"Sticky Note32"},{"parameters":{"content":"## WEBHOOK & ROTAS","height":80,"width":276,"color":4},"id":"f5f1fe77-f90d-405b-88a2-4a71e9be681a","name":"Sticky Note67","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2580,440]},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{"fileName":"file.png","mimeType":"image/png"}},"id":"e2f37a38-0090-4ce1-817f-61e0cb4c5679","name":"Convert to File1","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[260,700]},{"parameters":{"assignments":{"assignments":[{"id":"3c5ccbc9-69d1-4b13-a7c3-e6945bc8c655","name":"data","value":"={{ $('Webhook EVO').item.json.body.data.message.base64 }}","type":"string"}]},"options":{}},"id":"87c2a5f5-45a8-47f1-81fc-56d86021a313","name":"Edit Fields3","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[120,700]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"ade56c50-1520-4760-8df5-e99617d6d3ad","leftValue":"={{ $('Webhook EVO').item.json.body.data.message.imageMessage.caption }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"1da2dd8e-e75a-4294-8020-817c3e95cf6c","name":"If3","type":"n8n-nodes-base.if","typeVersion":2,"position":[600,700]},{"parameters":{"operation":"push","list":"={{ $('Dados').item.json.Telefone }}","messageData":"={{ $('Dados').item.json.message.content }}, {{ $json.content.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '').trim()  }}","tail":true},"id":"0cdadfd5-4d30-4d4c-a9f4-3dd985cda6a4","name":"Redis4","type":"n8n-nodes-base.redis","typeVersion":1,"position":[760,740],"credentials":{"redis":{"id":"VIiXcLD9Yo3VEPFf","name":"Redis aula 2"}}},{"parameters":{"operation":"push","list":"={{ $('Dados').item.json.Telefone }}","messageData":"={{ $json.content.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '').trim()  }}","tail":true},"id":"1c08a52a-c96b-4c12-8498-30abb9a3665e","name":"Redis5","type":"n8n-nodes-base.redis","typeVersion":1,"position":[760,540],"credentials":{"redis":{"id":"VIiXcLD9Yo3VEPFf","name":"Redis aula 2"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"52aaf749-fe4f-44e4-880e-15b2bfc027f1","leftValue":"={{ $('Webhook EVO').item.json.body.data.messageType }}","rightValue":"extendedTextMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"e514e613-fd6a-48bd-b0ae-bae2448c810e","leftValue":"={{ $('Webhook EVO').item.json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Webhook EVO').item.json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c0e434dd-1268-421d-b81b-3a5e90ed9550","leftValue":"={{ $('Webhook EVO').item.json.body.data.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"}]},"options":{}},"id":"50771674-2c2c-4d11-83bd-ffccd023fd03","name":"Switch1","type":"n8n-nodes-base.switch","typeVersion":3,"position":[20,460]},{"parameters":{"content":"# Mensagem Picotada","height":80,"width":396,"color":4},"id":"68f234d2-652b-47bc-b1ce-cdd8b4f10c4b","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1020,240]},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"Analise a imagem e me traga um resumo simples e o mais curto possível do que ela é","inputType":"base64","options":{}},"id":"d00ea87d-5e6f-429b-9ae6-ffd47d0e5084","name":"OpenAI1","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[420,700],"credentials":{"openAiApi":{"id":"rVdjfDowKjs3OG2m","name":"OpenAi - TECHPULSE"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d5a342e9-585b-42ea-be44-644adae10199","leftValue":"={{ $json.Redis2 }}","rightValue":"={{ $json.Redis1 }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"1324ce10-aede-40e8-bfa7-655045b1fa0e","name":"Compara Get Memory1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1660,500]},{"parameters":{"operation":"push","list":"={{ $('Dados').item.json.Telefone }}","messageData":"={{ $('Dados').item.json.message.content }}","tail":true},"id":"e3da45f5-83e7-49d2-8dc8-a2e039db518e","name":"Text Memory1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[760,220],"credentials":{"redis":{"id":"VIiXcLD9Yo3VEPFf","name":"Redis aula 2"}}},{"parameters":{"operation":"push","list":"={{ $('Dados').item.json.Telefone }}","messageData":"={{ $json.text }}","tail":true},"id":"fc7509fe-ab32-4bde-a556-38662a64235d","name":"Audio Memory1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[760,380],"credentials":{"redis":{"id":"VIiXcLD9Yo3VEPFf","name":"Redis aula 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"f336a1ff-e577-489d-a739-1eb8bd509245","name":"Redis2","value":"={{ $json.propertyName }}","type":"string"},{"id":"946d1420-e379-46e3-8fcd-3816340fbabb","name":"Redis1","value":"={{ $('Get Memory 1').item.json.propertyName }}","type":"string"}]},"options":{}},"id":"b007fdea-6590-4844-8b20-bcad12f2dd21","name":"Edit Fields8","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1500,500]},{"parameters":{},"id":"db70377f-d838-4003-a092-f62438a3587c","name":"Wait3","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1200,500],"webhookId":"9f0edf0b-ca36-42a6-bab6-bf62ca08ac51"},{"parameters":{"operation":"get","key":"={{ $('Dados').item.json.Telefone }}","options":{}},"id":"9654951f-9156-4051-9b0e-f3261a3ff181","name":"Get Memory 1","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1060,500],"credentials":{"redis":{"id":"VIiXcLD9Yo3VEPFf","name":"Redis aula 2"}}},{"parameters":{"operation":"get","key":"={{ $('Dados').item.json.Telefone }}","options":{}},"id":"8871d832-b969-4a7b-8181-14059da03055","name":"Get Memory 2","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1360,500],"credentials":{"redis":{"id":"VIiXcLD9Yo3VEPFf","name":"Redis aula 2"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Dados').item.json.message.event }}","rightValue":"outcoming","operator":{"type":"string","operation":"equals"},"id":"7c878f9b-2c93-4061-954a-a832153e7647"}],"combinator":"and"},"renameOutput":true,"outputKey":"outcoming"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"d7b42536-638f-4128-b51b-6aa913e9d9bc","leftValue":"={{ $('Dados').item.json.message.event }}","rightValue":"incoming","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"incoming"}]},"options":{}},"id":"dc533412-475f-4268-8283-20423f7807ae","name":"Switch6","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-1180,640]},{"parameters":{"content":"# Filtro de mensagem","height":80,"width":356,"color":4},"id":"4d0c3bfe-57ed-422a-bbd9-247d22033805","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[40,240]},{"parameters":{"jsCode":"const redis1 = JSON.parse($json.Redis1);\nconst redis2 = JSON.parse($json.Redis2);\n\nconst combinadoSemDuplicatas = Array.from(new Set([...redis1, ...redis2]));\n\nconst mensagem = combinadoSemDuplicatas.join(\" \");\n\nreturn [{ json: { mensagem_completa: mensagem } }];"},"id":"de524feb-d86e-486e-a95f-1c1ae8c74a1e","name":"Mensagem Completa","type":"n8n-nodes-base.code","typeVersion":2,"position":[1880,480]},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{"fileName":"file.ogg","mimeType":"application/ogg"}},"id":"67453790-4b01-455c-946f-5d15d6608f75","name":"Convert to File","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[400,500]},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"4204b2b2-1dbb-4885-9c56-796760be787f","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[580,500],"credentials":{"openAiApi":{"id":"rVdjfDowKjs3OG2m","name":"OpenAi - TECHPULSE"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"id":"6a6b3298-418e-4b35-b1a1-76c7f9750ecf","name":"OpenAI Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[-1920,1380],"typeVersion":1.2,"credentials":{"openAiApi":{"id":"rVdjfDowKjs3OG2m","name":"OpenAi - TECHPULSE"}}},{"parameters":{"content":"## Agente treinamento RAG, ativação automática como o texto: TreinoIA1212:","height":840,"width":2220,"color":4},"id":"062306cf-478f-4929-976a-d74edb16d02d","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","position":[-1980,900],"typeVersion":1},{"parameters":{"descriptionType":"manual","toolDescription":"Use para buscar informações na planilha caso tenha um treinamento paricido devovlea o numeroo da rtoow para ela ser atualziada","documentId":{"__rl":true,"value":"12wJnXBnHbULbvvL3woJeFK7B_nLFwGJj8_Z8sC3vvpI","mode":"list","cachedResultName":"Aula nova","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12wJnXBnHbULbvvL3woJeFK7B_nLFwGJj8_Z8sC3vvpI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12wJnXBnHbULbvvL3woJeFK7B_nLFwGJj8_Z8sC3vvpI/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[-1780,1420],"id":"b5ab1655-8a0c-4636-9cfa-e6716899c827","name":"Treinamento_feito","credentials":{"googleSheetsOAuth2Api":{"id":"rBoCAQOUyzCpHL89","name":"Google Sheets icaro"}}},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"60a44ccb-9caa-4d49-8701-3236799d8007","name":"Insert into Supabase Vectorstore1","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[-80,1200],"credentials":{"supabaseApi":{"id":"AioBIgzKahTlXsvw","name":"Supabase aulas"}}},{"parameters":{"separator":"/n","chunkSize":1200,"chunkOverlap":200},"id":"ae98792c-e300-4b5c-9b7c-026bfe99f76b","name":"Character Text Splitter1","type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[60,1600]},{"parameters":{"aggregate":"aggregateAllItemData","include":"allFieldsExcept","fieldsToExclude":"rew_number","options":{}},"id":"6d7b03f2-35e3-4433-9a84-739c6d9507d4","name":"Aggregate1","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-480,1200]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"6d9ea696-a7df-44eb-a2fe-1653cc74468c","name":"Embeddings OpenAI2","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[-220,1440],"credentials":{"openAiApi":{"id":"rVdjfDowKjs3OG2m","name":"OpenAi - TECHPULSE"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data || $json.text || $json.concatenated_data }}","options":{"metadata":{"metadataValues":[{"name":"Arquivo","value":"={{ $('Download File1').item.json.name }}"}]}}},"id":"8af69123-3c74-4985-90d0-970eb2d5dee9","name":"Default Data Loader1","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[-60,1440]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"6d44647d-0023-4698-84bf-c2eba5ba45a1","name":"Download File1","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1140,1160],"executeOnce":false,"credentials":{"googleDriveOAuth2Api":{"id":"5NZnYFqwVDc01ZrR","name":"Google Drive icaro"}}},{"parameters":{"operation":"xlsx","options":{}},"id":"353bb20a-b24a-4012-be32-9aef049183ab","name":"Extract from Excel2","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-640,1100]},{"parameters":{"promptType":"define","text":"={{ $('Webhook EVO').item.json.body.data.message.conversation || '' }}","options":{"systemMessage":"={\n  \"name\": \"AgenteTreinamentoPlanilha\",\n  \"objectives\": [\n    \"Receber um texto e corrigi-lo\",\n    \"Verificar se já existe pergunta similar na planilha\",\n    \"Atualizar a planilha com a pergunta e a resposta corrigida\",\n    \"Caso peça para atualizar, não execute nem uma tool\"\n  ],\n  \"tools\": [\n    {\n      \"name\": \"Treinamento_feito\",\n      \"description\": \"Verifica se existe conteúdo similar antes de atualizar, caso exista deve ser removido ou substituído\"\n    },\n    {\n      \"name\": \"Atualizar_treinamento\",\n      \"description\": \"Cria ou atualiza linha na planilha com as colunas: Pergunta e Resposta\"\n    }\n  ],\n  \"general_rules\": [\n    \"Não mencionar a planilha ou as ferramentas na resposta ao usuário\",\n    \"Corrigir sempre o texto recebido antes de registrar no sistema\",\n    \"Seja preciso e consistente ao preencher as colunas pergunta e resposta\",\n    \"Gere sua resposta sem acentos nas palavras ou caracteres especiais\"\n  ]\n}\n"}},"id":"b52c6b83-fa3b-4085-9d0f-1cc592187f62","name":"Agente Treinamento RAG","type":"@n8n/n8n-nodes-langchain.agent","position":[-1920,1140],"typeVersion":1.8},{"parameters":{"content":"# Ferramentaspara apagar\n\n","height":80,"width":496,"color":3},"id":"5c629725-add9-4221-a1c3-57defaf43d82","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1780,-100]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"5a9a1fee-b408-469f-a08c-e8d690fc9792","operator":{"type":"string","operation":"notStartsWith"},"leftValue":"={{ $json.message.content }}","rightValue":"TreinoIA1212:"}],"combinator":"and"},"renameOutput":true,"outputKey":"Rota normal"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"9865cb5b-33da-490c-afc3-186457d5b564","operator":{"type":"string","operation":"startsWith"},"leftValue":"={{ $json.message.content }}","rightValue":"TreinoIA1212:"}],"combinator":"and"},"renameOutput":true,"outputKey":"Treinamento IA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5922557b-71e7-4390-af21-10b683e7a875","leftValue":"={{ $json.Telefone }}","rightValue":"5521986196585@s.whatsapp.net","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Numero pessoal"}]},"options":{}},"id":"11933466-e23e-4383-95f9-5ae5e90714b6","name":"Rotas","type":"n8n-nodes-base.switch","position":[-2180,620],"typeVersion":3.2},{"parameters":{"operation":"update","tableId":"dados_cliente","filters":{"conditions":[{"keyName":"telefone","condition":"eq","keyValue":"={{ $('Dados').item.json.Telefone }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"atendimento_ia","fieldValue":"pause"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-840,400],"id":"dab7cca9-cf52-4f5f-a169-755b03ab941a","name":"Pausar IA","credentials":{"supabaseApi":{"id":"AioBIgzKahTlXsvw","name":"Supabase aulas"}}},{"parameters":{"operation":"get","tableId":"dados_cliente","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Dados').item.json.Telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-840,720],"id":"3259a8c4-642b-4e64-b56f-0cb635d88cf1","name":"Verificar Pause","credentials":{"supabaseApi":{"id":"AioBIgzKahTlXsvw","name":"Supabase aulas"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.atendimento_ia }}","rightValue":"pause","operator":{"type":"string","operation":"notStartsWith"},"id":"ff00573b-e517-43c6-8644-14a4fe8565d1"}],"combinator":"and"},"renameOutput":true,"outputKey":"Ia Ativa"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"3ef0e01c-cc14-4663-bb4d-2905b350c3ab","leftValue":"={{ $json.atendimento_ia }}","rightValue":"pause","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ia pausada"}]},"options":{}},"id":"bd8b34e8-5eef-4384-9be9-f4d198b0c053","name":"Rota Atendimento","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-620,720]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"9865cb5b-33da-490c-afc3-186457d5b564","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $('Rotas').item.json.message.content }}","rightValue":"Atendimento finalizado"}],"combinator":"and"},"renameOutput":true,"outputKey":"IA Pausada"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"5a9a1fee-b408-469f-a08c-e8d690fc9792","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('Rotas').item.json.message.content }}","rightValue":"Atendimento finalizado"}],"combinator":"and"},"renameOutput":true,"outputKey":"Reativar IA"}]},"options":{}},"id":"989edea1-4eef-4ae0-9f7b-8d98ad5a89a0","name":"Rotas1","type":"n8n-nodes-base.switch","position":[-1040,540],"typeVersion":3.2},{"parameters":{"operation":"update","tableId":"dados_cliente","filters":{"conditions":[{"keyName":"telefone","condition":"eq","keyValue":"={{ $('Dados').item.json.Telefone }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"atendimento_ia","fieldValue":"reativada"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-660,560],"id":"55c83ae7-8f03-462b-8993-ba6e573d905b","name":"Reativar IA","credentials":{"supabaseApi":{"id":"AioBIgzKahTlXsvw","name":"Supabase aulas"}}},{"parameters":{"assignments":{"assignments":[{"id":"11800d83-ecca-4f9c-a878-a2419db0c8e9","name":"message.chat_id","value":"={{ $('Webhook EVO').item.json.body.data.key.remoteJid || '' }}","type":"string"},{"id":"c33f9527-e661-49e5-8e5e-64f3b430928a","name":"message.content_type","value":"={{ $('Webhook EVO').item.json.body.data.message.extendedTextMessage ? 'text' : '' }}{{ $('Webhook EVO').item.json.body.data.message.conversation ? 'text' : '' }}{{ $('Webhook EVO').item.json.body.data.message.audioMessage ? 'audio' : '' }}{{ $('Webhook EVO').item.json.body.data.message.imageMessage ? 'image' : '' }}","type":"string"},{"id":"06eba1c9-cff0-4f68-b6da-6bb0092466b7","name":"message.content","value":"={{ $('Webhook EVO').item.json.body.data.message.extendedTextMessage?.text || '' }}{{ $('Webhook EVO').item.json.body.data.message.imageMessage?.caption || '' }}{{ $('Webhook EVO').item.json.body.data.message.conversation || '' }}","type":"string"},{"id":"b97f1af3-5361-46fc-9303-d644921231d8","name":"message.timestamp","value":"={{ $('Webhook EVO').item.json.body.data.messageTimestamp.toDateTime('s').toISO() }}","type":"string"},{"id":"dc3dc59c-90a3-4a45-bea2-de092c91083b","name":"message.content_url","value":"={{ $('Webhook EVO').item.json.body.data.message.audioMessage?.url || '' }}{{ $('Webhook EVO').item.json.body.data.message.imageMessage?.url || '' }}","type":"string"},{"id":"8b01a818-a456-476e-bace-adefe2f04eb4","name":"message.event","value":"={{ $('Webhook EVO').item.json.body.data.key.fromMe ? 'outcoming' : 'incoming' }}","type":"string"},{"id":"886e3751-e39b-4fc6-98d1-3113eaeebbb4","name":"=body.event","value":"={{ $('Webhook EVO').item.json.body.event }}","type":"string"},{"id":"d04a0c6e-7842-41d2-bdb0-c0ce51d6dad7","name":"Telefone","value":"={{ $('Webhook EVO').item.json.body.data.key.remoteJid }}","type":"string"},{"id":"a57db642-3e13-452e-bb5b-19f7e9f3bd5d","name":"NomeWpp","value":"={{ $json.body.data.pushName }}","type":"string"}]},"options":{}},"id":"e4515543-23f3-490c-a589-76aa8177068e","name":"Dados","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2360,620]},{"parameters":{"amount":3,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-840,560],"id":"e49e009c-1267-4c33-b032-0cd6cd835e64","name":"Wait","webhookId":"b9c0dc3b-a05b-4e71-bcbe-fee8c71142a2"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"={{ $('Dados').item.json.Telefone }}","message":"={\"type\": \"ai\", \"content\": \"{{ $('Rotas').item.json.message.content.replace(/\\n/g, ' ') }}\", \"additional_kwargs\": {}, \"response_metadata\": {}}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message","displayName":"message","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-280,680],"id":"e9faa160-4273-45ee-8aad-2d61e14cb939","name":"Salvar Historicoo Humano1","credentials":{"postgres":{"id":"7oghXX1r4V9q1t3m","name":"Postgres account icaro"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[2080,520],"id":"4fe7a8f5-b0a4-4c71-b47d-cde802fc9104","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"rVdjfDowKjs3OG2m","name":"OpenAi - TECHPULSE"}}},{"parameters":{"promptType":"define","text":"={{ $json.mensagem_completa }}","options":{"systemMessage":"={\n  \"name\": \"AgenteRag\",\n  \"objectives\": [\n    \"Responder somente com dados obtidos da ferramenta buscar_documentos, sem dicas extras\"\n  ],\n  \"tools\": [\n    {\n      \"name\": \"buscar_documentos\",\n      \"description\": \"Use esta ferramenta para obter a resposta. Se não houver dados, retorne: não invente resposta somente do que vier da tool buscar_documentos'.\",\n      \"required\": true\n    }\n  ],\n  \"general_rules\": [\n    \"Não inventar respostas\",\n    \"Sempre usar a ferramenta buscar_documentos\",\n    \"caso não tenha uma resposta envie a resposta assim: sem dica de resposta\"\n  ]\n}\n"}},"id":"4023827f-f39b-4973-8d7e-d7391f58ab12","name":"Agente Rag","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[2080,340]},{"parameters":{"content":"# Agente RAG","height":80,"width":336,"color":4},"id":"416960b0-726d-4360-8112-8c148421e545","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2040,240]},{"parameters":{"content":"","height":380,"width":1680,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1760,-540],"typeVersion":1,"id":"cb2b18f9-809b-405a-ae1d-a46304e14bcd","name":"Sticky Note12"},{"parameters":{"content":"","height":380,"width":1680,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-1800,-140],"typeVersion":1,"id":"b1be0837-0ca6-46ec-9bff-33c48be9a306","name":"Sticky Note13"},{"parameters":{"content":"","height":620,"width":820,"color":4},"type":"n8n-nodes-base.stickyNote","position":[2020,240],"typeVersion":1,"id":"6d68197a-7427-4912-93b9-d512fb68539b","name":"Sticky Note6"},{"parameters":{"descriptionType":"manual","toolDescription":"Analise se já existeuma coluca pareceida se sim atualize ela se não crie uma nova linha","operation":"appendOrUpdate","documentId":{"__rl":true,"value":"12wJnXBnHbULbvvL3woJeFK7B_nLFwGJj8_Z8sC3vvpI","mode":"list","cachedResultName":"Aula nova","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12wJnXBnHbULbvvL3woJeFK7B_nLFwGJj8_Z8sC3vvpI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TOjJvlSdSdqNWyrB_vxljdaCh2lJvFBnM_ms9oa_w9o/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Pergunta":"={{ $fromAI(\"Pergunta\",\"isso é a pergunta\") }}","Resposta":"={{ $fromAI(\"Resposta\",\"isso é a resposta\") }}"},"matchingColumns":["Pergunta"],"schema":[{"id":"Pergunta","displayName":"Pergunta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Resposta","displayName":"Resposta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"efabe130-f0a3-409b-9997-a0feb4ae71a8","name":"Atualizar_treinamento","type":"n8n-nodes-base.googleSheetsTool","position":[-1580,1420],"typeVersion":4.5,"credentials":{"googleSheetsOAuth2Api":{"id":"rBoCAQOUyzCpHL89","name":"Google Sheets icaro"}}},{"parameters":{"operation":"text","options":{}},"id":"186e88da-e9a5-44dc-b9c0-54970ca4024c","name":"Extract Document Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-640,1440],"alwaysOutputData":true},{"parameters":{"operation":"pdf","options":{}},"id":"31a4940f-c89e-4ca4-8b98-69f1fe47b7ae","name":"Extract PDF Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-640,920]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.mimeType }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"},"id":"d324b22b-cdf4-4216-a5ac-7db17ab11851"}],"combinator":"and"},"renameOutput":true,"outputKey":"PDF"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"2ae7faa7-a936-4621-a680-60c512163034","leftValue":"={{ $json.mimeType }}","rightValue":"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"excel"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"8bd558b2-8c70-4edd-ab19-92540895ae46","leftValue":"={{ $json.mimeType }}","rightValue":"application/vnd.google-apps.spreadsheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CVS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"fc193b06-363b-4699-a97d-e5a850138b0e","leftValue":"={{ $json.mimeType }}","rightValue":"application/vnd.google-apps.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Google Docs"}]},"options":{"fallbackOutput":3}},"id":"0c884b6b-06a3-4159-9702-52dadb927715","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-960,1140]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"options":{}},"id":"343e25e6-9827-47e5-972c-b54a872b23d5","name":"Summarize1","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[-280,1200]},{"parameters":{"options":{}},"id":"71d555ad-76ba-439b-8d3d-46812082ca02","name":"Extract from Excel","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-640,1280]},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"1500as8or4v6FH22oSlu-oqenWT0qo6gR","mode":"list","cachedResultName":"dados da empresa","cachedResultUrl":"https://drive.google.com/drive/folders/1500as8or4v6FH22oSlu-oqenWT0qo6gR"}},"options":{"fields":["mimeType","id","name"]}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1320,1160],"id":"8b55e328-feda-4430-bd08-03231b8cca92","name":"Google Drive","executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"5NZnYFqwVDc01ZrR","name":"Google Drive icaro"}}},{"parameters":{"operation":"delete","tableId":"documents","filters":{"conditions":[{"keyName":"id","condition":"neq","keyValue":"0"}]}},"id":"4a103af8-829c-4b07-8ecf-554c92d605be","name":"Deleta linhas antigas do documento1","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1500,1160],"alwaysOutputData":true,"executeOnce":false,"credentials":{"supabaseApi":{"id":"AioBIgzKahTlXsvw","name":"Supabase aulas"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":5}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1660,980],"id":"31995b08-7cc0-48f9-b94b-095297d16a4d","name":"Schedule Trigger"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories","mode":"list","cachedResultName":"n8n_chat_histories"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"={{ $('Dados').item.json.Telefone }}","message":"={\"type\": \"human\", \"content\": \"{{ $('Rotas').item.json.message.content.replace(/\\n/g, ' ') }}\", \"additional_kwargs\": {}, \"response_metadata\": {}}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message","displayName":"message","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-340,400],"id":"c7f8ed25-bbd5-47dd-b8ac-5b6fca8d9f3c","name":"Salvar Historicoo Humano","credentials":{"postgres":{"id":"7oghXX1r4V9q1t3m","name":"Postgres account icaro"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[2740,-80],"id":"87be5792-9d18-47c9-987e-5d25fbbe4416","name":"When chat message received","webhookId":"af870e9f-98ab-46c8-858d-84fedf8036b2","disabled":true},{"parameters":{"options":{"systemMessage":"={\n  \"name\": \"Amanda\",\n  \"context\": {\n    \"identity\": \"Consultora Comercial de Vendas\",\n    \"business\": \"Fluxo Atendimento por IA para Terapeutas\",\n    \"Language\": \"português brasileiro\",\n    \"date\": \"{{ $now.weekdayLong }}, {{ $now.format('dd/MM/yyyy') }}, {{ $now.hour.toString().padStart(2, '0') }}:{{ $now.minute.toString().padStart(2, '0') }}\"\n  },\n  \"Informação atualizada para usar em resposta\": \"{{ $json.output }}\",\n  \"personality\": [\n    \"Fala simples, objetiva e amigável\",\n    \"Tono de voz educado e consultivo\",\n    \"Não usa emojis\",\n    \"Fala de forma personalizada, chamando pelo nome se souber\",\n    \"Faz uma pergunta por vez para manter o foco\",\n    \"Cria leve senso de urgência para agendamento\",\n    \"Reforça benefícios de forma prática\"\n  ],\n  \"objectives\": [\n    \"Apresentar a solução de atendimento por IA no WhatsApp para terapeutas\",\n    \"Agendar uma reunião comercial com o terapeuta no horário comercial\"\n  ],\n  \"general_rules\": [\n    \"Atender apenas terapeutas e profissionais da área emocional\",\n    \"Reforçar que as reuniões são online, rápidas e 100% focadas na necessidade do terapeuta\",\n    \"Agendar reuniões somente de segunda a sexta-feira em horário comercial\",\n    \"Caso peçam algo fora do fluxo, gentilmente redirecionar para o agendamento de reunião\",\n    \"Nunca prometer preço ou condições comerciais sem a reunião\",\n    \"Se a pessoa pedir para falar direto com um humano, informar que a reunião é o caminho para atendimento personalizado\",\n    \"Evitar termos técnicos como 'chatbot' ou 'automação' e usar sempre 'atendimento inteligente por IA', reforçando que o atendimento é como de uma secretária e não automatizado para agendamentos\",\n    \"Palavras proibidas: robô, automático, chatbot, grátis\"\n  ],\n  \"flow\": {\n    \"steps\": [\n      {\n        \"step\": \"Perguntar o nome\",\n        \"instructions\": \"Se apresentar e perguntar o nome da pessoa antes de prosseguir\",\n        \"example_message\": \"Olá! Meu nome é Amanda, faço parte da equipe da Fluxo Atendimento por IA para Terapeutas. Como posso te chamar?\"\n      },\n      {\n        \"step\": \"Confirmar se é terapeuta\",\n        \"instructions\": \"Após receber o nome, confirmar se a pessoa é terapeuta\",\n        \"example_message\": \"Prazer, Você é terapeuta ou atua em outra área da saúde?\"\n      },\n      {\n        \"step\": \"Explicação breve da solução\",\n        \"instructions\": \"Se confirmar que é terapeuta, explicar brevemente o benefício da solução\",\n        \"example_message\": \"Nós ajudamos terapeutas a terem um atendimento inteligente no WhatsApp, como uma secretária virtual que acolhe seus pacientes e organiza a comunicação, poupando seu tempo.\"\n      },\n      {\n        \"step\": \"Identificar o maior desafio\",\n        \"instructions\": \"Antes de oferecer reunião, perguntar qual é o maior desafio atual no atendimento\",\n        \"example_message\": \"Hoje, qual é o maior desafio que você enfrenta no seu atendimento? Seria dificuldade para contratar pessoas, agilidade nas respostas, atendimento fora do horário comercial, ou outra situação?\"\n      },\n      {\n        \"step\": \"Conectar solução à dor\",\n        \"instructions\": \"Após identificar a dor, reforçar que a solução pode ajudar especificamente nesse ponto\",\n        \"example_message\": \"Entendo. Nossa solução foi criada exatamente para ajudar terapeutas com essa dificuldade!\"\n      },\n      {\n        \"step\": \"Explicação adicional da solução\",\n        \"instructions\": \"Antes de oferecer a reunião, explicar detalhes extras da solução\",\n        \"example_message\": \"Nossa IA entende áudios enviados pelos seus clientes, interpreta múltiplas mensagens de texto e, após coletar informações sobre o motivo da busca por terapia, ela também te notifica em um grupo exclusivo com o nome do potencial cliente e um resumo do seu caso.\"\n      },\n      {\n        \"step\": \"Oferecer agendamento de reunião\",\n        \"instructions\": \"Depois de explicar a funcionalidade, convidar para agendar uma reunião\",\n        \"example_message\": \"Gostaria que eu te mostrasse tudo isso em detalhes numa reunião rápida de 30 minutos?\"\n      },\n      {\n        \"step\": \"Agendar reunião\",\n        \"instructions\": \"Se a pessoa demonstrar interesse, pedir para sugerir um dia e um período (manhã ou tarde)\",\n        \"example_message\": \"Que dia e período (manhã ou tarde) seria melhor para você? Assim organizamos tudo certinho.\"\n      },\n      {\n        \"step\": \"Confirmação de agendamento\",\n        \"instructions\": \"Após receber a sugestão, informar que um especialista entrará em contato para confirmar o horário certinho e enviar o número de protocolo\",\n        \"example_message\": \"Perfeito! Vou pedir para um dos nossos especialistas entrar em contato para confirmar direitinho o horário com você. Seu número de protocolo é 338201. Até breve!\"\n      }\n    ]\n  }\n}\n"}},"id":"f40f0979-943a-489d-95e0-28805c4c3db5","name":"Atendente1","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[860,-360],"disabled":true},{"parameters":{"sessionIdType":"customKey","sessionKey":"16","contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[3120,140],"id":"60dc988d-4da7-434a-8d6b-448714837edb","name":"Simple Memory","disabled":true},{"parameters":{"operation":"update","tableId":"dados_cliente","filters":{"conditions":[{"keyName":"telefone","condition":"eq","keyValue":"={{ $('Dados').item.json.Telefone }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"atendimento_ia","fieldValue":"pause"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[5140,1020],"id":"2403f6ce-f569-4fa2-9e58-b3b5c385aa5e","name":"Pausar IA1","credentials":{"supabaseApi":{"id":"AioBIgzKahTlXsvw","name":"Supabase aulas"}}},{"parameters":{"assignments":{"assignments":[{"id":"3c5ccbc9-69d1-4b13-a7c3-e6945bc8c655","name":"data","value":"={{ $('Webhook EVO').item.json.body.data.message.base64 }}","type":"string"}]},"options":{}},"id":"eb4e9585-0a94-4b27-9505-c788990322d3","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,500]},{"parameters":{"content":"# Ferramentas para criar\n\n","height":80,"width":456,"color":4},"id":"d5f6f12b-c765-46da-a1ce-d38cb8ba9be2","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1740,-500]},{"parameters":{"model":"gpt-4.1-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[2940,120],"id":"3a483fc9-9fe5-424f-9d53-c06aeb9b8e87","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"rVdjfDowKjs3OG2m","name":"OpenAi - TECHPULSE"}}},{"parameters":{"promptType":"define","text":"={{ $('Mensagem Completa').item.json.mensagem_completa }}","options":{"systemMessage":"={\n  \"name\": \"Amanda\",\n  \"context\": {\n    \"identity\": \"Consultora Comercial de Vendas\",\n    \"business\": \"Fluxo Atendimento por IA para Terapeutas\",\n    \"Language\": \"português brasileiro\",\n    \"date\": \"{{ $now.weekdayLong }}, {{ $now.format('dd/MM/yyyy') }}, {{ $now.hour.toString().padStart(2, '0') }}:{{ $now.minute.toString().padStart(2, '0') }}\"\n  },\n  \"Informação atualizada para usar em resposta\": \"{{ $json.chatInput }}\",\n  \"personality\": [\n    \"Fala simples, objetiva e amigável\",\n    \"Tono de voz educado e consultivo\",\n    \"Não usa emojis\",\n    \"Fala de forma personalizada, chamando pelo nome se souber\",\n    \"Faz uma pergunta por vez para manter o foco\",\n    \"Cria leve senso de urgência para agendamento\",\n    \"Reforça benefícios de forma prática\"\n  ],\n  \"objectives\": [\n    \"Apresentar a solução de atendimento por IA no WhatsApp para terapeutas\",\n    \"Agendar uma reunião comercial com o terapeuta no horário comercial\"\n  ],\n  \"general_rules\": [\n    \"Atender apenas terapeutas e profissionais da área emocional\",\n    \"Reforçar que as reuniões são online, rápidas e 100% focadas na necessidade do terapeuta\",\n    \"Agendar reuniões somente de segunda a sexta-feira em horário comercial\",\n    \"Caso peçam algo fora do fluxo, gentilmente redirecionar para o agendamento de reunião\",\n    \"Nunca prometer preço ou condições comerciais sem a reunião\",\n    \"Se a pessoa pedir para falar direto com um humano, informar que a reunião é o caminho para atendimento personalizado\",\n    \"Evitar termos técnicos como 'chatbot' ou 'automação' e usar sempre 'atendimento inteligente por IA', reforçando que o atendimento é como de uma secretária e não automatizado para agendamentos\",\n    \"Palavras proibidas: robô, automático, chatbot, grátis\"\n  ],\n  \"flow\": {\n    \"steps\": [\n      {\n        \"step\": \"Perguntar o nome\",\n        \"instructions\": \"Se apresentar e perguntar o nome da pessoa antes de prosseguir\",\n        \"example_message\": \"Olá! Meu nome é Amanda, faço parte da equipe da Fluxo Atendimento por IA para Terapeutas. Como posso te chamar?\"\n      },\n      {\n        \"step\": \"Confirmar se é terapeuta\",\n        \"instructions\": \"Após receber o nome, confirmar se a pessoa é terapeuta\",\n        \"example_message\": \"Prazer, Você é terapeuta ou atua em outra área da saúde?\"\n      },\n      {\n        \"step\": \"Explicação breve da solução\",\n        \"instructions\": \"Se confirmar que é terapeuta, explicar brevemente o benefício da solução\",\n        \"example_message\": \"Nós ajudamos terapeutas a terem um atendimento inteligente no WhatsApp, como uma secretária virtual que acolhe seus pacientes e organiza a comunicação, poupando seu tempo.\"\n      },\n      {\n        \"step\": \"Identificar o maior desafio\",\n        \"instructions\": \"Antes de oferecer reunião, perguntar qual é o maior desafio atual no atendimento\",\n        \"example_message\": \"Hoje, qual é o maior desafio que você enfrenta no seu atendimento? Seria dificuldade para contratar pessoas, agilidade nas respostas, atendimento fora do horário comercial, ou outra situação?\"\n      },\n      {\n        \"step\": \"Conectar solução à dor\",\n        \"instructions\": \"Após identificar a dor, reforçar que a solução pode ajudar especificamente nesse ponto\",\n        \"example_message\": \"Entendo. Nossa solução foi criada exatamente para ajudar terapeutas com essa dificuldade!\"\n      },\n      {\n        \"step\": \"Explicação adicional da solução\",\n        \"instructions\": \"Antes de oferecer a reunião, explicar detalhes extras da solução\",\n        \"example_message\": \"Nossa IA entende áudios enviados pelos seus clientes, interpreta múltiplas mensagens de texto e, após coletar informações sobre o motivo da busca por terapia, ela também te notifica em um grupo exclusivo com o nome do potencial cliente e um resumo do seu caso.\"\n      },\n      {\n        \"step\": \"Oferecer agendamento de reunião\",\n        \"instructions\": \"Depois de explicar a funcionalidade, convidar para agendar uma reunião\",\n        \"example_message\": \"Gostaria que eu te mostrasse tudo isso em detalhes numa reunião rápida de 30 minutos?\"\n      },\n      {\n        \"step\": \"Agendar reunião\",\n        \"instructions\": \"Se a pessoa demonstrar interesse, pedir para sugerir um dia e um período (manhã ou tarde)\",\n        \"example_message\": \"Que dia e período (manhã ou tarde) seria melhor para você? Assim organizamos tudo certinho.\"\n      },\n      {\n        \"step\": \"Confirmação de agendamento\",\n        \"instructions\": \"Após receber a sugestão, informar que um especialista entrará em contato para confirmar o horário certinho e enviar o número de protocolo\",\n        \"example_message\": \"Perfeito! Vou pedir para um dos nossos especialistas entrar em contato para confirmar direitinho o horário com você. Seu número de protocolo é 338201. Até breve!\"\n      }\n    ]\n  }\n}\n"}},"id":"4b087370-8d40-43a9-adda-ba27178e9917","name":"Atendente2","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[2980,-120]}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Switch4","type":"main","index":0}]]},"Disponibilidade":{"main":[[{"node":"If","type":"main","index":0}]]},"Marca":{"main":[[{"node":"Edit Fields10","type":"main","index":0}]]},"Já tem um evento":{"main":[[{"node":"If5","type":"main","index":0}]]},"Google Calendar1":{"main":[[{"node":"Edit Fields7","type":"main","index":0}]]},"Google Calendar3":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Verifica evento":{"main":[[{"node":"Google Calendar1","type":"main","index":0}]]},"Verifica evento1":{"main":[[{"node":"Google Calendar3","type":"main","index":0}]]},"If6":{"main":[[{"node":"Verifica evento1","type":"main","index":0}],[{"node":"Edit Fields9","type":"main","index":0}]]},"Disponibilidade1":{"main":[[{"node":"If6","type":"main","index":0}]]},"If5":{"main":[[{"node":"Edit Fields6","type":"main","index":0}],[{"node":"Disponibilidade","type":"main","index":0}]]},"Switch4":{"main":[[{"node":"Já tem um evento","type":"main","index":0}],[{"node":"Verifica evento","type":"main","index":0}],[{"node":"Disponibilidade1","type":"main","index":0}]]},"If":{"main":[[{"node":"Marca","type":"main","index":0}],[{"node":"Edit Fields9","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"buscar_documentos","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Supabase Vector Store":{"ai_vectorStore":[[{"node":"buscar_documentos","type":"ai_vectorStore","index":0}]]},"OpenAI3":{"ai_languageModel":[[{"node":"Parser  Chain","type":"ai_languageModel","index":0}]]},"Loop Over Items3":{"main":[[],[{"node":"Evolution API","type":"main","index":0}]]},"OutputParser1":{"ai_outputParser":[[{"node":"Parser  Chain","type":"ai_outputParser","index":0}]]},"Parser  Chain":{"main":[[{"node":"Split de Mensagem","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Atendente","type":"ai_languageModel","index":0}]]},"Atendente":{"main":[[{"node":"Busca Telefone","type":"main","index":0},{"node":"Switch2","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Atendente","type":"ai_memory","index":0}]]},"Switch2":{"main":[[{"node":"Parser  Chain","type":"main","index":0}],[{"node":"Evolution API1","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0}]]},"Evolution API":{"main":[[{"node":"1 segundo","type":"main","index":0}]]},"Evolution API1":{"main":[[{"node":"ListMessages-Supabase2","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Cria Histórico Supabase","type":"main","index":0}]]},"If4":{"main":[[{"node":"Adiciona CHAT supabase","type":"main","index":0}],[{"node":"Atualiza CHAT Supabase","type":"main","index":0}]]},"Busca Telefone":{"main":[[{"node":"If4","type":"main","index":0}]]},"Adiciona CHAT supabase":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Atualiza CHAT Supabase":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Cria Histórico Supabase":{"main":[[{"node":"Delete Memory","type":"main","index":0}]]},"Split de Mensagem":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"1 segundo":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"buscar_documentos":{"ai_tool":[[{"node":"Agente Rag","type":"ai_tool","index":0}]]},"ListMessages-Supabase2":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"Code6","type":"main","index":0}]]},"Code6":{"main":[[{"node":"Basic LLM Chain1","type":"main","index":0}]]},"Basic LLM Chain1":{"main":[[{"node":"Evolution API2","type":"main","index":0}]]},"Evolution API2":{"main":[[{"node":"Pausar IA1","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Switch6","type":"main","index":0}],[{"node":"Supabase1","type":"main","index":0}]]},"Supabase1":{"main":[[{"node":"Switch6","type":"main","index":0}]]},"Webhook EVO":{"main":[[{"node":"Dados","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"If3":{"main":[[{"node":"Redis5","type":"main","index":0}],[{"node":"Redis4","type":"main","index":0}]]},"Redis4":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Redis5":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Text Memory1","type":"main","index":0}],[{"node":"Text Memory1","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Edit Fields3","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"If3","type":"main","index":0}]]},"Compara Get Memory1":{"main":[[{"node":"Mensagem Completa","type":"main","index":0}]]},"Text Memory1":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Audio Memory1":{"main":[[{"node":"Get Memory 1","type":"main","index":0}]]},"Edit Fields8":{"main":[[{"node":"Compara Get Memory1","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Get Memory 2","type":"main","index":0}]]},"Get Memory 1":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Get Memory 2":{"main":[[{"node":"Edit Fields8","type":"main","index":0}]]},"Switch6":{"main":[[{"node":"Rotas1","type":"main","index":0}],[{"node":"Verificar Pause","type":"main","index":0}]]},"Mensagem Completa":{"main":[[{"node":"Agente Rag","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Audio Memory1","type":"main","index":0}]]},"OpenAI Model":{"ai_languageModel":[[{"node":"Agente Treinamento RAG","type":"ai_languageModel","index":0}]]},"Treinamento_feito":{"ai_tool":[[{"node":"Agente Treinamento RAG","type":"ai_tool","index":0}]]},"Character Text Splitter1":{"ai_textSplitter":[[{"node":"Default Data Loader1","type":"ai_textSplitter","index":0}]]},"Aggregate1":{"main":[[{"node":"Summarize1","type":"main","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Insert into Supabase Vectorstore1","type":"ai_embedding","index":0}]]},"Default Data Loader1":{"ai_document":[[{"node":"Insert into Supabase Vectorstore1","type":"ai_document","index":0}]]},"Download File1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Extract from Excel2":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Agente Treinamento RAG":{"main":[[]]},"Rotas":{"main":[[{"node":"Supabase","type":"main","index":0}],[{"node":"Agente Treinamento RAG","type":"main","index":0}],[{"node":"Supabase","type":"main","index":0}]]},"Pausar IA":{"main":[[{"node":"Salvar Historicoo Humano","type":"main","index":0}]]},"Verificar Pause":{"main":[[{"node":"Rota Atendimento","type":"main","index":0}]]},"Rota Atendimento":{"main":[[{"node":"Switch1","type":"main","index":0}],[{"node":"Salvar Historicoo Humano1","type":"main","index":0}]]},"Rotas1":{"main":[[{"node":"Pausar IA","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Reativar IA":{"main":[[{"node":"Salvar Historicoo Humano","type":"main","index":0}]]},"Dados":{"main":[[{"node":"Rotas","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Reativar IA","type":"main","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"Agente Rag","type":"ai_languageModel","index":0}]]},"Agente Rag":{"main":[[{"node":"Atendente","type":"main","index":0}]]},"Atualizar_treinamento":{"ai_tool":[[{"node":"Agente Treinamento RAG","type":"ai_tool","index":0}]]},"Switch":{"main":[[{"node":"Extract PDF Text","type":"main","index":0}],[{"node":"Extract from Excel2","type":"main","index":0}],[{"node":"Extract from Excel","type":"main","index":0}],[{"node":"Extract Document Text","type":"main","index":0}]]},"Extract Document Text":{"main":[[{"node":"Insert into Supabase Vectorstore1","type":"main","index":0}]]},"Extract PDF Text":{"main":[[{"node":"Insert into Supabase Vectorstore1","type":"main","index":0}]]},"Summarize1":{"main":[[{"node":"Insert into Supabase Vectorstore1","type":"main","index":0}]]},"Extract from Excel":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Download File1","type":"main","index":0}]]},"Deleta linhas antigas do documento1":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Deleta linhas antigas do documento1","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Atendente2","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Atendente2","type":"ai_memory","index":0}]]},"Salvar Historicoo Humano1":{"main":[[]]},"Edit Fields1":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Salvar Historicoo Humano":{"main":[[]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Atendente2","type":"ai_languageModel","index":0}]]},"criar_reuniao":{"ai_tool":[[{"node":"Atendente","type":"ai_tool","index":0}]]},"reagendar_reuniao":{"ai_tool":[[{"node":"Atendente","type":"ai_tool","index":0}]]},"cancelar_reuniao":{"ai_tool":[[{"node":"Atendente","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{"Execute Workflow Trigger":[{"json":{"query":{"nome":"Breno","email":"brendanedlem@gmail.com","start":"2025-03-14T15:00:00-03:00","end":"2025-03-14T15:50:00-03:00"},"Evento":"agendamento","Remotejid":"553199905686@s.whatsapp.net"}}],"Webhook EVO":[{"json":{"headers":{"host":"n8n.techpulseai.com.br","user-agent":"axios/1.7.9","content-length":"887","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"n8n.techpulseai.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"53d3c3fc3aa2","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"icaro9982","data":{"key":{"remoteJid":"5521986196585@s.whatsapp.net","fromMe":false,"id":"3AB36C641B247AC3DF35"},"pushName":"Icaro Almeida🫡💪🏽","status":"DELIVERY_ACK","message":{"conversation":"Oi","messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"8XdNdW4p/zDOSA==","senderTimestamp":"1749700353","recipientKeyHash":"Snaz77wzf1KYdA==","recipientTimestamp":"1749603310"},"deviceListMetadataVersion":2,"messageSecret":"WTUMz8pAnXiaD/3YUeC70E8s52JjGYBuPfGd6vZQ3u4="}},"messageType":"conversation","messageTimestamp":1749862045,"instanceId":"c74f18da-333a-4276-80a6-68bdd69ce0d4","source":"ios"},"destination":"https://n8n.techpulseai.com.br/webhook/aula","date_time":"2025-06-13T21:47:25.315Z","sender":"5521990129982@s.whatsapp.net","server_url":"https://evo.techpulseai.com.br","apikey":"B761F7149947-4AEC-BA8C-C4F47A83C85F"},"webhookUrl":"https://n8n.techpulseai.com.br/webhook/aula","executionMode":"production"}}]},"versionId":"ba0b4d57-d201-4073-a1fa-4e321447041b","triggerCount":2,"tags":[]}