workflows/Aquecedor de chip - WPP.json
{"createdAt":"2025-06-04T15:18:19.622Z","updatedAt":"2025-06-20T00:06:38.261Z","id":"RLEq0cTglnFGuVIY","name":"Aquecedor de chip - WPP","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"return [{\n  json: {\n    message: (() => {\n      const mensagens = [\n        \"Oi! Tudo bem?\",\n        \"Como foi o seu dia?\",\n        \"Que bom te ver por aqui!\",\n        \"Você está bem?\",\n        \"Faz tempo que não nos falamos!\",\n        \"O que tem feito de bom ultimamente?\",\n        \"Tenho uma novidade para te contar!\",\n        \"Vamos combinar de nos encontrar?\",\n        \"Já viu aquele filme novo?\",\n        \"Que tal um café essa semana?\",\n        \"Senti sua falta!\",\n        \"Como estão as coisas no trabalho?\",\n        \"E aí, animado para o fim de semana?\",\n        \"Gostei da sua ideia, vamos conversar mais sobre isso!\",\n        \"Está precisando de ajuda com alguma coisa?\",\n        \"Você viu aquele jogo ontem?\",\n        \"A gente precisa colocar a conversa em dia!\",\n        \"O tempo está tão bom hoje, né?\",\n        \"Fiquei sabendo de uma notícia incrível!\",\n        \"Você tem alguma recomendação de livro ou série?\",\n        \"Vamos planejar uma viagem juntos!\",\n        \"Adoro conversar com você, sempre aprendo algo novo!\",\n        \"Como está sua família?\",\n        \"Qual o seu plano para hoje à noite?\",\n        \"Parece que faz anos que não nos vemos!\"\n      ];\n      const randomIndex = Math.floor(Math.random() * mensagens.length);\n      return mensagens[randomIndex];\n    })()\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,0],"id":"bec42731-53d4-4cfc-bf86-023291fb29d4","name":"Code"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"*/1 9-12 * * 1-5"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"2030c0f6-6e7d-4a18-88b2-7a7ac597e814","name":"Schedule Trigger"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[700,0],"id":"5849cb4a-6e43-4494-b495-5e01fc9fcec8","name":"Wait","webhookId":"0b033ff6-d3a5-4a46-9cd3-301a26ffddda"},{"parameters":{"jsCode":"return [{\n  json: {\n    message: (() => {\n      const mensagens = [\n        \"Oi! Tudo bem?\",\n        \"Como foi o seu dia?\",\n        \"Que bom te ver por aqui!\",\n        \"Você está bem?\",\n        \"Faz tempo que não nos falamos!\",\n        \"O que tem feito de bom ultimamente?\",\n        \"Tenho uma novidade para te contar!\",\n        \"Vamos combinar de nos encontrar?\",\n        \"Já viu aquele filme novo?\",\n        \"Que tal um café essa semana?\",\n        \"Senti sua falta!\",\n        \"Como estão as coisas no trabalho?\",\n        \"E aí, animado para o fim de semana?\",\n        \"Gostei da sua ideia, vamos conversar mais sobre isso!\",\n        \"Está precisando de ajuda com alguma coisa?\",\n        \"Você viu aquele jogo ontem?\",\n        \"A gente precisa colocar a conversa em dia!\",\n        \"O tempo está tão bom hoje, né?\",\n        \"Fiquei sabendo de uma notícia incrível!\",\n        \"Você tem alguma recomendação de livro ou série?\",\n        \"Vamos planejar uma viagem juntos!\",\n        \"Adoro conversar com você, sempre aprendo algo novo!\",\n        \"Como está sua família?\",\n        \"Qual o seu plano para hoje à noite?\",\n        \"Parece que faz anos que não nos vemos!\"\n      ];\n      const randomIndex = Math.floor(Math.random() * mensagens.length);\n      return mensagens[randomIndex];\n    })()\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[880,0],"id":"c72b61ae-4d27-47ba-a2d9-489442a139c8","name":"Code1"},{"parameters":{"jsCode":"return [{\n  json: {\n    message: (() => {\n      const mensagens = [\n        \"Oi! Tudo bem?\",\n        \"Como foi o seu dia?\",\n        \"Que bom te ver por aqui!\",\n        \"Você está bem?\",\n        \"Faz tempo que não nos falamos!\",\n        \"O que tem feito de bom ultimamente?\",\n        \"Tenho uma novidade para te contar!\",\n        \"Vamos combinar de nos encontrar?\",\n        \"Já viu aquele filme novo?\",\n        \"Que tal um café essa semana?\",\n        \"Senti sua falta!\",\n        \"Como estão as coisas no trabalho?\",\n        \"E aí, animado para o fim de semana?\",\n        \"Gostei da sua ideia, vamos conversar mais sobre isso!\",\n        \"Está precisando de ajuda com alguma coisa?\",\n        \"Você viu aquele jogo ontem?\",\n        \"A gente precisa colocar a conversa em dia!\",\n        \"O tempo está tão bom hoje, né?\",\n        \"Fiquei sabendo de uma notícia incrível!\",\n        \"Você tem alguma recomendação de livro ou série?\",\n        \"Vamos planejar uma viagem juntos!\",\n        \"Adoro conversar com você, sempre aprendo algo novo!\",\n        \"Como está sua família?\",\n        \"Qual o seu plano para hoje à noite?\",\n        \"Parece que faz anos que não nos vemos!\"\n      ];\n      const randomIndex = Math.floor(Math.random() * mensagens.length);\n      return mensagens[randomIndex];\n    })()\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[260,240],"id":"b8c99b48-a16d-4eab-a424-7c472fc415cf","name":"Code2"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[700,240],"id":"6b4a1653-5366-4996-bbc1-825344f884b3","name":"Wait1","webhookId":"0b033ff6-d3a5-4a46-9cd3-301a26ffddda"},{"parameters":{"jsCode":"return [{\n  json: {\n    message: (() => {\n      const mensagens = [\n        \"Oi! Tudo bem?\",\n        \"Como foi o seu dia?\",\n        \"Que bom te ver por aqui!\",\n        \"Você está bem?\",\n        \"Faz tempo que não nos falamos!\",\n        \"O que tem feito de bom ultimamente?\",\n        \"Tenho uma novidade para te contar!\",\n        \"Vamos combinar de nos encontrar?\",\n        \"Já viu aquele filme novo?\",\n        \"Que tal um café essa semana?\",\n        \"Senti sua falta!\",\n        \"Como estão as coisas no trabalho?\",\n        \"E aí, animado para o fim de semana?\",\n        \"Gostei da sua ideia, vamos conversar mais sobre isso!\",\n        \"Está precisando de ajuda com alguma coisa?\",\n        \"Você viu aquele jogo ontem?\",\n        \"A gente precisa colocar a conversa em dia!\",\n        \"O tempo está tão bom hoje, né?\",\n        \"Fiquei sabendo de uma notícia incrível!\",\n        \"Você tem alguma recomendação de livro ou série?\",\n        \"Vamos planejar uma viagem juntos!\",\n        \"Adoro conversar com você, sempre aprendo algo novo!\",\n        \"Como está sua família?\",\n        \"Qual o seu plano para hoje à noite?\",\n        \"Parece que faz anos que não nos vemos!\"\n      ];\n      const randomIndex = Math.floor(Math.random() * mensagens.length);\n      return mensagens[randomIndex];\n    })()\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[900,240],"id":"58418b99-0235-415c-ac1b-18a1c1f0ea3d","name":"Code3"},{"parameters":{"jsCode":"return [{\n  json: {\n    message: (() => {\n      const mensagens = [\n        \"Oi! Tudo bem?\",\n        \"Como foi o seu dia?\",\n        \"Que bom te ver por aqui!\",\n        \"Você está bem?\",\n        \"Faz tempo que não nos falamos!\",\n        \"O que tem feito de bom ultimamente?\",\n        \"Tenho uma novidade para te contar!\",\n        \"Vamos combinar de nos encontrar?\",\n        \"Já viu aquele filme novo?\",\n        \"Que tal um café essa semana?\",\n        \"Senti sua falta!\",\n        \"Como estão as coisas no trabalho?\",\n        \"E aí, animado para o fim de semana?\",\n        \"Gostei da sua ideia, vamos conversar mais sobre isso!\",\n        \"Está precisando de ajuda com alguma coisa?\",\n        \"Você viu aquele jogo ontem?\",\n        \"A gente precisa colocar a conversa em dia!\",\n        \"O tempo está tão bom hoje, né?\",\n        \"Fiquei sabendo de uma notícia incrível!\",\n        \"Você tem alguma recomendação de livro ou série?\",\n        \"Vamos planejar uma viagem juntos!\",\n        \"Adoro conversar com você, sempre aprendo algo novo!\",\n        \"Como está sua família?\",\n        \"Qual o seu plano para hoje à noite?\",\n        \"Parece que faz anos que não nos vemos!\"\n      ];\n      const randomIndex = Math.floor(Math.random() * mensagens.length);\n      return mensagens[randomIndex];\n    })()\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[260,480],"id":"9e336328-bad3-4319-aef3-5affc0a764c5","name":"Code4"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[700,480],"id":"9e18245e-7b7a-42e6-96e4-a1a12512d39e","name":"Wait2","webhookId":"0b033ff6-d3a5-4a46-9cd3-301a26ffddda"},{"parameters":{"jsCode":"return [{\n  json: {\n    message: (() => {\n      const mensagens = [\n        \"Oi! Tudo bem?\",\n        \"Como foi o seu dia?\",\n        \"Que bom te ver por aqui!\",\n        \"Você está bem?\",\n        \"Faz tempo que não nos falamos!\",\n        \"O que tem feito de bom ultimamente?\",\n        \"Tenho uma novidade para te contar!\",\n        \"Vamos combinar de nos encontrar?\",\n        \"Já viu aquele filme novo?\",\n        \"Que tal um café essa semana?\",\n        \"Senti sua falta!\",\n        \"Como estão as coisas no trabalho?\",\n        \"E aí, animado para o fim de semana?\",\n        \"Gostei da sua ideia, vamos conversar mais sobre isso!\",\n        \"Está precisando de ajuda com alguma coisa?\",\n        \"Você viu aquele jogo ontem?\",\n        \"A gente precisa colocar a conversa em dia!\",\n        \"O tempo está tão bom hoje, né?\",\n        \"Fiquei sabendo de uma notícia incrível!\",\n        \"Você tem alguma recomendação de livro ou série?\",\n        \"Vamos planejar uma viagem juntos!\",\n        \"Adoro conversar com você, sempre aprendo algo novo!\",\n        \"Como está sua família?\",\n        \"Qual o seu plano para hoje à noite?\",\n        \"Parece que faz anos que não nos vemos!\"\n      ];\n      const randomIndex = Math.floor(Math.random() * mensagens.length);\n      return mensagens[randomIndex];\n    })()\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[900,480],"id":"1e4eddcc-7035-43a8-8033-cf1c521ec2f0","name":"Code5"},{"parameters":{"resource":"messages-api","instanceName":"Geniusia","messageText":"={{ $json.message }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[460,0],"id":"849893d4-fe44-4c87-96dd-e03d0ca9d7a7","name":"Evolution API","credentials":{"evolutionApi":{"id":"AfcW5UBaTBawYJHp","name":"Evolution UNIVER"}}},{"parameters":{"resource":"messages-api","instanceName":"Geniusia","messageText":"={{ $json.message }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1100,0],"id":"fc720af6-112d-41aa-8588-201d42fd4687","name":"Evolution API1","credentials":{"evolutionApi":{"id":"AfcW5UBaTBawYJHp","name":"Evolution UNIVER"}}},{"parameters":{"resource":"messages-api","instanceName":"Geniusia","messageText":"={{ $json.message }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[460,240],"id":"ebdcf072-e3f6-43c3-bc2a-7ddcf796ab42","name":"Evolution API2","credentials":{"evolutionApi":{"id":"AfcW5UBaTBawYJHp","name":"Evolution UNIVER"}}},{"parameters":{"resource":"messages-api","instanceName":"Geniusia","messageText":"={{ $json.message }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1100,240],"id":"95da46b1-04af-417e-b7bc-d2f528857b21","name":"Evolution API3","credentials":{"evolutionApi":{"id":"AfcW5UBaTBawYJHp","name":"Evolution UNIVER"}}},{"parameters":{"resource":"messages-api","messageText":"={{ $json.message }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[460,480],"id":"746c7e77-37c9-46ac-80d1-f9aaaaebd9ff","name":"Evolution API4"},{"parameters":{"resource":"messages-api","instanceName":"Geniusia","messageText":"={{ $json.message }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1100,480],"id":"713f588a-2ab8-4200-b91c-8994f8ee373d","name":"Evolution API5","credentials":{"evolutionApi":{"id":"AfcW5UBaTBawYJHp","name":"Evolution UNIVER"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Code","type":"main","index":0},{"node":"Code2","type":"main","index":0},{"node":"Code4","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Code5","type":"main","index":0}]]},"Code":{"main":[[{"node":"Evolution API","type":"main","index":0}]]},"Evolution API":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Evolution API1","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Evolution API2","type":"main","index":0}]]},"Evolution API2":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Evolution API3","type":"main","index":0}]]},"Code4":{"main":[[{"node":"Evolution API4","type":"main","index":0}]]},"Evolution API4":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Code5":{"main":[[{"node":"Evolution API5","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"13c1df8e-ab1b-4d0a-bb1e-bc35afd0b5c0","triggerCount":0,"tags":[]}