workflows/Backup Workflow - GITHUB.json
{"createdAt":"2025-06-06T16:23:49.972Z","updatedAt":"2025-06-06T16:49:35.056Z","id":"0Wpm6GAOfD6dAy7I","name":"Backup Workflow - GITHUB","active":false,"isArchived":false,"nodes":[{"parameters":{"resource":"file","operation":"get","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"02c88398-a20f-4ef6-94b8-8edfa27512b5","name":"GitHub","type":"n8n-nodes-base.github","position":[520,180],"typeVersion":1,"alwaysOutputData":true,"webhookId":"e33d00f4-8b89-4b8c-9412-91ece6c7df2f","credentials":{"githubApi":{"id":"mSu0zLCrzIh3y3sV","name":"GitHub allan"}},"continueOnFail":true},{"parameters":{"values":{"string":[{"name":"repo.owner","value":"allansouto"},{"name":"repo.name","value":"n8n-backups"},{"name":"repo.path","value":"workflows/techpulseai/"}]},"options":{}},"id":"357f118e-11b8-486d-a26b-5cede54016e6","name":"Globals","type":"n8n-nodes-base.set","position":[-180,100],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"d0be751b-daa0-46fc-be4b-3755efa4eba9","name":"n8n","type":"n8n-nodes-base.n8n","position":[60,100],"typeVersion":1,"credentials":{"n8nApi":{"id":"IFrHyq4t2dAQo31g","name":"n8n API"}}},{"parameters":{"options":{}},"id":"7d00bbea-f238-44e6-a92c-670537bb7d08","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[280,100],"executeOnce":false,"typeVersion":3},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"16a9182d-059d-4774-ba95-654fb4293fdb","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"9e9d109d-3d0c-4987-ba07-e730704ddca8","name":"If","type":"n8n-nodes-base.if","position":[720,180],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"e0c66624-429a-4f1f-bf7b-1cc1b32bad7b","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.content }}","rightValue":"={{ $('Loop Over Items').item.json.toJsonString() }}"}]},"options":{}},"id":"5d91e647-4bee-4fab-b2d4-95bd63d669dc","name":"If1","type":"n8n-nodes-base.if","position":[1600,460],"typeVersion":2.2},{"parameters":{"jsCode":"let items = $input.all()\n\nfor (item of items) {\n    item.json.content = Buffer.from(item.json.content, 'base64').toString('utf8')\n}\n\nreturn items;\n"},"id":"b4b2d798-9d4b-4e1d-ae8b-f1e5d2c10d9f","name":"Code","type":"n8n-nodes-base.code","position":[1280,160],"typeVersion":2},{"parameters":{"resource":"file","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"},"id":"7dcd7d21-e271-4bcf-be9f-6e896f8189c3","name":"Create new file and commit","type":"n8n-nodes-base.github","position":[900,340],"typeVersion":1,"webhookId":"6f490ef8-8b9a-4bcc-950c-02595a11b184","credentials":{"githubApi":{"id":"mSu0zLCrzIh3y3sV","name":"GitHub allan"}}},{"parameters":{"resource":"file","operation":"edit","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"},"id":"831e7560-d500-4a56-a22c-ba2861b92398","name":"Update file content and commit","type":"n8n-nodes-base.github","position":[1960,660],"typeVersion":1,"webhookId":"fc7b02a3-f9d9-4dcd-9734-895eab9ebb73","credentials":{"githubApi":{"id":"mSu0zLCrzIh3y3sV","name":"GitHub allan"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":4}]}},"id":"a77fb656-c12c-4b76-8330-4490e9f3cc05","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-400,100],"typeVersion":1.2},{"parameters":{"content":"Workflow changes committed to the repository","height":80},"id":"35191a4f-10c7-4e14-bf89-ba81cc96d473","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[2120,680],"typeVersion":1},{"parameters":{"content":"Check if there are any changes in the workflow","height":80},"id":"6afa9acd-e09c-4f43-9dd3-ec820757a4db","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1740,460],"typeVersion":1},{"parameters":{"content":"Create a new file for the workflow","height":80},"id":"26896d31-3134-468f-ba0b-54e367f8075d","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1020,360],"typeVersion":1},{"parameters":{"content":"Check if file exists in the repository","height":80},"id":"6f43d24d-3b77-4176-ae80-89a95ac6d37a","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[720,80],"typeVersion":1},{"parameters":{"content":"Convert the file contents to JSON string","height":80},"id":"67759c76-7286-4318-ad4f-7848618ecba9","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[1220,60],"typeVersion":1},{"parameters":{"content":"Get all workflows","height":80},"id":"55d1c167-a9a9-4ceb-b8ef-3be3c7c7b510","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"Set variables","height":80},"id":"332bbf11-6390-4cd3-b919-b382ddd02f69","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[-260,240],"typeVersion":1}],"connections":{"If":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Create new file and commit","type":"main","index":0}]]},"If1":{"main":[[{"node":"Update file content and commit","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code":{"main":[[{"node":"If1","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"If","type":"main","index":0}]]},"Globals":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"GitHub","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Globals","type":"main","index":0}]]},"Create new file and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update file content and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule Trigger":[{"json":{"timestamp":"2024-12-31T04:00:19.014-03:00","Readable date":"December 31st 2024, 4:00:19 am","Readable time":"4:00:19 am","Day of week":"Tuesday","Year":"2024","Month":"December","Day of month":"31","Hour":"04","Minute":"00","Second":"19","Timezone":"America/Sao_Paulo (UTC-03:00)"}}]},"versionId":"3f0d7f9b-72f1-4232-b910-b2321ea339c5","triggerCount":0,"tags":[]}