workflows/Backup Workflows  - TECHPULSE AI.json
{"createdAt":"2025-07-02T20:02:36.601Z","updatedAt":"2025-07-06T15:45:51.158Z","id":"90bT7SiS2JM2fBhZ","name":"Backup Workflows  - TECHPULSE AI","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-620,60],"id":"6a6fc1e6-eedd-4d47-92d9-52c019fd1729","name":"When clicking ‘Execute workflow’","disabled":true},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-200,-80],"id":"19c7721f-1350-401e-9b20-a71a8a6db591","name":"n8n","credentials":{"n8nApi":{"id":"IFrHyq4t2dAQo31g","name":"n8n - BACKUP - ALLAN"}},"disabled":true},{"parameters":{"operation":"toJson","mode":"each","binaryPropertyName":"=data","options":{"fileName":"={{ $json.name }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-20,-80],"id":"f79744a6-4fef-4aec-a1d3-4f3c771681b0","name":"Convert to File","disabled":true},{"parameters":{"name":"={{ $binary.data.fileName }}","driveId":{"__rl":true,"value":"10xjnOEdiaFimQpI5IxppW0oE_xz-8aR3","mode":"id"},"folderId":{"__rl":true,"value":"root","mode":"list","cachedResultName":"/ (Root folder)","cachedResultUrl":"https://drive.google.com/drive"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[200,-80],"id":"443f0866-8d93-4748-80f3-671f4be46aba","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"cQnW1e2PklBVDK61","name":"Google Drive allan"}},"disabled":true},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[5,1,2,3,4,6,0],"triggerAtMinute":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-620,-160],"id":"49c2e8d6-0b08-460f-8a41-9792f46b04a8","name":"Schedule Trigger","disabled":true}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"n8n","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"n8n","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"ZIT4LpxmK0FLkRhq"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"78040191-6734-46fd-aabc-c3b6beb36433","triggerCount":1,"tags":[]}