workflows/Backup workflows e credenciais.json
{"createdAt":"2025-07-04T22:58:15.004Z","updatedAt":"2025-07-06T15:48:51.991Z","id":"EEZTyvEEVBpbUD5p","name":"Backup workflows e credenciais","active":false,"isArchived":false,"nodes":[{"parameters":{"triggerTimes":{"item":[{"hour":1}]}},"name":"Run Daily","type":"n8n-nodes-base.cron","position":[-920,140],"typeVersion":1,"id":"ee7a3f42-e786-4251-95c8-c1e0fc3ebec9"},{"parameters":{"command":"npx n8n export:credentials --backup --decrypted --output=/home/node/n8n/backups/credentials/\n"},"name":"Export Credentials","type":"n8n-nodes-base.executeCommand","position":[-580,20],"typeVersion":1,"id":"38906f10-d9e5-4aac-a4cf-48eabc5654e6"},{"parameters":{"fileSelector":"/home/node/n8n/backups/credentials/*","options":{"fileExtension":".json","dataPropertyName":"data"}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-340,20],"id":"25013b24-5a6e-4312-a1da-9cd87a993816","name":"Read/Write Files from Disk"},{"parameters":{"name":"={{ $binary.data.fileName }}.json","driveId":{"__rl":true,"value":"14k_nLJSl6bTcVdQI_NUQ-N8oqLFxKooI","mode":"id"},"folderId":{"__rl":true,"value":"root","mode":"list","cachedResultName":"/ (Root folder)","cachedResultUrl":"https://drive.google.com/drive"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[320,20],"id":"ab7ad536-a45b-4474-83fe-29b4b2011a7e","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"cQnW1e2PklBVDK61","name":"Google Drive allan"}}},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-120,20],"id":"3547652e-cb80-49d5-97f6-e3094742a137","name":"Extract from File"},{"parameters":{"operation":"toJson","mode":"each","options":{"fileName":"={{ $json.data.name }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[120,20],"id":"7a0ce595-c634-48d1-afdd-0897e379e26b","name":"Convert to File"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-540,240],"id":"3a2e4fc5-42d6-422f-8787-5df21a2bcfc0","name":"n8n2","credentials":{"n8nApi":{"id":"IFrHyq4t2dAQo31g","name":"n8n - BACKUP - ALLAN"}}},{"parameters":{"operation":"toJson","mode":"each","binaryPropertyName":"=data","options":{"fileName":"={{ $json.name }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-360,240],"id":"ec7ad6e9-f9dd-4d23-bb42-165d836cbba7","name":"Convert to File1"},{"parameters":{"name":"={{ $binary.data.fileName }}","driveId":{"__rl":true,"value":"1UF-RbzC94iKoiHTvqOKSiXGwjOhaAAn5","mode":"id"},"folderId":{"__rl":true,"value":"root","mode":"list","cachedResultName":"/ (Root folder)","cachedResultUrl":"https://drive.google.com/drive"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-140,240],"id":"adc385d5-2ed7-4d45-9d86-8a18663ba0b7","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"cQnW1e2PklBVDK61","name":"Google Drive allan"}}}],"connections":{"Run Daily":{"main":[[{"node":"n8n2","type":"main","index":0},{"node":"Export Credentials","type":"main","index":0}]]},"Export Credentials":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"Read/Write Files from Disk":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"n8n2":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6badf777-4e39-4ddb-bcd2-c76a34369463","triggerCount":0,"tags":[]}