workflows/Disparador Whatsapp - 1688.json
{"createdAt":"2025-05-06T15:51:06.205Z","updatedAt":"2025-06-23T16:24:07.440Z","id":"NIf1k99ym4I1eEnM","name":"Disparador Whatsapp - 1688","active":false,"isArchived":false,"nodes":[{"parameters":{"documentId":{"__rl":true,"value":"1QVA4cledr7zrrGVVf2X2mQsW_KZ9zKt-hsy58tJ45-U","mode":"list","cachedResultName":" Automação odonto ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QVA4cledr7zrrGVVf2X2mQsW_KZ9zKt-hsy58tJ45-U/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1804415901,"mode":"list","cachedResultName":"Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QVA4cledr7zrrGVVf2X2mQsW_KZ9zKt-hsy58tJ45-U/edit#gid=1804415901"},"options":{}},"id":"54080ed9-16ed-497f-83d6-5472763f91b9","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-740,-520],"executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"duX7Zo5QobkZJdKh","name":"Google Sheets allan"}}},{"parameters":{"operation":"delete","documentId":{"__rl":true,"value":"1QVA4cledr7zrrGVVf2X2mQsW_KZ9zKt-hsy58tJ45-U","mode":"list","cachedResultName":" Automação odonto ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QVA4cledr7zrrGVVf2X2mQsW_KZ9zKt-hsy58tJ45-U/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1804415901,"mode":"list","cachedResultName":"Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QVA4cledr7zrrGVVf2X2mQsW_KZ9zKt-hsy58tJ45-U/edit#gid=1804415901"}},"id":"d0ce729a-9edf-4e58-ab58-da7d6cc03a43","name":"Google Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1180,-560],"credentials":{"googleSheetsOAuth2Api":{"id":"duX7Zo5QobkZJdKh","name":"Google Sheets allan"}}},{"parameters":{"amount":1},"id":"a905e82c-e6e8-4706-9908-506c56325e10","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-560,-520],"webhookId":"78f1c2c3-6305-4095-9a10-04987b76a7b8"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionId }}","contextWindowLength":100},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[840,-240],"id":"538ded91-e144-4eb8-89cd-0ba21eca3f4f","name":"Postgres Chat Memory2","credentials":{"postgres":{"id":"7BihdPSijog1ko5Q","name":"Postgres Allan - SUPA"}}},{"parameters":{"content":"","height":820,"width":2303,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-940,-840],"typeVersion":1,"id":"7664473b-5f79-45ac-9630-1dac1fd8b49e","name":"Sticky Note11"},{"parameters":{"content":"# CAPTAÇÃO DE CLIENTES","height":80,"width":551.2183277924504,"color":5},"id":"6ad1ecd3-e5e3-4237-af6d-322154536091","name":"Sticky Note30","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-900,-800]},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"*/10 09-18 * * 1-5"}]}},"id":"b258ca5e-0e95-4c08-a02e-68bf2d185498","name":"Schedule Trigger2","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-920,-520]},{"parameters":{"resource":"messages-api","instanceName":"allan1688","remoteJid":"={{ $('Google Sheets').item.json.telefone }}\n","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1020,-560],"id":"d37baf09-1d46-44e1-aac8-6814d3bba036","name":"Evolution API3","alwaysOutputData":false,"credentials":{"evolutionApi":{"id":"AfcW5UBaTBawYJHp","name":"Evolution UNIVER"}},"onError":"continueRegularOutput"},{"parameters":{"promptType":"define","text":"=Mensagens a serem enviadas sem dicas de uso somente a mensagem que será enviada, escolha uma das 3: Olá {{ $('Mapear Lead1').item.json['Nome da empresa'] }} tudo bem?,Olá {{ $('Mapear Lead1').item.json['Nome da empresa'] }} como vai?, olá {{ $('Mapear Lead1').item.json['Nome da empresa'] }} está podendo falar?","options":{"systemMessage":"=Me da a resposta sem dicas de uso ou textos adicionais"}},"id":"33eee905-adf1-4f3d-b6d3-e1dd3aad1cd3","name":"Atendente","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[660,-560],"executeOnce":true},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[680,-280],"id":"7d016abf-c227-4164-b1c4-01f3e970001d","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"y6EOm7GTWxcYjDT6","name":"OpenAi Allan"}}},{"parameters":{"operation":"get","tableId":"dados_cliente","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $json['Phone Number \t\t\t'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-40,-520],"id":"80d8d48e-0669-4f18-a425-ab6c6be03e44","name":"Supabase","alwaysOutputData":true,"executeOnce":true,"credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4a6d9aac-8565-4c58-abe3-8741393a5535","leftValue":"={{ $json.telefone }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[180,-520],"id":"77cc6fdb-a2c6-41db-a651-19865e8dca29","name":"If"},{"parameters":{"action":"generate"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[320,-380],"id":"736462b4-406d-4281-80a2-1c3ce1d8f54f","name":"Gerar sessionID"},{"parameters":{"tableId":"dados_cliente","fieldsUi":{"fieldValues":[{"fieldId":"sessionid","fieldValue":"={{ $json.data }}"},{"fieldId":"telefone","fieldValue":"={{ $json['Phone Number \t\t\t'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[500,-380],"id":"2e3b7d47-9e45-4c59-85b0-cf3f7348aafb","name":"Supabase7","credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}}},{"parameters":{"jsCode":"// Obtém os valores dos nós anteriores\nconst sessionid1 = $input.item.json.data;  // Do nó \"Gerar sessionID\"\nconst sessionid2 = $input.item.json.sessionid;  // Do nó \"Supabase\"\n\n// Retorna apenas o que existir, chamando sempre de \"sessionId\"\nreturn [{ sessionId: sessionid1 || sessionid2 || null }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[500,-560],"id":"783c7bd1-6d12-42d6-9929-a56c04b4b738","name":"Code1"},{"parameters":{"operation":"get","tableId":"dados_cliente","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $json['Phone Number \t\t\t'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[340,-560],"id":"41b136ab-55cb-4b56-91ef-b000d29af7c9","name":"Get Dados","credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}}},{"parameters":{"fieldToSplitOut":"telefone","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-400,-520],"id":"faaec658-f331-432b-bee3-856dbd7d05ff","name":"Split Out1","executeOnce":true},{"parameters":{"assignments":{"assignments":[{"id":"b84ecc6e-fa9d-43cf-acc5-e09f916ce03a","name":"Phone Number","value":"={{ $json.telefone }}","type":"string"},{"id":"94a4147a-782e-4810-a3e5-8681bf74ea8b","name":"Nome da empresa","value":"={{ $json.nome }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-220,-520],"id":"a35bb26d-6ca9-4af4-b355-b495289e6632","name":"Mapear Lead1"}],"connections":{"Google Sheets":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Postgres Chat Memory2":{"ai_memory":[[{"node":"Atendente","type":"ai_memory","index":0}]]},"Schedule Trigger2":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Evolution API3":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Atendente":{"main":[[{"node":"Evolution API3","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Atendente","type":"ai_languageModel","index":0}]]},"Supabase":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Get Dados","type":"main","index":0}],[{"node":"Gerar sessionID","type":"main","index":0}]]},"Gerar sessionID":{"main":[[{"node":"Supabase7","type":"main","index":0}]]},"Supabase7":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Atendente","type":"main","index":0}]]},"Get Dados":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Mapear Lead1","type":"main","index":0}]]},"Mapear Lead1":{"main":[[{"node":"Supabase","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger3":{"recurrenceRules":[]},"node:Schedule Trigger2":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"251e7bb6-f22e-4c05-914b-2e760e9bfa41","triggerCount":1,"tags":[{"createdAt":"2025-05-06T15:51:27.747Z","updatedAt":"2025-05-06T15:51:27.747Z","id":"bdkiwzrYtNkpNJPd","name":"fluxo ativo"}]}