workflows/Disparador Whatsapp - Allan - Clinicas e Odonto.json
{"createdAt":"2025-05-14T21:01:45.474Z","updatedAt":"2025-06-03T17:26:01.937Z","id":"nWfu5KiK0A0Sr3ya","name":"Disparador Whatsapp - Allan - Clinicas e Odonto","active":false,"isArchived":true,"nodes":[{"parameters":{"promptType":"define","text":"={\n  \"prompt\": {\n    \"instrucoes\": {\n      \"regra\": \"Mensagens a serem enviadas sem dicas de uso, somente a mensagem que será enviada, escolha uma das 3\",\n      \"formatacao\": \"Manter formatação original do WhatsApp incluindo emojis e quebras de linha\"\n    },\n    \"mensagens\": [\n      {\n        \"opcao\": 1,\n        \"texto\": \"📲 Oi, tudo certo?\\nTenho visto muitos consultórios atolados no WhatsApp — recepção sobrecarregada, resposta atrasada e paciente indo embora sem atendimento 😬\\nHoje dá para automatizar esse processo com IA 🤖: ela responde sozinha, envia informações sobre serviços 🩺, horários e até faz pré-agendamentos, tudo no automático.\\nQuer que eu te mostre um exemplo rodando em uma clínica parecida com a sua? 👀\"\n      },\n      {\n        \"opcao\": 2,\n        \"texto\": \"👋 Oi, tudo certo?\\nVi que vocês atendem pelo WhatsApp e queria compartilhar uma ideia que tá ajudando outras clínicas a não perder mais pacientes por falta de resposta 🙅‍♀️\\nÉ uma automação com IA 🤖 que responde os pacientes 24h 🕐, tira-dúvidas, envia informações sobre os atendimentos e já encaminha para o agendamento automático 🗓️✅\\nPosso te mostrar como funciona rapidinho? ⚡\"\n      },\n      {\n        \"opcao\": 3,\n        \"texto\": \"👋 Oi, tudo bem?\\nUma dúvida rápida: nos horários mais cheios aí no consultório, já rolou de paciente desistir por demora no WhatsApp? 😓\\nIsso acontece bastante — mas dá para resolver fácil com uma automação 🤖 que responde sozinha, tira-dúvidas e já inicia o processo de agendamento, 24h por dia.\\nA recepção ganha tempo e você não perde mais paciente por causa de resposta lenta.\\nQuer ver funcionando? 🚀\"\n      }\n    ]\n  }\n}","options":{"systemMessage":"=Me da a resposta sem dicas de uso ou textos adicionais"}},"id":"8481ada0-eece-4279-ba24-45f521324a4f","name":"Atendente3","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[2100,580],"executeOnce":true},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2120,800],"id":"05276a26-a452-4c80-8757-e5cc321efea5","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"y6EOm7GTWxcYjDT6","name":"OpenAi Allan"}}},{"parameters":{"operation":"get","tableId":"dados_cliente","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $json['Phone Number \t\t\t'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1000,580],"id":"8e20d05c-7d55-454e-bae7-389213b5c16e","name":"Supabase5","alwaysOutputData":true,"executeOnce":true,"credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4a6d9aac-8565-4c58-abe3-8741393a5535","leftValue":"={{ $json['Phone Number \t\t\t'] }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1220,580],"id":"c5cd41ea-7315-4c6f-ad5c-2c2999c3bc96","name":"If9"},{"parameters":{"action":"generate"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[1440,680],"id":"706dd39b-b499-4299-ba9d-f14072f3c626","name":"Gerar sessionID1"},{"parameters":{"jsCode":"// Obtém os valores dos nós anteriores\nconst sessionid1 = $input.item.json.data;  // Do nó \"Gerar sessionID\"\nconst sessionid2 = $input.item.json.sessionid;  // Do nó \"Supabase\"\n\n// Retorna apenas o que existir, chamando sempre de \"sessionId\"\nreturn [{ sessionId: sessionid1 || sessionid2 || null }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1880,580],"id":"520056b3-f422-4018-b704-b31de83b750e","name":"Code"},{"parameters":{"operation":"get","tableId":"dados_cliente","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $('Mapear Lead').item.json['Phone Number \t\t\t'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1660,480],"id":"aeb0fd76-1a29-4a51-bdd7-76d7064692f1","name":"Get Dados1","credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}}},{"parameters":{"fieldToSplitOut":"telefone","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[560,580],"id":"d3663800-5b14-48d3-b1ba-de2b627caf57","name":"Split Out","executeOnce":true},{"parameters":{"assignments":{"assignments":[{"id":"6d2854de-1eab-46f1-945c-c872b4e212c5","name":"Phone Number \t\t\t","value":"={{ $('Google Sheets2').item.json.telefone }}","type":"string"},{"id":"94a4147a-782e-4810-a3e5-8681bf74ea8b","name":"Nome da empresa","value":"={{ $('Google Sheets2').item.json.nome }}","type":"string"},{"id":"036523bc-da74-40e5-9647-3d9e0a6faa63","name":"","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[780,580],"id":"e8669af0-4193-4f99-9f13-1632dc20e018","name":"Mapear Lead"},{"parameters":{"documentId":{"__rl":true,"value":"1QVA4cledr7zrrGVVf2X2mQsW_KZ9zKt-hsy58tJ45-U","mode":"list","cachedResultName":" Automação clinicas e odonto ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QVA4cledr7zrrGVVf2X2mQsW_KZ9zKt-hsy58tJ45-U/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1804415901,"mode":"list","cachedResultName":"Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QVA4cledr7zrrGVVf2X2mQsW_KZ9zKt-hsy58tJ45-U/edit#gid=1804415901"},"options":{}},"id":"82221c47-c954-4e72-b0bb-052ee8c8f700","name":"Google Sheets2","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[120,580],"executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"duX7Zo5QobkZJdKh","name":"Google Sheets allan"}}},{"parameters":{"operation":"delete","documentId":{"__rl":true,"value":"1QVA4cledr7zrrGVVf2X2mQsW_KZ9zKt-hsy58tJ45-U","mode":"list","cachedResultName":" Automação clinicas e odonto ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QVA4cledr7zrrGVVf2X2mQsW_KZ9zKt-hsy58tJ45-U/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1804415901,"mode":"list","cachedResultName":"Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1QVA4cledr7zrrGVVf2X2mQsW_KZ9zKt-hsy58tJ45-U/edit#gid=1804415901"}},"id":"38ba255e-df2d-4ff2-8861-f43c1e2f8819","name":"Google Sheets3","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2680,580],"credentials":{"googleSheetsOAuth2Api":{"id":"duX7Zo5QobkZJdKh","name":"Google Sheets allan"}}},{"parameters":{"amount":1},"id":"85872fef-ee88-4853-aba9-ed8d55cf6d32","name":"Wait4","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[340,580],"webhookId":"78f1c2c3-6305-4095-9a10-04987b76a7b8"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionId }}","contextWindowLength":100},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[2240,800],"id":"7a953127-7813-46a6-bf00-fae6d21d37cf","name":"Postgres Chat Memory3","credentials":{"postgres":{"id":"7BihdPSijog1ko5Q","name":"Postgres Allan - SUPA"}}},{"parameters":{"content":"","height":1040,"width":3063,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-180,80],"typeVersion":1,"id":"262a85d7-6624-4b46-92e4-d51bc2e8cb8c","name":"Sticky Note13"},{"parameters":{"content":"# CAPTAÇÃO DE CLIENTES","height":80,"width":451,"color":5},"id":"0913e582-883f-44ad-9b5e-f00d663b546f","name":"Sticky Note34","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-80,220]},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"*/10 9-18 * * 1-6"}]}},"id":"ec839981-706d-45e6-8e5f-4df8dca5604a","name":"Schedule Trigger3","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-100,580]},{"parameters":{"resource":"messages-api","instanceName":"=allan1688","remoteJid":"={{ $('Mapear Lead').item.json['Phone Number \t\t\t'] }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2480,580],"id":"7ef5d23e-de1e-4d9e-be77-606666331f82","name":"Evolution API","alwaysOutputData":false,"credentials":{"evolutionApi":{"id":"AfcW5UBaTBawYJHp","name":"Evolution UNIVER"}},"onError":"continueRegularOutput"},{"parameters":{"tableId":"dados_cliente","fieldsUi":{"fieldValues":[{"fieldId":"id","fieldValue":"={{ $json.data }}"},{"fieldId":"telefone","fieldValue":"={{ $('Mapear Lead').item.json['Phone Number \t\t\t'] }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1680,720],"id":"b744f548-96bf-4d15-9ac3-7c08c27a1e89","name":"Supabase6","credentials":{"supabaseApi":{"id":"KaCYtyFsV445mYmt","name":"Supabase Allan"}}}],"connections":{"Atendente3":{"main":[[{"node":"Evolution API","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Atendente3","type":"ai_languageModel","index":0}]]},"Supabase5":{"main":[[{"node":"If9","type":"main","index":0}]]},"If9":{"main":[[{"node":"Get Dados1","type":"main","index":0}],[{"node":"Gerar sessionID1","type":"main","index":0}]]},"Gerar sessionID1":{"main":[[{"node":"Supabase6","type":"main","index":0}]]},"Code":{"main":[[{"node":"Atendente3","type":"main","index":0}]]},"Get Dados1":{"main":[[{"node":"Code","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Mapear Lead","type":"main","index":0}]]},"Mapear Lead":{"main":[[{"node":"Supabase5","type":"main","index":0}]]},"Google Sheets2":{"main":[[{"node":"Wait4","type":"main","index":0}]]},"Wait4":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Postgres Chat Memory3":{"ai_memory":[[{"node":"Atendente3","type":"ai_memory","index":0}]]},"Schedule Trigger3":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]},"Evolution API":{"main":[[{"node":"Google Sheets3","type":"main","index":0}]]},"Supabase6":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger3":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"764496b0-3296-4650-bd84-2ea227cb7977","triggerCount":1,"tags":[]}