workflows/Envia cardapio.json
{"createdAt":"2025-05-14T17:06:28.533Z","updatedAt":"2025-06-20T00:08:53.782Z","id":"b76vGaxJEGcQsCek","name":"Envia cardapio","active":false,"isArchived":false,"nodes":[{"parameters":{"resource":"messages-api","operation":"send-document","instanceName":"allan1688","remoteJid":"={{ $('Formalizar').item.json.telefoneCliente }}","media":"={{ $json.cardapio }}","caption":"Aqui est치 nosso card치pio","fileName":"CardapioBucaneiro.pdf","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[580,0],"id":"ffdec4b3-6c96-4a0a-8125-18b924ea68ca","name":"Evolution API","credentials":{"evolutionApi":{"id":"AfcW5UBaTBawYJHp","name":"Evolution UNIVER"}}},{"parameters":{},"id":"6f46dcce-de4c-439c-85d8-2ea4005e8fca","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[40,0]},{"parameters":{"assignments":{"assignments":[{"id":"2b028bb9-de07-4197-98bc-d69adc91f065","name":"telefoneCliente","value":"={{ $json.telefoneCliente }}","type":"string"},{"id":"83a8097c-75fc-49c1-b277-c87b0825a785","name":"nomeCliente","value":"={{ $json.nomeCliente }}","type":"string"}]},"options":{}},"id":"33e6a332-d140-4d27-9aca-d5b94f534319","name":"Formalizar","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,0]},{"parameters":{"assignments":{"assignments":[{"id":"817f12c4-7d2a-45bd-8c12-74ab0c196308","name":"response","value":"=O card치pio j치 foi enviado! Pergunte agora, somente o pedido que o cliente deseja fazer.\n","type":"string"}]},"options":{}},"id":"fc2fba65-226a-4ee4-a632-f70a980050df","name":"Resposta para o Agente","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[760,0]},{"parameters":{"operation":"getAll","tableId":"cardapio","filterType":"none"},"id":"a0f584fa-7340-4a8d-8f0f-97385062399c","name":"GetCardapio","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[400,0],"credentials":{"supabaseApi":{"id":"0wrl5jxAgF6j2CC4","name":"Supabase jessica"}}}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Formalizar","type":"main","index":0}]]},"Formalizar":{"main":[[{"node":"GetCardapio","type":"main","index":0}]]},"Evolution API":{"main":[[{"node":"Resposta para o Agente","type":"main","index":0}]]},"GetCardapio":{"main":[[{"node":"Evolution API","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"15d3492a-5c4d-4d20-b320-c572fcaa602a","triggerCount":0,"tags":[]}