workflows/gerador de QRCODE.json
{"createdAt":"2025-06-20T03:14:36.822Z","updatedAt":"2025-06-22T01:46:00.610Z","id":"DfnF3AQz7dbkvtjX","name":"gerador de QRCODE","active":false,"isArchived":false,"nodes":[{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Gerador de QR Code</title>\n    <!-- Import Google Fonts -->\n    <link href=\"https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap\" rel=\"stylesheet\">\n    <!-- Import Bootstrap CSS -->\n    <link href=\"https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css\" rel=\"stylesheet\">\n    <style>\n        body {\n            font-family: 'Poppins', sans-serif; /* Fonte elegante */\n            display: flex;\n            justify-content: center;\n            align-items: center;\n            height: 100vh;\n            margin: 0;\n            background: #000000; /* Fundo preto */\n            color: #E0E0E0; /* Texto branco suave */\n        }\n        .container {\n            background: #000000; /* Fundo preto no container */\n            padding: 2.5rem; /* Aumentado em 15% */\n            border-radius: 16px; /* Bordas suavizadas */\n            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6), 0px 0px 10px rgba(255, 223, 0, 0.3); /* Sombra sutil */\n            text-align: center;\n            width: 35%; /* Aumentado */\n            max-width: 500px;\n        }\n        h1 {\n            font-weight: 600; /* Peso mais forte para destaque */\n            color: #FFD700; /* Cor dourada */\n        }\n        input {\n            border: none;\n            border-radius: 8px; /* Bordas suaves */\n            background: #1E1E1E; /* Fundo escuro */\n            color: #FFFFFF; /* Texto branco */\n            box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.5), inset -1px -1px 3px rgba(255, 255, 255, 0.1); /* Botão pressionado */\n        }\n        input::placeholder {\n            color: #AAAAAA; /* Placeholder em cinza claro */\n        }\n        button {\n            margin-top: 1rem;\n            background: linear-gradient(145deg, #FFD700, #FFC300); /* Fundo dourado */\n            color: #000000; /* Texto preto */\n            border: none;\n            padding: 0.8rem 1.5rem;\n            border-radius: 8px; /* Bordas suaves */\n            cursor: pointer;\n            font-weight: bold;\n            text-transform: uppercase;\n            box-shadow: 0px 5px 10px rgba(255, 223, 0, 0.3), inset 0px 2px 3px rgba(0, 0, 0, 0.5); /* Efeito gloss */\n        }\n        button:hover {\n            background: linear-gradient(145deg, #FFC300, #FFD700); /* Inverte gradiente */\n            box-shadow: 0px 8px 15px rgba(255, 223, 0, 0.5); /* Destaque no hover */\n        }\n        button:disabled {\n            background: #444444; /* Cinza para botão desativado */\n            color: #AAAAAA; /* Texto cinza claro */\n            cursor: not-allowed;\n            box-shadow: none;\n        }\n        #qrcode img {\n            border-radius: 8px; /* Bordas suavizadas */\n            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(255, 255, 255, 0.2); /* Efeito de profundidade */\n        }\n        #timer {\n            margin-top: 1rem;\n            font-weight: bold;\n            color: #FFD700; /* Texto dourado */\n        }\n        .loader {\n            border: 5px solid rgba(255, 255, 255, 0.2); /* Fundo do loader translúcido */\n            border-top: 5px solid #FFD700; /* Dourado no loader */\n            border-radius: 50%;\n            width: 50px;\n            height: 50px;\n            animation: spin 1s linear infinite;\n            margin: 20px auto;\n            display: none;\n        }\n        @keyframes spin {\n            0% { transform: rotate(0deg); }\n            100% { transform: rotate(360deg); }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <h1 class=\"mb-4\">Gerador de QR Code</h1>\n        <input class=\"form-control mb-3\" type=\"text\" id=\"instanceName\" placeholder=\"Nome da instância\">\n        <button id=\"generateButton\" class=\"btn btn-lg\" onclick=\"generateQRCode()\">Gerar</button>\n        <div id=\"loader\" class=\"loader\"></div>\n        <div id=\"qrcode\" class=\"mt-3\"></div>\n        <div id=\"timer\" class=\"mt-3\"></div>\n    </div>\n\n    <!-- Import Bootstrap JS -->\n    <script src=\"https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js\"></script>\n    <script>\n        let timerInterval;\n        let timeLeft = 30;\n        let currentInstanceName = '';\n\n        async function generateQRCode() {\n            const instanceName = document.getElementById('instanceName').value;\n            if (!instanceName) {\n                alert('Por favor, insira o nome da instância.');\n                return;\n            }\n\n            currentInstanceName = instanceName;\n            await fetchAndDisplayQRCode(instanceName, true);\n\n            clearInterval(timerInterval);\n            timeLeft = 30;\n            updateTimer();\n            timerInterval = setInterval(updateTimer, 1000);\n        }\n\n        async function fetchAndDisplayQRCode(instanceName, isInitial = false) {\n            const loader = document.getElementById('loader');\n            const generateButton = document.getElementById('generateButton');\n            const qrcodeElement = document.getElementById('qrcode');\n\n            loader.style.display = 'block';\n            generateButton.disabled = true;\n            qrcodeElement.innerHTML = '';\n\n            try {\n                const endpoint = isInitial \n                    ? 'https://[sub-dominio].[dominio]/webhook/criar-instancia-evolution'\n                    : 'https://[sub-dominio].[dominio]/webhook/atualizar-qr-code';\n\n                const response = await fetch(endpoint, {\n                    method: 'POST',\n                    headers: {\n                        'Content-Type': 'application/json',\n                    },\n                    body: JSON.stringify({ instanceName: instanceName }),\n                });\n\n                if (!response.ok) {\n                    throw new Error('Erro na resposta do servidor');\n                }\n\n                const contentType = response.headers.get('content-type');\n\n                let imgSrc;\n                if (contentType && contentType.includes('application/json')) {\n                    const data = await response.json();\n                    imgSrc = `data:image/png;base64,${data.qrCodeBase64}`;\n                } else {\n                    const blob = await response.blob();\n                    imgSrc = URL.createObjectURL(blob);\n                }\n\n                qrcodeElement.innerHTML = `<img src=\"${imgSrc}\" alt=\"QR Code\">`;\n            } catch (error) {\n                console.error('Erro ao gerar QR code:', error);\n                alert('Erro ao gerar QR code. Por favor, tente novamente.');\n            } finally {\n                loader.style.display = 'none';\n                generateButton.disabled = false;\n            }\n        }\n\n        async function updateQRCode() {\n            if (currentInstanceName) {\n                await fetchAndDisplayQRCode(currentInstanceName);\n            }\n        }\n\n        function updateTimer() {\n            const timerElement = document.getElementById('timer');\n            timerElement.textContent = `Novo QR Code em: ${timeLeft}s`;\n\n            if (timeLeft === 0) {\n                clearInterval(timerInterval);\n                updateQRCode();\n                timeLeft = 30;\n                timerInterval = setInterval(updateTimer, 1000);\n            } else {\n                timeLeft--;\n            }\n        }\n    </script>\n</body>\n</html>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[220,0],"id":"2e6741dd-de7c-4e25-88c2-6e646384a656","name":"HTML"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[440,0],"id":"583e50e8-ee06-47af-a1ed-d5552490d1a5","name":"Respond to Webhook"},{"parameters":{"path":"54e3a6d6-d0f7-49d1-8650-64d60e4703bd","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"dcefbdee-a693-48ea-bc60-c485b6fd9cad","name":"Pagina do QR code","webhookId":"54e3a6d6-d0f7-49d1-8650-64d60e4703bd"},{"parameters":{"httpMethod":"POST","path":"138656e8-6ea6-4013-941c-8809e9d73de1","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,200],"id":"b8cef29c-9668-42ca-b82f-ca5af8b95603","name":"criar-instancia-evolution","webhookId":"138656e8-6ea6-4013-941c-8809e9d73de1"},{"parameters":{"method":"POST","url":"https://evo.techpulseai.com.br/instance/create","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"19d3084642e8702701561bdb1463dca5"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"instanceName","value":"={{ $json.body.instanceName }}"},{"name":"qrcode","value":true},{"name":"integration","value":"WHATSAPP-BAILEYS"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[220,200],"id":"5d8eb568-1297-4b13-b5b7-5e91a2a4c5d4","name":"Criar instancia evolution"},{"parameters":{"respondWith":"binary","responseDataSource":"set","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[800,200],"id":"3722039f-8d34-429c-9fa7-c89d28b0e73d","name":"Respond to Webhook1"},{"parameters":{"respondWith":"binary","responseDataSource":"set","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[800,400],"id":"d4720037-aea8-425d-9cba-d4b0cf03cb56","name":"Respond to Webhook2"},{"parameters":{"url":"=https://evo.techpulseai.com.br/instance/connect/{{ $json.body.instanceName }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"19d3084642e8702701561bdb1463dca5"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[220,400],"id":"3c8cffa6-90a9-4038-a45d-9684e33326c6","name":"Criar instancia evolution1"},{"parameters":{"httpMethod":"POST","path":"2ef7ed70-f767-4571-b1d0-435a7bb6ee46","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,400],"id":"afff41bd-e312-4d63-8dbc-f4684507703d","name":"Atualiza qr code","webhookId":"2ef7ed70-f767-4571-b1d0-435a7bb6ee46"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[580,200],"id":"517ab7cd-ea4a-4a74-848c-61cfeaa77d6c","name":"Convert to File"},{"parameters":{"assignments":{"assignments":[{"id":"7997d699-2380-48aa-8dc3-b1eac974e16e","name":"base64","value":"={{ $json.qrcode.base64.split(',').last() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[400,200],"id":"55364014-ba56-4151-8e7e-8ac5b2e116f3","name":"Edit Fields"},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[580,400],"id":"f6830b0b-e2e4-4782-8956-491caa67fb8f","name":"Convert to File1"},{"parameters":{"assignments":{"assignments":[{"id":"7997d699-2380-48aa-8dc3-b1eac974e16e","name":"base64","value":"={{ $json.base64.split(',').last() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[400,400],"id":"4919dc99-60d5-4037-a6d4-ef2af2263b42","name":"Edit Fields1"}],"connections":{"HTML":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Pagina do QR code":{"main":[[{"node":"HTML","type":"main","index":0}]]},"criar-instancia-evolution":{"main":[[{"node":"Criar instancia evolution","type":"main","index":0}]]},"Criar instancia evolution":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Criar instancia evolution1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Atualiza qr code":{"main":[[{"node":"Criar instancia evolution1","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Respond to Webhook2","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"8e1ac786-2d3a-46cc-8d6c-d00681d8b03e","triggerCount":3,"tags":[]}