workflows/Google maps - Emails.json
{"createdAt":"2025-06-21T07:19:04.500Z","updatedAt":"2025-06-21T07:23:00.182Z","id":"VOiawjMWmxoySO1a","name":"Google maps - Emails","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1400,100],"id":"b510f0ee-bdbe-4415-a335-0508dc11eba5","name":"When clicking ‘Execute workflow’"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a0c892e7-3f34-428c-afee-60df996b500c","leftValue":"={{ $json.website }}","rightValue":"schema","operator":{"type":"string","operation":"notContains"}},{"id":"ee97ab7a-9921-4c3b-95dd-2ede83a31a25","leftValue":"={{ $json.website }}","rightValue":"google","operator":{"type":"string","operation":"notContains"}},{"id":"6326ca6f-8dc1-4ef4-8325-31100e23f0db","leftValue":"={{ $json.website }}","rightValue":"gg","operator":{"type":"string","operation":"notContains"}},{"id":"2b01c0dd-ec51-43b9-84f8-fd080a446e24","leftValue":"={{ $json.website }}","rightValue":"gstatic","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-820,100],"id":"617c2e12-31b6-4603-85fb-1c021a6c76bc","name":"Filter"},{"parameters":{"options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[-640,100],"id":"1f5b94cc-96dc-4d5a-94f3-c5273350ae73","name":"Remove Duplicates"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-220,100],"id":"b69b4cc4-d418-4e93-9f5d-12782c86678e","name":"Loop Over Items"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[180,220],"id":"b2038122-a7a9-4e13-afe6-a1897e601600","name":"Wait","webhookId":"53742f3b-6ebe-40c9-8c8f-ad44dad6ff43"},{"parameters":{"maxItems":10},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-440,100],"id":"030b582b-6a5c-4660-975e-94322f3ffac0","name":"Limit"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[0,0],"id":"a9b7169c-5f98-419a-937a-543eda93974a","name":"Wait1","webhookId":"9e8eb45f-07db-494e-8efd-7b4408cf28a8"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a1932714-ba6f-4ec8-94ba-a8a854bc3c58","leftValue":"={{ $json.email }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[220,0],"id":"9c01ffed-835f-4429-a531-852980fcaad2","name":"Filter1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[460,0],"id":"2fe8223f-e1a9-40b8-a56e-c8d004bc531f","name":"Remove Duplicates1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1zB9I-x1NYFfK8uoEJ876p7Fw0KPuZjqcD48Bd2VvQh4","mode":"list","cachedResultName":"raspador de e-mail ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zB9I-x1NYFfK8uoEJ876p7Fw0KPuZjqcD48Bd2VvQh4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zB9I-x1NYFfK8uoEJ876p7Fw0KPuZjqcD48Bd2VvQh4/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Emails":"={{ $json.email }}"},"matchingColumns":["Emails"],"schema":[{"id":"Emails","displayName":"Emails","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"useAppend":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[680,0],"id":"9e854b1a-701e-4a0e-a5a1-00ac51e5f2fb","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"duX7Zo5QobkZJdKh","name":"Google Sheets allan"}}},{"parameters":{"url":"https://www.google.com/maps/search/Agencia+de+marketing?br=pt&gl=br&region=br","options":{"allowUnauthorizedCerts":true,"redirect":{"redirect":{"maxRedirects":2}},"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1180,100],"id":"139251f2-15a8-4f64-90c9-a837b6b1308f","name":"Scrape Google Maps"},{"parameters":{"jsCode":"const input = $input.first().json.data\nconst regex = /https?:\\/\\/[^\\/\\s\"'>]+/g;\nconst websites = input.match(regex);\n\nreturn websites.map(website => ({ json: { website }}))\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1000,100],"id":"a2075b36-07a1-4dbe-9b2a-2467f0db7259","name":"Extract URLs"},{"parameters":{"url":"={{ $json.website }}","options":{"redirect":{"redirect":{"followRedirects":false}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-20,220],"id":"e97c43b6-238f-4d8a-ac00-8314142cfc0e","name":"Scrape Company URLs","onError":"continueRegularOutput"},{"parameters":{"jsCode":"const input = ($input.first().json.data || '').toString();\nconst regex = /\\b[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,}\\b/gi;\nconst emails = input.match(regex) ?? [''];\n\nreturn emails.map(email => ({ json: { email }})) \n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[380,220],"id":"32f0ff3c-167e-4bd9-906c-c37229cb0f1c","name":"Extract Emails"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Scrape Google Maps","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Wait1","type":"main","index":0}],[{"node":"Scrape Company URLs","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Extract Emails","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"Remove Duplicates1","type":"main","index":0}]]},"Remove Duplicates1":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Scrape Google Maps":{"main":[[{"node":"Extract URLs","type":"main","index":0}]]},"Extract URLs":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Scrape Company URLs":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Extract Emails":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0c118709-73c8-4389-aeee-ce28c0f69eae","triggerCount":0,"tags":[]}