workflows/Pip Boy.json
{"createdAt":"2025-05-20T23:06:12.382Z","updatedAt":"2025-06-20T00:20:03.511Z","id":"8fzCD7zWYJivJFQR","name":"Pip Boy","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"7036e0b8-a3b8-4182-ad23-a36424863174","name":"Cron Trigger","type":"n8n-nodes-base.cron","typeVersion":1,"position":[240,-120]},{"parameters":{"values":{"string":[{"name":"contacts","value":"[\"+5511999991111\", \"+5511999992222\", \"+5511999993333\"]"}]},"options":{}},"id":"170f3088-e324-4232-bf2e-0a811fb9f97b","name":"Set Contacts","type":"n8n-nodes-base.set","typeVersion":2,"position":[460,-120]},{"parameters":{"functionCode":"// Escolhe um contato aleatório\nconst contacts = JSON.parse($json[\"contacts\"]);\nconst randomIndex = Math.floor(Math.random() * contacts.length);\nreturn [{ json: { phone: contacts[randomIndex] } }];"},"id":"027eeaa6-0c73-40c5-a73a-d23ddcb6c66d","name":"Pick Random Contact","type":"n8n-nodes-base.function","typeVersion":1,"position":[680,-120]},{"parameters":{"functionCode":"// Gera variações automáticas de mensagem\nconst messages = [\n  \"Olá! Tudo certo por aí? 😄\",\n  \"Bom dia! Passando só pra dar um oi! ☀️\",\n  \"Oi, tudo bem? Espero que seu dia esteja ótimo!\",\n  \"E aí! Como estão as coisas?\",\n  \"Passando aqui pra te desejar uma boa semana! 💬\"\n];\nconst randomIndex = Math.floor(Math.random() * messages.length);\nconst message = messages[randomIndex];\nreturn [{ json: { ...$json, message } }];"},"id":"dafca0ad-dca1-400f-b433-d76d0d6e57dc","name":"Generate Message","type":"n8n-nodes-base.function","typeVersion":1,"position":[900,-120]},{"parameters":{"authentication":"predefinedCredentialType","requestMethod":"POST","url":"https://api.evolution.com/sendMessage","jsonParameters":true,"options":{},"bodyParametersJson":"{\n  \"phone\": \"={{$json.phone}}\",\n  \"message\": \"={{$json.message}}\"\n}","headerParametersJson":"{\n  \"Content-Type\": \"application/json\"\n}"},"id":"4682172e-5d3a-4b69-98d4-d83a4261fe37","name":"Send Message","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[1140,-120]}],"connections":{"Cron Trigger":{"main":[[{"node":"Set Contacts","type":"main","index":0}]]},"Set Contacts":{"main":[[{"node":"Pick Random Contact","type":"main","index":0}]]},"Pick Random Contact":{"main":[[{"node":"Generate Message","type":"main","index":0}]]},"Generate Message":{"main":[[{"node":"Send Message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"68aa555e-dd98-4902-be13-de8b576133e1","triggerCount":0,"tags":[{"createdAt":"2025-05-06T15:51:54.735Z","updatedAt":"2025-05-06T15:51:54.735Z","id":"1Ypdn8W6UaxhAlu0","name":"fase de teste"}]}