workflows/Raspador Google Maps contatos.json
{"createdAt":"2025-06-21T04:31:31.568Z","updatedAt":"2025-06-21T07:02:34.602Z","id":"cAe0VrJdxTYvR38l","name":"Raspador Google Maps contatos","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"id":"f19121a4-6a23-4d61-9bfe-83a454a5b05d","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-2020,240],"typeVersion":1.1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"de704919-205a-470f-a417-b297fbbdbaf8","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.data.status }}","rightValue":"SUCCEEDED"}]},"looseTypeValidation":true,"options":{}},"id":"0701938a-e5f5-4317-a4a0-88c775dbf566","name":"Loop Until Complete","type":"n8n-nodes-base.if","position":[-920,240],"typeVersion":2.2},{"parameters":{"documentId":{"__rl":true,"mode":"list","value":"1DHezdcetT0c3Ie1xB3z3jDc5WElsLN87K4J9EQDef9g","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1DHezdcetT0c3Ie1xB3z3jDc5WElsLN87K4J9EQDef9g/edit?usp=drivesdk","cachedResultName":"Google Maps Scraper"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1DHezdcetT0c3Ie1xB3z3jDc5WElsLN87K4J9EQDef9g/edit#gid=0","cachedResultName":"Query"},"filtersUI":{"values":[{"lookupColumn":"Status","lookupValue":"false"}]},"options":{}},"id":"d6836e49-7567-470d-a7ad-11257d7fd383","name":"Read Pending Queries","type":"n8n-nodes-base.googleSheets","position":[-1800,240],"typeVersion":4.2,"alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"duX7Zo5QobkZJdKh","name":"Google Sheets allan"}}},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/compass~crawler-google-places/runs","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"searchStringsArray\": [\n    \"restaurant\"\n  ],\n  \"locationQuery\": \"New York, USA\",\n  \"maxCrawledPlacesPerSearch\": 15,\n  \"language\": \"en\",\n  \"maximumLeadsEnrichmentRecords\": 0,\n  \"maxImages\": 0\n}","options":{}},"id":"50c16b53-1ccb-4f2a-b0eb-e7cc99bc45c2","name":"Start Apify Scraping Job","type":"n8n-nodes-base.httpRequest","position":[-1580,240],"typeVersion":4.2,"credentials":{"httpQueryAuth":{"id":"zgcY26fuP9ILRjPj","name":"Query apify account"}}},{"parameters":{},"id":"4780c104-39aa-48fa-89fd-062409b8e6a3","name":"Wait for Job Succeed","type":"n8n-nodes-base.wait","position":[-1360,240],"webhookId":"97a65079-8ee5-45a2-9de0-afd263bbbe34","typeVersion":1.1},{"parameters":{"url":"=https://api.apify.com/v2/actor-runs/{{ $json.data.id }}","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Accept","value":"application/json"}]},"options":{"timeout":10000}},"id":"18113f30-168f-42a2-b66d-04453aca0b04","name":"Check Scraping Status","type":"n8n-nodes-base.httpRequest","position":[-1140,160],"typeVersion":4.2,"credentials":{"httpQueryAuth":{"id":"zgcY26fuP9ILRjPj","name":"Query apify account"}}},{"parameters":{"url":"=https://api.apify.com/v2/datasets/{{ $json.data.defaultDatasetId }}/items","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Accept","value":"application/json"}]},"options":{"timeout":10000}},"id":"d2580160-1fe9-419f-94b0-54c512141d84","name":"Fetch Scraped Results","type":"n8n-nodes-base.httpRequest","position":[-680,240],"typeVersion":4.2,"credentials":{"httpQueryAuth":{"id":"zgcY26fuP9ILRjPj","name":"Query apify account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":"1DHezdcetT0c3Ie1xB3z3jDc5WElsLN87K4J9EQDef9g","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1DHezdcetT0c3Ie1xB3z3jDc5WElsLN87K4J9EQDef9g/edit?usp=drivesdk","cachedResultName":"Google Maps Scraper"},"sheetName":{"__rl":true,"mode":"list","value":1948906848,"cachedResultUrl":"https://docs.google.com/spreadsheets/d/1DHezdcetT0c3Ie1xB3z3jDc5WElsLN87K4J9EQDef9g/edit#gid=1948906848","cachedResultName":"Data"},"columns":{"value":{"phone":"={{ $json.phone }}","title":"={{ $json.title }}","status":"false","address":"={{ $json.address }}","website":"={{ $json.website }}","categoryName":"={{ $json.categoryName }}","searchString":"={{ $json.searchString }}"},"schema":[{"id":"searchString","type":"string","display":true,"removed":false,"required":false,"displayName":"searchString","defaultMatch":false,"canBeUsedToMatch":true},{"id":"title","type":"string","display":true,"required":false,"displayName":"title","defaultMatch":false,"canBeUsedToMatch":true},{"id":"categoryName","type":"string","display":true,"required":false,"displayName":"categoryName","defaultMatch":false,"canBeUsedToMatch":true},{"id":"address","type":"string","display":true,"required":false,"displayName":"address","defaultMatch":false,"canBeUsedToMatch":true},{"id":"phone","type":"string","display":true,"required":false,"displayName":"phone","defaultMatch":false,"canBeUsedToMatch":true},{"id":"website","type":"string","display":true,"required":false,"displayName":"website","defaultMatch":false,"canBeUsedToMatch":true},{"id":"status","type":"string","display":true,"removed":false,"required":false,"displayName":"status","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["searchString"],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"22654ce1-3484-4d9d-bf8b-23089decf816","name":"Save Business Data","type":"n8n-nodes-base.googleSheets","position":[-480,240],"typeVersion":4.6,"credentials":{"googleSheetsOAuth2Api":{"id":"rBoCAQOUyzCpHL89","name":"Google Sheets icaro"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"2218f0be-2c48-4a1a-bd21-8bdb67c495a1","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.website }}","rightValue":""},{"id":"d0ef3194-ee94-45c5-b9c3-5db32f08d1b5","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.status }}","rightValue":"false"}]},"options":{}},"id":"32461469-b4fb-4862-a3d4-815719ab1b6d","name":"Filter Businesses with Websites","type":"n8n-nodes-base.filter","position":[-260,240],"typeVersion":2.2},{"parameters":{"options":{}},"id":"4591d25a-2623-40b5-aec9-83b0600bd3fa","name":"Batch Processing Logic","type":"n8n-nodes-base.splitInBatches","position":[-40,240],"typeVersion":3},{"parameters":{"method":"POST","url":"https://api.firecrawl.dev/v1/scrape","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"url\": \"{{ $json.website }}\",\n  \"formats\": [\n    \"html\"\n  ]\n}","options":{}},"id":"f1e6c07c-d159-4f90-a79c-24eed5f1c1de","name":"Scrape Website Content","type":"n8n-nodes-base.httpRequest","position":[240,140],"typeVersion":4.2,"credentials":{"httpBearerAuth":{"id":"W7NEYngoy7nbhrdw","name":"Bearer firecrawl account"}}},{"parameters":{"jsCode":"// N8N Code Node - Extract emails, LinkedIn, Facebook, Instagram for single item\nconst item = $input.first();\n\n// Get the text content to search (adjust field names as needed)\nconst textContent = item.json.data.html;\n\n// Initialize result object\nconst result = {\n  website: $('Batch Processing Logic').first().json.website,\n  emails: \"None\",\n  linkedin: \"None\", \n  facebook: \"None\",\n  instagram: \"None\",\n  twitter: \"None\"\n};\n\n// Email extraction regex - matches common email patterns\nconst emailRegex = /\\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Z|a-z]{2,}\\b/gi;\nconst emails = textContent.match(emailRegex);\n\nif (emails && emails.length > 0) {\n  // Remove duplicates and filter out common non-email matches\n  const uniqueEmails = [...new Set(emails)].filter(email => {\n    const lowerEmail = email.toLowerCase();\n    return !lowerEmail.includes('example.com') && \n           !lowerEmail.includes('test@') &&\n           !lowerEmail.includes('noreply@') &&\n           !lowerEmail.includes('no-reply@') &&\n           lowerEmail.length > 5;\n  });\n  \n  if (uniqueEmails.length > 0) {\n    result.emails = uniqueEmails.length === 1 ? uniqueEmails[0] : uniqueEmails.join(', ');\n  }\n}\n\n// LinkedIn extraction - improved pattern\nconst linkedinRegex = /(?:https?:\\/\\/)?(?:www\\.)?linkedin\\.com\\/(?:in\\/|company\\/|pub\\/)[a-zA-Z0-9\\-._]+\\/?/gi;\nconst linkedinMatches = textContent.match(linkedinRegex);\nif (linkedinMatches && linkedinMatches.length > 0) {\n  const cleanLinkedin = linkedinMatches[0].replace(/^(?:https?:\\/\\/)?(?:www\\.)?/i, 'https://www.');\n  result.linkedin = cleanLinkedin;\n}\n\n// Facebook extraction - improved to match numeric IDs and usernames\nconst facebookRegex = /(?:https?:\\/\\/)?(?:www\\.|m\\.|mobile\\.)?facebook\\.com\\/(?:[^\\/\\s]+\\/)*[^\\/\\s?#]+/gi;\nconst facebookMatches = textContent.match(facebookRegex);\nif (facebookMatches && facebookMatches.length > 0) {\n  const cleanFacebook = facebookMatches[0].replace(/^(?:https?:\\/\\/)?(?:www\\.)?/i, 'https://www.');\n  result.facebook = cleanFacebook;\n}\n\n// Instagram extraction - improved to match various URL formats\nconst instagramRegex = /(?:https?:\\/\\/)?(?:www\\.)?instagram\\.com\\/[a-zA-Z0-9\\-._]+\\/?/gi;\nconst instagramMatches = textContent.match(instagramRegex);\nif (instagramMatches && instagramMatches.length > 0) {\n  const cleanInstagram = instagramMatches[0].replace(/^(?:https?:\\/\\/)?(?:www\\.)?/i, 'https://www.');\n  result.instagram = cleanInstagram;\n}\n\n// Twitter/X extraction - improved to match usernames properly\nconst twitterRegex = /(?:https?:\\/\\/)?(?:www\\.)?(?:twitter\\.com|x\\.com)\\/[a-zA-Z0-9_]+\\/?/gi;\nconst twitterMatches = textContent.match(twitterRegex);\nif (twitterMatches && twitterMatches.length > 0) {\n  const cleanTwitter = twitterMatches[0].replace(/^(?:https?:\\/\\/)?(?:www\\.)?/i, 'https://www.');\n  result.twitter = cleanTwitter;\n}\n\n// Alternative extraction for social handles without full URLs\n// Look for @username patterns for Instagram and Twitter\nif (result.instagram === \"None\") {\n  const igHandleRegex = /@([a-zA-Z0-9._]{1,30})/gi;\n  const igHandles = textContent.match(igHandleRegex);\n  if (igHandles && igHandles.length > 0) {\n    const username = igHandles[0].replace('@', '');\n    if (username.length > 0 && !username.includes(' ')) {\n      result.instagram = `https://www.instagram.com/${username}`;\n    }\n  }\n}\n\n// Look for Twitter handles without full URLs\nif (result.twitter === \"None\") {\n  const twitterHandleRegex = /@([a-zA-Z0-9_]{1,15})/gi;\n  const twitterHandles = textContent.match(twitterHandleRegex);\n  if (twitterHandles && twitterHandles.length > 0) {\n    const username = twitterHandles[0].replace('@', '');\n    if (username.length > 0 && !username.includes(' ')) {\n      result.twitter = `https://www.x.com/${username}`;\n    }\n  }\n}\n\n// Clean up URLs - remove trailing slashes and parameters\n['linkedin', 'facebook', 'instagram', 'twitter'].forEach(platform => {\n  if (result[platform] !== \"None\") {\n    result[platform] = result[platform].split('?')[0].split('#')[0].replace(/\\/$/, '');\n  }\n});\n\nreturn result;"},"id":"07af6607-ec62-4614-b79a-36c86d3071ad","name":"Extract Contact Information","type":"n8n-nodes-base.code","position":[460,140],"typeVersion":2},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":"1DHezdcetT0c3Ie1xB3z3jDc5WElsLN87K4J9EQDef9g","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1DHezdcetT0c3Ie1xB3z3jDc5WElsLN87K4J9EQDef9g/edit?usp=drivesdk","cachedResultName":"Google Maps Scraper"},"sheetName":{"__rl":true,"mode":"list","value":2056137853,"cachedResultUrl":"https://docs.google.com/spreadsheets/d/1DHezdcetT0c3Ie1xB3z3jDc5WElsLN87K4J9EQDef9g/edit#gid=2056137853","cachedResultName":"Details"},"columns":{"value":{"emails":"={{ $json.emails }}","twitter":"={{ $json.twitter }}","website":"={{ $json.website }}","facebook":"={{ $json.facebook }}","linkedin":"={{ $json.linkedin }}","instagram":"={{ $json.instagram }}"},"schema":[{"id":"website","type":"string","display":true,"required":false,"displayName":"website","defaultMatch":false,"canBeUsedToMatch":true},{"id":"emails","type":"string","display":true,"required":false,"displayName":"emails","defaultMatch":false,"canBeUsedToMatch":true},{"id":"linkedin","type":"string","display":true,"required":false,"displayName":"linkedin","defaultMatch":false,"canBeUsedToMatch":true},{"id":"facebook","type":"string","display":true,"required":false,"displayName":"facebook","defaultMatch":false,"canBeUsedToMatch":true},{"id":"instagram","type":"string","display":true,"required":false,"displayName":"instagram","defaultMatch":false,"canBeUsedToMatch":true},{"id":"twitter","type":"string","display":true,"required":false,"displayName":"twitter","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"baea18e9-8f25-43b8-a472-e0889c460a65","name":"Save Contact Details","type":"n8n-nodes-base.googleSheets","position":[680,140],"typeVersion":4.6,"credentials":{"googleSheetsOAuth2Api":{"id":"rBoCAQOUyzCpHL89","name":"Google Sheets icaro"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"mode":"list","value":"1DHezdcetT0c3Ie1xB3z3jDc5WElsLN87K4J9EQDef9g","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1DHezdcetT0c3Ie1xB3z3jDc5WElsLN87K4J9EQDef9g/edit?usp=drivesdk","cachedResultName":"Google Maps Scraper"},"sheetName":{"__rl":true,"mode":"list","value":1948906848,"cachedResultUrl":"https://docs.google.com/spreadsheets/d/1DHezdcetT0c3Ie1xB3z3jDc5WElsLN87K4J9EQDef9g/edit#gid=1948906848","cachedResultName":"Data"},"columns":{"mappingMode":"defineBelow","value":{"status":"true","website":"={{ $json.website }}"},"matchingColumns":["website"],"schema":[{"id":"searchString","displayName":"searchString","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"categoryName","displayName":"categoryName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"address","displayName":"address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"phone","displayName":"phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"2095c633-c06e-4df1-b730-ed00d789ab81","name":"Mark as Processed","type":"n8n-nodes-base.googleSheets","position":[900,200],"typeVersion":4.6,"credentials":{"googleSheetsOAuth2Api":{"id":"rBoCAQOUyzCpHL89","name":"Google Sheets icaro"}}},{"parameters":{"content":"## 🚀 INITIALIZATION PHASE\n- Triggers every 30 minutes\n- Reads unprocessed records from [Google Sheet](https://docs.google.com/spreadsheets/d/1DHezdcetT0c3Ie1xB3z3jDc5WElsLN87K4J9EQDef9g/edit?usp=sharing)\n- Starts Google Places scraper for restaurants\n- Waits for completion","height":180,"width":640,"color":4},"id":"b824993f-3ecc-4dc0-9af5-4af4c237242d","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-2000,0],"typeVersion":1},{"parameters":{"content":"## 📊 DATA COLLECTION PHASE\n- Monitors scraper job status\n- Loops until job completes\n- Fetches scraped restaurant data\n- Saves to \"Data\" sheet in [Google Sheets](https://docs.google.com/spreadsheets/d/1DHezdcetT0c3Ie1xB3z3jDc5WElsLN87K4J9EQDef9g/edit?usp=sharing)","height":180,"width":660},"id":"87b3059e-ecb8-428b-bed4-69ba34813205","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-1000,-60],"typeVersion":1},{"parameters":{"content":"## 🌐 WEBSITE PROCESSING PHASE\n- Filters restaurants with valid websites\n- Loops through each website\n- Scrapes website content with Firecrawl\n- Extracts contact information (emails, social media)\n- Saves to \"Details\" sheet and marks as processed","height":200,"width":740,"color":6},"id":"76202546-0de7-4d42-94d2-1d1f727a9363","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-80,-100],"typeVersion":1},{"parameters":{"content":"## 🔄 LOOPS\n**Status Check Loop**: Continues until scraper job is complete\n**Website Processing Loop**: Processes each restaurant website individually","height":120,"width":580},"id":"a18c1035-6866-4e21-95af-76b7006f87e0","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[240,440],"typeVersion":1}],"connections":{"Schedule Trigger":{"main":[[{"node":"Read Pending Queries","type":"main","index":0}]]},"Loop Until Complete":{"main":[[{"node":"Wait for Job Succeed","type":"main","index":0}],[{"node":"Fetch Scraped Results","type":"main","index":0}]]},"Read Pending Queries":{"main":[[{"node":"Start Apify Scraping Job","type":"main","index":0}]]},"Start Apify Scraping Job":{"main":[[{"node":"Wait for Job Succeed","type":"main","index":0}]]},"Wait for Job Succeed":{"main":[[{"node":"Check Scraping Status","type":"main","index":0}]]},"Check Scraping Status":{"main":[[{"node":"Loop Until Complete","type":"main","index":0}]]},"Fetch Scraped Results":{"main":[[{"node":"Save Business Data","type":"main","index":0}]]},"Save Business Data":{"main":[[{"node":"Filter Businesses with Websites","type":"main","index":0}]]},"Filter Businesses with Websites":{"main":[[{"node":"Batch Processing Logic","type":"main","index":0}]]},"Batch Processing Logic":{"main":[[],[{"node":"Scrape Website Content","type":"main","index":0}]]},"Scrape Website Content":{"main":[[{"node":"Extract Contact Information","type":"main","index":0}]]},"Extract Contact Information":{"main":[[{"node":"Save Contact Details","type":"main","index":0}]]},"Save Contact Details":{"main":[[{"node":"Mark as Processed","type":"main","index":0}]]},"Mark as Processed":{"main":[[{"node":"Batch Processing Logic","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"37b45ab1-957d-480d-8ad1-9b37c02883b4","triggerCount":1,"tags":[]}