workflows/redator de emails.json
{"createdAt":"2025-06-20T01:39:02.418Z","updatedAt":"2025-06-20T01:59:57.827Z","id":"SbXjiXom7gzoQCAJ","name":"redator de emails","active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"filters":{}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[-440,220],"id":"36c64c08-16d3-41b8-948b-f01a5d122e4e","name":"Gmail Trigger","credentials":{"gmailOAuth2":{"id":"LFhYi6WCcnkczqkU","name":"Gmail Allan"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-140,440],"id":"5e5ce2b4-bccd-4462-9ea3-76713d8aa4ee","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"rVdjfDowKjs3OG2m","name":"OpenAi - TECHPULSE"}}},{"parameters":{"promptType":"define","text":"=snippet: {{ $json.snippet }}\nsubject: {{ $json.Subject }}","messages":{"messageValues":[{"message":"=#ROLE\nVocê é um filtro da caixa de emails, e seu papel é analisaro texto do email recebido e verificar se é alguma dúvida de cliente ou parceiro. Caso seja algum cliente com alguma dúvida, ou algo importante, retorne apenas \"true\". Caso contrário, se for um email de spam como linkedin, gocase, youtube etc. retorne apenas \"false\".\n\n#RULES\n-Nunca retorne nada que não seja um true ou um false.\n-Seu papel não é responder ao email.\n-Você é apenas um filtro."}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[-220,220],"id":"caa5bf9e-d392-4002-b3bf-97aa503f4fd8","name":"É Cliente?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e4a57695-fe5f-4a28-aa5c-95a46d207c67","leftValue":"={{ $json.text }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[160,220],"id":"2617e9a6-cead-41d4-a269-7f8c2a3e8fdf","name":"Condicional"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[460,360],"id":"b8f20124-3035-4ceb-9d43-9e6e8e1288b4","name":"No Operation, do nothing"},{"parameters":{"promptType":"define","text":"=Subject: {{ $('Gmail Trigger').item.json.Subject }}\nSnippet: {{ $('Gmail Trigger').item.json.snippet }}\nFrom: {{ $('Gmail Trigger').item.json.From }}\nGere uma resposta usando sua base de conhecimento.","hasOutputParser":true,"options":{"systemMessage":"#ROLE\nVocê é uma IA respondedora de emails. Seu papel, é responder a dúvida do cliente de forma mais clara e humanizada possível.\nVocê deve retornar sua saída em JSON com subject (tema da resposta) e message (a mensagem em si).\n\n#RULES\n-Nunca fuja do padrão JSON.\n-Se não tiver uma informação, não tema em dizer que não sabe."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[380,-40],"id":"e8704e94-ad34-4742-aca2-4bac99bba0f4","name":"Redator"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[360,180],"id":"170e6f6c-6b56-4117-8ca2-015d6da814d1","name":"4.1-mini","credentials":{"openAiApi":{"id":"rVdjfDowKjs3OG2m","name":"OpenAi - TECHPULSE"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"subject\": \"California\",\n\t\"message\":\"Olá bom dia\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[580,180],"id":"a56076a1-f9d3-4c48-acd6-92eaf3b3e813","name":"Structured Output Parser"},{"parameters":{"resource":"draft","subject":"={{ $json.output.subject }}","message":"={{ $json.output.message }}","options":{"sendTo":"={{ $('Gmail Trigger').item.json.To.split('<')[1].replace('>','') }}"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[760,60],"id":"aebe4954-ae97-4e89-a0ae-e1fd5b3c8533","name":"Salvar Resposta como Rascunho","webhookId":"77edea62-5422-46d3-baac-c42732824b9c","credentials":{"gmailOAuth2":{"id":"LFhYi6WCcnkczqkU","name":"Gmail Allan"}}},{"parameters":{"content":"## O que faz\nEssa automação vai analisar se um email recebido corresponde á um cliente, e se for ela vai gerar uma resposta usando IA","width":400,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-320,0],"typeVersion":1,"id":"40c41445-328a-44cd-b99c-9d326f253dcb","name":"Sticky Note1"},{"parameters":{"content":"## Personalize sua IA aqui\nAdicione RAG, prompt personalizado e etc aqui, para que seu agente responda da forma mais preparada possível","height":260,"width":400,"color":3},"type":"n8n-nodes-base.stickyNote","position":[280,-160],"typeVersion":1,"id":"6232766e-85e6-475d-a5da-1db979c5fc8a","name":"Sticky Note2"}],"connections":{"Gmail Trigger":{"main":[[{"node":"É Cliente?","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"É Cliente?","type":"ai_languageModel","index":0}]]},"É Cliente?":{"main":[[{"node":"Condicional","type":"main","index":0}]]},"Condicional":{"main":[[{"node":"Redator","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"4.1-mini":{"ai_languageModel":[[{"node":"Redator","type":"ai_languageModel","index":0}]]},"Redator":{"main":[[{"node":"Salvar Resposta como Rascunho","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Redator","type":"ai_outputParser","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Gmail Trigger":{"Gmail Trigger":{"lastTimeChecked":1751945166,"possibleDuplicates":["197e811c4f4ea735","197e810db6de734e"]}}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"87fa7e33-10d9-4b1a-b13c-d0fea346eb8e","triggerCount":1,"tags":[]}