workflows/Reportador de ERRO.json
{"createdAt":"2025-06-20T00:05:31.348Z","updatedAt":"2025-07-02T20:39:13.351Z","id":"ZIT4LpxmK0FLkRhq","name":"Reportador de ERRO","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[780,200],"id":"462b70b3-6c22-4d25-ad19-ef60acdf9d3a","name":"Error Trigger"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"18G7UlJX8LlOVxxofOLwMMGfvewVSgxyODAOFHJ9a54M","mode":"list","cachedResultName":"Error Logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18G7UlJX8LlOVxxofOLwMMGfvewVSgxyODAOFHJ9a54M/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":588096097,"mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18G7UlJX8LlOVxxofOLwMMGfvewVSgxyODAOFHJ9a54M/edit#gid=588096097"},"columns":{"mappingMode":"defineBelow","value":{"Timestamp":"={{ $now.format('yyyy-MM-dd hh:mma') }}","Workflow":"={{ $json.workflow.name }}","URL":"={{ $json.execution.url }}","Node":"={{ $json.execution.error.node.name }}","Error Message":"={{ $json.execution.error.message }}"},"matchingColumns":[],"schema":[{"id":"Timestamp","displayName":"Timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Workflow","displayName":"Workflow","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"URL","displayName":"URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Node","displayName":"Node","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Error Message","displayName":"Error Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1000,200],"id":"52d177e0-9853-46f3-83b3-34bbf436c853","name":"Log Error","credentials":{"googleSheetsOAuth2Api":{"id":"duX7Zo5QobkZJdKh","name":"Google Sheets allan"}}},{"parameters":{"content":"# Error Logger","height":580,"width":740,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[660,0],"id":"baf629aa-079f-4609-9592-f715bbc366ad","name":"Sticky Note"},{"parameters":{"content":"# 🛠️ Setup Guide  \n**Author:** [Petherson Bueno](https://www.youtube.com/@pethersonbueno)\n\n---\n### 1️⃣ Vincule isto como seu fluxo de trabalho de erro\n- Vá para **Configurações** → **Fluxo de trabalho de erro** → Selecione este fluxo de trabalho como seu manipulador de erro global.\n- O Workflow principal deve estar ativo. (Pode ser vinculado a mais de 1)\n---\n\n#### 2️⃣ Registrador de Erros (Planilhas Google)\n🔗 **[Faça uma cópia do modelo](https://docs.google.com/spreadsheets/d/15S0lAoYPa7To97aDfmX0GXp-a0poW3pSF6oSkwUvJm0/edit?gid=0#gid=0)** \n- Configure suas credenciais do Planilhas Google\n- Conecte suas credenciais do Google\n- Personalize a planilha conforme necessário (opcional)\n---\n","height":580,"width":600,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"1990ee51-0816-410c-9fb6-1f2d748bd616","name":"Sticky Note1"},{"parameters":{"sendTo":"allan.souto@icloud.com;allan.nsouto@gmail.com;allan.souto@outlook.com;allan.souto@techpulseai.com.br","subject":"Erro Workflow - TECHULSE AI ","emailType":"text","message":"Erro em algum workflow\n\n\nhttps://docs.google.com/spreadsheets/d/18G7UlJX8LlOVxxofOLwMMGfvewVSgxyODAOFHJ9a54M/edit?usp=sharing","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1180,200],"id":"c3c3f4c1-2c95-433f-8430-564d7c96b420","name":"Gmail","webhookId":"03d607dc-e0bb-4cfa-820e-6aef6db57d01","credentials":{"gmailOAuth2":{"id":"LFhYi6WCcnkczqkU","name":"Gmail Allan"}}}],"connections":{"Error Trigger":{"main":[[{"node":"Log Error","type":"main","index":0}]]},"Log Error":{"main":[[{"node":"Gmail","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1c3d5e6c-2ada-4aef-bda6-82407336c3a2","triggerCount":0,"tags":[]}