workflows/scrapping - gmail - 2 cx.json
{"createdAt":"2025-07-06T16:10:35.413Z","updatedAt":"2025-07-06T16:41:58.277Z","id":"TNgkc4LZuEMg6yoE","name":"scrapping - gmail - 2 cx","active":false,"isArchived":false,"nodes":[{"parameters":{"sendTo":"={{ $json.email }}","subject":"=Uma dúvida sobre {{ $json.Nome }}","emailType":"text","message":"Olá, tudo bem?\nVocês terceirizam trabalhos com freelancer?\n\nPosso atender as demandas abaixo:\nGestão de Tráfego Meta e Google Ads\nAutomações: Make | Manychat | N8N\nLanding Pages e Sites Institucionais\n\nCaso haja interesse, posso enviar meu portfólio e valores dos serviços.\n\nObrigado pela atenção.\n--\n\nAtenciosamente,\nAllan Souto\nMarketing Digital \nTechPulseAI\n21 999888-2256\n","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[0,-100],"id":"7f3459dc-9f38-4eda-a3f7-cafc129779c3","name":"Gmail1","webhookId":"914145e7-0348-4072-9cb2-82466c258f6a","credentials":{"gmailOAuth2":{"id":"LFhYi6WCcnkczqkU","name":"Gmail Allan"}}},{"parameters":{"sendTo":"={{ $json.email }}","subject":"=Uma dúvida sobre {{ $json.Nome }}","emailType":"text","message":"Olá, tudo bem?\nVocês terceirizam trabalhos com freelancer?\n\nPosso atender as demandas abaixo:\nGestão de Tráfego Meta e Google Ads\nAutomações: Make | Manychat | N8N\nLanding Pages e Sites Institucionais\n\nCaso haja interesse, posso enviar meu portfólio e valores dos serviços.\n\nObrigado pela atenção.\n--\n\nAtenciosamente,\nAllan Souto\nMarketing Digital \nTechPulseAI\n21 999888-2256\n","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[0,340],"id":"e040cab3-54b7-4a00-9408-0e3598627ab0","name":"Gmail2","webhookId":"914145e7-0348-4072-9cb2-82466c258f6a","credentials":{"gmailOAuth2":{"id":"VJ8fnXkDzUTXK11b","name":"Gmail allan.nsouto"}}},{"parameters":{"triggerTimes":{"item":[{"hour":7,"minute":30}]}},"id":"13d001b3-4f4a-49f4-b507-ed0ba9303278","name":"Cron Diária","type":"n8n-nodes-base.cron","typeVersion":1,"position":[-1740,80],"notesInFlow":false,"disabled":true},{"parameters":{"jsCode":"// Valida cada item e-mail por e-mail\nreturn items.filter(item => {\n  const email = (item.json.email || '').toString().trim();\n\n  // Expressão simples de validação\n  const isValid = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(email);\n\n  return isValid;\n});\n"},"id":"ae012dc5-5284-49a8-b90c-645c47e87808","name":"Filtrar Emails Válidos","type":"n8n-nodes-base.code","typeVersion":1,"position":[-1060,80]},{"parameters":{"unit":"seconds"},"id":"8564b335-a033-4c6f-aa74-4e7f463a4e80","name":"Wait 40s","type":"n8n-nodes-base.wait","typeVersion":1,"position":[320,100],"webhookId":"9167779c-2bf4-4528-9438-8cc582c4a04f"},{"parameters":{"batchSize":5,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-600,80],"id":"de94b842-e758-423c-be4a-9b3dccfec3ce","name":"Loop Over Items1","alwaysOutputData":false},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1DBP18b_SMWlTcAaWWNP1_NkG_BUWpp8ThMJc4fF932k","mode":"list","cachedResultName":"Lista de Prospecção - Agencias de Mkt","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1DBP18b_SMWlTcAaWWNP1_NkG_BUWpp8ThMJc4fF932k/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1DBP18b_SMWlTcAaWWNP1_NkG_BUWpp8ThMJc4fF932k/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"email":"={{ $('Limite 180').item.json.email }}","Status":"enviado"},"matchingColumns":["email"],"schema":[{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[540,100],"id":"6f93fcb9-77c8-4da7-a859-fceb50e93a31","name":"Atualiza Status","credentials":{"googleSheetsOAuth2Api":{"id":"duX7Zo5QobkZJdKh","name":"Google Sheets allan"}}},{"parameters":{"documentId":{"__rl":true,"value":"1DBP18b_SMWlTcAaWWNP1_NkG_BUWpp8ThMJc4fF932k","mode":"list","cachedResultName":"Lista de Prospecção - Agencias de Mkt","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1DBP18b_SMWlTcAaWWNP1_NkG_BUWpp8ThMJc4fF932k/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1DBP18b_SMWlTcAaWWNP1_NkG_BUWpp8ThMJc4fF932k/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-1500,80],"id":"e4fdbb4e-5bd5-4d71-a210-c2e7ec82dc1f","name":"Lista de Emails","credentials":{"googleSheetsOAuth2Api":{"id":"duX7Zo5QobkZJdKh","name":"Google Sheets allan"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"15be7dbb-7076-42f1-a137-a466321fb461","leftValue":"={{ $json.Status }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1280,80],"id":"85dab160-3bb1-4be5-a95c-46ab525dba24","name":"Filtrar Status"},{"parameters":{"maxItems":180},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-860,80],"id":"02074677-0a7d-4403-a444-f1c707e18d01","name":"Limite 180","alwaysOutputData":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $itemIndex % 2 === 0 }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"236083ae-5e23-4b30-aa08-4e401053010f"}],"combinator":"and"},"renameOutput":true,"outputKey":"True"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0e90163b-c91a-4a46-82a8-ee530cac398e","leftValue":"={{ $itemIndex % 2 === 0 }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"False"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-300,100],"id":"1c037ed4-96ca-4b69-8502-c2035b8d1009","name":"Switch"}],"connections":{"Gmail1":{"main":[[{"node":"Wait 40s","type":"main","index":0}]]},"Gmail2":{"main":[[{"node":"Wait 40s","type":"main","index":0}]]},"Cron Diária":{"main":[[{"node":"Lista de Emails","type":"main","index":0}]]},"Filtrar Emails Válidos":{"main":[[{"node":"Limite 180","type":"main","index":0}]]},"Wait 40s":{"main":[[{"node":"Atualiza Status","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Switch","type":"main","index":0}]]},"Atualiza Status":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Lista de Emails":{"main":[[{"node":"Filtrar Status","type":"main","index":0}]]},"Filtrar Status":{"main":[[{"node":"Filtrar Emails Válidos","type":"main","index":0}]]},"Limite 180":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Gmail1","type":"main","index":0}],[{"node":"Gmail2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"12a67c68-c841-409f-a190-730e7de434ef","triggerCount":0,"tags":[{"createdAt":"2025-07-06T15:59:08.031Z","updatedAt":"2025-07-06T15:59:08.031Z","id":"sq9R3NIhHsib5d24","name":"Email em Massa"},{"createdAt":"2025-06-24T01:00:14.832Z","updatedAt":"2025-06-24T01:00:14.832Z","id":"MuG7rvnGurBecrtc","name":"webscraping"},{"createdAt":"2025-06-24T01:00:14.818Z","updatedAt":"2025-06-24T01:00:14.818Z","id":"hGHfFkHIsxdmIHMD","name":"raspagem"},{"createdAt":"2025-05-06T15:51:27.747Z","updatedAt":"2025-05-06T15:51:27.747Z","id":"bdkiwzrYtNkpNJPd","name":"fluxo ativo"}]}