workflows/Transcrever - telegram.json
{"createdAt":"2025-06-20T04:28:30.838Z","updatedAt":"2025-06-24T03:11:45.534Z","id":"yodR5vvQSVkcXL4A","name":"Transcrever - telegram","active":true,"isArchived":false,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.voice }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true},"id":"8be542b2-56ba-46c1-aca3-7f4d6d472439"}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"342eefa7-6ccd-4447-9e40-c13732f351cc","leftValue":"={{ $json.message.voice }}","rightValue":"Outros","operator":{"type":"object","operation":"notExists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Outros"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[260,-100],"id":"00c935cc-3444-4fd7-8534-7ce413034e8b","name":"Switch"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[20,-100],"id":"13197eed-8b47-450f-a0a7-d2e537fb1143","name":"Telegram Trigger","webhookId":"ef9d9ce7-d5b3-43e3-8eca-1e2d24d00f62","credentials":{"telegramApi":{"id":"USxbWkayoopnfbNk","name":"Telegram transcreve bot"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[760,-120],"id":"c03e2aed-b8b2-46fe-b9cd-72a7320a6348","name":"OpenAI","credentials":{"openAiApi":{"id":"y6EOm7GTWxcYjDT6","name":"OpenAi Allan"}}},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[540,-120],"id":"74c56db1-d414-4dda-856f-75c2cfab7e6a","name":"Telegram - recebe audio","webhookId":"f9166171-cccb-4109-b882-264f57dabb10","credentials":{"telegramApi":{"id":"USxbWkayoopnfbNk","name":"Telegram transcreve bot"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"=(Transcrição) {{ $json.text }}","additionalFields":{"reply_to_message_id":"={{ $('Telegram Trigger').item.json.message.message_id }}"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[980,-120],"id":"c3eccdaa-4bb5-4484-ab4c-75ec8ad4fd8b","name":"Telegram envia msg group","webhookId":"b5c68729-b481-41ff-b625-421a6a5df377","credentials":{"telegramApi":{"id":"USxbWkayoopnfbNk","name":"Telegram transcreve bot"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Telegram - recebe audio","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Telegram envia msg group","type":"main","index":0}]]},"Telegram - recebe audio":{"main":[[{"node":"OpenAI","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"ZIT4LpxmK0FLkRhq"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0f18bc79-21ef-4f28-ad1d-cff964e04fed","triggerCount":1,"tags":[]}