workflows/Videos Automaticos - curtos.json
{"createdAt":"2025-06-13T03:45:32.637Z","updatedAt":"2025-06-20T00:06:20.722Z","id":"rOaEgESgAQVnGqSt","name":"Videos Automaticos - curtos","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"84924182-8e05-4bc6-b8b6-3863c1be0f06","name":"User Input","value":"={{ $json['Título do Vídeo'] }}","type":"string"},{"id":"02602696-d3ad-4aeb-9d18-e80c6cf2ec17","name":"Script Duration","value":"={{ $json.Duração }}","type":"string"},{"id":"c1d43d39-97de-45fa-bbe4-6b993378191b","name":"Status","value":2965,"type":"number"},{"id":"5fe2b8ea-aa8c-4edb-b3bb-9df2f445662c","name":"Provedor Imagens","value":"={{ $json['Provedor Imagens'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[60,160],"id":"1ebb7616-60d1-4509-9899-7b74fc3103c7","name":"Set Idea"},{"parameters":{"content":"## Criar Título, Descrição e Script","height":580,"width":2080,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"8dff54b5-1314-4614-91f7-16940eeb1fa9","name":"Sticky Note"},{"parameters":{"formTitle":"Sistema Criador De Vídeos Curtos 1.0","formDescription":"Criador de vídeos narrados e legendados.","formFields":{"values":[{"fieldLabel":"Título do Vídeo","fieldType":"textarea","placeholder":"Digite um título para o vídeo","requiredField":true},{"fieldLabel":"Duração","fieldType":"dropdown","fieldOptions":{"values":[{"option":"15 segundos"},{"option":"30 segundos"},{"option":"60 segundos"},{"option":"120 segundos"}]}},{"fieldLabel":"Estilo Generativo","fieldType":"dropdown","fieldOptions":{"values":[{"option":"3D Render"},{"option":"Anime"},{"option":"Cartoon flat, bold outline"},{"option":"Cel-shaded anime light"},{"option":"Disney Pixar"},{"option":"Hand-Drawn"},{"option":"Stick Figure, 2D"},{"option":"Hyper-Realistic"},{"option":"Minimalist vector"},{"option":"Pixel-art chibi (16-bit)"}]}},{"fieldLabel":"Tipo de Vídeo","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Ideia do Usuário"},{"option":"Transcrição"}]},"requiredField":true},{"fieldLabel":"TTS Voz","fieldType":"dropdown","fieldOptions":{"values":[{"option":"af_bella"},{"option":"af_heart"},{"option":"bm_v0george"},{"option":"ef_dora"},{"option":"em_alex"},{"option":"em_santa"},{"option":"jf_gongitsune"},{"option":"pf_dora"}]},"requiredField":true},{"fieldLabel":"Provedor Imagens","fieldType":"dropdown","fieldOptions":{"values":[{"option":"togetherai"}]},"requiredField":true}]},"options":{"appendAttribution":false,"ignoreBots":true}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-200,160],"id":"c416955e-02b4-4d1d-84c3-1f81f7587937","name":"On form submission","webhookId":"86f080b2-e18b-4573-aed3-2118fc727f4d"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"Title\": {\n      \"type\": \"string\",\n      \"description\": \"Título curto e envolvente, motivado pela curiosidade.\"\n},\n  \"Description\": {\n    \"type\": \"string\",\n    \"description\": \"Descrição curta com hashtags principais, gancho, contexto, CTA e hashtags.\"\n},\n  \"Hook\": {\n    \"type\": \"string\",\n    \"description\": \"Introdução.\"\n},\n  \"MainScript\": {\n    \"type\": \"string\",\n    \"description\": \"Conteúdo do roteiro principal.\"\n},\n  \"CTA\": {\n    \"type\": \"string\",\n    \"description\": \"Chamada para ação\"\n}\n},\n  \"required\": [\"Título\", \"Descrição\", \"Introdução\", \"MainScript\"]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1240,400],"id":"b767059b-ed71-470e-8fb6-b859c1d512cb","name":"Structured Output Parser1"},{"parameters":{"promptType":"define","text":"=Tema Do Vídeo:\n{{ $('Set Idea').item.json['User Input'] }}\n\nDuração Aproximada:\n{{ $('Set Idea').item.json['Script Duration'] }}","messages":{"messageValues":[{"message":"=Você é **ShortVideoCopywriterGPT**, roteirista especializado em vídeos verticais (TikTok, Reels, Shorts).\n\nINPUT (do usuário)  \n1. Tema do vídeo (string)  \n2. Duração aproximada em segundos (D)  \n\nOBJETIVO  \n• Criar um roteiro VIRAL, DINÂMICO e ORIGINAL que caiba na duração solicitada.  \n• Use a métrica-guia de 3 PALAVRAS POR SEGUNDO.  \n Limite-alvo = D × 3 palavras (tolerância ± 5).  \n• Conte as palavras de Hook + MainScript + CTA; se estiver fora do intervalo, ajuste antes de responder.\n\n**Formato de Saída:**\n- **Título:** [Título cativante e instigante, baseado na ideia do usuário]\n- **Descrição:** [Resumo conciso de 50 a 150 caracteres com hashtags relevantes para o tópico do usuário]\n- **Gancho:** [Uma frase de abertura que chame a atenção, inspirada na ideia do usuário]\n- **Script Principal:** [Um roteiro natural, falado, sem quebras de linha ou emojis, adaptado à duração do vídeo definida pelo usuário]\n- **Chamada para Ação:** [Uma mensagem convincente que incentive os espectadores a se envolverem, como \"Qual foi a sua parte favorita desta história?\" ou \"Quer explorar mais ideias? Siga para saber mais!\"]\n\nREGRAS OBRIGATÓRIAS  \n1. Não adicione quebras de linha nem emojis em Hook, MainScript ou CTA.  \n2. Evite termos NSFW, marcas registradas ou menções a pessoas reais.  \n3. Use linguagem simples, frases curtas e um dado surpresa nos primeiros 2 segundos.  \n4. Pense em imagens simples que o Flux Shell renderiza bem (cartoon/flat, cores vivas), mas **não** inclua referências visuais no JSON.  \n5. Devolva **apenas** o JSON no formato acima.  \n6. Hooks devem ser variados, evite repetir estrutura em roteiros consecutivos.  \n7. MainScript: Você não deve fazer promessas de tempo de execução (por ex. ‘em 30 minutos’) a menos que haja evidência concreta.  \n8. Não use aspas duplas (\") no conteúdo do campo \"Script Principal\". Use aspas simples (') se for necessário indicar uma citação ou destaque textual. Isso garante que a saída seja um JSON limpo e compatível com sistemas de automação como n8n."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[680,260],"id":"f05c104b-75e7-4257-a1c7-4a3e38100b84","name":"Script Writier 🧠"},{"parameters":{"promptType":"define","text":"=User Input: {{ $json.text }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=Considere a entrada e a saída do usuário na seguinte estrutura JSON. NÃO altere ou altere nenhum texto.\n\n{\n\"type\": \"object\",\n\"properties\": {\n\"Title\": {\n\"type\": \"string\",\n\"description\": \"Título curto e envolvente, motivado pela curiosidade.\"\n},\n\"Description\": {\n\"type\": \"string\",\n\"description\": \"Descrição curta com hashtags principais, gancho, contexto, CTA e hashtags.\"\n},\n\"Hook\": {\n\"type\": \"string\",\n\"description\": \"O gancho.\"\n},\n\"MainScript\": {\n\"type\": \"string\",\n\"description\": \"Conteúdo do script principal.\"\n},\n\"CTA\": {\n\"type\": \"string\",\n\"description\": \"Chamada para ação\"\n}\n},\n\"required\": [\"Título\", \"Descrição\", \"Introdução\", \"Script Principal\"]\n}"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1080,160],"id":"20f839e4-605c-457c-96de-4e9619172550","name":"Output Parser 🛠"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('On form submission').item.json['Video Type'] }}","rightValue":"From transcript","operator":{"type":"string","operation":"equals"},"id":"67835e1a-7770-4d3e-b9d6-0dac59a5923a"}],"combinator":"and"},"renameOutput":true,"outputKey":"From transcript"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"171a9dfd-59a3-49a4-af28-c284abc85f13","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"User Idea"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[440,160],"id":"3fd9d949-2402-49b6-92fa-ebfa4307c2be","name":"Switch"},{"parameters":{"promptType":"define","text":"=A Transcrição:\n{{ $json['User Input'] }}","messages":{"messageValues":[{"message":"=Atuar como um roteirista de vídeos do YouTube especializado em transformar insights, fatos interessantes e principais conclusões em roteiros de vídeo envolventes e concisos. Seu objetivo é criar roteiros curtos e atraentes com base nas ideias mais intrigantes de transcrições longas de podcasts, apresentando-os como conteúdo original e atual, sem referenciar fontes ou nomes.\n\nSeu roteiro deve ser envolvente, dinâmico e fácil de acompanhar, transformando ideias complexas em narrativas empolgantes e de fácil assimilação. Use um tom coloquial, descrições vívidas e um gancho forte para prender a atenção instantaneamente. Mantenha o ritmo ágil, garantindo que cada segundo conte.\n\nDiretrizes importantes:\n- NÃO use asteriscos (*) ou emojis. Mantenha o texto limpo e formatado naturalmente.\n- NÃO inclua quebras de linha no \"MainScript\", a menos que seja necessário para facilitar a leitura. Escreva em um estilo natural e falado, como se estivesse sendo narrado por uma pessoa.\n- O roteiro deve ser ORIGINAL e coloquial, sem referências diretas a podcasts, apresentadores ou episódios específicos. - O Call to Action deve ser simples e envolvente. Exemplos: \"Qual foi o seu insight favorito?\" ou \"Quer mais ideias como esta? Siga para mais!\"\n\nFormato de Saída:\n- Título: [Título cativante e instigante]\n- Descrição: [50-150 caracteres, resumo conciso com hashtags importantes]\n- Gancho: [Uma frase de abertura que chame a atenção]\n- MainScript: [Um roteiro natural e falado — SEM asteriscos, SEM emojis, SEM formatação desnecessária]\n- Call to Action: [Um prompt atraente que incentive os espectadores a se envolverem]\n\nGaranta que o MainScript seja fluido e envolvente, como se esses insights estivessem sendo compartilhados em primeira mão. Mantenha tudo contundente e direto, garantindo alta retenção e engajamento."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[680,100],"id":"ddecf7e4-8ae9-46eb-92f3-aca2359412d9","name":"Long form to Script Writier 🧠"},{"parameters":{"assignments":{"assignments":[{"id":"7cd1dc03-8331-44ba-bda9-848145bab939","name":"Main Script","value":"={{ $json.output.Hook }} {{ $json.output.MainScript }} {{ $json.output.CTA }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1420,160],"id":"9d5e5965-211d-4cdf-960c-f6b5ac95e0c3","name":"Combine"},{"parameters":{"assignments":{"assignments":[{"id":"bfd6c0e6-93c2-496a-8f3d-9ebc3061e78f","name":"Script","value":"={{$json['Main Script']\n  .replace(/\\n{2,}/g, \"\")      // Remove multiple newlines\n  .replace(/\\*(.*?)\\*/g, \"$1\") // Remove asterisks around words\n}}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1640,160],"id":"3fdfc29f-77c6-427e-ab7d-0dd9a12a9148","name":"Format Cleanup"},{"parameters":{"method":"POST","url":"http://host.docker.internal:85/api/user-files/upload-file/","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Token zR3mwIRhRnlixpCMmTar1ee7WegU1ZGy"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"captionsFile"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3880,160],"id":"5ac2278a-05cb-4a06-8495-5ad0c85b394e","name":"Upload captions To Baserow"},{"parameters":{"method":"POST","url":"http://host.docker.internal:85/api/user-files/upload-file/","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Token zR3mwIRhRnlixpCMmTar1ee7WegU1ZGy"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2960,380],"id":"afbb957d-b84a-4fac-87cb-7b3673c8fefb","name":"Upload tts to baserow"},{"parameters":{"content":"## Gerar Narração & Legenda\n","height":580,"width":2280,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2100,0],"id":"04207e5b-4391-4e93-af82-04e89f2e794d","name":"Sticky Note1"},{"parameters":{"method":"POST","url":"http://host.docker.internal:8880/v1/audio/speech/","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"kokoro\",\n  \"input\": \"{{ $json.Script }}\",\n  \"voice\": \"{{ $json['TTS Voz'] }}\",\n  \"response_format\": \"mp3\",\n  \"download_format\": \"mp3\",\n  \"speed\": 1,\n  \"lang_code\": \"p\"\n}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2680,160],"id":"8e13a115-76f5-4009-9fdb-e5456a0de6b8","name":"Generate TTS"},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/audio/transcriptions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"bearer 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"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"model","value":"whisper-large-v3-turbo"},{"name":"temperature","value":"0"},{"name":"response_format","value":"verbose_json"},{"name":"language","value":"pt"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2960,160],"id":"ea27bcfc-f795-412b-af0c-fa7262296da7","name":"Criar Legenda"},{"parameters":{"jsCode":"// 1) Parâmetros de controle\nconst MAX_CHARS = 40;   // máximo de caracteres por legenda\nconst segments = items[0].json.segments || [];\n\n// 2) Transforma o texto e timestamps em legendas “cortadas”\nconst captions = [];\n\nfor (const seg of segments) {\n  const words = seg.text.trim().split(\" \");\n  let line = \"\";\n  let startTime = null;\n\n  for (const w of words) {\n    // Se ainda não iniciou a linha, define startTime\n    if (line === \"\") {\n      startTime = seg.start + seg.text.indexOf(w) / seg.text.length * (seg.end - seg.start);\n      // (este cálculo é só aproximado; para precisão palavra-a-palavra você precisaria dos timepoints)\n    }\n    // Se adicionar esta palavra ultrapassa o limite de chars, fecha a linha atual\n    if ((line + \" \" + w).trim().length > MAX_CHARS) {\n      captions.push({ word: line.trim(), start_time: startTime, end_time: seg.start + (seg.text.indexOf(w) / seg.text.length) * (seg.end - seg.start) });\n      line = w;\n      startTime = seg.start + seg.text.indexOf(w) / seg.text.length * (seg.end - seg.start);\n    } else {\n      line = (line + \" \" + w).trim();\n    }\n  }\n  // Fecha a última linha do segmento\n  if (line) {\n    captions.push({ word: line, start_time: startTime, end_time: seg.end });\n  }\n}\n\n// 3) Embaralha de volta num formato de itens para o próximo nó\nreturn captions.map(c => ({ json: c }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3220,160],"id":"8cb287d5-8e59-4621-b44d-13b72f2ad5f6","name":"Frases Curtas"},{"parameters":{"jsCode":"// 1) Pega o ID do node anterior (mesmo se estiver pinado)\nconst originalId = $('Buscar tabelas 1').all()[0].json.id;\n\n// 2) Constrói o array de legendas\nconst captionsArray = items.map(i => ({\n  text: i.json.text,\n  start_time: i.json.start,\n  end_time: i.json.end,\n}));\n\n// 3) Serializa e converte para buffer\nconst jsonString = JSON.stringify(captionsArray, null, 2);\nconst buffer = Buffer.from(jsonString);\n\n// 4) Retorna com ID + buffer\nreturn [{\n  json: { id: originalId },\n  binary: {\n    captionsFile: {\n      data: buffer,\n      fileName: 'captions.json',\n      mimeType: 'application/json',\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3640,160],"id":"f89319c7-08db-408e-a467-4f62f993488a","name":"Legenda.json"},{"parameters":{"aggregate":"aggregateAllItemData","include":"specifiedFields","fieldsToInclude":"id","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[3700,660],"id":"54a75452-d0eb-4758-a5e4-a3c51a22fdaf","name":"Aggregate3"},{"parameters":{"jsCode":"// Initialize an array to hold IDs\nconst ids = [];\n\n// Loop over input items\nfor (const item of $input.all()) {\n  // Loop through each 'data' array\n  for (const dataItem of item.json.data) {\n    // Check if 'id' is defined\n    if (dataItem.id) {\n      // Push the ID into the array\n      ids.push(dataItem.id);\n    }\n  }\n}\n\n// Return the array wrapped in an object\nreturn [{ json: { ids } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3900,660],"id":"0835cfdb-3da6-4503-9004-ab182240b45d","name":"IDs To Array1"},{"parameters":{"jsonSchemaExample":"{\n  \"Prompt\": \"insira o prompt aqui\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[3260,820],"id":"7bf915b2-c914-488e-95b3-2631e44cb353","name":"Structured Output Parser2"},{"parameters":{"jsCode":"const splitLength=5;const inputData=$input.first().json.Segments;const segments=[];let currentSegment={id:0,words:\"\",duration:0};let currentStartTime=-1;let totalDuration=0;let currentEndTime=0;const pauseBuffer=0.1;for(const wordObj of inputData){const{text,start_time,end_time}=wordObj;if(currentStartTime===-1){currentStartTime=start_time;}currentSegment.words+=(currentSegment.words?' ':'')+text;currentEndTime=end_time;currentSegment.duration=(currentEndTime-currentStartTime).toFixed(2);if(currentSegment.duration>=splitLength){currentSegment.duration=(parseFloat(currentSegment.duration)+pauseBuffer).toFixed(2);totalDuration+=parseFloat(currentSegment.duration);segments.push(currentSegment);currentSegment={id:segments.length,words:\"\",duration:0};currentStartTime=-1;}}if(currentSegment.words){currentSegment.duration=(currentEndTime-currentStartTime).toFixed(2);currentSegment.duration=(parseFloat(currentSegment.duration)+pauseBuffer).toFixed(2);totalDuration+=parseFloat(currentSegment.duration);segments.push(currentSegment);}const roundedTotalDuration=Math.round(totalDuration);const totalSeconds=Math.floor(roundedTotalDuration);const minutes=Math.floor(totalSeconds/60);const seconds=totalSeconds%60;const totalRuntimeString=`${minutes} minute${minutes!==1?'s':''}, ${seconds} second${seconds!==1?'s':''}`;return segments.map(s=>({json:{...s,totalDuration:roundedTotalDuration,totalRuntimeString}}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1880,720],"id":"a174cc2f-c7d7-4a58-9ef4-dff5cf37c429","name":"Split into 5s Scenes"},{"parameters":{"url":"={{ $json['URL Legenda'] }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1460,720],"id":"846f7a79-37fc-4009-8d83-f3e562a1abb1","name":"Get Segment File"},{"parameters":{"content":"## Gerar Cenas & Prompts das Imagens\n","height":360,"width":4380,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,600],"id":"418b9509-038f-42f5-906f-88f3eafe49e6","name":"Sticky Note4"},{"parameters":{"jsCode":"const inputSegments = $input.all();\n\nif (inputSegments.length > 0) {\n  const lastSegment = inputSegments[inputSegments.length - 1].json;\n\n  if (parseFloat(lastSegment.duration) < 2.0 && inputSegments.length > 1) {\n    const secondLastSegment = inputSegments[inputSegments.length - 2].json;\n\n    // Merge palavras\n    secondLastSegment.words += ' ' + lastSegment.words;\n    \n    // Soma das durações\n    secondLastSegment.duration = (\n      parseFloat(secondLastSegment.duration) + parseFloat(lastSegment.duration)\n    ).toFixed(2);\n\n    // Remove o último item\n    inputSegments.pop();\n  }\n}\n\n// Retorna os segmentos corrigidos (como array de items)\nreturn inputSegments;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2100,720],"id":"524d11ab-c842-4e9b-9214-41d228e03bf6","name":"Fixer"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"Segments","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1660,720],"id":"f70c97ee-535b-4817-a712-1b43ad584d18","name":"Aggregate"},{"parameters":{"content":"## together.ai - GERAÇÃO DE IMAGENS GRÁTIS","height":300,"width":1160,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[880,1520],"id":"3c29cfa9-59fc-4a79-9d62-5ff1e6b472e6","name":"Sticky Note5"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json[\"Provedor Imagem\"].value }}","rightValue":"together.ai2","operator":{"type":"string","operation":"equals"},"id":"eaf1a214-ae9e-455f-889b-5fb2f010b2a6"}],"combinator":"and"},"renameOutput":true,"outputKey":"togetherai2"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3e78a869-ccdb-4d17-b4f0-bc61733f6232","leftValue":"={{ $json[\"Provedor Imagem\"].value }}","rightValue":"together.ai","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"togetherai"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[520,1580],"id":"d772d9e9-0698-4e64-9c77-87b6d5649f97","name":"Switch - Image Provider"},{"parameters":{"method":"POST","url":"https://api.together.xyz/v1/images/generations","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"model\": \"black-forest-labs/FLUX.1-schnell-Free\",\n    \"prompt\": {{ JSON.stringify($json.Prompt) }},\n    \"width\": 576,\n    \"height\": 1024,\n    \"steps\": 4,\n    \"n\": 1,\n    \"response_format\": \"b64_json\"\n   }","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[940,1600],"id":"6441c1d9-06c6-49e7-a9e4-2f743768227a","name":"HTTP - Together.ai","credentials":{"httpHeaderAuth":{"id":"41rip6zNWhZJzS5h","name":"Header Auth account"}}},{"parameters":{"method":"POST","url":"http://host.docker.internal:85/api/user-files/upload-file/","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Token zR3mwIRhRnlixpCMmTar1ee7WegU1ZGy"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1500,1600],"id":"346d39fb-e6d0-48ae-a9bb-986457886b87","name":"HTTP - Upload To Baserow"},{"parameters":{"mode":"jsonToBinary","convertAllData":false,"sourceKey":"base64Image","options":{"dataIsBase64":true,"fileName":"image.png","mimeType":"image/png"}},"id":"5494f421-89e2-4967-9266-b01d4ed63a44","name":"Convert String to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[1320,1600]},{"parameters":{"fields":{"values":[{"name":"base64Image","stringValue":"={{ $json.body.data[0].b64_json }}"}]},"options":{}},"id":"095814ee-a834-4482-aac3-e0d75c86b14f","name":"Base64 To String","type":"n8n-nodes-base.set","typeVersion":3.1,"position":[1140,1600]},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1860,1600],"id":"ac127d2a-2e33-4215-ac12-a3285c6b2120","name":"Wait1","webhookId":"bde535a6-423a-41f8-925f-a44961019398"},{"parameters":{"content":"## Gerar Imagens Usando Flux Schnell\n","height":900,"width":2180,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,980],"id":"2a36d536-dad0-440f-8a45-0884e89cac0c","name":"Sticky Note11"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[480,1120],"id":"60d2d414-e6f6-490a-a4c5-78bcf6716880","name":"Loop Over Items"},{"parameters":{"fieldToSplitOut":"Cenas","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2840,1080],"id":"5a479edb-7858-4f53-9d5d-a1140f7e4886","name":"Split Out2","executeOnce":true},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/v1/video/caption","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"video_url\": \"{{ $json['URL Vídeo + Audio'] }}\",\n    \"settings\": {\n        \"line_color\": \"#FFFFFF\",\n        \"word_color\": \"#fff700\",\n        \"all_caps\": false,\n        \"max_words_per_line\": 3,\n        \"font_size\": 50,\n        \"bold\": false,\n        \"italic\": false,\n        \"underline\": false,\n        \"strikeout\": false,\n        \"outline_width\": 6,\n        \"shadow_offset\": 8,\n        \"style\": \"highlight\",\n        \"font_family\": \"The Bold Font\",\n        \"position\": \"top_center\"\n    },\n    \"id\": \"{{ $json.id }}\"\n}","options":{"timeout":90000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3860,1720],"id":"2755a1fd-1980-429b-b6a9-712aad7a85b5","name":"Create Captions"},{"parameters":{"fieldToSplitOut":"Cenas","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2660,1420],"id":"987c73db-086c-497a-b0f8-7cdc51b20efb","name":"Split Out1","executeOnce":true},{"parameters":{"content":"## Juntar Vídeo & Narração","height":240,"width":960,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2200,1640],"id":"85bb3824-a8da-45ae-8202-cde2197b917d","name":"Sticky Note7"},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/v1/ffmpeg/compose","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"id\": \"audio-layering\",\n    \"inputs\": [\n        {\n            \"file_url\": \"{{ $json.results[0][\"URL Vídeo Bruto\"] }}\"\n        },\n        {\n            \"file_url\": \"{{ $json.results[0][\"TTS Audio\"][0].url }}\"\n        }\n    ],\n    \"filters\": [\n        {\n            \"filter\": \"[1:a]volume=1[outa]\"\n        }\n    ],\n    \"outputs\": [\n        {\n            \"options\": [\n                {\n                    \"option\": \"-map\",\n                    \"argument\": \"0:v\"\n                },\n                {\n                    \"option\": \"-map\",\n                    \"argument\": \"[outa]\"\n                },\n                {\n                    \"option\": \"-c:v\",\n                    \"argument\": \"copy\"\n                },\n                {\n                    \"option\": \"-c:a\",\n                    \"argument\": \"aac\"\n                }\n            ]\n        }\n    ]\n}\n","options":{"timeout":50000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2620,1720],"id":"c11e014a-da1a-4b56-9df6-07bc5a85d158","name":"Combine Clips3"},{"parameters":{"content":"## Adicionar Legenda","height":240,"width":1200,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3180,1640],"id":"8a3c046e-c872-4015-a9b1-fdf27e007001","name":"Sticky Note6"},{"parameters":{"jsCode":"// Extract the array of URLs\nconst urls = items[0].json[\"URL Vídeo Clip\"] || [];\n\n// Map URLs into the required structure\nconst formattedURLs = urls.map(url => ({ \"video_url\": url }));\n\n// Return the transformed data\nreturn [{\n    json: {\n        \"video_urls\": formattedURLs\n    }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3680,1420],"id":"05b4b6dd-f4e4-4d70-b33e-d6bafee8be1f","name":"Video url to array"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3480,1080],"id":"c33c0fc9-24c4-4367-b8ff-445730f9ed9b","name":"Loop Over Items3"},{"parameters":{"content":"## Juntar Clipes em 1 Único Vídeo","height":300,"width":2180,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2200,1320],"id":"8cfd268c-7c47-47be-aefa-a6c0b12a80d8","name":"Sticky Note3"},{"parameters":{"content":"## Criar Clipes Para as Imagens\n","height":320,"width":2180,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2200,980],"id":"3115fe3d-cc95-41b0-8fe1-86ad3f8a9223","name":"Sticky Note2"},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/v1/video/concatenate","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"video_urls\": {{ JSON.stringify($json.video_urls) }},\n    \"id\": \"{{ $('Buscar tabelas 4').item.json.results[0].id }}\"\n}","options":{"timeout":50000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3900,1420],"id":"256ca4d7-77e6-4d84-bc58-10147524c593","name":"Combine Clips"},{"parameters":{"method":"POST","url":"http://host.docker.internal:8080/v1/image/transform/video","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"image_url\":\"{{ $json.results[0].Imagem[0].url }}\",\n    \"length\": {{ $json.results[0][\"Duração\"] }},\n    \"frame_rate\": 25,\n    \"zoom_speed\": 3,\n    \"id\": \"{{ $json.results[0].id }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3800,1080],"id":"01e8464d-be08-4f69-a65d-44e414842bef","name":"Create Clips","credentials":{"httpHeaderAuth":{"id":"41rip6zNWhZJzS5h","name":"Header Auth account"}}},{"parameters":{"method":"POST","url":"https://baserow.io/database/214673/table/572450/1061651","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Token KtpfbK7BMz4Y4MaLGWSX5rN8vXD7EjPp"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"Descrição","value":"={{ $node['Output Parser 🛠'].json.output.Description }}"},{"name":"Script","value":"={{ $json.Script }}"},{"name":"TTS Voz","value":"={{ $node['On form submission'].json['TTS Voz'] }}"},{"name":"Estilo","value":"={{ $node['On form submission'].json['Estilo Generativo'] }}"},{"name":"Prompt Inicial","value":"={{ $node['Set Idea'].json['User Input'] }}"},{"name":"Status","value":"={{ $('Set Idea').item.json.Status }}"},{"name":"Provedor Imagens","value":"={{ $('Provedor Image').item.json.togetherai }}"},{"name":"Título","value":"={{ $node['Output Parser 🛠'].json.output.Title }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1880,160],"id":"d3a86249-4e54-41b8-afb3-1cc5b200be61","name":"Criar tabelas baserow 1"},{"parameters":{"assignments":{"assignments":[{"id":"f94ae35a-b4b5-4f44-bb1c-4e929e95d718","name":"={{ $json['Provedor Imagens'] }}","value":"=2969","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,160],"id":"4a06111a-1c94-42d3-8b33-55a663e0afb4","name":"Provedor Image"},{"parameters":{"url":"http://host.docker.internal:85/api/database/rows/table/314/?user_field_names=true&filter__field_6761__contains=Processando","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Token zR3mwIRhRnlixpCMmTar1ee7WegU1ZGy"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2220,160],"id":"aaae7526-781f-407a-be43-63d0ec9f31f5","name":"Buscar tabelas 1"},{"parameters":{"method":"PATCH","url":"=http://host.docker.internal:85/api/database/rows/table/314/{{ $node[\"ID Tabela\"].json.id }}/?user_field_names=true\n\n\n","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Token zR3mwIRhRnlixpCMmTar1ee7WegU1ZGy"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"URL Legenda","value":"={{ $json.url }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4140,160],"id":"c31d925c-e31a-467a-b371-daef6fcf2819","name":"Atualizar URL Legenda"},{"parameters":{"assignments":{"assignments":[{"id":"2e9c60a8-b379-45ff-9fed-2d446f0a28fd","name":"id","value":"={{ $json.results[0].id }}","type":"number"},{"id":"af3afe9a-c525-4fcc-b860-a6602fe265de","name":"Script","value":"={{ $json.results[0].Script }}","type":"string"},{"id":"89705751-1791-47e9-aac0-e838feb35b94","name":"TTS Voz","value":"={{ $json.results[0]['TTS Voz'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2460,160],"id":"19966306-4cba-464b-ad50-160c2435fb1b","name":"ID Tabela"},{"parameters":{"method":"PATCH","url":"=http://host.docker.internal:85/api/database/rows/table/314/{{ $node[\"ID Tabela\"].json.id }}/?user_field_names=true\n\n\n","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Token zR3mwIRhRnlixpCMmTar1ee7WegU1ZGy"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"TTS Audio","value":"={{ $('Upload tts to baserow').item.json.name }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3220,380],"id":"fec26f95-fd6e-4793-bdad-b37a6c1b506f","name":"Atualizar Tabela TTS"},{"parameters":{"url":"http://host.docker.internal:85/api/database/rows/table/314/?user_field_names=true&filter__field_6761__contains=Processando&filter__field_6765__empty=","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Token zR3mwIRhRnlixpCMmTar1ee7WegU1ZGy"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[100,700],"id":"5cf7a710-a397-4b0f-9bac-7ef26278a0b3","name":"Buscar tabelas 2"},{"parameters":{"method":"PATCH","url":"=http://host.docker.internal:85/api/database/rows/table/314/{{ $json.id }}/?user_field_names=true\n\n\n","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Token zR3mwIRhRnlixpCMmTar1ee7WegU1ZGy"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"Status","value":"={{ $json.Status }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1240,720],"id":"84826d9a-673c-4592-a1e2-e7b33a721a13","name":"Atualizar Status 1"},{"parameters":{"assignments":{"assignments":[{"id":"80b2541c-1803-4751-ace0-08bc1d6141e5","name":"id","value":"={{ $json.results[0].id }}","type":"number"},{"id":"2e9c60a8-b379-45ff-9fed-2d446f0a28fd","name":"URL Legenda","value":"={{ $json.results[0]['URL Legenda'] }}","type":"string"},{"id":"f5b1f0ce-ac06-41a8-967a-a36e9e986214","name":"Status","value":2986,"type":"number"},{"id":"9d4cc0e1-f268-42be-97e8-ae30afad1e74","name":"Script","value":"={{ $json.results[0].Script }}","type":"string"},{"id":"963970ab-e4ae-4870-a6f2-a6b6a2c8e6c9","name":"Estilo","value":"={{ $json.results[0].Estilo }}","type":"string"},{"id":"d37f52a4-70f6-48a4-9c27-f376dd40fa3e","name":"Provedor Imagem","value":"={{ $json.results[0][\"Provedor Imagens\"].value }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[340,700],"id":"cb42caa2-cc8a-45cf-b181-c5969a368178","name":"ID + URL Legenda","alwaysOutputData":true},{"parameters":{"method":"POST","url":"http://host.docker.internal:85/api/database/rows/table/710/?user_field_names=true","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Token zR3mwIRhRnlixpCMmTar1ee7WegU1ZGy"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"Prompt","value":"={{ $json.output.Prompt }}"},{"name":"Duração","value":"={{ $('Prepare Scene').item.json.duration }}"},{"name":"Provedor Imagem","value":"={{ $('Renomear').item.json[\"object Object\"] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3460,660],"id":"68986856-d1a3-4097-abbf-99cfe3426178","name":"Criar tabelas baserow (Cenas)"},{"parameters":{"method":"PATCH","url":"=http://host.docker.internal:85/api/database/rows/table/314/{{ $('ID + URL Legenda').item.json.id }}/?user_field_names=true\n\n\n","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Token zR3mwIRhRnlixpCMmTar1ee7WegU1ZGy"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"Cenas","value":"={{ $json.ids }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4140,660],"id":"dfeb8e11-ff73-432b-b2b1-d0faa1540bcb","name":"Atualizar IDs"},{"parameters":{"url":"http://host.docker.internal:85/api/database/rows/table/710/?user_field_names=true&filter__field_6757__empty=","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Token zR3mwIRhRnlixpCMmTar1ee7WegU1ZGy"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[100,1120],"id":"7cf93e16-42a9-4fdd-b647-c2a92880c48d","name":"Buscar Cenas"},{"parameters":{"method":"PATCH","url":"=http://host.docker.internal:85/api/database/rows/table/710/{{ $('Loop Over Items').item.json.id }}/?user_field_names=true\n\n\n","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Token zR3mwIRhRnlixpCMmTar1ee7WegU1ZGy"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"Imagem","value":"={{ $json.name }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1680,1600],"id":"c1d71741-51ee-460a-b76c-3cc134482b9b","name":"Atualizar Tabela Imagem"},{"parameters":{"assignments":{"assignments":[{"id":"7e130a3c-eaea-460c-ba58-f46ea6f14f13","name":"id","value":"={{ $json.id }}","type":"number"},{"id":"60cb5799-8fe6-4cda-98a9-9463ba903ffc","name":"URL Legenda","value":"={{ $json[\"URL Legenda\"] }}","type":"string"},{"id":"1fd92ff1-e06f-492e-ace3-03720d47a2f5","name":"Status","value":"={{ $json.Status }}","type":"number"},{"id":"728f7259-735a-433b-bec8-ca20b6b4200a","name":"Script","value":"={{ $json.Script }}","type":"string"},{"id":"d6ae4773-7923-4abf-856f-18f3aece0c5c","name":"Estilo","value":"={{ $json.Estilo }}","type":"string"},{"id":"4d52ea57-5323-42b6-870d-6af3e18e2934","name":"={{ $json[\"Provedor Imagem\"] }}","value":"=togetherai","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[820,720],"id":"48fd96ae-68f5-489d-a1b5-564c8d1c8b73","name":"ID Provedor Imagem 2"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json[\"Provedor Imagem\"] }}","rightValue":"falaai","operator":{"type":"string","operation":"equals"},"id":"eaf1a214-ae9e-455f-889b-5fb2f010b2a6"}],"combinator":"and"},"renameOutput":true,"outputKey":"fal.ai"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3e78a869-ccdb-4d17-b4f0-bc61733f6232","leftValue":"={{ $json[\"Provedor Imagem\"] }}","rightValue":"together.ai","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"togetherai"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[560,700],"id":"d01bf831-b7fc-4fa9-a126-22b0f2f9b5ec","name":"Switch - Image Provider1"},{"parameters":{"assignments":{"assignments":[{"id":"1904e064-ef81-4c33-9791-dbaaf4f5339b","name":"id","value":"={{ $json.id }}","type":"number"},{"id":"f83d662c-e746-4b3d-a61f-6c0161858073","name":"URL Legenda","value":"={{ $json[\"URL Legenda\"] }}","type":"string"},{"id":"6685a3ab-b267-42d0-9013-760cec61d684","name":"Status","value":"={{ $json.Status }}","type":"number"},{"id":"ef5ef3ec-3630-4435-98c9-303cd0f6be4b","name":"={{ $json.together }}","value":"=2984","type":"number"},{"id":"556e9df7-c0c6-4ced-b844-42682898ca86","name":"Script","value":"={{ $json.Script }}","type":"string"},{"id":"3d47a95e-7c00-4ea3-a5c0-075aeafe8b5d","name":"Estilo","value":"={{ $json.Estilo }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1040,720],"id":"9071712e-50e5-4e82-8dc4-2afd11221771","name":"Renomear"},{"parameters":{"fieldToSplitOut":"results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[280,1120],"id":"cce8a5ec-2b96-4bb1-b62f-2fe8c1a799d7","name":"Split Out3"},{"parameters":{"url":"http://host.docker.internal:85/api/database/rows/table/314/?user_field_names=true&filter__field_6761__contains=Prompt&filter__field_6749__empty=","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Token zR3mwIRhRnlixpCMmTar1ee7WegU1ZGy"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2280,1080],"id":"efc59124-5729-4e19-8bd0-f3844db6f983","name":"Buscar tabelas 3"},{"parameters":{"method":"PATCH","url":"=http://host.docker.internal:85/api/database/rows/table/314/{{ $json.results[0].id }}/?user_field_names=true\n\n\n","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Token zR3mwIRhRnlixpCMmTar1ee7WegU1ZGy"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"Status","value":"Clipes"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2560,1080],"id":"e7fe359c-0c5a-4c1c-8305-5770fe083b16","name":"Atualizar Status 2"},{"parameters":{"url":"=http://host.docker.internal:85/api/database/rows/table/710/?user_field_names=true&filter__Record%20ID__equal={{ $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Token zR3mwIRhRnlixpCMmTar1ee7WegU1ZGy"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3140,1080],"id":"acd21736-a8d7-4e57-b9ab-1e0fa21d0c96","name":"Record ID é Igual?"},{"parameters":{"method":"PATCH","url":"=http://host.docker.internal:85/api/database/rows/table/710/{{ $json.id }}/?user_field_names=true\n\n\n","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Token zR3mwIRhRnlixpCMmTar1ee7WegU1ZGy"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"URL Vídeo Clip","value":"={{ $json.response }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4140,1080],"id":"b159515f-9861-4125-82a5-c014ef45cbf0","name":"Atualizar URL Vídeo Clip"},{"parameters":{"url":"http://host.docker.internal:85/api/database/rows/table/314/?user_field_names=true&filter__field_6761__contains=Clipes&filter__field_6749__empty=","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Token zR3mwIRhRnlixpCMmTar1ee7WegU1ZGy"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2280,1420],"id":"7c87ed3a-aa76-4c8d-8593-08a9d8bcb290","name":"Buscar tabelas 4"},{"parameters":{"method":"PATCH","url":"=http://host.docker.internal:85/api/database/rows/table/314/{{ $json.results[0].id }}/?user_field_names=true\n\n\n","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Token zR3mwIRhRnlixpCMmTar1ee7WegU1ZGy"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"Status","value":"Combine"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2460,1420],"id":"81819383-6770-4c34-aec2-210d98c50da3","name":"Atualizar Status 3"},{"parameters":{"url":"=http://host.docker.internal:85/api/database/rows/table/710/?user_field_names=true&filter__Record%20ID__equal={{ $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Token zR3mwIRhRnlixpCMmTar1ee7WegU1ZGy"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2860,1420],"id":"3fc1b9de-feed-4dba-94b8-3e7e9a2f3c54","name":"Record ID é Igual? (2)"},{"parameters":{"method":"PATCH","url":"=http://host.docker.internal:85/api/database/rows/table/314/{{ $json.id }}/?user_field_names=true\n\n\n","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Token zR3mwIRhRnlixpCMmTar1ee7WegU1ZGy"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"URL Vídeo Bruto","value":"={{ $json.response }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4120,1420],"id":"9c651935-a6e5-41e7-af5a-2f3e5d6480a2","name":"Atualizar URL Vídeo Bruto"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"URL Vídeo Clip"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[3460,1420],"id":"92e9d921-bb32-4de2-82a6-b7c643544882","name":"Aggregate2"},{"parameters":{"assignments":{"assignments":[{"id":"25c09a32-7ec5-40ac-a648-d1f62d74575e","name":"results","value":"={{ $json.results }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3060,1420],"id":"9f576b97-6faf-499d-bb2c-0333b4af6bce","name":"Separar Results"},{"parameters":{"fieldToSplitOut":"results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[3260,1420],"id":"b269e757-1a11-4e85-94f7-38bd61bf6e2f","name":"Split Out6"},{"parameters":{"url":"http://host.docker.internal:85/api/database/rows/table/314/?user_field_names=true&filter__field_6750__empty=","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Token zR3mwIRhRnlixpCMmTar1ee7WegU1ZGy"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2280,1720],"id":"c588b82c-8efb-41ef-b2c4-4d038cf718bc","name":"Buscar tabelas 5"},{"parameters":{"method":"PATCH","url":"=http://host.docker.internal:85/api/database/rows/table/314/{{ $('Buscar tabelas 5').item.json.results[0].id }}/?user_field_names=true\n\n\n","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Token zR3mwIRhRnlixpCMmTar1ee7WegU1ZGy"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"URL Vídeo + Audio","value":"={{ $json.response[0].file_url }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2940,1720],"id":"e8f962ec-80bf-49dc-b12c-2db7e06c0d37","name":"Atualizar URL Vídeo + Audio"},{"parameters":{"method":"PATCH","url":"=http://host.docker.internal:85/api/database/rows/table/314/{{ $('Buscar tabelas 6').item.json.results[0].id }}/?user_field_names=true\n\n\n","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Token zR3mwIRhRnlixpCMmTar1ee7WegU1ZGy"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"URL Vídeo Legenda","value":"={{ $json.response }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4120,1720],"id":"538cada7-29cf-4aa9-81fc-59456d8c0577","name":"Atualizar URL Vídeo Legenda"},{"parameters":{"url":"http://host.docker.internal:85/api/database/rows/table/314/?user_field_names=true&filter__field_6761__contains=Combine&filter__field_6748__empty=","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Token zR3mwIRhRnlixpCMmTar1ee7WegU1ZGy"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3320,1720],"id":"d4878aeb-9311-40dd-b033-eeed776b12a6","name":"Buscar tabelas 6"},{"parameters":{"method":"PATCH","url":"=http://host.docker.internal:85/api/database/rows/table/314/{{ $json.results[0].id }}/?user_field_names=true\n\n\n","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Token zR3mwIRhRnlixpCMmTar1ee7WegU1ZGy"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"Status","value":"Legenda"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3600,1720],"id":"7d2b5a7a-47ba-4ce1-9e61-95542db562e6","name":"Atualizar Status 4"},{"parameters":{"functionCode":"const script = $('ID + URL Legenda').item.json.Script;\nconst estilo = $('ID + URL Legenda').item.json.Estilo;\nreturn items.map(item => {\n  item.json.contextLoaded = 'loaded';\n  item.json.script = script;\n  item.json.estilo = estilo;\n  return item;\n});"},"id":"c26fc380-446b-4c7a-94a6-a3b230102883","name":"Context Loader1","type":"n8n-nodes-base.function","typeVersion":1,"position":[2300,720]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.contextLoaded }}","value2":"loaded"}]}},"id":"96d42d8a-3f4c-4b10-8ae5-1d07d928675b","name":"If Context Loaded1","type":"n8n-nodes-base.if","typeVersion":1,"position":[2500,720]},{"parameters":{"functionCode":"return items.map(item => ({\n  json: {\n    words: item.json.words,\n    id: item.json.id,\n    duration: item.json.duration,\n    script: item.json.script,\n    estilo: item.json.estilo\n  }\n}));"},"id":"a0d5cf8a-e8bb-4dea-b93f-85be53e0c7de","name":"Prepare Scene","type":"n8n-nodes-base.function","typeVersion":1,"position":[2820,660]},{"parameters":{"promptType":"define","text":"=Use o SCRIPT e o ESTILO previamente carregados.\n\nSCRIPT:\n{{ $json.script }}\n\nESTILO:\n{{ $json.estilo }}\n\nAqui está a cena atual:\nParte do roteiro: {{ $json.words }},safe for work, family-friendly, no nudity, dynamic angle, dramatic lighting, immersive textures, cinematic, pastel tones, bokeh, depth of field\nPosição no script: {{ $json.id }}\n\nGere um prompt de imagem descritivo para esta cena, seguindo o estilo indicado.","hasOutputParser":true,"messages":{"messageValues":[{"message":"=You are an image-prompt generator for video scenes. For each script snippet, return:\n\n{\n  \"Prompt\": \"...up to 240 characters...\"\n}\n\nEssential rules\n≤ 240 characters · no text in the image\n\nExplicitly mark: “safe for work”, “family-friendly”, “no nudity”, “no text”, “no watermarks”, “no extra limbs”\n\nCite the given art style (e.g., Cartoon Flat, Hyper-Realistic, Hand-Drawn)\n\nCreate an impactful image: dynamic composition, dramatic angles, striking lighting, rich textures, environmental storytelling\n\nSmall themes → microuniverse: use lighting, framing, and atmosphere to expand the scene\n\nFocus on depth, detail, and artistic impact; avoid irrelevant complexity\n\nPrompt checklist (include when relevant)\nMain theme\n\nArt style\n\nComposition (close-up, over-the-shoulder, low perspective, etc.)\n\nLighting (backlight, neon, deep shadows, reflections)\n\nMicrouniverse / environmental narrative\n\nDominant color palette\n\nEmotional mood / atmosphere\n\nCamera technique (bokeh, depth of field, contrast, lens distortion)\n\nSubtle extra elements that enrich without clutter\n\nUltra-short examples\nHyper-Realistic: “Macro shot of glue drop hanging from cracked porcelain teacup, golden desk-lamp glow, floating dust motes, shallow focus, warm atmosphere.”\n\nCyberpunk: “Neon-soaked alley blue/magenta, hoverbike headlights slice mist, silhouette in metallic trench coat, low angle, bright reflections.”\n\nFollow these points and keep every prompt short, vivid, and cinematic."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[3040,660],"id":"c2e72a63-8fc4-4a3a-a1d6-f56a92bdac8b","name":"Image Prompter V3 📷","onError":"continueRegularOutput"},{"parameters":{"jsCode":"// 1. Coleta todas as palavras da legenda\nconst palavrasOriginais = items.map(i => i.json.word);\n\n// 2. Junta tudo em um único array de palavras\nconst palavras = palavrasOriginais.join(' ').split(' ');\n\n// 3. Agrupa em blocos de até 3 palavras\nconst grupos = [];\nfor (let i = 0; i < palavras.length; i += 3) {\n  grupos.push(palavras.slice(i, i + 3).join(' '));\n}\n\n// 4. Define a duração total com base no último item de Frases Curtas\nconst duracaoTotal = items[items.length - 1].json.end_time || 10;\nconst duracaoPorGrupo = duracaoTotal / grupos.length;\n\n// 5. Gera os objetos com text, start e end\nreturn grupos.map((texto, i) => {\n  return {\n    json: {\n      text: texto,\n      start: +(i * duracaoPorGrupo).toFixed(3),\n      end: +((i + 1) * duracaoPorGrupo).toFixed(3)\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3440,160],"id":"a340aa64-7a54-4809-960e-61496da62dd2","name":"3 Palavras/Linha"},{"parameters":{"model":"deepseek/deepseek-chat-v3-0324:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1040,400],"id":"6972f6f8-ef31-4f98-b7d7-0d2f57f30af7","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"HW9MNBPJmEArpxbG","name":"OpenRouter Allan"}},"disabled":true},{"parameters":{"model":"deepseek/deepseek-chat-v3-0324:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[3080,820],"id":"8429b848-7f2e-43cb-82b2-602d276f10fb","name":"OpenRouter Chat Model1","credentials":{"openRouterApi":{"id":"HW9MNBPJmEArpxbG","name":"OpenRouter Allan"}},"disabled":true}],"connections":{"Set Idea":{"main":[[{"node":"Provedor Image","type":"main","index":0}]]},"On form submission":{"main":[[{"node":"Set Idea","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"Output Parser 🛠","type":"ai_outputParser","index":0}]]},"Script Writier 🧠":{"main":[[{"node":"Output Parser 🛠","type":"main","index":0}]]},"Output Parser 🛠":{"main":[[{"node":"Combine","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Long form to Script Writier 🧠","type":"main","index":0}],[{"node":"Script Writier 🧠","type":"main","index":0}]]},"Long form to Script Writier 🧠":{"main":[[{"node":"Output Parser 🛠","type":"main","index":0}]]},"Combine":{"main":[[{"node":"Format Cleanup","type":"main","index":0}]]},"Format Cleanup":{"main":[[{"node":"Criar tabelas baserow 1","type":"main","index":0}]]},"Upload captions To Baserow":{"main":[[{"node":"Atualizar URL Legenda","type":"main","index":0}]]},"Upload tts to baserow":{"main":[[{"node":"Atualizar Tabela TTS","type":"main","index":0}]]},"Generate TTS":{"main":[[{"node":"Upload tts to baserow","type":"main","index":0},{"node":"Criar Legenda","type":"main","index":0}]]},"Criar Legenda":{"main":[[{"node":"Frases Curtas","type":"main","index":0}]]},"Frases Curtas":{"main":[[{"node":"3 Palavras/Linha","type":"main","index":0}]]},"Legenda.json":{"main":[[{"node":"Upload captions To Baserow","type":"main","index":0}]]},"Aggregate3":{"main":[[{"node":"IDs To Array1","type":"main","index":0}]]},"IDs To Array1":{"main":[[{"node":"Atualizar IDs","type":"main","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"Image Prompter V3 📷","type":"ai_outputParser","index":0}]]},"Split into 5s Scenes":{"main":[[{"node":"Fixer","type":"main","index":0}]]},"Get Segment File":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Fixer":{"main":[[{"node":"Context Loader1","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Split into 5s Scenes","type":"main","index":0}]]},"Switch - Image Provider":{"main":[[],[{"node":"HTTP - Together.ai","type":"main","index":0}]]},"HTTP - Together.ai":{"main":[[{"node":"Base64 To String","type":"main","index":0}]]},"HTTP - Upload To Baserow":{"main":[[{"node":"Atualizar Tabela Imagem","type":"main","index":0}]]},"Convert String to binary":{"main":[[{"node":"HTTP - Upload To Baserow","type":"main","index":0}]]},"Base64 To String":{"main":[[{"node":"Convert String to binary","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Buscar tabelas 3","type":"main","index":0}],[{"node":"Switch - Image Provider","type":"main","index":0}]]},"Split Out2":{"main":[[{"node":"Record ID é Igual?","type":"main","index":0}]]},"Create Captions":{"main":[[{"node":"Atualizar URL Vídeo Legenda","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Record ID é Igual? (2)","type":"main","index":0}]]},"Combine Clips3":{"main":[[{"node":"Atualizar URL Vídeo + Audio","type":"main","index":0}]]},"Video url to array":{"main":[[{"node":"Combine Clips","type":"main","index":0}]]},"Loop Over Items3":{"main":[[{"node":"Buscar tabelas 4","type":"main","index":0}],[{"node":"Create Clips","type":"main","index":0}]]},"Combine Clips":{"main":[[{"node":"Atualizar URL Vídeo Bruto","type":"main","index":0}]]},"Create Clips":{"main":[[{"node":"Atualizar URL Vídeo Clip","type":"main","index":0}]]},"Provedor Image":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Criar tabelas baserow 1":{"main":[[{"node":"Buscar tabelas 1","type":"main","index":0}]]},"Buscar tabelas 1":{"main":[[{"node":"ID Tabela","type":"main","index":0}]]},"ID Tabela":{"main":[[{"node":"Generate TTS","type":"main","index":0}]]},"Buscar tabelas 2":{"main":[[{"node":"ID + URL Legenda","type":"main","index":0}]]},"ID + URL Legenda":{"main":[[{"node":"Switch - Image Provider1","type":"main","index":0}]]},"Atualizar Status 1":{"main":[[{"node":"Get Segment File","type":"main","index":0}]]},"Criar tabelas baserow (Cenas)":{"main":[[{"node":"Aggregate3","type":"main","index":0}]]},"Atualizar Tabela TTS":{"main":[[{"node":"Buscar tabelas 2","type":"main","index":0}]]},"Buscar Cenas":{"main":[[{"node":"Split Out3","type":"main","index":0}]]},"Atualizar Tabela Imagem":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"ID Provedor Imagem 2":{"main":[[{"node":"Renomear","type":"main","index":0}]]},"Switch - Image Provider1":{"main":[[],[{"node":"ID Provedor Imagem 2","type":"main","index":0}]]},"Renomear":{"main":[[{"node":"Atualizar Status 1","type":"main","index":0}]]},"Split Out3":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Buscar tabelas 3":{"main":[[{"node":"Atualizar Status 2","type":"main","index":0}]]},"Atualizar Status 2":{"main":[[{"node":"Split Out2","type":"main","index":0}]]},"Record ID é Igual?":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Atualizar URL Vídeo Clip":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Buscar tabelas 4":{"main":[[{"node":"Atualizar Status 3","type":"main","index":0}]]},"Atualizar Status 3":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Record ID é Igual? (2)":{"main":[[{"node":"Separar Results","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"Video url to array","type":"main","index":0}]]},"Separar Results":{"main":[[{"node":"Split Out6","type":"main","index":0}]]},"Split Out6":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Buscar tabelas 5":{"main":[[{"node":"Combine Clips3","type":"main","index":0}]]},"Atualizar URL Vídeo Bruto":{"main":[[{"node":"Buscar tabelas 5","type":"main","index":0}]]},"Buscar tabelas 6":{"main":[[{"node":"Atualizar Status 4","type":"main","index":0}]]},"Atualizar Status 4":{"main":[[{"node":"Create Captions","type":"main","index":0}]]},"Atualizar URL Vídeo + Audio":{"main":[[{"node":"Buscar tabelas 6","type":"main","index":0}]]},"Context Loader1":{"main":[[{"node":"If Context Loaded1","type":"main","index":0}]]},"If Context Loaded1":{"main":[[{"node":"Prepare Scene","type":"main","index":0}]]},"Prepare Scene":{"main":[[{"node":"Image Prompter V3 📷","type":"main","index":0}]]},"Image Prompter V3 📷":{"main":[[{"node":"Criar tabelas baserow (Cenas)","type":"main","index":0}]]},"3 Palavras/Linha":{"main":[[{"node":"Legenda.json","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Output Parser 🛠","type":"ai_languageModel","index":0},{"node":"Long form to Script Writier 🧠","type":"ai_languageModel","index":0},{"node":"Script Writier 🧠","type":"ai_languageModel","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"Image Prompter V3 📷","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"95d1ddc7-5c55-4f40-a592-66fb7b92528d","triggerCount":0,"tags":[]}