workflows/Webscraping google MAPS emails.json
{"createdAt":"2025-06-21T06:12:20.578Z","updatedAt":"2025-06-21T07:02:39.737Z","id":"InRJJ8O3fadQ7q3n","name":"Webscraping google MAPS emails","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"id":"24372396-8ff4-48cf-b5e1-4b2fc5435d3d","name":"Loop over queries","type":"n8n-nodes-base.splitInBatches","position":[300,560],"typeVersion":3},{"parameters":{"options":{"reset":false}},"id":"b3f7cc43-b4c1-4a10-8c28-591b901dfc93","name":"Loop over URLs","type":"n8n-nodes-base.splitInBatches","position":[960,960],"typeVersion":3,"onError":"continueErrorOutput"},{"parameters":{"options":{}},"id":"32db8189-bfa3-4188-8543-b6073b6594df","name":"Loop over pages","type":"n8n-nodes-base.splitInBatches","position":[1340,1100],"typeVersion":3,"alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"emails"}]},"options":{"mergeLists":true}},"id":"9c6ebb1e-bd47-4f03-aae3-f03a2ccfc966","name":"Aggregate arrays of emails","type":"n8n-nodes-base.aggregate","position":[1580,940],"typeVersion":1},{"parameters":{"unit":"minutes"},"id":"7b92638b-67cc-418a-ae94-6346cf394ea9","name":"Wait between executions","type":"n8n-nodes-base.wait","position":[740,580],"webhookId":"40eb11a9-0f7d-4932-993e-0052b69dbf9b","typeVersion":1.1},{"parameters":{"url":"=https://www.google.com/maps/search/{{ $json.query }}","options":{"allowUnauthorizedCerts":false}},"id":"6f7485d8-df03-4216-96bf-865df2e0d8f7","name":"Busca Google","type":"n8n-nodes-base.httpRequest","position":[220,960],"executeOnce":false,"typeVersion":4.2,"alwaysOutputData":false},{"parameters":{"jsCode":"const data = $input.first().json.data\n\nconst regex = /https?:\\/\\/[^\\/]+/g\n\nconst urls = data.match(regex)\n\nreturn urls.map(url => ({json: {url: url}}))"},"id":"cf68cb6d-1b77-4181-ace3-1287c8c69081","name":"Scrape URLs dos resultados","type":"n8n-nodes-base.code","position":[400,960],"typeVersion":2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"041797f2-2fe2-41dc-902a-d34050b9b304","operator":{"type":"string","operation":"notRegex"},"leftValue":"={{ $json.url }}","rightValue":"=(google|gstatic|ggpht|schema\\.org|example\\.com|sentry-next\\.wixpress\\.com|imli\\.com|sentry\\.wixpress\\.com|ingest\\.sentry\\.io)"},{"id":"eb499a7e-17bc-453c-be08-a47286f726dd","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"","rightValue":""}]},"options":{}},"id":"52140fa3-175b-4fd5-9068-3d86aa1e0f80","name":"Filtra URLs","type":"n8n-nodes-base.filter","position":[560,960],"typeVersion":2.2},{"parameters":{},"id":"3f405871-840e-4690-bfbb-437a3996a45d","name":"Remove URLs Duplicadas","type":"n8n-nodes-base.removeDuplicates","position":[740,960],"typeVersion":1.1},{"parameters":{"url":"={{ $json.url }}","options":{}},"id":"c216657d-7ab2-4578-8964-eb6957a02fe1","name":"Request  URL","type":"n8n-nodes-base.httpRequest","position":[1120,1100],"typeVersion":4.2,"alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const data = $json.data\n\nconst emailRegex = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.(?!png|jpg|gif|jpeg)[a-zA-Z]{2,}/g\n\nconst emails = data.match(emailRegex)\n\nreturn {json: {emails: emails}}"},"id":"e189bff1-b7b7-456c-837f-68769261ca00","name":"Scrape emails","type":"n8n-nodes-base.code","position":[1580,1100],"typeVersion":2,"onError":"continueRegularOutput"},{"parameters":{"fieldToSplitOut":"emails","options":{}},"id":"710465f1-ed8b-4cb0-8701-defae1e69a24","name":"Split out","type":"n8n-nodes-base.splitOut","position":[1740,940],"typeVersion":1},{"parameters":{"compare":"selectedFields","fieldsToCompare":"emails","options":{}},"id":"9b828387-1334-4ed0-823a-69dc64173ec2","name":"Remove emails duplicados","type":"n8n-nodes-base.removeDuplicates","position":[1900,940],"typeVersion":1.1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"041797f2-2fe2-41dc-902a-d34050b9b304","operator":{"type":"string","operation":"notRegex"},"leftValue":"={{ $json.emails }}","rightValue":"=(google|gstatic|ggpht|schema\\.org|example\\.com|sentry\\.wixpress\\.com|sentry-next\\.wixpress\\.com|ingest\\.sentry\\.io|sentry\\.io|imli\\.com)"}]},"options":{}},"id":"2e84659c-a060-42f1-be32-9c015e1728c1","name":"Filtra emails irrelevantes","type":"n8n-nodes-base.filter","position":[2080,940],"typeVersion":2.2},{"parameters":{"workflowId":{"__rl":true,"mode":"id","value":"={{ $workflow.id }}"},"mode":"each","options":{"waitForSubWorkflow":false}},"id":"cd2c3293-204a-4bb9-bd06-dc1a8de0839f","name":"Executa scraper","type":"n8n-nodes-base.executeWorkflow","position":[520,580],"typeVersion":1.1},{"parameters":{},"id":"495608f0-e6f9-4b44-ba72-3b6d2c048c27","name":"Inicia Raspagem","type":"n8n-nodes-base.executeWorkflowTrigger","position":[40,960],"typeVersion":1},{"parameters":{"promptType":"define","text":"=Me dê uma lista de consultas de pesquisa para a palavra-chave '{{ $json.business }}' para 200 bairros de {{ $json.region }}. Não utilize acentos.\n\nMe forneça a lista em formato JSON estruturado seguindo \neste exemplo de query: bairro+cidade+nicho seguindo essa formatação:\n\n[\n  {\n    \"query\": \"abolicao+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"acari+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"agua+santa+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"alto+da+boa+vista+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"anchieta+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"andarai+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"anil+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"bancarios+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"bangu+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"barra+da+tijuca+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"barra+de+guaratiba+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"barros+filho+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"benfica+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"bento+ribeiro+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"bonsucesso+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"botafogo+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"bras+de+pina+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"cachambi+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"cacuia+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"caju+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"camorim+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"campinho+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"campo+dos+afonsos+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"campo+grande+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"cascadura+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"catete+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"catumbi+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"cavalcanti+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"centro+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"cidade+de+deus+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"cidade+nova+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"cidade+universitaria+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"cocota+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"coelho+neto+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"colegio+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"complexo+do+alemao+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"copacabana+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"cordovil+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"cosme+velho+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"cosmos+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"costa+barros+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"curicica+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"del+castilho+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"deodoro+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"encantado+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"engenheiro+leal+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"engenho+da+rainha+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"engenho+de+dentro+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"engenho+novo+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"estacio+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"flamengo+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"freguesia+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"freguesia+jacarepagua+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"galeao+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"gamboa+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"gardenia+azul+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"gavea+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"gericino+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"gloria+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"grajau+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"grumari+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"guadalupe+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"guaratiba+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"higienopolis+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"honorio+gurgel+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"humaita+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"inhauma+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"inhoaiba+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"ipanema+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"iraja+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"itahanga+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"jacare+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"jacarepagua+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"jacarezinho+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"jardim+america+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"jardim+botanico+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"jardim+carioca+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"jardim+guanabara+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"jardim+sulacap+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"joa+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"lagoa+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"laranjeiras+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"leblon+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"leme+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"lins+de+vasconcelos+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"madureira+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"magalhaes+bastos+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"mangueira+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"manguinhos+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"maracana+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"mare+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"marechal+hermes+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"maria+da+graca+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"meier+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"monero+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"olaria+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"osvaldo+cruz+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"paciencia+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"padre+miguel+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"paqueta+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"parada+de+lucas+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"parque+anchieta+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"parque+columbia+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"pavuna+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"pechincha+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"pedra+de+guaratiba+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"penha+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"penha+circular+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"piedade+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"pilares+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"pitangueiras+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"portuguesa+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"praca+da+bandeira+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"praca+seca+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"praia+da+bandeira+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"quintino+bocaiuva+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"ramos+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"realengo+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"recreio+dos+bandeirantes+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"riachuelo+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"ribeira+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"ricardo+de+albuquerque+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"rio+comprido+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"rocha+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"rocha+miranda+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"rocinha+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"sampaio+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"santa+cruz+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"santa+teresa+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"santissimo+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"santo+cristo+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"sao+conrado+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"sao+cristovao+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"sao+francisco+xavier+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"saude+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"senador+camara+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"senador+vasconcelos+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"sepetiba+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"tanque+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"taquara+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"taua+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"tijuca+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"todos+os+santos+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"tomas+coelho+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"turiacu+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"urca+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"vargem+grande+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"vargem+pequena+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"vasco+da+gama+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"vaz+lobo+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"vicente+de+carvalho+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"vidigal+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"vigario+geral+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"vila+da+penha+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"vila+isabel+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"vila+kosmos+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"vila+militar+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"vila+valqueire+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"vista+alegre+rio+de+janeiro+agencia+de+marketing\"\n  },\n  {\n    \"query\": \"zumbi+rio+de+janeiro+agencia+de+marketing\"\n  }\n]\n\nRetorne apenas com a lista em formato json, nada além disso.","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[440,140],"id":"7e01fe75-8e80-40f5-97fd-5b1a11299f9c","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[60,140],"id":"9c61301a-a3e3-48b9-9d1d-eedd2dd6cd37","name":"When chat message received","webhookId":"9fd078f9-ac3d-4139-b745-709f0eb52976"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[420,300],"id":"352516cf-be08-4eed-884c-6daa3f43d1e3","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"rVdjfDowKjs3OG2m","name":"OpenAi - TECHPULSE"}}},{"parameters":{"jsCode":"// Obtenha o input do campo\nconst input = $json[\"chatInput\"] || \"\"; // O input deve vir do nó anterior\n\n// Expressão regular para separar o tipo de negócio e a região\nconst regex = /^(?<business>.+?)\\s+em\\s+(?<region>.+)$/i;\n\n// Match usando a regex\nconst match = input.match(regex);\n\nif (match && match.groups) {\n    return [\n        {\n            json: {\n                business: match.groups.business.trim(),\n                region: match.groups.region.trim(),\n            },\n        },\n    ];\n} else {\n    // Caso não consiga separar os campos\n    return [\n        {\n            json: {\n                error: \"Formato inválido! Certifique-se de usar 'negócio em região'.\",\n            },\n        },\n    ];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[260,140],"id":"0111dabf-5f3b-4621-b5df-9dd922c1a84d","name":"Code"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[60,560],"id":"48f76c9a-36d1-41fa-8f9b-566724ed5780","name":"When clicking ‘Test workflow’"},{"parameters":{"content":"","height":420,"width":780,"color":3},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"cd014712-a201-4b39-a7b0-cc50ff9c2c91","name":"Sticky Note"},{"parameters":{"content":"","height":340,"width":920,"color":3},"type":"n8n-nodes-base.stickyNote","position":[0,440],"typeVersion":1,"id":"c3018df2-d653-4511-8daf-20530f803cdb","name":"Sticky Note1"},{"parameters":{"content":"","height":500,"width":2500,"color":3},"type":"n8n-nodes-base.stickyNote","position":[0,800],"typeVersion":1,"id":"0cb65b3e-e7ab-4ff2-b23d-6c2d59673b5c","name":"Sticky Note2"},{"parameters":{"content":"# Gerar JSON para Raspagem","height":80,"width":596,"color":5},"id":"af703bde-b61d-45f5-97b0-1a0eab489486","name":"Sticky Note23","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[20,20]},{"parameters":{"content":"# Separa busca por bairro para Raspagem","height":80,"width":736,"color":5},"id":"2ee70474-4dde-4bde-9fd4-9c67d5e19598","name":"Sticky Note24","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[20,460]},{"parameters":{"content":"# Raspagem de E-mail Automático","height":80,"width":596,"color":5},"id":"8ee4d31c-4795-4340-9fc4-bc84083fb29c","name":"Sticky Note25","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[20,820]},{"parameters":{"content":"","height":440,"width":380,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1100,120],"typeVersion":1,"id":"0cb872e4-f9a9-49fc-b1de-bd24b020886d","name":"Sticky Note10"},{"parameters":{"content":"# Informações","height":80,"width":243,"color":7},"id":"115f1ab7-a50f-4476-806e-f0a647009437","name":"Sticky Note12","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1120,140]},{"parameters":{"content":"## N8N Versão 1.71.1\n","height":100,"width":283,"color":7},"id":"b84823e0-4fd1-4892-9c71-52adebef4585","name":"Sticky Note15","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1120,240]},{"parameters":{"content":"## [Grupo de Networking](https://chat.whatsapp.com/EvigcSnVVim11D56QPSjPX)","height":80,"width":323,"color":7},"id":"1e3a6296-4c5c-487c-90cc-205778e8c90d","name":"Sticky Note16","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1120,360]},{"parameters":{"content":"## [Acesse o canal no Youtube](https://www.youtube.com/@N8NLabz)","height":80,"width":343,"color":7},"id":"5a2f5342-7672-4d4e-a6b7-bb028ab15088","name":"Sticky Note17","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1120,460]},{"parameters":{"content":"![N8N Labz](https://i.postimg.cc/nzFz2Bzd/N8N-Labz.png)","height":437,"width":736,"color":3},"id":"b800940e-e8f9-4031-a7c8-76f84fcbf089","name":"Sticky Note18","type":"n8n-nodes-base.stickyNote","position":[1500,120],"typeVersion":1},{"parameters":{"content":"## 🔹 O usuário inicia o fluxo escrevendo no chat o nicho e a cidade no formato: \"negócio em cidade\" (por exemplo, \"Petshop em Campinas\").\n## 🔹Um nó de código analisa a mensagem recebida, separando o tipo de negócio e a região.\n## 🔹Com as informações processadas, um agente de IA cria um arquivo JSON estruturado contendo consultas de pesquisa para diversos bairros da cidade, no formato JSON.","height":340,"width":600,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-620,40],"typeVersion":1,"id":"9ed913ee-b204-46eb-ab14-9a8d922879f5","name":"Sticky Note3"},{"parameters":{"content":"## 🔹O JSON gerado anteriormente é enviado para a próxima etapa que itera consulta por cada bairro da cidade solicitada.","width":460,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-480,540],"typeVersion":1,"id":"f4a18832-3d36-4057-8ca6-a6662e7c7ddd","name":"Sticky Note4"},{"parameters":{"content":"## 🔹 É construída uma URL de pesquisa do Google Maps usando a consulta específica.","width":340,"color":3},"type":"n8n-nodes-base.stickyNote","position":[0,1320],"typeVersion":1,"id":"d257e586-8a30-4e4a-90a1-04cbdfc81df8","name":"Sticky Note5"},{"parameters":{"content":"## 🔹URLs irrelevantes (como domínios do Google ou de imagens) são descartadas.\n## 🔹URLs duplicadas são removidas.","width":440,"color":3},"type":"n8n-nodes-base.stickyNote","position":[640,1320],"typeVersion":1,"id":"98dac7a3-5b7e-4e8a-9fc7-43004c42c45e","name":"Sticky Note6"},{"parameters":{"content":"## 🔹Os resultados finais são armazenados em uma planilha no Google Sheets.","width":360,"color":3},"type":"n8n-nodes-base.stickyNote","position":[2120,1320],"typeVersion":1,"id":"2618cb96-26b9-4764-9052-cb10daad2744","name":"Sticky Note21"},{"parameters":{"content":"## 🔹Um script identifica e extrai e-mails válidos das páginas associadas às URLs.\n## 🔹E-mails irrelevantes ou duplicados são removidos.","width":520,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1360,1320],"typeVersion":1,"id":"a8f27c54-caa5-4289-94c8-7f4954c28c8b","name":"Sticky Note19"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"15hS0YYv4Tp7jsrR-AOLlwBrc31l1RNbWCzC8IWA8_yE","mode":"list","cachedResultName":"Raspagem Email Google2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/15hS0YYv4Tp7jsrR-AOLlwBrc31l1RNbWCzC8IWA8_yE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Emails","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_nJme2UnfuVgYHDADtA3Z7SRPBPgHKtdx7GMqfXoKFQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"e-mail":"={{ $json.emails }}"},"matchingColumns":["e-mail"],"schema":[{"id":"e-mail","displayName":"e-mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2280,940],"id":"7a1f01d5-c6a8-4a7a-b8d6-f3f535ab951a","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"duX7Zo5QobkZJdKh","name":"Google Sheets allan"}}},{"parameters":{"documentId":{"__rl":true,"value":"15hS0YYv4Tp7jsrR-AOLlwBrc31l1RNbWCzC8IWA8_yE","mode":"list","cachedResultName":"Raspagem Email Google2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/15hS0YYv4Tp7jsrR-AOLlwBrc31l1RNbWCzC8IWA8_yE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1609190509,"mode":"list","cachedResultName":"Emails","cachedResultUrl":"https://docs.google.com/spreadsheets/d/15hS0YYv4Tp7jsrR-AOLlwBrc31l1RNbWCzC8IWA8_yE/edit#gid=1609190509"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[40,1620],"id":"3e695d84-39bb-43c5-b90e-907774ba6ff6","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"duX7Zo5QobkZJdKh","name":"Google Sheets allan"}}},{"parameters":{"compare":"selectedFields","fieldsToCompare":"['e-mail']","options":{}},"id":"8fdd6dc9-f1e6-477b-833a-d55654615598","name":"Remove emails duplicados1","type":"n8n-nodes-base.removeDuplicates","position":[220,1620],"typeVersion":1.1},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"15hS0YYv4Tp7jsrR-AOLlwBrc31l1RNbWCzC8IWA8_yE","mode":"list","cachedResultName":"Raspagem Email Google2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/15hS0YYv4Tp7jsrR-AOLlwBrc31l1RNbWCzC8IWA8_yE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":665199010,"mode":"list","cachedResultName":"Sheet2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_nJme2UnfuVgYHDADtA3Z7SRPBPgHKtdx7GMqfXoKFQ/edit#gid=665199010"},"columns":{"mappingMode":"defineBelow","value":{"e-mail":"={{ $json['[\\'e-mail\\']'] }}"},"matchingColumns":["e-mail"],"schema":[{"id":"e-mail","displayName":"e-mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[580,1620],"id":"7c3c3b49-da1e-42c3-a987-b88607c8a0e2","name":"Google Sheets2","credentials":{"googleSheetsOAuth2Api":{"id":"duX7Zo5QobkZJdKh","name":"Google Sheets allan"}}},{"parameters":{"fieldToSplitOut":"['e-mail']","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[400,1620],"id":"44b7edae-e06c-4866-a615-71c119d0e281","name":"Split Out"},{"parameters":{"content":"## 🔹Limpa os dados duplicados e adicionamos a outra tabela","height":120,"width":360,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-400,1580],"typeVersion":1,"id":"18d14b61-3426-4576-8176-99e30a88bd6d","name":"Sticky Note22"},{"parameters":{"content":"","height":280,"width":800,"color":3},"type":"n8n-nodes-base.stickyNote","position":[0,1500],"typeVersion":1,"id":"1d0dcbbb-e836-4a9c-a3ee-1f8216ae3e9b","name":"Sticky Note7"},{"parameters":{"content":"# Remoção de E-mails duplicados","height":80,"width":596,"color":5},"id":"a64ff14e-ed33-48be-a12c-721ce566aa48","name":"Sticky Note26","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[20,1520]}],"connections":{"Loop over URLs":{"main":[[{"node":"Loop over pages","type":"main","index":0}],[{"node":"Request  URL","type":"main","index":0}]]},"Loop over pages":{"main":[[{"node":"Aggregate arrays of emails","type":"main","index":0}],[{"node":"Scrape emails","type":"main","index":0}]]},"Loop over queries":{"main":[[],[{"node":"Executa scraper","type":"main","index":0}]]},"Wait between executions":{"main":[[{"node":"Loop over queries","type":"main","index":0}]]},"Aggregate arrays of emails":{"main":[[{"node":"Split out","type":"main","index":0}]]},"Busca Google":{"main":[[{"node":"Scrape URLs dos resultados","type":"main","index":0}]]},"Scrape URLs dos resultados":{"main":[[{"node":"Filtra URLs","type":"main","index":0}]]},"Filtra URLs":{"main":[[{"node":"Remove URLs Duplicadas","type":"main","index":0}]]},"Remove URLs Duplicadas":{"main":[[{"node":"Loop over URLs","type":"main","index":0}]]},"Request  URL":{"main":[[{"node":"Loop over URLs","type":"main","index":0}]]},"Scrape emails":{"main":[[{"node":"Loop over pages","type":"main","index":0}]]},"Split out":{"main":[[{"node":"Remove emails duplicados","type":"main","index":0}]]},"Remove emails duplicados":{"main":[[{"node":"Filtra emails irrelevantes","type":"main","index":0}]]},"Filtra emails irrelevantes":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Executa scraper":{"main":[[{"node":"Wait between executions","type":"main","index":0}]]},"Inicia Raspagem":{"main":[[{"node":"Busca Google","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Code","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Code":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Loop over queries","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Remove emails duplicados1","type":"main","index":0}]]},"Remove emails duplicados1":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When clicking ‘Test workflow’":[{"json":{"query":"abolicao+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"acari+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"agua+santa+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"alto+da+boa+vista+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"anchieta+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"andarai+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"anil+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"bancarios+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"bangu+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"barra+da+tijuca+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"barra+de+guaratiba+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"barros+filho+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"benfica+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"bento+ribeiro+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"bonsucesso+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"botafogo+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"bras+de+pina+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"cachambi+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"cacuia+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"caju+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"camorim+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"campinho+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"campo+dos+afonsos+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"campo+grande+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"cascadura+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"catete+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"catumbi+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"cavalcanti+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"centro+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"cidade+de+deus+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"cidade+nova+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"cidade+universitaria+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"cocota+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"coelho+neto+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"colegio+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"complexo+do+alemao+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"copacabana+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"cordovil+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"cosme+velho+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"cosmos+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"costa+barros+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"curicica+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"del+castilho+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"deodoro+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"encantado+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"engenheiro+leal+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"engenho+da+rainha+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"engenho+de+dentro+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"engenho+novo+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"estacio+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"flamengo+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"freguesia+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"freguesia+jacarepagua+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"galeao+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"gamboa+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"gardenia+azul+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"gavea+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"gericino+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"gloria+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"grajau+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"grumari+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"guadalupe+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"guaratiba+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"higienopolis+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"honorio+gurgel+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"humaita+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"inhauma+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"inhoaiba+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"ipanema+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"iraja+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"itahanga+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"jacare+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"jacarepagua+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"jacarezinho+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"jardim+america+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"jardim+botanico+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"jardim+carioca+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"jardim+guanabara+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"jardim+sulacap+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"joa+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"lagoa+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"laranjeiras+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"leblon+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"leme+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"lins+de+vasconcelos+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"madureira+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"magalhaes+bastos+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"mangueira+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"manguinhos+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"maracana+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"mare+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"marechal+hermes+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"maria+da+graca+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"meier+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"monero+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"olaria+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"osvaldo+cruz+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"paciencia+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"padre+miguel+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"paqueta+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"parada+de+lucas+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"parque+anchieta+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"parque+columbia+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"pavuna+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"pechincha+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"pedra+de+guaratiba+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"penha+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"penha+circular+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"piedade+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"pilares+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"pitangueiras+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"portuguesa+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"praca+da+bandeira+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"praca+seca+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"praia+da+bandeira+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"quintino+bocaiuva+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"ramos+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"realengo+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"recreio+dos+bandeirantes+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"riachuelo+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"ribeira+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"ricardo+de+albuquerque+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"rio+comprido+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"rocha+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"rocha+miranda+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"rocinha+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"sampaio+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"santa+cruz+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"santa+teresa+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"santissimo+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"santo+cristo+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"sao+conrado+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"sao+cristovao+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"sao+francisco+xavier+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"saude+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"senador+camara+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"senador+vasconcelos+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"sepetiba+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"tanque+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"taquara+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"taua+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"tijuca+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"todos+os+santos+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"tomas+coelho+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"turiacu+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"urca+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"vargem+grande+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"vargem+pequena+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"vasco+da+gama+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"vaz+lobo+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"vicente+de+carvalho+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"vidigal+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"vigario+geral+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"vila+da+penha+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"vila+isabel+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"vila+kosmos+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"vila+militar+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"vila+valqueire+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"vista+alegre+rio+de+janeiro+agencia+de+marketing"}},{"json":{"query":"zumbi+rio+de+janeiro+agencia+de+marketing"}}]},"versionId":"b12ba0cc-789f-46f5-9e80-4573a2037e6a","triggerCount":1,"tags":[]}